<!--- $Id: acceleration-magnitude.spec.kml,v 1.3 2008/05/14 18:06:46 kunal Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>acceleration-magnitude</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>From: </i><font color=blue>Acceleration-Vector-Value</font></h3>
<h3><i>To: </i><font color=red>Acceleration-Magnitude-Value</font></h3>

<h3>Description:</h3><dl><dd>
The magnitude of acceleration for a vector. It can take both negative and positive values.
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units of measurement for <a href="javascript: void parent.code.goToSpec('UoM-Acceleration');">UoM-Acceleration</a>
<p>
    <li>
      <i>The car travelled at a speed of 40 m/s/s</i>
      <dd><tt><font color=green>number</font></tt>: 40</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: m/s^2</dd>
    </li>
  </dd></dl>
</dd></dl>
</body></html>

