<!--- $Id: actions.spec.kml,v 1.2 2005/12/06 21:39:12 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>actions</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>To: </i><font color=red>Event</font></h3>

<h3>Description:</h3><dl><dd> 
  A set of events.
</dd></dl>

<h3>Examples:</h3><ol>
  <li>
    <i>The plane is <font color=blue>going through</font> the <font color=red>final checks</font> on the tarmac.</i>
  </li>
  <li>
    <i>The operator <font color=blue>keyed in</font> a <font color=red>sequence of commands</font> to unlock the safe.</i>
  </li>
</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('all-subevents');">all-subevents</a></td><td valign=top>
	An Action is a sequence of Events without a parent event while all-subevents are a sequence of events caused by a parent event.
 </td></tr>
</table><p>

</body></html>
