<html>

<head><title>Specification for 'Administrative-District'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Administrative-District.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Administrative-District</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Territory');">Territory</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Administrative-District><dt><b>Administrative-District</b></dt></a>
  <dd><i>Definition:</i> a Territory delineated on administrative grounds.
</dd>
</dl>

</body></html>
