<!--- $Id: area.spec.kml,v 1.3 2006/03/01 20:20:46 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>area/Area-Value</b></i></font></td></tr></table></h1>
<system-documentation name=Area-Value>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Tangible-Entity</font></h3>
<h3><i>To: </i><font color=red>Area-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  area is a property for describing how big the two-dimensional extent of a Tangible-Entity is
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units of measurement for <a href="javascript: void parent.code.goToSpec('UoM-Area');">UoM-Area</a>
<p>
    <li>
      <i>573 square feet apartment</i>
      <dd><tt><font color=green>number</font></tt>: 573</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: square feet</dd>
    </li>
  </dd></dl>

  <h4>Relative Values:</h4><dl><dd>
    a relative value along with a reference concept (what is the relative
    value relative to?)<p>
<dd><i>values: </i>tiny, huge</dd>
<dd><i>*tiny-huge-scale: </i>tiny..huge</dd>
    <p>
    <li>
      <i>Romania is large as a European country, but tiny compared to a US state.</i>
      <dd><tt><font color=green>value</font></tt>: tiny</dd>
      <dd><tt><font color=green>relative to</font></tt>: US state</dd><p>

      <dd><tt><font color=green>value</font></tt>: large</dd>
      <dd><tt><font color=green>relative to</font></tt>: European country</dd>
    </li>
    </li>
  </dd></dl>
</dd></dl>
</body></html>

