<!--- $Id: base.spec.kml,v 1.2 2005/12/06 21:39:12 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>base</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>To: </i><font color=red>Thing</font></h3>

<h3>Description:</h3><dl><dd> 
Event references something as a major or relatively fixed thing.
</dd></dl>

<h3>Examples:</h3><ol>
  <li>
    <i>Vlad <font color=blue>attached</font> the sign to <font color=red>the post</font>.</i>
  </li>
  <li>
    <i>Gern <font color=blue>unstuck</font> the flower from <font color=red>the bus</font>.</i>
  </li>
  <li>
    <i>The computer <font color=blue>collided</font> with <font color=red>the pavement below</font>.</i>
  </li>
  <li>
    <i>Ingemar was <font color=blue>exposed</font> to much <font color=red>probing</font>.</i>
  </li>
</ol>
<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('object');">object</a></td><td valign=top>
	object is an entity directly acted upon in some event; base is
        the thing the object is submitted to in the event. 
 </td></tr>
 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('destination');">destination</a></td><td valign=top>
	destination is the place where movement ends
 </td></tr>
 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('origin');">origin</a></td><td valign=top>
	origin is the place where movement begins
 </td></tr>
</table><p>
</body></html>
