<html>
<head><title>Specification for 'Be-Controlled'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Be-Controlled.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Be-Controlled</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('State');">State</a></h3>
<h3>Component Semantics:</h3>
<dl><a name=Be-Controlled><dt><b>Be-Controlled</b></dt></a>
  <dd><i>Definition:</i> The state of being controlled.</dd>

<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Occupy');">Occupy</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Retain');">Retain</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Seize');">Seize</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Produce');">Produce</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Take-Control');">Take-Control</a></p>

</dl>
</body></html>

