<html>
<head><title>Specification for 'Be-Sitting'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Be-Sitting.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Be-Sitting</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('State');">State</a></h3>
<h3>Component Semantics:</h3>
<dl><a name=Be-Sitting><dt><b>Be-Sitting</b></dt></a>
  <dd><i>Definition:</i> The state resulting from a Sit-Down.</dd>

<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Sit-Down');">Sit-Down</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Stand-Up');">Stand-Up</a></p>

</dl>
</body></html>

