<!--- $Id: Be-Closed.spec.kml,v 1.1 2005/08/01 20:57:32 jchaw Exp $ --->
<html>

<head><title>Specification for 'Be-Closed'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Be-Closed.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Be-Closed</b></i></font></td></tr></table></h1><system-documentation name=Be-Closed>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Be-Blocked');">Be-Blocked</a></h3>

<dd><i>Definition:</i> 

  The <a href="javascript: void parent.code.goToSpec('Portal');">Portal</a> through a <a href="javascript: void parent.code.goToSpec('Barrier');">Barrier</a> is
  closed, preventing movement through the Portal.  A Portal is put into this 
  state by <a href="javascript: void parent.code.goToSpec('Close');">Close</a> and taken out of the state by
  <a href="javascript: void parent.code.goToSpec('Open');">Open</a>.

</dd>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>object</font></tt>: 
      the <a href="javascript: void parent.code.goToSpec('Portal');">Portal</a> that is closed
   </dd>

</dl>

<h3>Examples:</h3><ol>

   <li>
     <i>The jar is closed.</i>
     <dd><tt><font color=green>object</font></tt>: the mouth of the jar</dd>
   </li>
   <dd><i>Comment:</i> 
   The mouth of the jar plays the role of portal, and is therefore the object
   of the Be-Closed state.  In contrast, the jar lid plays the role of 
   <a href="javascript: void parent.code.goToSpec('Portal-Covering');">Portal-Covering</a> when the jar is closed.
   </dd>
   
</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

   <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Close');">Close</a></td><td valign=top>
      Close is the action that puts a portal in the state of Be-Closed.
   </td></tr>

</table><p>

</body></html>


