<!--- $Id: brightness.spec.kml,v 1.2 2005/10/27 05:25:35 tecuci Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>brightness/Brightness-Value</b></i></font></td></tr></table></h1>
<system-documentation name=Brightness-Value>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Tangible-Entity</font></h3>
<h3><i>To: </i><font color=red>Brightness-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  the brightness of a Tangible-Entity
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Relative Values:</h4><dl><dd>
   a relative value along with a reference concept (what is the relative value relative to?)<p>
<dd><i>values: </i>[*scalars*]</dd>
<scale name=[*scale-name e.g. *young-old-scale*]>[*scale elements*]</dd>
    <p>
    <li>
      <i>the living-room was dark compared to the kitchen</i>
      <dd><tt><font color=green>value</font></tt>: dark</dd>
      <dd><tt><font color=green>relative to</font></tt>: kitchen</dd><p>
    </li>
  </dd></dl>
</dd></dl>
</body></html>

