<html>

<head><title>Specification for 'Brunch'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Brunch.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Brunch</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Meal');">Meal</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Brunch><dt><b>Brunch</b></dt></a>
  <dd><i>Definition:</i> the Activity of eating (usually) late in the morning - as a combination of Breakfast and Lunch.
  </dd>
</dl>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Meal');">Meal</a></td><td valign=top>
	Meal is the general Activity involving eating - Brunch is a special case.
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Breakfast');">Breakfast</a></td><td valign=top>
	Breakfast is also a special case of Meal, but is the Activity of eating (usually) early in the morning.
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Lunch');">Lunch</a></td><td valign=top>
	Lunch is also a special case of Meal, but is the Activity of eating (usually) at mid-day.
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Dinner');">Dinner</a></td><td valign=top>
	Dinner is also a special case of Meal, but is the Activity of eating (usually) in the (late) evening.
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Supper');">Supper</a></td><td valign=top>
	Supper is also a special case of Meal, but is the Activity of (light) eating (usually) in the (early) evening.
  </td></tr>

</table><p>

</body></html>
