<html>

<head><title>Specification for 'Building-Complex'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Building-Complex.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Building-Complex</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Structure');">Structure</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Building-Complex><dt><b>Building-Complex</b></dt></a>
<dd><i>Definition:</i> 
	  A Building-Complex is a whole structure made up of interconnected or related Buildings. 
</dd>
</dl>

</body></html>