<!--- $Id: Chemical-Energy.spec.kml,v 1.1 2005/08/01 20:57:34 jchaw Exp $ --->
<html>
<head><title>Specification for 'Chemical-Energy'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Chemical-Energy.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Chemical-Energy</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Energy');">Energy</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Chemical-Bond-Energy');">Chemical-Bond-Energy</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Activation-Energy');">Activation-Energy</a></h3><hr>
<h3>Component Semantics:</h3>
<dl><a name=Chemical-Energy><dt><b>Chemical-Energy</b></dt></a>
  <dd><i>Definition:</i>  <a href="javascript: void parent.code.goToSpec('Energy');">Energy</a> produced by or stored in chemical                                   properties or property differentials, such as                                  chemical bonds, such as <a href="javascript: void parent.code.goToSpec('charge');">charge</a> gradients,                                   <a href="javascript: void parent.code.goToSpec('density');">density</a> gradients, etc.  Souther.  </dd>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Activation-Energy');">Activation-Energy</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Energy');">Energy</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Chemical-Bond-Energy');">Chemical-Bond-Energy</a></p>

</dl></body></html>
