<html>

<head><title>Specification for 'City'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/City.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>City</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Administrative-District');">Administrative-District</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=City><dt><b>City</b></dt></a>
  <dd><i>Definition:</i> a large and densely populated urban area (within a <a href="javascript: void parent.code.goToSpec('State');">State</a> / <a href="javascript: void parent.code.goToSpec('Province');">Province</a>).
</dd>
</dl>

</body></html>
