<!--- $Id: Collide.spec.kml,v 1.1 2005/08/01 20:57:34 jchaw Exp $ --->

<html>

<head><title>Specification for 'Collide'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Collide.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Collide</b></i></font></td></tr></table></h1><system-documentation name=Collide>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Make-Contact');">Make-Contact</a></h3>

<dd><i>Definition:</i> 

  One <tt><font color=green>object</font></tt> collides with another.  The objects 
  <a href="javascript: void parent.code.goToSpec('Make-Contact');">Make-Contact</a> with high <tt><font color=green>intensity</font></tt>.

  There are two types of collision:<ul>
    <li>symmetric collision, such as occurs between 2 billiard balls.
    <li>asymmetric collision, such as occurs when a baseball bat hits
      a baseball or a car hits a lamp-post
</ul>

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
    for a symmetric collision, give two <tt><font color=green>object</font></tt>s.  For an
    asymmetric collision, give one <tt><font color=green>object</font></tt> and one
    <tt><font color=green>base</font></tt>.  See examples below.
  </dd>

</dl>

<h3>Other Common Relationships:</h3><dl>
  <dd><tt><font color=green>agent</font></tt>: 
    the entity that caused the collision
  </dd>

  <dd><tt><font color=green>base</font></tt>: 
    the thing that is hit by the <tt><font color=green>object</font></tt>.  Used only for
    asymmetric collisions
  </dd>

  <dd><tt><font color=green>location</font></tt>: 
    the Place where the collision occurred
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The cars collided in the intersection. (symmetric collision)</i>
    <dd><tt><font color=green>object</font></tt>: the cars</dd>
    <dd><tt><font color=green>location</font></tt>: in the intersection</dd>
  </li>

  <li>
    <i>The car hit the tree. (asymmetric collision)</i>
    <dd><tt><font color=green>object</font></tt>: the car</dd>
    <dd><tt><font color=green>base</font></tt>: the tree</dd>
  </li>

  <li>
    <i>John hit the nail with a hammer. (asymmetric collision)</i>
    <dd><tt><font color=green>agent</font></tt>: John</dd>
    <dd><tt><font color=green>object</font></tt>: the hammer</dd>
    <dd><tt><font color=green>base</font></tt>: the nail</dd>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Make-Contact');">Make-Contact</a></td><td valign=top>
    Collide is a type of Make-Contact with one extra property: it occurs 
    with high <tt><font color=green>intensity</font></tt>
  </td></tr>

</table><p>

</body></html>



