<!--- $Id: Creator.spec.kml,v 1.1 2005/08/01 20:57:36 jchaw Exp $ --->

<html>
<head><title>Specification for 'Creator'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Creator.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Creator</b></i></font></td></tr></table></h1>
<system-documentation name=Creator>
<b><a href="javascript: void parent.code.goToGPD('Roles/gpd12170101-Roles.html');">How to represent roles</A></b><hr>


<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Role');">Role</a></h3>

  <dd><i>Definition:</i> 
    A Creator is the <a href="javascript: void parent.code.goToSpec('Role');">Role</a> played by an entity 
    which is the <tt><font color=green>agent</font></tt> of a <a href="javascript: void parent.code.goToSpec('Create');">Create</a>.
  </dd>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>played-by</font></tt>: 
     the entity that's playing the role of creator
   </dd>
   <dd><tt><font color=green>in-event</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Create');">Create</a> event that the entity is engaged in
   </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>

     <i>The artist created a sculpture.</i>
     <dd><i>Comment:</i> 
     In this example, the role of Creator is described with these properties:
     </dd>
     <dd><tt><font color=green>in-event</font></tt>: <a href="javascript: void parent.code.goToSpec('Create');">Create</a> with
         object=sculpture</dd>
     <dd><tt><font color=green>played-by</font></tt>: the artist</dd>
     </dd>

  </li>

</ol>

</body></html>


