<!--- $Id: Decrease.spec.kml,v 1.2 2008/07/21 03:08:00 tecuci Exp $ --->
<html>

<head><title>Specification for 'Decrease'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Decrease.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Decrease</b></i></font></td></tr></table></h1><system-documentation name=Decrease>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Action');">Action</a></h3>

<dd><i>Definition:</i> 

  A <tt><font color=green>property</font></tt> of an <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> or <a href="javascript: void parent.code.goToSpec('Event');">Event</a> decreases

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>from-value</font></tt>: 
    the initial value of the <tt><font color=green>property-slot</font></tt> before the decrease
  </dd>

  <dd><tt><font color=green>to-value</font></tt>: 
    the final value of the <tt><font color=green>property-slot</font></tt> after the decrease
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The water in the tank dropped from 20 to 10 gallons.</i>
    <dd><tt><font color=green>base</font></tt>: The water in the tank</dd>
    <dd><tt><font color=green>from-value</font></tt>: 20 gallons</dd>
    <dd><tt><font color=green>to-value</font></tt>: 10 gallons</dd>
  </li>

  <li>
    <i>John cooled the broth from boiling to 55F.</i>
    <dd><tt><font color=green>agent</font></tt>: John</dd>
    <dd><tt><font color=green>base</font></tt>: the broth</dd>
    <dd><tt><font color=green>from-value</font></tt>: boiling</dd>
    <dd><tt><font color=green>to-value</font></tt>: 55F</dd>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Increase');">Increase</a></td><td valign=top>
     The opposite of decrease
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Contract');">Contract</a></td><td valign=top>
     To decrease the property <tt><font color=green>area</font></tt>
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Cool');">Cool</a></td><td valign=top>
     To decrease the property <tt><font color=green>temperature</font></tt>	
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Dim');">Dim</a></td><td valign=top>
     To decrease the property <tt><font color=green>brightness</font></tt>
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Dry');">Dry</a></td><td valign=top>
     To decrease the property <tt><font color=green>wetness</font></tt>	
  </td></tr>


</table><p>

</body></html>


