<!--- $Id: defeats.spec.kml,v 1.2 2005/12/06 21:39:12 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>defeats</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Action</font></h3>
<h3><i>To: </i><font color=red>State</font></h3>

<h3>Description:</h3><dl><dd> 
	an Action defeats a State. As a result, the object of the 
	corresponding State is taken out of that State.
</dd></dl>

<h3>Examples:</h3><ol>
  <li>
<i><font color=blue>Detaching</font> attached objects takes them out of a state of <font color=red>attachment</font>.</i>
  </li>
  <li>
    <i><font color=blue>Releasing</font> the prisoner defeats his state of <font color=red>confinement</font>.</i>
  </li>
</ol>



</body></html>
