<html>

<head><title>Specification for 'Department'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Department.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Department</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Organization');">Organization</a></h3>

<hr>
<h3>Component Semantics:</h3>
  <dl><a name=Department><dt><b>Department</b></dt></a>
<dd><i>Definition:</i> 
  (an <a href="javascript: void parent.code.goToSpec('Organization');">Organization</a> that is) a specialized division of an <a href="javascript: void parent.code.goToSpec('Institution');">Institution</a>.
</dd>
</dl>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>is-part-of</font></tt>: 
    an <a href="javascript: void parent.code.goToSpec('Institution');">Institution</a>.
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>the CS department of UT Austin.</i>
<dd><tt><font color=green>is-part-of</font></tt>: UT Austin</dd>.
    <dd><i>Comment:</i> 

UT Austin is the <a href="javascript: void parent.code.goToSpec('Institution');">Institution</a>.  
    </dd>
  </li>

</ol>

</body></html>

