<html>

<head><title>Specification for 'Discourse'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Discourse.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Discourse</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Interaction');">Interaction</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Discourse><dt><b>Discourse</b></dt></a>
<dd><i>Definition:</i> 
an extended communication (often interactive), usually dealing with some particular topic.

</dd>
</dl>

</body></html>
