<html>

<head><title>Specification for 'Eat'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Eat.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Eat</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Take-In');">Take-In</a></h3>

<hr>
<h3>Component Semantics:</h3>
  <dl><a name=Eat><dt><b>Eat</b></dt></a>
<dd><i>Definition:</i> 
take in (solid) food; used of animals only.
</dd>
</dl>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Tangible-Entity');">Tangible-Entity</a> that is playing the <a href="javascript: void parent.code.goToSpec('Role');">Role</a> of <a href="javascript: void parent.code.goToSpec('Food');">Food</a> that is taken in.
  </dd>

  <dd><tt><font color=green>agent</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Animal');">Animal</a> that is taking in the <a href="javascript: void parent.code.goToSpec('Food');">Food</a>.
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The squirrel eats the nut.</i>
    <dd><tt><font color=green>agent</font></tt>: the squirrel</dd>
    <dd><tt><font color=green>object</font></tt>: the nut</dd>
  </li>

</ol>

</body></html>
