<html>
<head><title>Specification for 'Edit'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Edit.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Edit</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Action');">Action</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Edit><dt><b>Edit</b></dt></a>
  <dd><i>Definition:</i> 
     takes a <a href="javascript: void parent.code.goToSpec('Document');">Document</a> (a <a href="javascript: void parent.code.goToSpec('Message');">Message</a>) and modifies the value on the information-content slot.
  </dd>
</dl>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>object</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Document');">Document</a> that is changed.
   </dd>
</dl>

</body></html>

