<html>

<head><title>Specification for 'Engineering'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Engineering.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Engineering</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Development');">Development</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Engineering><dt><b>Engineering</b></dt></a>
  <dd><i>Definition:</i> (the <a href="javascript: void parent.code.goToSpec('Activity');">Activity</a> of) the practical application of science to commerce or industry (for <a href="javascript: void parent.code.goToSpec('Development');">Development</a>).
</dd>
</dl>

</body></html>


