<!--- $Id: Event.spec.kml,v 1.1 2005/08/01 20:57:38 jchaw Exp $ --->

<html>

<head><title>Specification for 'Event'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Event.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Event</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Thing');">Thing</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Event><dt><b>Event</b></dt></a>
  <dd><i>Definition:</i> "Things that happen", such as <a href="javascript: void parent.code.goToSpec('Action');">Action</a>s and 
     <a href="javascript: void parent.code.goToSpec('State');">State</a>s, as opposed to "Things that are".
</dd>
</dl>

<hr><i>
This is the top level concept for <a href="javascript: void parent.code.goToSpec('Action');">Action</a>s and
<a href="javascript: void parent.code.goToSpec('State');">State</a>s.<p>

Contrast Events with <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> concepts.
</i>

</body></html>


