<!--- $Id: Fall.spec.kml,v 1.1 2005/08/01 20:57:38 jchaw Exp $ --->
<html>

<head><title>Specification for 'Fall'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Fall.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Fall</b></i></font></td></tr></table></h1><system-documentation name=Fall>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Move');">Move</a></h3>

<dd><i>Definition:</i> 

  An <tt><font color=green>object</font></tt> falls toward earth.

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
     the thing that falls
  </dd>

</dl>

<dd><i>Comment:</i> 
  Note that fall is purely intransitive, i.e. it can never have an
  <tt><font color=green>agent</font></tt>.  However, <a href="javascript: void parent.code.goToSpec('Let-Fall');">Let-Fall</a>, which
  causes a fall to occur, always has an agent.

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>origin</font></tt>: 
    the initial location of the <tt><font color=green>object</font></tt> before the fall
  </dd>

  <dd><tt><font color=green>destination</font></tt>: 
    the final location of the <tt><font color=green>object</font></tt> after the fall
  </dd>

  <dd><tt><font color=green>path</font></tt>: 
     the Place which the <tt><font color=green>object</font></tt> moves
     along during the fall.  Typically, this is an object or surface
     along which the <tt><font color=green>object</font></tt> falls.
  </dd>

  <dd><tt><font color=green>toward</font></tt>: 
    the location toward which the <tt><font color=green>object</font></tt> falls.  Unlike the 
    <tt><font color=green>destination</font></tt>, the <tt><font color=green>object</font></tt> need not reach this
    Place, but it may.
  </dd>

  <dd><tt><font color=green>away-from</font></tt>: 
    the location that the <tt><font color=green>object</font></tt> moves away from during
    the fall.  Unlike the
    <tt><font color=green>origin</font></tt>, the <tt><font color=green>object</font></tt> need not start at this
    Place, but it may.
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The anvil dropped from the 12th floor down the elevator
          shaft.</i>
    <dd><tt><font color=green>object</font></tt>: the anvil</dd>
    <dd><tt><font color=green>origin</font></tt>: the 12th floor</dd>
    <dd><tt><font color=green>path</font></tt>: the elevator shaft</dd>
  </li>
  <dd><i>Comment:</i> 
    Here "dropped" is translated to "fall".
  </dd>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Move');">Move</a></td><td valign=top>
    Fall is a special type of Move in which the direction is downward, 
    toward the earth.
  </td></tr>

</table><p>

</body></html>


