<html>
<head><title>Specification for 'Fidget'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Fidget.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Fidget</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Orient');">Orient</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Fidget><dt><b>Fidget</b></dt></a>
  <dd><i>Definition:</i> 
     to do the act of fidgeting.
  </dd>
</dl>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>object</font></tt>: 
     same as the agent of Self.
   </dd>
   <dd><tt><font color=green>agent</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> that is fidgeting, that is, actually Self.
   </dd>
</dl>

</body></html>

