<html>

<head><title>Specification for 'Filter'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Filter.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Filter</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Role');">Role</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Filter><dt><b>Filter</b></dt></a>
<dd><i>Definition:</i> 
  The role played by an Entity with regards to the <a href="javascript: void parent.code.goToSpec('Event');">Event</a> of altering an <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a>.

</dd>
</dl>

<h3>Required Relationships:</h3><dl>
  <dd><tt><font color=green>in-event</font></tt>: 
    Must be the object of an <a href="javascript: void parent.code.goToSpec('Action');">Action</a>.
  </dd>

  <dd><tt><font color=green>played-by</font></tt>: 
    Is the role played by the <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> which is the <tt><font color=green>intrument-of</font></tt> an <a href="javascript: void parent.code.goToSpec('Action');">Action</a>.
  </dd>

</dl>

</body></html>


