<!--- $Id: first-subevent.spec.kml,v 1.2 2005/12/06 21:39:12 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>first-subevent</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>To: </i><font color=red>Event</font></h3>

<h3>Description:</h3><dl><dd> 
The first Event of a series of Events.
</dd></dl>

<h3>Examples:</h3><ol>
 <li>
	<i><font color=blue>Switching on</font> the computer is the first step to <font color=red>using the wordprocessor</font>.</i>
  </li>
 <li>
	<i><font color=blue>Procuring good quality charcoal</font> is the first step to a <font color=red>good barbeque</font>.</i>
  </li>
</ol>


</body></html>
