<!--- $Id: greater-than.spec.kml,v 1.1 2005/08/01 20:57:49 jchaw Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>greater-than/less-than</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Property-Value</font></h3>
<h3><i>To: </i><font color=red>Property-Value</font></h3>

<h3>Description:</h3><dl><dd> 
a Property-Value that is greater than another.
</dd></dl>

<h3>Examples:</h3><ol>
 <li>
<i><font color=blue>A mile</font> is longer than <font color=red>a kilometer</font></i>
  </li>

 <li>
<i><font color=blue>A kilogram</font> is heavier than <font color=red>a pound</font>.</i>	
 </li>

</ol>


</body></html>
