<html>
<head><title>Specification for 'Head-Nod'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Head-Nod.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Head-Nod</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Gesticulate');">Gesticulate</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Head-Nod><dt><b>Head-Nod</b></dt></a>
  <dd><i>Definition:</i> 
     the physical act of turning the head up and down, possibly repeatedly, so as to <a href="javascript: void parent.code.goToSpec('Embody');">Embody</a> a <a href="javascript: void parent.code.goToSpec('Gesture');">Gesture</a> indicating assent.
  </dd>
</dl>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>agent</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> that is nodding its head.
   </dd>

   <dd><tt><font color=green>instrument</font></tt>: 
     the "Head" that is being nodded.
   </dd>

</dl>

</body></html>

