<!--- $Id: importance.spec.kml,v 1.2 2006/03/01 20:20:46 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>importance</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Thing</font></h3>
<h3><i>To: </i><font color=red>Unitless-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  The degree of prominence or noteworthiness possessed by a thing.
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units <a href="javascript: void parent.code.goToSpec('UoM-Unitless');">UoM-Unitless</a>
<p>
    <li>
      <i>a bug with importantce rating 5</i>
      <dd><tt><font color=green>number</font></tt>: 5</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: none</dd>
    </li>
  </dd></dl>

  <h4>Relative Values:</h4><dl><dd>
    a relative value along with a reference concept (what is the relative value relative to?)<p>
<dd><i>values: </i>unimportant, moderately-important, important</dd>
<dd><i>*unimportant-important-scale: </i>unimportant..moderately-important..important</dd>
    <p>
    <li>
      <i>an important meeting</i>
      <dd><tt><font color=green>value</font></tt>: important</dd>
      <dd><tt><font color=green>relative to</font></tt>: Meeting</dd><p>

    </li>
  </dd></dl>
</dd></dl>
</body></html>
