<!--- $Id: inhibits.spec.kml,v 1.2 2005/12/06 21:39:12 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>inhibits</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>To: </i><font color=red>Event</font></h3>

<h3>Description:</h3><dl><dd> 
	an Event inhibits another Event but is insufficient to prevent it.
</dd></dl>

<h3>Examples:</h3><ol>
   <li>
	<i><font color=blue>Obstructing</font> an object inhibits <font color=red>moving</font> it.</i>
   </li>
   <li>
	<i><font color=blue>Firing</font> a warning shot inhibits the suspect from <font color=red>fleeing</font>.</i>
   </li>
</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
   <tr><td valign=top><a href="javascript: void parent.code.goToSpec('prevents');">prevents</a></td><td valign=top>
	Prevents is stronger than inhibits: it asserts that the second event
        does not occur; an event that is merely inhibited may still occur.
   </td></tr>
</table><p>

</body></html>
