<!--- $Id: Let-Go-Of.spec.kml,v 1.1 2005/08/01 20:57:40 jchaw Exp $ --->

<html>

<head><title>Specification for 'Let-Go-Of'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Let-Go-Of.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Let-Go-Of</b></i></font></td></tr></table></h1><system-documentation name=Let-Go-Of>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Unobstruct');">Unobstruct</a></h3>

<dd><i>Definition:</i> 

  Let go of an object that is being held.

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
     Some tangible entity.
     Before this action, the object is
     assumed to be held by the agent, i.e. it's in a state of
     <a href="javascript: void parent.code.goToSpec('Be-Held');">Be-Held</a>.
     Afterwards it's no longer in that state.
  </dd>

  <dd><tt><font color=green>agent</font></tt>: 
     Somebody or something that's holding the object, then lets go of it
  </dd>

</dl>

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>instrument</font></tt>: 
    the thing (e.g. tool) used to let go of the object
  </dd>

  <dd><tt><font color=green>by-means-of</font></tt>: 
    the event that facilitates letting go of the object
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>John let the dog go.</i>
    <dd><tt><font color=green>agent</font></tt>: John</dd>
    <dd><tt><font color=green>object</font></tt>: the dog</dd>
  </li>

  <dd><i>Comment:</i> 
    It's assumed that John was holding the dog beforehand.
  </dd>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Unobstruct');">Unobstruct</a></td><td valign=top> 
     Unobstruct is more general than Let-Go-Of.
     Unobstruct allows some object to move more freely, whereas
     Let-Go-Of (more specifically) is when an agent stops holding 
     some object.
  </td></tr>

</table><p>

</body></html>


