<!--- $Id: Living-Entity.spec.kml,v 1.1 2005/08/01 20:57:40 jchaw Exp $ --->
<html>
<head><title>Specification for 'Living-Entity'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Living-Entity.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Living-Entity</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Organic-Structure');">Organic-Structure</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Virus');">Virus</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Suborganismal-Entity');">Suborganismal-Entity</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Organism');">Organism</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Living-Group');">Living-Group</a></h3><hr>
<h3>Component Semantics:</h3>
<dl><a name=Living-Entity><dt><b>Living-Entity</b></dt></a>
  <dd><i>Definition:</i>  An organic structure at the cell level or above                                which is functionally integrated, such as cells,                                tissues, organs, or organisms.   Souther. </dd>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Organism');">Organism</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Suborganismal-Entity');">Suborganismal-Entity</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Organic-Structure');">Organic-Structure</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Living-Group');">Living-Group</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Cytoskeleton');">Cytoskeleton</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Subcellular-Compartment');">Subcellular-Compartment</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Membrane');">Membrane</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Organic-Complex');">Organic-Complex</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Virus');">Virus</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Organic-Compartment');">Organic-Compartment</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Cell-Wall');">Cell-Wall</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Organic-Layer');">Organic-Layer</a></p>

</dl></body></html>
