<!--- $Id: Locomotion.spec.kml,v 1.1 2005/08/01 20:57:40 jchaw Exp $ --->
<html>

<head><title>Specification for 'Locomotion'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Locomotion.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Locomotion</b></i></font></td></tr></table></h1><system-documentation name=Locomotion>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Move');">Move</a></h3>

<dd><i>Definition:</i> 

  An entity moves itself.

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>agent</font></tt>: 
     the entity that moves. 
  </dd>
  <dd><i>Comment:</i> 
     In locomotion an entity moves itself.  Therefore, the
     <tt><font color=green>agent</font></tt> (the entity that causes the move) is the same
     as the <tt><font color=green>object</font></tt> (the thing being moved).
  </dd>
</dl>

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>origin</font></tt>: 
    the initial location of the <tt><font color=green>agent</font></tt> before it moves.
  </dd>

  <dd><tt><font color=green>destination</font></tt>: 
    the final location of the <tt><font color=green>agent</font></tt> after it moves.
  </dd>

  <dd><tt><font color=green>path</font></tt>: 
     the Place which the <tt><font color=green>agent</font></tt> moves
     along.  Typically, this is an object or surface along which the
     <tt><font color=green>agent</font></tt> is moving.
  </dd>

  <dd><tt><font color=green>toward</font></tt>: 
    the location toward which the <tt><font color=green>agent</font></tt> moves.  Unlike the 
    <tt><font color=green>destination</font></tt>, the <tt><font color=green>agent</font></tt> need not reach this
    Place, but it may.
  </dd>

  <dd><tt><font color=green>away-from</font></tt>: 
    the location that the <tt><font color=green>agent</font></tt> moves away from.  Unlike the 
    <tt><font color=green>origin</font></tt>, the <tt><font color=green>agent</font></tt> need not start at this
    Place, but it may.
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The horse galloped from the pasture into the barn.</i>
    <dd><tt><font color=green>agent</font></tt>: the horse</dd>
    <dd><tt><font color=green>origin</font></tt>: the pasture</dd>
    <dd><tt><font color=green>destination</font></tt>: inside the barn</dd>
  </li>
  <dd><i>Comment:</i> 
    Here "gallop" is translated to "locomotion".  One might use
    <tt><font color=green>intensity</font></tt> and <tt><font color=green>manner</font></tt> to better capture
    the meaning of "gallop".
  </dd>

  <li>
    <i>John left the parking lot to go to the restaurant.</i>
    <dd><tt><font color=green>agent</font></tt>: John</dd>
    <dd><tt><font color=green>origin</font></tt>: the parking lot</dd>
    <dd><tt><font color=green>destination</font></tt>: the restaurant</dd>
  </li>

  <li>
    <i>The protozoa used its flagellum to move toward the cell.</i>
    <dd><tt><font color=green>agent</font></tt>: the protozoa</dd>
    <dd><tt><font color=green>instrument</font></tt>: its flagellum</dd>
    <dd><tt><font color=green>toward</font></tt>: the cell</dd>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Move');">Move</a></td><td valign=top>
    Locomotion is a special type of Move in which an entity moves itself.
  </td></tr>

</table><p>

</body></html>


