<!--- $Id: Lose.spec.kml,v 1.1 2005/08/01 20:57:40 jchaw Exp $ --->
<html>

<head><title>Specification for 'Lose'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Lose.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Lose</b></i></font></td></tr></table></h1>
<system-documentation name=Lose>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Transfer');">Transfer</a></h3>

  <dd><i>Definition:</i>  
      Change of possession of an <tt><font color=green>object</font></tt> from a <tt><font color=green>donor</font></tt>
  </dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
       the thing that is lost
  </dd>

  <dd><tt><font color=green>donor</font></tt>: 
       the entity that <tt><font color=green>possesses</font></tt> the object before the loss,
       and which loses possession because of it
  </dd>

</dl>

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>agent</font></tt>: 
       the entity that causes the loss
  </dd>

  <dd><tt><font color=green>recipient</font></tt>: 
       the entity that <tt><font color=green>possesses</font></tt> the object after the loss
  </dd>

  <dd><tt><font color=green>caused-by</font></tt>: 
       the action that caused the loss
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>John lost his wallet when he fell overboard.</i>
    <dd><tt><font color=green>object</font></tt>: wallet</dd>
    <dd><tt><font color=green>donor</font></tt>: John</dd>
    <dd><tt><font color=green>caused-by</font></tt>: fall overboard</dd>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Deliver');">Deliver</a></td><td valign=top>
        Deliver is a special type of Transfer performed by an 
        <tt><font color=green>agent</font></tt> who is not the <tt><font color=green>donor</font></tt>
  </td></tr>  

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Receive');">Receive</a></td><td valign=top>
        Receive is a special type of Transfer in which a <tt><font color=green>recipient</font></tt>
        is mandatory
  </td></tr>  

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Withdraw');">Withdraw</a></td><td valign=top>
        Withdraw is a special type of Transfer in which the 
        <tt><font color=green>object</font></tt> is withdrawn from a <tt><font color=green>base</font></tt>,
        thereby removing it from a <a href="javascript: void parent.code.goToSpec('Be-Stored');">Be-Stored</a> state
  </td></tr>  

</table><p>


</body></html>

