<!--- $Id: Make-Request.spec.kml,v 1.1 2005/08/01 20:57:40 jchaw Exp $ --->
<html>

<head><title>Specification for 'Make-Request'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Make-Request.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Make-Request</b></i></font></td></tr></table></h1>
<system-documentation name=Make-Request>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Communicate');">Communicate</a></h3>

  <dd><i>Definition:</i> 
  An object (a <a href="javascript: void parent.code.goToSpec('Request');">Request</a>) is requested by one entity of another usually in 
  a polite manner.
  </dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>agent</font></tt>: 
        the entity making the request
  </dd>
  
  <dd><tt><font color=green>object</font></tt>: 
       the request being made
  </dd>
  
  <dd><tt><font color=green>recipient</font></tt>: 
  	the entity the request is being made to
  </dd>

</dl>

<h3>Other Common Relationships:</h3><dl>
</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>Larry requested of Sally that she close the door.</i>
    <dd><tt><font color=green>agent</font></tt>: Larry</dd>
    <dd><tt><font color=green>object</font></tt>: to close the door</dd>
    <dd><tt><font color=green>recipient</font></tt>: Sally</dd>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Communicate');">Communicate</a></td><td valign=top>
        The object of a communicate is not necessarily a request.
  </td></tr>  

</table><p>


</body></html>


  
