<!--- $Id: max-value.spec.kml,v 1.2 2008/02/08 20:00:17 hari5851 Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>max-value</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Property-Value</font></h3>
<h3><i>To: </i><font color=red></font></h3>

<h3>Description:</h3><dl><dd>
Gives the maximum possible value for a Property.
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
<p>
    <li>
      <i>The maximum value of the diameter of a nucleus is 18 micrometer.</i>
      <dd><tt><font color=green>number</font></tt>: 18</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: micrometer</dd>
    </li>
  </dd></dl>

</dd></dl>
</body></html>

