<html>

<head><title>Specification for 'Metal'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Metal.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Metal</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Solid-Substance');">Solid-Substance</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Metal><dt><b>Metal</b></dt></a>
<dd><i>Definition:</i> 
  a <a href="javascript: void parent.code.goToSpec('Substance');">Substance</a> that is usually a shiny solid, and conducts heat and electricity, and can be formed into sheets etc.

</dd>
</dl>

</body></html>
