<!--- $Id: moment-of-inertia.spec.kml,v 1.3 2006/03/01 20:20:46 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>moment-of-inertia</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Physical-Object</font></h3>
<h3><i>To: </i><font color=red>Moment-of-Inertia-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  the tendency of a body to resist angular acceleration
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units of measurement for <a href="javascript: void parent.code.goToSpec('UoM-Moment-of-Inertia');">UoM-Moment-of-Inertia</a>
<p>
    <li>
      <i>12 kilogram meter squared</i>
      <dd><tt><font color=green>number</font></tt>: 12</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: *kilogram-meter-squared</dd>
    </li>
  </dd></dl>

</dd></dl>
</body></html>
