<!--- $Id: Move-Into.spec.kml,v 1.1 2005/08/01 20:57:41 jchaw Exp $ --->
<html>

<head><title>Specification for 'Move-Into'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Move-Into.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Move-Into</b></i></font></td></tr></table></h1><system-documentation name=Move-Into>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Move-Through');">Move-Through</a></h3>

<dd><i>Definition:</i> 

  An <tt><font color=green>object</font></tt> changes location by moving into a container,
  putting the <tt><font color=green>object</font></tt> into a 
  <a href="javascript: void parent.code.goToSpec('Be-Contained');">Be-Contained</a> state.    

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
     the thing that moves
  </dd>

  <dd><tt><font color=green>base</font></tt>: 
     the Tangible-Entity, playing the role of <a href="javascript: void parent.code.goToSpec('Container');">Container</a>,
     which the <tt><font color=green>object</font></tt> moves into
  </dd>

</dl>

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>agent</font></tt>: 
    the entity that caused the move to occur
  </dd>

  <dd><tt><font color=green>path</font></tt>: 
    the <a href="javascript: void parent.code.goToSpec('Portal');">Portal</a> through which the 
    <tt><font color=green>object</font></tt> enters the <tt><font color=green>base</font></tt>
  </dd>

  <dd><tt><font color=green>origin</font></tt>: 
    the initial location of the <tt><font color=green>object</font></tt> before the move.  
    This must be a <a href="javascript: void parent.code.goToSpec('Spatial-Entity');">Spatial-Entity</a> that 
    <tt><font color=green>is-outside</font></tt> the <tt><font color=green>base</font></tt>
  </dd>

  <dd><tt><font color=green>destination</font></tt>: 
    the final location of the <tt><font color=green>object</font></tt> after the move.
    This must be a <a href="javascript: void parent.code.goToSpec('Spatial-Entity');">Spatial-Entity</a> that 
    <tt><font color=green>is-inside</font></tt> the <tt><font color=green>base</font></tt>
  </dd>

  <dd><tt><font color=green>toward</font></tt>: 
    the location toward which the <tt><font color=green>object</font></tt> moves.  Unlike the 
    <tt><font color=green>destination</font></tt>, the <tt><font color=green>object</font></tt> need not reach this
    Place, but it may
  </dd>

  <dd><tt><font color=green>away-from</font></tt>: 
    the location that the <tt><font color=green>object</font></tt> moves away from.  Unlike the 
    <tt><font color=green>origin</font></tt>, the <tt><font color=green>object</font></tt> need not start at this
    Place, but it may
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The protein moved into the cell nucleus through a pore.</i>
    <dd><tt><font color=green>object</font></tt>: the protein</dd>
    <dd><tt><font color=green>base</font></tt>: cell nucleus</dd>
    <dd><tt><font color=green>path</font></tt>: pore</dd>
  </li>
</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Be-Contained');">Be-Contained</a></td><td valign=top>
    Move-Into puts an object into a Be-Contained state
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Move-Out-Of');">Move-Out-Of</a></td><td valign=top>
    Move-Out-Of takes an object out of a Be-Contained state
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Move-Through');">Move-Through</a></td><td valign=top>
     Move-Into is a special type of Move-Through in which the 
     the <tt><font color=green>object</font></tt> moves through a portal and into 
     a container
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Enter');">Enter</a></td><td valign=top>
     Enter is a special type of Move-Into in which the
     <tt><font color=green>object</font></tt> moves of its own volition, i.e. 
     it locomotes
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Load');">Load</a></td><td valign=top>
     Load is a special type of Move-Into in which an object is inserted
     into a device, thereby activating it 
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Take-In');">Take-In</a></td><td valign=top>
     Take-In is a special type of Move-Into in which a Tangible-Entity,
     playing the role of a <a href="javascript: void parent.code.goToSpec('Container');">Container</a>, takes something
     from the outside into itself
  </td></tr>

</table><p>

</body></html>


