<html>

<head><title>Specification for 'Natural-Language'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Natural-Language.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Natural-Language</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Language');">Language</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Natural-Language><dt><b>Natural-Language</b></dt></a>
<dd><i>Definition:</i> 
a human written or spoken <a href="javascript: void parent.code.goToSpec('Language');">Language</a> used by a (usually sizeable) community.

</dd>
</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The national language of India is Hindi; Maharashtrians usually speak Marathi.</i>
  </li>
  <dd><i>Comment:</i> 
     Here "Hindi" and "Marathi" are <a href="javascript: void parent.code.goToSpec('Natural-Language');">Natural-Language</a>s.
  </dd>

</ol>

</body></html>
