<!--- $Id: origin.spec.kml,v 1.2 2005/12/06 21:39:12 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>origin</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>To: </i><font color=red>Spatial-Entity</font></h3>

<h3>Description:</h3><dl><dd> 
	an Event begins at some place
</dd></dl>

<h3>Examples:</h3><ol>
   <li>
	<i>She's <font color=blue>leaving</font> <font color=red>home</font>.</i>
   </li>
</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('away-from');">away-from</a></td><td valign=top>
    An event may transpire away-from some place, even 
    though the event did not start there; origin refers to the place where 
    the event began.
 </td></tr>
</table><p>

</body></html>
