<html>
<head><title>Specification for 'Orient'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Orient.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Orient</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Action');">Action</a></h3>
<h3>Component Semantics:</h3>
<dl><a name=Orient><dt><b>Orient</b></dt></a>
  <dd><i>Definition:</i> To change the position or orientation of an object or part of an object.</dd>


</dl>
</body></html>

