<!--- $Id: Paper.spec.kml,v 1.1 2005/08/01 20:57:42 jchaw Exp $ --->

<html>
<head><title>Specification for 'Paper'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Paper.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Paper</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Solid-Substance');">Solid-Substance</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Paper><dt><b>Paper</b></dt></a>

  <dd><i>Definition:</i>  
    A substance in the form of thin sheets or leaves intended
    to be written or printed on, or to be used in wrapping.
  </dd>

  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Solid-Substance');">Solid-Substance</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Plastic');">Plastic</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Cloth');">Cloth</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Wood');">Wood</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Write');">Write</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Document');">Document</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Language');">Language</a></p>

</dl>


</body></html>


