<html>
<head><title>Specification for 'Participant'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Participant.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Participant</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('Roles/gpd12170101-Roles.html');">How to represent roles</A></b><hr>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Agent-Role');">Agent-Role</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Participant><dt><b>Participant</b></dt></a>
  <dd><i>Definition:</i> 
     The <a href="javascript: void parent.code.goToSpec('Role');">Role</a>, specifically an <a href="javascript: void parent.code.goToSpec('Agent-Role');">Agent-Role</a> played by an <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> that
     is particpating in an <a href="javascript: void parent.code.goToSpec('Event');">Event</a>.
  </dd>
</dl>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>played-by</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> playing the <a href="javascript: void parent.code.goToSpec('Role');">Role</a> of the <a href="javascript: void parent.code.goToSpec('Agent');">Agent</a>.
   </dd>
   <dd><tt><font color=green>in-event</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Event');">Event</a> in which the <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> is playing that <a href="javascript: void parent.code.goToSpec('Role');">Role</a>.
   </dd>

</dl>

</body></html>

