<!--- $Id: path.spec.kml,v 1.1 2005/08/01 20:57:51 jchaw Exp $ --->

<html>

<head><title>Specification for 'path'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/path.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>path</b></i></font></td></tr></table></h1>

<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>To: </i><font color=red>Spatial-Entity</font></h3>

<h3>Description:</h3><dl><dd> 
  When an entity <a href="javascript: void parent.code.goToSpec('move');">move</a>s, the <tt><font color=green>path</font></tt>
  is the place (or object) it moves along or through.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The hockey puck <font color=blue>slid</font> across <font color=red>the ice</font>.</i>
  </li>

  <li>
    <i>The hikers <font color=blue>crossed</font> <font color=red>the rope bridge</font>.</i>
  </li>

  <li>
    <i>The commuter train <font color=blue>went through</font> <font color=red>the tunnel</font>.</i>
  </li>

</ol>

</body></html>
