<!--- $Id: Person.spec.kml,v 1.1 2005/08/01 20:57:42 jchaw Exp $ --->
<html>
<head><title>Specification for 'Person'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Person.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Person</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Eucaryote');">Eucaryote</a></h3><hr>
<h3>Component Semantics:</h3>
<dl><a name=Person><dt><b>Person</b></dt></a>
  <dd><i>Definition:</i>  human being; a sentient animal</dd>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Animal');">Animal</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Plant');">Plant</a></p>
</dl></body></html>
