<!-- $Id: Physical-Mark.spec.kml,v 1.1 2005/08/01 20:57:42 jchaw Exp $ -->
<html>

<head><title>Specification for 'Physical-Mark'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Physical-Mark.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Physical-Mark</b></i></font></td></tr></table></h1><system-documentation name=Physical-Mark>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Piece-of-Substance');">Piece-of-Substance</a></h3>

<dd><i>Definition:</i> 

Any mark created as the result of writing, sketching, printing,
drawing etc (i.e. the result of Mark).  Any persistant physical mark
or set of marks created by depositing or applying something acting in
the role of a writing substance (e.g. ink, paint, sand, blood) to some
kind of writable medium using something acting in the role of writing
implement (e.g. pencil, marker, finger, paintbrush, spray paint can,
printer).

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>result-of</font></tt>: 

The <conceptref>Mark</conceptref> event by which a given Physical-Mark
was created.

  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>A trail of marks was left on the white board after the meeting.</i>
  </li>

  <li>
    <i>Bob signed the check in ink.</i>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

<tr><td valign=top><a href="javascript: void parent.code.goToSpec('Physical-Document');">Physical-Document</a></td><td valign=top>

A <a href="javascript: void parent.code.goToSpec('Physical-Document');">Physical-Document</a> is like a Physical-Mark in that
both are the result of <a href="javascript: void parent.code.goToSpec('Embody');">Embody</a> events.  However, a
<a href="javascript: void parent.code.goToSpec('Physical-Document');">Physical-Document</a> also includes the medium
(e.g. paper) whereas Physical-Mark is merely the trail left in
writing, for example.  A <a href="javascript: void parent.code.goToSpec('Physical-Document');">Physical-Document</a> has a
Physical-Mark as a part.

</neighoor name=Physical-Document>

<tr><td valign=top><a href="javascript: void parent.code.goToSpec('Message');">Message</a></td><td valign=top>

A <a href="javascript: void parent.code.goToSpec('Message');">Message</a> is intangible whereas a Physical-Mark is tangible.

</neighbor name=Message>

</table><p>

</body></html>




