<html>
<head><title>Specification for 'Physical-Document'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Physical-Document.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Physical-Document</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Artifact');">Artifact</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Physical-Document><dt><b>Physical-Document</b></dt></a>

  <dd><i>Definition:</i>  
"A physically rendered written message."
  </dd>

  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Print');">Print</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Mark-Physical');">Mark-Physical</a></p>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

<tr><td valign=top><a href="javascript: void parent.code.goToSpec('Document');">Document</a></td><td valign=top>

A Document is a (written) Message and hence intangible.  A
Physical-Document may be considered a written form of a Document.

</neighbor name=Document>

</table><p>

</dl>

</body></html>

