<!--- $Id: Piece-of-Rubber.spec.kml,v 1.1 2005/08/01 20:57:43 jchaw Exp $ --->
<html>

<head><title>Specification for 'Piece-of-Rubber'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Piece-of-Rubber.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Piece-of-Rubber</b></i></font></td></tr></table></h1><system-documentation name=Piece-of-Rubber>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Piece-of-Substance');">Piece-of-Substance</a></h3>

<dd><i>Definition:</i> 
	A Piece-of-Substance made of Rubber.
</dd>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Piece-of-Glass');">Piece-of-Glass</a></td><td valign=top>
	A Piece-of-Substance made of Glass
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Piece-of-Metal');">Piece-of-Metal</a></td><td valign=top>
	A Piece-of-Substance made of Metal
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Piece-of-Paper');">Piece-of-Paper</a></td><td valign=top>
	A Piece-of-Substance made of Paper
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Piece-of-Plastic');">Piece-of-Plastic</a></td><td valign=top>
	A Piece-of-Substance made of Plastic
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Piece-of-Stone');">Piece-of-Stone</a></td><td valign=top>
	A Piece-of-Substance made of Stone
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Piece-of-Tissue');">Piece-of-Tissue</a></td><td valign=top>
	A Piece-of-Substance made of Tissue
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Piece-of-Wood');">Piece-of-Wood</a></td><td valign=top>
	A Piece-of-Substance made of Wood
  </td></tr>
</table><p>

</body></html>


