<!--- $Id: Piece-of-Substance.spec.kml,v 1.1 2005/08/01 20:57:43 jchaw Exp $ --->
<html>

<head><title>Specification for 'Piece-of-Substance'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Piece-of-Substance.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Piece-of-Substance</b></i></font></td></tr></table></h1><system-documentation name=Piece-of-Substance>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Inanimate-Object');">Inanimate-Object</a></h3>

<dd><i>Definition:</i> 
	An Inanimate-Object without any macro parts, made out of only one material
</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>material</font></tt>: 
	The Substance the object is made of 
  </dd>

</dl>

<h3>Examples:</h3><ol>
<li>
    <i>A batholith is an underground rock formation uncovered by erosion.</i>
	<dd><i>Comment:</i> In this example, the batholith is described with the following properties:
	     <dd><tt><font color=green>instance-of</font></tt>: <a href="javascript: void parent.code.goToSpec('Piece-of-Substance');">Piece-of-Substance</a> with
         	<tt><font color=green>material</font></tt>stone</dd>
     </dd>

  </li>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Artifact');">Artifact</a></td><td valign=top>
	A man-made object
  </td></tr>

</table><p>

</body></html>


