<!--- $Id: Plant.spec.kml,v 1.1 2005/08/01 20:57:43 jchaw Exp $ --->
<html>
<head><title>Specification for 'Plant'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Plant.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Plant</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Eucaryote');">Eucaryote</a></h3><hr>
<h3>Component Semantics:</h3>
<dl><a name=Plant><dt><b>Plant</b></dt></a>
  <dd><i>Definition:</i>  Single or multicellular entities which are free living                           and capable of photosynthesis. They are non-motile                           except for the gametes. Souther.  </dd>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Eucaryote');">Eucaryote</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Animal');">Animal</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Plant-Cell');">Plant-Cell</a></p>

</dl></body></html>
