<html>
<head><title>Specification for 'Place'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Place.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Place</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Spatial-Entityq');">Spatial-Entityq</a></h3>
<h3>Component Semantics:</h3>
<dl><a name=Place><dt><b>Place</b></dt></a>
  <dd><i>Definition:</i> A location.</dd>

<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('location');">location</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('origin');">origin</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('destination');">destination</a></p>

</dl>
</body></html>

