<!--- $Id: possesses.spec.kml,v 1.3 2007/06/22 14:25:32 porter Exp $ --->
<html>

</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>possesses</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Entity</font></h3>
<h3><i>To: </i><font color=red>Tangible-Entity</font></h3>

<h3>Description:</h3><dl><dd> 
   one thing possesses another, in any of these three ways: An
<a href="javascript: void parent.code.goToSpec('Organism');">Organism</a> possesses a <a href="javascript: void parent.code.goToSpec('Tangible-Entity');">Tangible-Entity</a>; 
a <a href="javascript: void parent.code.goToSpec('Chemical-Object');">Chemical-Object</a> possesses a
<a href="javascript: void parent.code.goToSpec('Charge');">Charge</a>; an <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> possesses
<a href="javascript: void parent.code.goToSpec('Energy');">Energy</a>.

</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i><font color=blue>John</font> owns <font color=red>the vase</font>.</i>
  </li>

  <li>
    <i><font color=blue>The book</font> belongs <font color=red>to Mary</font>.</i>
  </li>

  <li>
    <i><font color=blue>A hydrogen ion</font> has <ex-to>a charge of +1</ex-to>.</i>
  </li>

  <li>
    <i><font color=blue>A hydrogen bond</font> contains 
    <font color=red>5 kilo-calories</font> of energy.</i>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('has-part');">has-part</a></td><td valign=top>
     has-part describes the structural relations between a whole and its parts,
     whereas possesses describes an ownership relationship. 
     See also <a href="javascript: void parent.code.goToSpec('Transfer');">Transfer</a>, the action that passes possessions
     from one entity to another.
 </td></tr>
</table><p>

</body></html>

