<!--- $Id: purpose.spec.kml,v 1.2 2005/12/06 21:39:12 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>purpose</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Entity</font></h3>
<h3><i>To: </i><font color=red>Role</font></h3>

<h3>Description:</h3><dl><dd> 
  The default purpose of an entity.
</dd></dl>

<h3>Examples:</h3><ol>
  A <font color=blue>hammer</font> is designed to be <font color=red> used for hitting</font>.
</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('has-functional-part');">has-functional-part</a></td><td valign=top>
    Purpose refers to the role the entity is designed to play, while has-functional-part refers to parts of entity that is used for some functionality.
  </td></tr>
</table><p>

</body></html>
