<!--- $Id: Question.spec.kml,v 1.1 2005/08/01 20:57:44 jchaw Exp $ --->
<html>
<head><title>Specification for 'Question'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Question.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Question</b></i></font></td></tr></table></h1>
<system-documentation name=Question>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Role');">Role</a></h3>

  <dd><i>Definition:</i> 
    Question is the <a href="javascript: void parent.code.goToSpec('Role');">Role</a> played by <a href="javascript: void parent.code.goToSpec('Information');">Information</a> 
    which is the <tt><font color=green>object</font></tt> of a <a href="javascript: void parent.code.goToSpec('Inquire');">Inquire</a>.
  </dd>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>played-by</font></tt>: 
     the Information that's playing the role of Question during the <a href="javascript: void parent.code.goToSpec('Inquire');">Inquire</a>.
   </dd>
   <dd><tt><font color=green>in-event</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Inquire');">Inquire</a> event that the Question is expressed during
   </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>

     <i>The Philosophy major asked, "Do you want fries with that?"</i>
     <dd><i>Comment:</i> 
     In this example, the role of Question is described with these properties:
     </dd>
     <dd><tt><font color=green>in-event</font></tt>: <a href="javascript: void parent.code.goToSpec('Inquire');">Inquire</a>=ask with
         object= "Do you want fries with that?"   
     <dd><tt><font color=green>played-by</font></tt>: "Do you want fries with that?"</dd>
     </dd>

  </li>

</ol>

</body></html>



