<!-- $Id: Recording.spec.kml,v 1.1 2005/08/01 20:57:44 jchaw Exp $ -->
<head><title>Specification for 'Recording'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Recording.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Recording</b></i></font></td></tr></table></h1><system-documentation name=Recording>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Message');">Message</a></h3>

<dd><i>Definition:</i> 

A kind of <a href="javascript: void parent.code.goToSpec('Message');">Message</a> created by a <conceptref
name=Sensor> as the result of a <a href="javascript: void parent.code.goToSpec('Record');">Record</a> event.

</dd>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

<tr><td valign=top><a href="javascript: void parent.code.goToSpec('Physical-Document');">Physical-Document</a></td><td valign=top>

A <a href="javascript: void parent.code.goToSpec('Physical-Document');">Physical-Document</a> is a tangible (it is an
artifact).  <a href="javascript: void parent.code.goToSpec('Recording');">Recording</a>s are intangible because they
are <a href="javascript: void parent.code.goToSpec('Message');">Message</a>s.

</neighbor name=Physical-Document>

</table><p>

</body></html>
	


