<!--- $Id: Rubber.spec.kml,v 1.1 2005/08/01 20:57:45 jchaw Exp $ --->

<html>
<head><title>Specification for 'Rubber'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Rubber.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Rubber</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Solid-Substance');">Solid-Substance</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Rubber><dt><b>Rubber</b></dt></a>

  <dd><i>Definition:</i>  
    latex from trees
  </dd>

  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Solid-Substance');">Solid-Substance</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Plastic');">Plastic</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Metal');">Metal</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Wood');">Wood</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Paper');">Paper</a></p>

</dl>


</body></html>


