<html>

<head><title>Specification for 'Select'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Select.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Select</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Action');">Action</a></h3>

<hr>
<h3>Component Semantics:</h3>
  <dl><a name=Select><dt><b>Select</b></dt></a>
<dd><i>Definition:</i>  
to choose an <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> from a list.
</dd>
</dl>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>base</font></tt>: 
    the collection of Entities that the object is chosen from.
  </dd>

  <dd><tt><font color=green>object</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> that is chosen.
  </dd>

</dl>

</body></html>
