<!--- $Id: Sequence.spec.kml,v 1.1 2005/08/01 20:57:46 jchaw Exp $ --->

<html>
<head><title>Specification for 'Sequence'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Sequence.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Sequence</b></i></font></td></tr></table></h1>

<system-documentation name=Sequence>
<b><a href="javascript: void parent.code.goToGPD('Aggregates/gpd12310101-Aggregates.html');">How to represent aggregates</A></b><hr>


<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Aggregate');">Aggregate</a></h3>

  <dd><i>Definition:</i> 
	A Sequence is a linearly ordered  collection of individuals.
  </dd>

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>first-element</font></tt>: 
     the first element in the Sequence
  </dd>

  <dd><tt><font color=green>element</font></tt>: 
    the elements that make up the <a href="javascript: void parent.code.goToSpec('Sequence');">Sequence</a>
  </dd>

  <dd><tt><font color=green>number-of-elements</font></tt>: 
    the number of elements in the Sequence
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
     <i>John was the first of five patients that the doctor saw</i>
     <dd><tt><font color=green>first-element</font></tt>: John</slotdesctiption>
     <dd><tt><font color=green>number-of-elements</font></tt>: five</dd>
  </li>

  <li>
     <i>he played the trumps in sequence</i>
  <dd><i>Comment:</i> 
     It is not necessary to specify a <tt><font color=green>number-of-elements</font></tt> or to list the 
     <tt><font color=green>element</font></tt> of an ensemble. If you do, the system will try 
     to maintain consistency by requiring that the number of <tt><font color=green>element
     </font></tt> is at least as large as the specified <tt><font color=green>number-of-elements</font></tt>
  </dd>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Ensemble');">Ensemble</a></td><td valign=top>
     An Ensemble is a special kind of Aggregate in which the individuals
     function together to perform some task.
  </td></tr>

</table><p>

</body></html>

