<!--- $Id: slope.spec.kml,v 1.2 2006/03/01 20:20:47 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>slope</b></i></font></td></tr></table></h1>
<system-documentation name=slope>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Spatial-Entity</font></h3>
<h3><i>To: </i><font color=red>Unitless-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  the inclination of a Spatial-Entity
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
  a real number (a ratio with an assumed denominator 1); nu unit of measurement <a href="javascript: void parent.code.goToSpec('UoM-Unitless');">UoM-Unitless</a>
<p>
    <li>
      <i>the slope gains 1 meter for every 2 you walk.</i>
      <dd><tt><font color=green>number</font></tt>: .5</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: UoM-Unitless</dd>
    </li>
  </dd></dl>

  <h4>Relative Values:</h4><dl><dd>
    a relative value along with a reference concept (what is the relative value relative to?)<p>
<dd><i>values: </i>horizontal, gradual, steep, vertical</dd>
<dd><i>*horizontal-vertical-scale: </i>horizontal..gradual..steep..vertical</dd>
    <p>
    <li>
      <i>El Capitan rises vertically in front of your eyes.</i>
      <dd><tt><font color=green>value</font></tt>: vertical</dd>
      <dd><tt><font color=green>relative to</font></tt>: ground slope</dd><p>

    </li>
  </dd></dl>
</dd></dl>
</body></html>

