<html>
<head><title>Specification for 'Spatial-Entity'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Spatial-Entity.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Spatial-Entity</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a></h3>
<h3>Component Semantics:</h3>
<dl><a name=Spatial-Entity><dt><b>Spatial-Entity</b></dt></a>
  <dd><i>Definition:</i> An entity that has a location and can be related to other entities using slots like is-outside, is-above, and is-near.</dd>

<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Place');">Place</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('location');">location</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-outside');">is-outside</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('does-not-enclose');">does-not-enclose</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-inside');">is-inside</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('encloses');">encloses</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('abuts');">abuts</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-above');">is-above</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-below');">is-below</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-along');">is-along</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-at');">is-at</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-behind');">is-behind</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-in-front-of');">is-in-front-of</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-on');">is-on</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('has-on-it');">has-on-it</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-opposite');">is-opposite</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-over');">is-over</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-under');">is-under</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('is-near');">is-near</a></p>

</dl>
</body></html>
