<!--- $Id: space-int-equal.spec.kml,v 1.1 2008/02/06 02:55:55 hari5851 Exp $ --->

<html>

</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>space-int-equal</b></i></font></td></tr></table></h1>

<h3><i>From: </i><font color=blue>Spatial-Entity</font></h3>
<h3><i>To: </i><font color=red>Spatial-Entity</font></h3>

<h3>Description:</h3><dl><dd> 
  Asserts that one spatial entity is equal to another spatial entity.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The newly bought <font color=blue>house</font> was of the same size as the <font color=red>old house</font>.</i>
  </li>

</ol>
</body></html>