<!--- $Id: space-int-covers.spec.kml,v 1.3 2008/02/06 02:47:45 hari5851 Exp $ --->

<html>

</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>space-int-covers</b></i></font></td></tr></table></h1>

<h3><i>From: </i><font color=blue>Spatial-Entity</font></h3>
<h3><i>To: </i><font color=red>Spatial-Entity</font></h3>

<h3>Description:</h3><dl><dd> 
  Spatial-Entity<sub>from</sub> covers Spatial-Entity<sub>to</sub>.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The <font color=red>floor</font> at John's place had wall to wall <font color=blue>carpeting</font>.</i>
  </li>

  <li>
    <i>The laced <font color=blue>tablecloth</font> covered the large dining <font color=red>table</font>.</i>
  </li>

</ol>
</body></html>