<html>

<head><title>Specification for 'Specification'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Specification.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Specification</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Message');">Message</a></h3>

<hr>
<h3>Component Semantics:</h3>
  <dl><a name=Specification><dt><b>Specification</b></dt></a>
<dd><i>Definition:</i> 
a kind of <a href="javascript: void parent.code.goToSpec('Message');">Message</a> that is a description of something in terms of specific values of its features
</dd>
</dl>

</body></html>

