<html>
<head><title>Specification for 'Specify'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Specify.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Specify</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Action');">Action</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Specify><dt><b>Specify</b></dt></a>
  <dd><i>Definition:</i> 
     create a <a href="javascript: void parent.code.goToSpec('Specification');">Specification</a> (a feature-value description) of some object.
  </dd>
</dl>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>object</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> that is being specified.
   </dd>
   <dd><tt><font color=green>result</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Specification');">Specification</a> that is the feature-value description of the object.
   </dd>
</dl>

</body></html>
