<!--- $Id: Suggest.spec.kml,v 1.1 2005/08/01 20:57:46 jchaw Exp $ --->
<html>

<head><title>Specification for 'Suggest'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Suggest.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Suggest</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Communicate');">Communicate</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Suggest><dt><b>Suggest</b></dt></a>
  <dd><i>Definition:</i> Make a proposal, declare a plan for something.</dd>
  <dd><i>Required slot:</i> <tt><font color=green>agent</font></tt><dl>
    <dd><i>Restriction:</i> suggests <tt><font color=green>object</font></tt> </dd>
  </dl></dd>
  <dd><i>Required slot:</i> <tt><font color=green>object</font></tt><dl>
    <dd><i>Restriction:</i> a Suggestion</dd>
    <dd><i>Restriction:</i> suggested by <tt><font color=green>agent</font></tt></dd>
  </dl></dd>
  <dd><i>Required slot:</i> <tt><font color=green>recipient</font></tt><dl>
    <dd><i>Restriction:</i> a Entity</dd>
  </dl></dd>

  <dd><i>Primary slot:</i> <tt><font color=green>base</font></tt><dl>
    <dd><i>Inherited from:</i> <a href="javascript: void parent.code.goToSpec('Action');">Action</a></dd>
    <dd><i>Restriction:</i> The Message which encodes the Request being made</dd>
  </dl></dd>

  <dd><i>WordNet 1.6 Synsets:</i> <verb>propose#1, suggest#1, advise#3
  </verb></dd>  
</dl>

<hr><i>

</i>

<h3>Other Senses:</h3>
<dl>

</dl>


</body></html>


