<!--- $Id: supports.spec.kml,v 1.2 2005/12/06 21:39:13 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>supports</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>To: </i><font color=red>Event</font></h3>

<h3>Description:</h3><dl><dd> 
An Event that supports another Event.
</dd></dl>

<h3>Examples:</h3><ol>
 <li>
<i><font color=blue>The 1st brigade's attack</font> supports <font color=red>the main attack</font> carried out by the 4th brigade.</i>
 </li>

 <li>
	<i>DS artillery will <font color=blue>advance</font> through the mountains and take up positons to support <font color=red>the main attack</font>.</i>
 </li>
</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('enables');">enables</a></td><td valign=top>
enables is stronger; performing a supporting Event is intended to help in the execution of another Event.
 </td></tr>
</table><p>

</body></html>
