<!--- $Id: temperature.spec.kml,v 1.3 2006/03/01 20:20:47 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>temperature</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Tangible-Entity</font></h3>
<h3><i>To: </i><font color=red>Temperature-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  the degree of hotness or coldness of a body or environment
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units of measurement for <a href="javascript: void parent.code.goToSpec('UoM-Temperature');">UoM-Temperature</a>
<p>
    <li>
      <i>112.2 degrees celsius</i>
      <dd><tt><font color=green>number</font></tt>: 112.2</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: *degrees-celsius</dd>
    </li>
  </dd></dl>

  <h4>Relative Values:</h4><dl><dd>
    a relative value along with a reference concept (what is the relative value relative to?)<p>
<dd><i>values: </i>cold, cool, mild, warm, hot</dd>
<dd><i>*cold-hot-scale: </i>cold..cool..mild..warm..hot</dd>

<dd><i>values: </i>freezing, boiling, normal, abnormal</dd>
<dd><i>*freezing-boiling-scale: </i>freezing..boiling..normal..abnormal</dd>
    <p>
    <li>
      <i>my tea is hot relative to Sodas.</i>
      <dd><tt><font color=green>value</font></tt>: hot</dd>
      <dd><tt><font color=green>relative to</font></tt>: Soda</dd><p>

    </li>
  </dd></dl>
</dd></dl>
</body></html>

