<html>
<head><title>Specification for 'Throw'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Throw.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Throw</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Unobstruct');">Unobstruct</a></h3>
<h3>Component Semantics:</h3>
<dl><a name=Throw><dt><b>Throw</b></dt></a>
  <dd><i>Definition:</i> An agent propels an object toward a destination.</dd>

<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Propel');">Propel</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Let-Go-Of');">Let-Go-Of</a></p>

</dl>
</body></html>

