<!--- $Id: time-int-meets.spec.kml,v 1.1 2008/02/06 05:07:16 vaibhav Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>time-int-meets</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Time-Interval</font></h3>
<h3><i>To: </i><font color=red>Time-Interval</font></h3>

<h3>Description:</h3><dl><dd> 
  One time interval meets (abuts) another. More specifically, a time interval starts just when the other ends.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i><font color=blue>Eric's class</font> started at 4pm, just when <font color=red>Jessica's class</font> ended.</i>
  </li>

  <li>
    <i>The <font color=blue>summer break</font> started for the students just when the <font color=red>spring semester</font> ended.</i>
  </li>

</ol>

</body></html>
