<!--- $Id: time-int-overlaps.spec.kml,v 1.1 2008/02/01 04:57:37 vaibhav Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>time-int-overlaps</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Time-Interval</font></h3>
<h3><i>To: </i><font color=red>Time-Interval</font></h3>

<h3>Description:</h3><dl><dd> 
  One time interval overlaps with another.
  More specifically, start time of an interval is
  (a) Greater than or equal to that of another AND
  (b) Lesser than or equal to the end time of the other.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>Beethoven <font color=blue>(1770-1827)</font> and Joseph Haydn <font color=red>(1732-1809)</font> were contemporaries.</i>
  </li>

  <li>
    <i>John played tennis, from <font color=blue>5 to 6pm</font> while Tom was watching TV, from <ex-to>5:30 to 6:30pm</ex-to></i>
  </li>

</ol>

</body></html>
