<!--- $Id: time-at.spec.kml,v 1.3 2008/02/05 19:10:24 vaibhav Exp $ --->

<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>time-at</b></i></font></td></tr></table></h1>

<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>To: </i><font color=red>Time-Instant</font></h3>

<h3>Description:</h3><dl><dd> 
The time instant at which an event occurs.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>Eric <font color=blue>went</font> to the church <font color=red>yesterday</font>.</i>
  </li>

  <li>
    <i>The <font color=blue>football game</font> started at <ex-to>4:45pm</ex-to>.</i>
  </li>

</ol>

</body></html>
