<!--- $Id: time-int-before.spec.kml,v 1.3 2008/02/05 19:10:24 vaibhav Exp $ --->

<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>time-int-before</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Time-Interval</font></h3>
<h3><i>To: </i><font color=red>Time-Interval</font></h3>

<h3>Description:</h3><dl><dd> 
A time interval occurs before another. The first time interval ends before the second interval begins.
</dd></dl>

<h3>Examples:</h3><ol>
<li>
    <i>In an academic year, the <font color=blue>thanksgiving break</font> comes before the <font color=red>spring break</font>.</i>
</li>
</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('time-before');">time-before</a></td><td valign=top>
The time-before relation can be applied to either time intervals or time instants. However, time-int-before applies only to time intervals
 </td></tr>
</table><p>

</body></html>
