<!--- $Id: time-value.spec.kml,v 1.1 2008/02/08 00:10:55 vaibhav Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>time-value</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Entity</font></h3>
<h3><i>To: </i><font color=red>Duration-Value</font></h3>

<h3>Description:</h3><dl><dd> 
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
<p>
    <li>
      <i></i>
      <dd><tt><font color=green>number</font></tt>: </dd>
      <dd><tt><font color=green>unit of measure</font></tt>: </dd>
    </li>
  </dd></dl>

</dd></dl>
</body></html>
