<!--- $Id: time-of-existence.spec.kml,v 1.2 2005/12/06 21:39:13 kbarker Exp $ --->

<html>

</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>time-of-existence</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Entity</font></h3>
<h3><i>To: </i><font color=red>Time-Interval</font></h3>

<h3>Description:</h3><dl><dd> 
   asserts that an Entity exists in a particular Time-Interval
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i><font color=blue>Abraham Lincoln</font> lived <font color=red>from 1809-1865</font> (a Time-Interval).</i>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('before');">before</a></td><td valign=top>
   Asserts that one Time-Interval comes before another
 </td></tr>

 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('during');">during</a></td><td valign=top>
   Asserts that one Time-Interval is during (completely contained
   within) another
 </td></tr>

 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('temporally-overlaps');">temporally-overlaps</a></td><td valign=top>
   Asserts that one Time-Interval overlaps another, but may not be
   completely contained within it
 </td></tr>

 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('temporally-meets');">temporally-meets</a></td><td valign=top>
   Asserts that one Time-Interval meets (abuts) another
 </td></tr>

 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('temporally-starts');">temporally-starts</a></td><td valign=top>
   Asserts that two Time-Intervals begin together
 </td></tr>

 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('temporally-finishes');">temporally-finishes</a></td><td valign=top>
   Asserts that two Time-Intervals end together
 </td></tr>

</table><p>

</body></html>
