<!--- $Id: UoM-Speed.spec.kml,v 1.2 2007/04/13 15:41:54 bsagashe Exp $ --->

<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>UoM-Speed</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Unit-of-Measurement');">Unit-of-Measurement</a></h3>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3>Description:</h3><dl><dd> 
  units for measuring the <a href="javascript: void parent.code.goToSpec('speed');">speed</a>.
</dd></dl>

<unit-description>
    <unit>*centimeter-per-second</unit>
    <unit>*foot-per-second</unit> 
    <unit>*meter-per-second</unit>  
    <unit>*mile-per-second</unit>
    <unit>*kilometer-per-hour</unit>  
    <unit>*mile-per-hour</unit> 
</unit-description>
</body></html>
