<!--- $Id: UoM-Time.spec.kml,v 1.1 2005/08/01 20:57:48 jchaw Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>UoM-Time</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Unit-of-Measurement');">Unit-of-Measurement</a></h3>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3>Description:</h3><dl><dd>-- 
  units for measuring temporal properties.(<a href="javascript: void parent.code.goToSpec('duration');">duration</a>), (<a href="javascript: void parent.code.goToSpec('age');">age</a>)
</dd></dl>

<unit-description>
    <unit>*day</unit>
    <unit>*month</unit>
    <unit>*year</unit>
    <unit>*hour</unit>
    <unit>*minute</unit></unit-description>

<h3>Examples:</h3><ol>

  <li>
    <i>12 year old Scotch</i>
    <dd><tt><font color=green>property</font></tt>: age</dd>
    <dd><tt><font color=green>number</font></tt>: 12</dd>
    <dd><tt><font color=green>unit of measure</font></tt>: year</dd>
  </li><p>

  <li>
    <i>Roger ran for four minutes.</i>
    <dd><tt><font color=green>property</font></tt>: duration</dd>
    <dd><tt><font color=green>number</font></tt>: 4</dd>
    <dd><tt><font color=green>unit of measure</font></tt>: minute</dd>
  </li>

</ol>

</body></html>


    <dd><tt><font color=green>unit of measure</font></tt>: minute</dd>
  </li>

</ol>

</body></html>


