<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>UoM-Density</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Unit-of-Measurement');">Unit-of-Measurement</a></h3>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3>Description:</h3><dl><dd> 
  unit for measuring the <a href="javascript: void parent.code.goToSpec('density');">density</a> of a <conceptref name=Tangible Entity>.
</dd></dl>

<unit-description>
    <unit>*gram/liter</unit> 
</unit-description>

<h3>Examples:</h3><ol>

  <li>
    <i>The density of water is 1000 grams per liter.</i>
    <dd><tt><font color=green>property</font></tt>: density</dd>
    <dd><tt><font color=green>number</font></tt>: 1000</dd>
    <dd><tt><font color=green>unit of measure</font></tt>: gram/liter</dd>
  </li>
</ol>

</body></html>
