<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>UoM-Moment-of-Power</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Unit-of-Measurement');">Unit-of-Measurement</a></h3>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3>Description:</h3><dl><dd> 
  units for measuring the <a href="javascript: void parent.code.goToSpec('power');">power</a> of a <conceptref name=Spatial Entity>.
</dd></dl>

<unit-description>
    <unit>*watt</unit> 
    <unit>*kilowatt</unit> 
    <unit>*milliwatt</unit> 
    <unit>*megawatt</unit> 
    <unit>*horsepower</unit> 
</unit-description>
</body></html>
