<!--- $Id: UoM-Unitless.spec.kml,v 1.1 2005/08/01 20:57:48 jchaw Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>UoM-Unitless</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Unit-of-Measurement');">Unit-of-Measurement</a></h3>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3>Description:</h3><dl><dd> 
  used for property-values that do not have units of measurement.(<a href="javascript: void parent.code.goToSpec('slope');">slope</a>)
</dd></dl>

<unit-description>
    <unit></unit></unit-description>

<h3>Examples:</h3><ol>

  <li>
    <i>the slope gains 1 meter for every 2 you walk.</i>
      <dd><tt><font color=green>property</font></tt>: slope</dd>
      <dd><tt><font color=green>number</font></tt>: .5</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: UoM-Unitless</dd>
    </li>
</ol>

</body></html>




</body></html>



