<html>

<head><title>Specification for 'View'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/View.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>View</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Aggregate');">Aggregate</a></h3>

<hr>
<h3>Component Semantics:</h3>
  <dl><a name=View><dt><b>View</b></dt></a>
<dd><i>Definition:</i> 
an <a href="javascript: void parent.code.goToSpec('Aggregate');">Aggregate</a> of elements of a concept; allowing a unified way to look at the concept.
</dd>
</dl>

</body></html>
