<html>
<head><title>Specification for 'Walk'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Walk.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Walk</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Locomotion');">Locomotion</a></h3>
<h3>Component Semantics:</h3>
<dl><a name=Walk><dt><b>Walk</b></dt></a>
  <dd><i>Definition:</i> A type of Locomotion in which an agent, typically an Animal, uses at least two legs to move.</dd>

<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('length');">length</a></p>

</dl>
</body></html>


