<!--- $Id: abuts.spec.kml,v 1.1 2005/08/01 20:57:48 jchaw Exp $ --->
<html>

</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>abuts</b></i></font></td></tr></table></h1>

<h3><i>From: </i><font color=blue>Spatial-Entity</font></h3>
<h3><i>To: </i><font color=red>Spatial-Entity</font></h3>

<h3>Description:</h3><dl><dd> 
  A thing or place is adjacent to another.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The <font color=red>tennis court</font> is next to the 
    	  <font color=blue>basketball court</font>.
    </i>
  </li>
  <dd><i>Comment:</i> 
     Here "is next to" is translated to "abuts" between the tennis
     and basketball court.
  </dd>

  <li>
    <i><font color=red>Canada</font> adjoins the <font color=blue>U.S.</font></i>
  </li>
  
  <li>
    <i>The <font color=red>parking</font> is adjacent to the <font color=blue>shopping center</font></i>
  </li>  

</ol>

</body></html>

