<!--- $Id: age.spec.kml,v 1.4 2006/03/01 20:20:46 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>age</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Entity</font></h3>
<h3><i>To: </i><font color=red>Duration-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  age is a property for describing how long an Entity has existed.
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units of measurement for <a href="javascript: void parent.code.goToSpec('UoM-Duration');">UoM-Duration</a>
<p>
    <li>
      <i>12 year old Scotch</i>
      <dd><tt><font color=green>number</font></tt>: 12</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: year</dd>
    </li>
  </dd></dl>

  <h4>Relative Values:</h4><dl><dd>
    a relative value along with a reference concept (what is the relative
    value relative to?)<p>
<dd><i>values: </i>young, adolescent, juvenile, teenage, middle-aged, old</dd>
<dd><i>*young-old-scale: </i>young..adolescent..juvenile..teenage..middle-aged..old</dd>
    <p>
    <li>
      <i>She's a young woman, but she's old for a gymnast.</i>
      <dd><tt><font color=green>value</font></tt>: young</dd>
      <dd><tt><font color=green>relative to</font></tt>: Woman</dd><p>

      <dd><tt><font color=green>value</font></tt>: old</dd>
      <dd><tt><font color=green>relative to</font></tt>: Gymnast</dd>
    </li>
  </dd></dl>
</dd></dl>
</body></html>
