<!--- $Id: Artifact.spec.kml,v 1.1 2005/08/01 20:57:31 jchaw Exp $ --->
<html>

<head><title>Specification for 'Artifact'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Artifact.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Artifact</b></i></font></td></tr></table></h1><system-documentation name=Artifact>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Inanimate-Object');">Inanimate-Object</a></h3>

<dd><i>Definition:</i> 
   A man-made object
</dd>

<h3>Required Relationships:</h3><dl>

</dl>

<h3>Other Common Relationships:</h3><dl>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>He pondered at the pyramid shaped boulder: was it an artifact or nature's creation?</i>
  </li>
</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Piece-of-Substance');">Piece-of-Substance</a></td><td valign=top>
     Piece-of-Substance is an Inanimate-Object that has no macro parts, made of a single material
  </td></tr>

</table><p>

</body></html>
