<html>
<head><title>Specification for 'Be-Available'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Be-Available.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Be-Available</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('State');">State</a></h3>
<h3>Component Semantics:</h3>
<dl><a name=Be-Available><dt><b>Be-Available</b></dt></a>
  <dd><i>Definition:</i> The state resulting from an Allocate-Resource.</dd>

<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Allocate-Resource');">Allocate-Resource</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Release-Resource');">Release-Resource</a></p>

</dl>
</body></html>

