<!--- $Id: Be-Known.spec.kml,v 1.1 2005/08/01 20:57:33 jchaw Exp $ --->
<html>

<head><title>Specification for 'Be-Known'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Be-Known.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Be-Known</b></i></font></td></tr></table></h1><system-documentation name=Be-Known>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('State');">State</a></h3>

<dd><i>Definition:</i> 

 The state of <a href="javascript: void parent.code.goToSpec('Information');">Information</a> in which it is known by an entity.
 
  An object is put in this state by <a href="javascript: void parent.code.goToSpec('Interpret');">Interpret</a>.

  An object is taken out of this state by <a href="javascript: void parent.code.goToSpec('Forget');">Forget</a>.

</dd>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>object</font></tt>: 
      the <a href="javascript: void parent.code.goToSpec('Information');">Information</a> that becomes known
   </dd>
   <dd><tt><font color=green>experiencer</font></tt>: 
      the entity to which the <tt><font color=green>object</font></tt> is known
   </dd>

</dl>


<h3>Examples:</h3><ol>

   <li>
     <i>After weeks of study, John knew the algorithms.</i>
     <dd><tt><font color=green>object</font></tt>: The <a href="javascript: void parent.code.goToSpec('Information');">Information</a> for which the <tt><font color=green>information-content</font></tt> is "the algorithms"
     </dd>
     <dd><tt><font color=green>experiencer</font></tt>: John</dd>
   </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

   <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Be-Accessible');">Be-Accessible</a></td><td valign=top>
      Be-Accessible makes some tangible thing available, whereas Be-Known makes some information available.
   </td></tr>

</table><p>
   
</body></html>



