<html>
<head><title>Specification for 'Be-Standing'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Be-Standing.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Be-Standing</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('State');">State</a></h3>
<h3>Component Semantics:</h3>
<dl><a name=Be-Standing><dt><b>Be-Standing</b></dt></a>
  <dd><i>Definition:</i> A state reached by a Stand-Up action.</dd>

<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Stand-Up');">Stand-Up</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Sit-Down');">Sit-Down</a></p>

</dl>
</body></html>


