<html>
<head><title>Specification for 'Be-Unavailable'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Be-Unavailable.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Be-Unavailable</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('State');">State</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Be-Unavailable><dt><b>Be-Unavailable</b></dt></a>
  <dd><i>Definition:</i> 
     the state (of a <a href="javascript: void parent.code.goToSpec('Resource');">Resource</a> w.r.t. the original base) resulting from a <a href="javascript: void parent.code.goToSpec('Release-Resource');">Release-Resource</a>.
  </dd>
</dl>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>object</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> playing the role of a <a href="javascript: void parent.code.goToSpec('Resource');">Resource</a> that becomes unavailable.
   </dd>
</dl>

<h3>Other Common Relationships:</h3><dl>
   <dd><tt><font color=green>base</font></tt>: 
     w.r.t. which the <a href="javascript: void parent.code.goToSpec('Resource');">Resource</a> was released.
   </dd>
</dl>

</body></html>

