<!--- $Id: breakability.spec.kml,v 1.2 2005/11/10 22:48:37 tecuci Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>breakability</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Entity</font></h3>
<h3><i>To: </i><font color=red>Breakability-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  the breakability of an Entity
</dd></dl>

<h3>Value Description:</h3><dl><dd>
<h4>Relative Values:</h4><dl><dd>
    a relative value along with a reference concept (what is the relative value relative to?)<p>
<dd><i>values: </i>unbreakable, delicate, brittle, fragile, breakable</dd>
<dd><i>*breakable-unbreakable-scale: </i>unbreakable..delicate..brittle..fragile..breakable</dd>
    <p>
    <li>
      <i>my vase is delicate relative to Bones</i>
      <dd><tt><font color=green>value</font></tt>: delicate</dd>
      <dd><tt><font color=green>relative to</font></tt>: Bones</dd><p>

    </li>
  </dd></dl>
</dd></dl>
</body></html>

