<!--- $Id: Buy.spec.kml,v 1.1 2005/08/01 20:57:34 jchaw Exp $ --->
<html>
<head><title>Specification for 'Buy'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Buy.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Buy</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Obtain');">Obtain</a></h3>
<dl><a name=Buy><dt><b>Buy</b></dt></a>
  <dd><i>Definition:</i> Buy is an Obtain in which the recipient is the agent. A sum of money is exchanged.</dd>
  <dd><i>Comment:</i> Note that an instance of Buy doesn't imply that there is an instance of Sell. Each "sales transaction" is either one or the other, depending on the point of view. We don't have two instances.
</dd>

<h3>Required Relationships:</h3><dl>
	<dd><tt><font color=green>donor</font></tt>: the one who relinquishes the object being bought</dd>
</dl>

<h3>Other Common Relationships:</h3><dl>
	<dd><tt><font color=green>instrument</font></tt>: the sum of money used in the transaction</dd>
</dl>

<h3>Examples:</h3><ol>
  <li>
    <i>Jim bought my bike for $200.</i>
  	<dd><i>Comment:</i>  This is represented as a Buy with the following properties:
        <dd><tt><font color=green>agent</font></tt>: Jim</dd>
	<dd><tt><font color=green>donor</font></tt>: Jim</dd>
	<dd><tt><font color=green>instrument</font></tt>: $200</dd>
 	</dd>
  </li>
</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
	<tr><td valign=top><a href="javascript: void parent.code.goToSpec('Sell');">Sell</a></td><td valign=top>
		Sell is a Transfer in which the donor is the agent. A sum of money is exchanged.
	</td></tr>
</table><p>

</body></html>