<!--- $Id: capacity.spec.kml,v 1.2 2005/10/27 05:25:35 tecuci Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>capacity/Capacity-Value</b></i></font></td></tr></table></h1>
<system-documentation name=Capacity-Value>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Tangible-Entity</font></h3>
<h3><i>To: </i><font color=red>Capacity-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  the capacity (potential for storing or accomodating) of a Tangible-Entity
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Relative Values:</h4><dl><dd>
   a relative value along with a reference concept (what is the relative value relative to?)<p>
<dd><i>values: </i>none, roomy, capacious, unlimited</dd>
<dd><i>*none-unlimited-scale: </i>none..roomy..capacious..unlimited</dd>
    <p>
    <li>
      <i>My car is roomy for a compact car.</i>
      <dd><tt><font color=green>value</font></tt>: roomy</dd>
      <dd><tt><font color=green>relative to</font></tt>: a compact car</dd><p>
    </li>
  </dd></dl>
</dd></dl>
</body></html>

