<!--- $Id: Carrier.spec.kml,v 1.1 2005/08/01 20:57:34 jchaw Exp $ --->
<html>

<head><title>Specification for 'Carrier'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Carrier.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Carrier</b></i></font></td></tr></table></h1><system-documentation name=Carrier>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Role');">Role</a></h3>

<dd><i>Definition:</i> 

  The role played by an entity with regards to <a href="javascript: void parent.code.goToSpec('Transmit');">Transmit</a>ing a <a href="javascript: void parent.code.goToSpec('Message');">Message</a>.

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>in-event</font></tt>: 
    Must be the object of an <a href="javascript: void parent.code.goToSpec('Action');">Action</a>.
  </dd>

  <dd><tt><font color=green>played-by</font></tt>: 
    Is the role played by the <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> which is the <tt><font color=green>intrument-of</font></tt> an <a href="javascript: void parent.code.goToSpec('Action');">Action</a>.
  </dd>

</dl>


</body></html>