<!--- $Id: Cell.spec.kml,v 1.1 2005/08/23 14:32:28 kbarker Exp $ --->
<html>
<head><title>Specification for 'Cell'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Cell.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Cell</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Living-Entity');">Living-Entity</a></h3>
<h3>Component Semantics:</h3>
<dl><a name=Cell><dt><b>Cell</b></dt></a>
  <dd><i>Definition:</i>  The basic unit from which living organisms are made</dd>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Organism');">Organism</a></p>

</dl></body></html>
