<!--- $Id: Communicate.spec.kml,v 1.1 2005/08/01 20:57:35 jchaw Exp $ --->
<html>

<head><title>Specification for 'Communicate'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Communicate.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Communicate</b></i></font></td></tr></table></h1><system-documentation name=Communicate>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Action');">Action</a></h3>
<b><a href="javascript: void parent.code.goToGPD('Communication/gpd07280301-Communication.html');">How to represent Communication</A></b><hr>
<dd><i>Definition:</i> 

  Communication of <a href="javascript: void parent.code.goToSpec('Information');">Information</a> between two Entities.

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
     <a href="javascript: void parent.code.goToSpec('Information');">Information</a> being communicated.
  </dd>

</dl>


<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>agent</font></tt>: 
    The Entity that is the doing the communicating
  </dd>

  <dd><tt><font color=green>recipient</font></tt>: 
    The Entity receiving the <a href="javascript: void parent.code.goToSpec('Information');">Information</a> via the communicate
  </dd>

  <dd><tt><font color=green>base</font></tt>: 
    The <a href="javascript: void parent.code.goToSpec('Message');">Message</a> which encodes the Information being communicated
  </dd>

</dl>



<h3>Subevents:</h3><dl>

  <dd><a href="javascript: void parent.code.goToSpec('Express');"><b>Express</b></a>:
	the <tt><font color=green>object</font></tt>, which is the Information,
        is expressed by the <tt><font color=green>agent</font></tt>
  </dd>

  <dd><a href="javascript: void parent.code.goToSpec('Convey');"><b>Convey</b></a>:
    	the <tt><font color=green>object</font></tt>, which is the Information,
        is conveyed to the <tt><font color=green>recipient</font></tt>
  </dd>

  <dd><a href="javascript: void parent.code.goToSpec('Interpret');"><b>Interpret</b></a>:
    	the <tt><font color=green>object</font></tt>, which is the Information,
        is interpreted by the <tt><font color=green>recipient</font></tt>
  </dd>

</dl>

<h3>Subevent Order:</h3><dl><dd>
  <a href="javascript: void parent.code.goToSpec('Express');">Express</a> followed by <a href="javascript: void parent.code.goToSpec('Convey');">Convey</a>, followed by <a href="javascript: void parent.code.goToSpec('Interpret');">Interpret</a>
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>John told Harry that he won the competition.</i>
    <dd><tt><font color=green>object</font></tt>: John won the competition.</dd>
    <dd><tt><font color=green>agent</font></tt>: John</dd>
    <dd><tt><font color=green>recipient</font></tt>: Harry</dd>
  </li>
  <dd><i>Comment:</i> 
     Harry knows that John has won the competition after the communicate.
  </dd>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Transfer');">Transfer</a></td><td valign=top>
    Transfer involves a change of physical possession, while Communicate
    involves passing on <a href="javascript: void parent.code.goToSpec('Information');">Information</a>
  </td></tr>
 
  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Convey');">Convey</a></td><td valign=top>
    Convey involves moving a <a href="javascript: void parent.code.goToSpec('Message');">Message</a> 
    from one entity to another, while Communicate 
    also involves the expression of information as a message and the 
    interpretation of the message back into information.
    Convey is one step of Communicate.
  </td></tr>  

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Transmit');">Transmit</a></td><td valign=top>
    Transmit is the movement of a <a href="javascript: void parent.code.goToSpec('Signal');">Signal</a>.
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Send');">Send</a></td><td valign=top>
    Send involves <a href="javascript: void parent.code.goToSpec('Transfer');">Transfer</a> of a physical object
    (e.g. an envelope), while
    Communicate involves passing on <a href="javascript: void parent.code.goToSpec('Information');">Information</a>.
  </td></tr>

</table><p>

</body></html>





