<!--- $Id: Conceal.spec.kml,v 1.1 2005/08/01 20:57:35 jchaw Exp $ --->

<html>

<head><title>Specification for 'Conceal'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Conceal.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Conceal</b></i></font></td></tr></table></h1>
<system-documentation name=Conceal>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Make-Inaccessible');">Make-Inaccessible</a></h3>

<dd><i>Definition:</i> 
  Make an object concealed, possibly only with respect to some particular
  Entity or Event. This action results in the <tt><font color=green>object</font></tt> being in a
  <a href="javascript: void parent.code.goToSpec('Be-Concealed');">Be-Concealed</a> state, which can be undone by performing
  an <a href="javascript: void parent.code.goToSpec('Expose');">Expose</a> action on the <tt><font color=green>object</font></tt>.
</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
     the thing that's concealed; the object is put in a
     <a href="javascript: void parent.code.goToSpec('Be-Concealed');">Be-Concealed</a> state by this action
  </dd>

</dl>

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>agent</font></tt>: 
    the entity that causes the concealment
  </dd>

  <dd><tt><font color=green>base</font></tt>: 
     the entity or event from which the object is concealed
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>Sheilagh concealed her hideous tattoo</i>
    <dd><tt><font color=green>object</font></tt>: her hideous tattoo.</dd>
    <dd><tt><font color=green>agent</font></tt>: Sheilagh</dd>
  </li>
  <li>
    <i>Edwin concealed the engagement ring from his girlfriend.</i>
    <dd><tt><font color=green>object</font></tt>: the engagement ring</dd>
    <dd><tt><font color=green>base</font></tt>: his girlfriend</dd>
    <dd><tt><font color=green>agent</font></tt>: Edwin</dd>
  </li>
  <li>
    <i>The scalper's wares were concealed from observation.</i>
    <dd><tt><font color=green>object</font></tt>: The scalper's wares</dd>
    <dd><tt><font color=green>base</font></tt>: observation</dd>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Obstruct');">Obstruct</a></td><td valign=top>
     Obstruct affects the movement of something, but does not conceal it.
     Conceal doesn't necessarily prevent an object from being moved, or
     having any other particular action done to it.
  </td></tr>
  
  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Make-Inaccessible');">Make-Inaccessible</a></td><td valign=top>
     Conceal is more specific than Make-Inaccessible. Concealment is a 
     particular kind of inaccessibility: inaccessible to view.
  </td></tr>

</table><p>

</body></html>



