<!--- $Id: Confine.spec.kml,v 1.1 2005/08/01 20:57:35 jchaw Exp $ --->

<html>

<head><title>Specification for 'Confine'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Confine.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Confine</b></i></font></td></tr></table></h1>
<system-documentation name=Confine>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Obstruct');">Obstruct</a></h3>

<dd><i>Definition:</i> 
  Prevent an object from being moved out of its enclosure.
  This action results in the <tt><font color=green>object</font></tt> being in a
  <a href="javascript: void parent.code.goToSpec('Be-Confined');">Be-Confined</a> state, which can be undone by
  <a href="javascript: void parent.code.goToSpec('Release');">Release</a>'ing the <tt><font color=green>object</font></tt> 
</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
     The thing that's confined.  The object is put in a
     <a href="javascript: void parent.code.goToSpec('Be-Confined');">Be-Confined</a> state by this action. 
  </dd>

  <dd><tt><font color=green>base</font></tt>: 
     The Tangible-Entity, playing the role of <a href="javascript: void parent.code.goToSpec('Container');">Container</a>,
     in which the object is confined
  </dd>

</dl>

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>agent</font></tt>: 
    the entity that causes the confinement
  </dd>

  <dd><tt><font color=green>location</font></tt>: 
    the place inside the enclosure where the object is confined
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The jailer confined the prisoner to his cell.</i>
    <dd><tt><font color=green>object</font></tt>: the prisoner</dd>
    <dd><tt><font color=green>base</font></tt>: cell</dd>
    <dd><tt><font color=green>agent</font></tt>: the jailer</dd>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Block');">Block</a></td><td valign=top>
     Prevent things from moving through some place, or along some
     object, by blocking such movements.
  </td></tr>
  
  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Hold');">Hold</a></td><td valign=top>
     Hold is more specific than Obstruct.  The object that's held can 
     only be moved by the thing holding it.
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Restrain');">Restrain</a></td><td valign=top>
     Restrain is more specific than Obstruct.  It prevents the 
     object from moving at all.
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Shut-Out');">Shut-Out</a></td><td valign=top>
     Shut-Out is more specific than Obstruct.  It prevents
     the object from moving into an enclosure.
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Support');">Support</a></td><td valign=top>
     Support is more specific than Obstruct.  It prevents
     the object from falling.
  </td></tr>

</table><p>

</body></html>



