<html>

<head><title>Specification for 'Corporation'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Corporation.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Corporation</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Company');">Company</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Corporation><dt><b>Corporation</b></dt></a>
<dd><i>Definition:</i> 
  an incorporated <a href="javascript: void parent.code.goToSpec('Company');">Company</a>.
</dd>
</dl>

</body></html>
