<html>

<head><title>Specification for 'County'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/County.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>County</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Administrative-District');">Administrative-District</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=County><dt><b>County</b></dt></a>
  <dd><i>Definition:</i> a region created by territorial division for the purpose of local government (at a level lower than a State).
</dd>
</dl>

</body></html>
