<!--- $Id: density.spec.kml,v 1.3 2006/03/01 20:20:46 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>density</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Tangible-Entity</font></h3>
<h3><i>To: </i><font color=red>Density-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  the quantity per unit volume, unit area, or unit length
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units of measurement for <a href="javascript: void parent.code.goToSpec('UoM-Density');">UoM-Density</a>
<p>
    <li>
      <i>the density of water is 1kg/liter</i>
      <dd><tt><font color=green>number</font></tt>: 1000</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: gram/liter</dd>
    </li>
  </dd></dl>

  <h4>Relative Values:</h4><dl><dd>
    a relative value along with a reference concept (what is the relative value relative to?)<p>
<dd><i>values: </i>rare, dense</dd>
<dd><i>*rare-dense: </i>rare..dense</dd>
    <p>
    <li>
      <i>dense liquid</i>
      <dd><tt><font color=green>value</font></tt>: dense</dd>
      <dd><tt><font color=green>relative to</font></tt>: Liquid</dd><p>

    </li>
  </dd></dl>
</dd></dl>
</body></html>


