<!--- $Id: depth.spec.kml,v 1.3 2006/03/01 20:20:46 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>depth</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Spatial-Entity</font></h3>
<h3><i>To: </i><font color=red>Length-Value</font></h3>

<h3>Description:</h3><dl><dd> 
    the perpendicular measurement downward from a surface or the direct linear measurement from front to back
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units of measurement for <a href="javascript: void parent.code.goToSpec('UoM-Length');">UoM-Length</a>
<p>
    <li>
      <i>2 meter</i>
      <dd><tt><font color=green>number</font></tt>: 2</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: meter</dd>
    </li>
  </dd></dl>

 <h4>Relative Values:</h4><dl><dd>
    a relative value along with a reference concept (what is the relative value relative to?)<p>
<dd><i>values: </i>shallow, deep</dd>
<dd><i>*shallow-deep-scale: </i>shallow..deep</dd>
    <p>
    <li>
      <i>deep waters</i>
      <dd><tt><font color=green>value</font></tt>: deep</dd>
      <dd><tt><font color=green>relative to</font></tt>: Water</dd><p>

    </li>
  </dd></dl>
</dd></dl>
</body></html>

