<!--- $Id: Dim.spec.kml,v 1.2 2008/07/21 03:08:00 tecuci Exp $ --->
<html>

<head><title>Specification for 'Dim'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Dim.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Dim</b></i></font></td></tr></table></h1><system-documentation name=Dim>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Decrease');">Decrease</a></h3>

<dd><i>Definition:</i> 

  A <a href="javascript: void parent.code.goToSpec('Decrease');">Decrease</a> in <tt><font color=green>brightness</font></tt>

</dd>

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>from-value</font></tt>: 
    the initial value of <tt><font color=green>brightness</font></tt> before the event
  </dd>

  <dd><tt><font color=green>to-value</font></tt>: 
    the final value of <tt><font color=green>brightness</font></tt> after the event
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>John dimmed the lights.</i>
    <dd><tt><font color=green>agent</font></tt>: John</dd>
    <dd><tt><font color=green>base</font></tt>: the lights</dd>
  </li>

</ol>
<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Brighten');">Brighten</a></td><td valign=top>
     To opposite of <a href="javascript: void parent.code.goToSpec('Dim');">Dim</a>
  </td></tr>

</table><p>

</body></html>


