<!--- $Id: first-element.spec.kml,v 1.2 2005/12/06 21:39:12 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>first-element</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Aggregate</font></h3>
<h3><i>To: </i><font color=red>Entity</font></h3>

<h3>Description:</h3><dl><dd> 
The first Entity of an ordered Aggregate
</dd></dl>

<h3>Examples:</h3><ol>
 <li>
<i>The first <font color=red>person</font> <font color=blue>in line</font> will get the ticket.</i>
  </li>

 <li>
<i>The first of <font color=blue>the players</font> to enter the field was <font color=red>Joe</font></i>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('element');">element</a></td><td valign=top>
 first-element applies to ordered Aggregates, determining the first Entity among its elements.
 </td></tr>
<tr><td valign=top><a href="javascript: void parent.code.goToSpec('next-element');">next-element</a></td><td valign=top>
 next-element applies to an Entity that is element of an ordered Aggregate, indicating the Entity that follows it.
 </td></tr>
</table><p>

</body></html>
