<!--- $Id: Fuel.spec.kml,v 1.1 2007/06/05 20:28:19 porter Exp $ --->

<html>
<head><title>Specification for 'Fuel'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Fuel.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Fuel</b></i></font></td></tr></table></h1>
<system-documentation name=Fuel>
<b><a href="javascript: void parent.code.goToGPD('Roles/gpd12170101-Roles.html');">How to represent roles</A></b><hr>


<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Resource');">Resource</a></h3>

  <dd><i>Definition:</i> 
    A Fuel is the <a href="javascript: void parent.code.goToSpec('Role');">Role</a> played by an entity which is the 
    <tt><font color=green>object</font></tt> of a <a href="javascript: void parent.code.goToSpec('Burn');">Burn</a>'ing event.
    The <tt><font color=green>objective</font></tt> of the event is to <a href="javascript: void parent.code.goToSpec('Heat');">Heat</a>
    a nearby <a href="javascript: void parent.code.goToSpec('Tangible-Entity');">Tangible-Entity</a>, which is the 
    <tt><font color=green>object</font></tt> of the Heating. 
  </dd>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>played-by</font></tt>: 
     the entity that's playing the role of Fuel
   </dd>
   <dd><tt><font color=green>in-event</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Burn');">Burn</a>'ing event in which the entity is the Fuel
   </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
     <i>Coal fueled the fire.</i>
     <dd><i>Comment:</i> 
     In this example, the Fuel role is described with these properties:
     </dd>
     <dd><tt><font color=green>in-event</font></tt>: <a href="javascript: void parent.code.goToSpec('Burn');">Burn</a> with
         <tt><font color=green>object</font></tt>=Coal</dd>
     <dd><tt><font color=green>played-by</font></tt>: the coal</dd>
     </dd>
  </li>

</ol>

</body></html>

