<!--- $Id: Furniture.spec.kml,v 1.1 2005/08/01 20:57:38 jchaw Exp $ --->

<html>
<head><title>Specification for 'Furniture'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Furniture.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Furniture</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Furnishing');">Furnishing</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Cabinet');">Cabinet</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Chair');">Chair</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Couch');">Couch</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Drawer');">Drawer</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('File-Cabinet');">File-Cabinet</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Shelf');">Shelf</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Table');">Table</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Furniture><dt><b>Furniture</b></dt></a>

  <dd><i>Definition:</i>  
    Any artifact that helps make a room usable, though maybe not directly instrumental.
  </dd>

</dl>

</body></html>


