<!--- $Id: Furnishing.spec.kml,v 1.1 2005/08/01 20:57:38 jchaw Exp $ --->

<html>
<head><title>Specification for 'Furnishing'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Furnishing.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Furnishing</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Artifact');">Artifact</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Furniture');">Furniture</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Furnishing><dt><b>Furnishing</b></dt></a>

  <dd><i>Definition:</i>  
    Furniture, fixtures, room accessories, etc.
  </dd>

</dl>

</body></html>


