<!-- $Id: Gesticulate.spec.kml,v 1.1 2005/08/01 20:57:38 jchaw Exp $ -->
<html>
<head><title>Specification for 'Gesticulate'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Gesticulate.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Gesticulate</b></i></font></td></tr></table></h1><system-documentation name=Gesticulate>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Gesticulate');">Gesticulate</a></h3>

<dd><i>Definition:</i> 

The physical act of making a gesture using a body part (e.g. pointing,
looking) or using an object (e.g. a pointer).

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
    <a href="javascript: void parent.code.goToSpec('Message');">Message</a> being converted to sound.
  </dd>

  <dd><tt><font color=green>result</font></tt>: 
    the <a href="javascript: void parent.code.goToSpec('Sound');">Sound</a> that embodies the message
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>During the meeting, Fred gestured toward the whiteboard with a nod.</i>
    <dd><tt><font color=green>agent</font></tt>: Fred</dd>
    <dd><tt><font color=green>instrument</font></tt>: Fred's head</dd>
    <dd><tt><font color=green>object</font></tt>: a <a href="javascript: void parent.code.goToSpec('Message');">Message</a> that `the whiteboard is currently relevant'</dd>
    <dd><tt><font color=green>result</font></tt>: a pattern of <a href="javascript: void parent.code.goToSpec('Light');">Light</a> acting as a <a href="javascript: void parent.code.goToSpec('Signal');">Signal</a></dd>
  </li>

</ol>

</body></html>




	