<!--- $Id: Glass.spec.kml,v 1.1 2005/08/01 20:57:38 jchaw Exp $ --->

<html>
<head><title>Specification for 'Glass'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Glass.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Glass</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Solid-Substance');">Solid-Substance</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Glass><dt><b>Glass</b></dt></a>

  <dd><i>Definition:</i>  
    Any substance having a peculiar glassy appearance,
    and a conchoidal fracture, and usually produced by 
    fusion.
  </dd>

  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Solid-Substance');">Solid-Substance</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Plastic');">Plastic</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Rubber');">Rubber</a></p>

</dl>


</body></html>


