<!--- $Id: Harm.spec.kml,v 1.2 2005/08/11 21:03:03 pzyeh Exp $ --->
<html>

<head><title>Specification for 'Harm'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Harm.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Harm</b></i></font></td></tr></table></h1><system-documentation name=Harm>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Impair');">Impair</a></h3>

<dd><i>Definition:</i> 
  Harm an object that is a living thing so it becomes weakened. The object 
  can still perform its function, but at a diminished capacity.
</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
     The object that's harmed. The object is a living thing.
  </dd>

</dl>

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>agent</font></tt>: 
    the entity that caused the harm to occur.
  </dd>

  <dd><tt><font color=green>instrument</font></tt>: 
    the thing that was used to harm the object.
  </dd>

  <dd><tt><font color=green>by-means-of</font></tt>: 
    the event that caused the harm to occur.
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The man harmed the dog by neglecting the dog.</i>
    <dd><tt><font color=green>agent</font></tt>: the Man</dd>
    <dd><tt><font color=green>object</font></tt>: the Dog</dd>
    <dd><tt><font color=green>by-means-of</font></tt>: Neglect</dd>
  </li>
  <dd><i>Comment:</i> 
     The dog is a living thing that becomes weakened or diminished.
  </dd>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Impair');">Impair</a></td><td valign=top>
     An impair is a general kind of harm where the object does not
     have to be a living thing.
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Damage');">Damage</a></td><td valign=top>
     A damage is similar to a harm, but the object being damaged is
     not a living thing.
  </td></tr>

</table><p>

</body></html>


