<!--- $Id: has-example.spec.kml,v 1.2 2008/02/06 00:56:57 hari5851 Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>has-example</b></i></font></td></tr></table></h1>

<h3><i>From: </i><font color=blue>Thing</font></h3>
<h3><i>To: </i><font color=red>Thing</font></h3>

<h3>Description:</h3><dl><dd>
  Something is a typical example of a Thing.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i><font color=red>John</font> is an example of a  <font color=blue>Person</font>.</i>
  </li>

  <li>
    <i><font color=red>HCl</font> is an example of an <font color=blue>acid</font>.</i>
  </li>

</ol>

</body></html>

