<!--- $Id: has-functional-part.spec.kml,v 1.2 2005/12/06 21:39:12 kbarker Exp $ --->

<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>has-functional-part</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Entity</font></h3>
<h3><i>To: </i><font color=red>Entity</font></h3>

<h3>Description:</h3><dl><dd> 
  the parts of a whole that play some role in the functioning of
  the whole.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i><font color=blue>My house</font> has <font color=red>an electrical system, a plumbing system and a ventilation system</font>.</i>
  </li>

  <li>
    <i><font color=blue>A computer</font> consists of <ex-to>memory, software, data, processors and input/output</ex-to>.</i>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('has-structural-part');">has-structural-part</a></td><td valign=top>
   A <tt><font color=green>has-structural-part</font></tt> refers to physical parts that make 
   up the structure of the whole, but don't necessarily serve a particular
   function in the whole.
 </td></tr>

 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('has-basic-structural-unit');">has-basic-structural-unit</a></td><td valign=top>
   A <tt><font color=green>has-basic-structural-unit</font></tt> refers to the many identical 
   physical things that make up a whole.
 </td></tr>

 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('has-basic-functional-unit');">has-basic-functional-unit</a></td><td valign=top>
   A <tt><font color=green>has-basic-functional-unit</font></tt> refers to the many identical 
   things that combine functionally to make up a whole.
 </td></tr>

</table><p>


</body></html>
