<html>
<head><title>Specification for 'Head-Shake'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Head-Shake.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Head-Shake</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Gesticulate');">Gesticulate</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Head-Shake><dt><b>Head-Shake</b></dt></a>
  <dd><i>Definition:</i> 
     the physical act of turning the head from side to side, possibly repeatedly, so as to <a href="javascript: void parent.code.goToSpec('Embody');">Embody</a> a <a href="javascript: void parent.code.goToSpec('Gesture');">Gesture</a> indicating dissent.
  </dd>
</dl>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>agent</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> that is shaking its head.
   </dd>

   <dd><tt><font color=green>instrument</font></tt>: 
     the "Head" that is being shaken.
   </dd>

</dl>

</body></html>

