<!--- $Id: height.spec.kml,v 1.3 2006/03/01 20:20:46 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>height</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Spatial-Entity</font></h3>
<h3><i>To: </i><font color=red>Length-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  height is a property for describing how big the vertical distance between the top and bottom of a Spatial-Entity is
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units of measurement for <a href="javascript: void parent.code.goToSpec('UoM-Length');">UoM-Length</a>
<p>
    <li>
      <i>6 feet tall</i>
      <dd><tt><font color=green>number</font></tt>: 6</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: feet</dd>
    </li>
  </dd></dl>

  <h4>Relative Values:</h4><dl><dd>
    a relative value along with a reference concept (what is the relative value relative to?)<p>
<dd><i>values: </i>short, long</dd>
<dd><i>*short-long-scale: </i>short..long</dd>
    <p>
    <li>
      <i>tall house but short building.</i>
      <dd><tt><font color=green>value</font></tt>: tall</dd>
      <dd><tt><font color=green>relative to</font></tt>: House</dd><p>

      <dd><tt><font color=green>value</font></tt>: short</dd>
      <dd><tt><font color=green>relative to</font></tt>: Building</dd>
    </li>
    </li>
  </dd></dl>
</dd></dl>
</body></html>

