<!--- $Id: Increase.spec.kml,v 1.3 2008/07/21 03:08:01 tecuci Exp $ --->
<html>

<head><title>Specification for 'Increase'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Increase.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Increase</b></i></font></td></tr></table></h1><system-documentation name=Increase>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Action');">Action</a></h3>

<dd><i>Definition:</i> 

  A <tt><font color=green>property</font></tt> of an <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a>  or <a href="javascript: void parent.code.goToSpec('Event');">Event</a> increases

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>from-value</font></tt>: 
     the initial value of the Property that increases
  </dd>
  <dd><tt><font color=green>to-value</font></tt>: 
     the final value of the Property that increases
  </dd>

</dl>


<h3>Examples:</h3><ol>

  <li>
    <i>The water level rose from 10 to 20 inches.</i>
    <dd><tt><font color=green>base</font></tt>: waterr level</dd>
    <dd><tt><font color=green>from-value</font></tt>: 10 inches</dd>
    <dd><tt><font color=green>to-value</font></tt>: 20 inches</dd>
  </li>

  <li>
    <i>John heated the broth from freezing to 110F.</i>
    <dd><tt><font color=green>agent</font></tt>: John</dd>
    <dd><tt><font color=green>base</font></tt>: the broth</dd>
    <dd><tt><font color=green>from-value</font></tt>: freezing</dd>
    <dd><tt><font color=green>to-value</font></tt>: 110F</dd>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Decrease');">Decrease</a></td><td valign=top>
     The opposite of Increase
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Brighten');">Brighten</a></td><td valign=top>
     To increase the property <tt><font color=green>brightness</font></tt>
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Expand');">Expand</a></td><td valign=top>
     To increase the property <tt><font color=green>area</font></tt>
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Heat');">Heat</a></td><td valign=top>
     To increase the property <tt><font color=green>temperature</font></tt>	
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Wet');">Wet</a></td><td valign=top>
     To increase the property <tt><font color=green>wetness</font></tt>	
  </td></tr>

</table><p>

</body></html>


