<!--- $Id: intensity.spec.kml,v 1.3 2006/03/01 20:20:46 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>intensity/Intensity-Value</b></i></font></td></tr></table></h1>
<system-documentation name=Intensity-Value>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Thing</font></h3>
<h3><i>To: </i><font color=red>Intensity-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  the intensity of a Thing
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
  a number along with any of the units of measurement for <a href="javascript: void parent.code.goToSpec('UoM-Intensity');">UoM-Intensity</a>
<p>
    <li>
      <i>the bulb that I bought has an intensity of 1000001 *kilocalorie/mole.</i>
      <dd><tt><font color=green>number</font></tt>: 1000001</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: *kilocalorie/mole</dd>
    </li>
  </dd></dl>

  <h4>Relative Values:</h4><dl><dd>
   a relative value along with a reference concept (what is the relative value relative to?)<p>
<dd><i>values: </i>weak, strong</dd>
<dd><i>*weak-strong-scale: </i>weak..strong</dd>
    <p>
    <li>
      <i>The intensity of the newly discovered star is weak compared to that of the NorthStar.</i>
      <dd><tt><font color=green>value</font></tt>: weak</dd>
      <dd><tt><font color=green>relative to</font></tt>: the instensity of NorthStar</dd><p>
    </li>
  </dd></dl>
</dd></dl>
</body></html>

escription>
</dd></dl>
</body></html>

