<!--- $Id: interrupted-by.spec.kml,v 1.1 2008/02/01 03:35:47 hari5851 Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>interrupted-by</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>To: </i><font color=red>Event</font></h3>

<h3>Description:</h3><dl><dd>
  An event is interrupted by another event.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The <font color=blue>symphony</font> was interrupted by a terrifying <font color=red>shriek</font>.</i>
  </li>

  <li>
    <i>The primetime <font color=blue>movie</font> was interrupted by the <font color=red>news</font> of the bomb blast.</i>
  </li>

</ol>

</body></html>

