<!--- $Id: is-oriented-toward.spec.kml,v 1.3 2008/02/06 02:47:45 hari5851 Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>is-oriented-toward</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Spatial-Entity</font></h3>
<h3><i>To: </i><font color=red>Spatial-Entity</font></h3>

<h3>Description:</h3><dl><dd>

</dd></dl>
Spatially oriented toward in at least one of
several possible senses of `oriented toward'. It could mean, for
example, that Spatial-Entity<sub>from</sub> is tilted toward
Spatial-Entity<sub>to</sub>, or Spatial-Entity<sub>from</sub> faces
Spatial-Entity<sub>to</sub> (but see is-facing), or the major axis of
Spatial-Entity<sub>from</sub> points toward
Spatial-Entity<sub>to</sub>, or Spatial-Entity<sub>from</sub> has a
rotational axis toward Spatial-Entity<sub>to</sub>, etc .
<h3>Examples:</h3><ol>

  <li>
    <i>The <font color=blue>compass needle</font> shows the <font color=red>North</font>.</i>
  </li>

  <li>
    <i>The <font color=blue>street sign</font> was oriented towards the bank <font color=red>building</font>.</i>
  </li>

</ol>

</body></html>

