<!-- $Id: Light.spec.kml,v 1.1 2005/08/01 20:57:40 jchaw Exp $ -->
<html>

<head><title>Specification for 'Light'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Light.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Light</b></i></font></td></tr></table></h1><system-documentation name=Light>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Energy');">Energy</a></h3>

<dd><i>Definition:</i> 

Electromagnetic energy vibrations in the visible frequency range that propagate through a region.

</dd>

</body></html>


