<!--- $Id: Liquid-Substance.spec.kml,v 1.1 2005/08/01 20:57:40 jchaw Exp $ --->

<html>
<head><title>Specification for 'Liquid-Substance'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Liquid-Substance.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Liquid-Substance</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Fluid-Substance');">Fluid-Substance</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Water');">Water</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Liquid-Substance><dt><b>Liquid-Substance</b></dt></a>

  <dd><i>Definition:</i>  
    A substance in the liquid state at room temperature
  </dd>

  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Fluid-Substance');">Fluid-Substance</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Water');">Water</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Gas-Substance');">Gas-Substance</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Solid-Substance');">Solid-Substance</a></p>

</dl>


</body></html>


