<!--- $Id: luminous-flux.spec.kml,v 1.2 2006/03/01 20:20:46 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>luminous-flux</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Spatial-Entity</font></h3>
<h3><i>To: </i><font color=red>Luminous-Flux-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  the rate of flow of light energy
</dd></dl>

<h3>Value Description:</h3><dl><dd>
<h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units <a href="javascript: void parent.code.goToSpec('UoM-Luminous-Flux');">UoM-Luminous-Flux</a>
<p>
    <li>
      <i>this bulb has a luminous output of 100 lumens</i>
      <dd><tt><font color=green>number</font></tt>: 100</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: *lumen</dd>
    </li>
  </dd></dl>

 
</dd></dl>
</body></html>


