<!--- $Id: mass.spec.kml,v 1.3 2006/03/01 20:20:46 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>mass</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Tangible-Entity</font></h3>
<h3><i>To: </i><font color=red>Mass-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  the property of a body that causes it to have weight in a gravitational field
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units of measurement for <a href="javascript: void parent.code.goToSpec('UoM-Mass');">UoM-Mass</a>
<p>
    <li>
      <i>12 kilogram bag</i>
      <dd><tt><font color=green>number</font></tt>: 12</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: kilogram</dd>
    </li>
  </dd></dl>

  <h4>Relative Values:</h4><dl><dd>
    a relative value along with a reference concept (what is the relative value relative to?)<p>
<dd><i>values: </i>light, hefty</dd>
<dd><i>*light-hefty-scale: </i>light..hefty</dd>
    <p>
    <li>
      <i>light laptop.</i>
      <dd><tt><font color=green>value</font></tt>: light</dd>
      <dd><tt><font color=green>relative to</font></tt>: Laptop</dd><p>

    </li>
  </dd></dl>
</dd></dl>
</body></html>
