<!--- $Id: next-element.spec.kml,v 1.1 2005/08/01 20:57:51 jchaw Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>next-element/previous-element</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Entity</font></h3>
<h3><i>To: </i><font color=red>Entity</font></h3>

<h3>Description:</h3><dl><dd> 
The Entity that follows after this one in an ordered Aggregate.
</dd></dl>

<h3>Examples:</h3><ol>
 <li>
 <i><font color=red>The presentation</font> following <font color=blue>John's</font> was pretty long.</i>
  </li>

 <li>
<i><font color=red>The match that follows</font> <font color=blue>the current one</font> is the thoughest.</i> 	
  </li>
</ol>
	
<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
<tr><td valign=top><a href="javascript: void parent.code.goToSpec('first-element');">first-element</a></td><td valign=top>
 first-element applies to ordered Aggregates, designating the first Entity among its elements
 </td></tr>
</table><p>
</body></html>
