<!--- $Id: next-event.spec.kml,v 1.1 2005/08/01 20:57:51 jchaw Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>next-event/prev-event</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>To: </i><font color=red>Event</font></h3>

<h3>Description:</h3><dl><dd> 
	an Event that immediately follows temporally another Event
</dd></dl>

<h3>Examples:</h3><ol>
   <li>
	<i>They <font color=blue>had dinner</font> and then 
	they <font color=red>went to see a movie</font>.</i>
   </li>

</body></html>
