<!--- $Id: number-of-elements.spec.kml,v 1.1 2005/11/11 21:15:51 tecuci Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>number-of-elements</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Aggregate</font></h3>
<h3><i>To: </i><font color=red>Number</font></h3>

<h3>Description:</h3><dl><dd> 
  the number of elements in an Aggregate
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number
<p>
    <li>
      <i>a quartet</i>
      <dd><tt><font color=green>number</font></tt>: 4</dd>
    </li>
  </dd></dl>

</dd></dl>
</body></html>
