<!--- $Id: object.spec.kml,v 1.2 2005/12/06 21:39:12 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>object</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>To: </i><font color=red>Entity</font></h3>

<h3>Description:</h3><dl><dd> 
  the entity that is acted upon by an Event.  The main passive
  participant in the Event.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>John <font color=blue>swatted</font> <font color=red>the fly</font>.</i>
  </li>

  <li>
    <i>The robber <font color=blue>cracked open</font> <font color=red>the safe</font>.</i>
  </li>

  <li>
    <i>The bat <font color=blue>struck</font> <font color=red>the ball</font> forcefully.</i>
  </li>

</ol>

</body></html>
