<!--- $Id: Open.spec.kml,v 1.1 2005/08/01 20:57:42 jchaw Exp $ --->

<html>

<head><title>Specification for 'Open'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Open.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Open</b></i></font></td></tr></table></h1><system-documentation name=Open>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Unblock');">Unblock</a></h3>

<dd><i>Definition:</i> 

  Open a <a href="javascript: void parent.code.goToSpec('Portal');">Portal</a> in a <a href="javascript: void parent.code.goToSpec('Barrier');">Barrier</a> so
  that things can <a href="javascript: void parent.code.goToSpec('Move-Through');">Move-Through</a> it.  
</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
     The <a href="javascript: void parent.code.goToSpec('Spatial-Entity');">Spatial-Entity</a> that is Open'ed and takes on
     the role of a Portal.  This action changes the state of the object,
     from <a href="javascript: void parent.code.goToSpec('Be-Closed');">Be-Closed</a> to <a href="javascript: void parent.code.goToSpec('Be-Open');">Be-Open</a>.
  </dd>

</dl>

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>agent</font></tt>: 
    the entity that causes this action
  </dd>

  <dd><tt><font color=green>instrument</font></tt>: 
    the entity that played the role of <a href="javascript: void parent.code.goToSpec('Portal-Covering');">Portal-Covering</a> 
    before the Portal was Opened.  This action
    causes the entity to no longer play that role.
  </dd>

</dl>

<dd><i>Comment:</i> 
  The slots used to describe <a href="javascript: void parent.code.goToSpec('Make-Accessible');">Make-Accessible</a> actions
  in general can be used here, too.  For example, 
  <tt><font color=green>destination</font></tt> and <tt><font color=green>by-means-of</font></tt>.
</dd>

<h3>Examples:</h3><ol>

  <li>
    <i>John opened the door.</i>
    <dd><tt><font color=green>object</font></tt>: the doorway</dd>
    <dd><tt><font color=green>agent</font></tt>: John</dd>
    <dd><tt><font color=green>instrument</font></tt>: the door</dd>
  </li>
  <dd><i>Comment:</i> 
    The doorway becomes a Portal, and the door ceases to be a
    Portal-Covering.
  </dd>

  <li>
    <i>John opened the window with a screwdriver.</i>
    <dd><tt><font color=green>agent</font></tt>: John</dd>
    <dd><tt><font color=green>object</font></tt>: the space inside the window
                                 frame</dd>
    <dd><tt><font color=green>instrument</font></tt>: a screwdriver</dd>
  </li>
  <dd><i>Comment:</i> 
    The space inside the window frame becomes a Portal, and the window
    (the glass itself) ceases to be a Portal-Covering.
  </dd>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Make-Accessible');">Make-Accessible</a></td><td valign=top> 
     Make-Accessible is more general than Open, in that Open applies
     only to portals.
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Unblock');">Unblock</a></td><td valign=top>
     Unblock takes a blocked path and makes it accessible to 
     things moving through it or along it.
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Unobstruct');">Unobstruct</a></td><td valign=top>
     Unobstruct takes an obstructed object and allows it to move.
  </td></tr>

</table><p>

</body></html>


