<!--- $Id: Organizing.spec.kml,v 1.1 2005/08/01 20:57:42 jchaw Exp $ --->

<html>

<head><title>Specification for 'Organizing'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Organizing.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Organizing</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Management');">Management</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Organizing><dt><b>Organizing</b></dt></a>
  <dd><i>Definition:</i> an Activity involving planning and directing (a complex undertaking).
</dd>
</dl>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Activity');">Activity</a></td><td valign=top>
	an Event with multiple subevents with no (or loose) ordering.
  </td></tr>

</table><p>

</body></html>


