<!--- $Id: ParkingLot.spec.kml,v 1.1 2005/08/01 20:57:42 jchaw Exp $ --->
<html>

<head><title>Specification for 'ParkingLot'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/ParkingLot.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>ParkingLot</b></i></font></td></tr></table></h1>
<system-documentation name=ParkingLot>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Structure');">Structure</a></h3>

<dd><i>Definition:</i> 
  A Structure where cars are parked.
</dd>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Building');">Building</a></td><td valign=top>
     A Structure that contains Persons, Tangible-Entities, Walls, a Roof, Floors, Rooms, Portals, Hallways and plays the Role of a Container. 
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Room');">Room</a></td><td valign=top>
    A Structure within a Building; has Walls, Floor, Ceiling, Portal(s) and plays the Role of a Container
  </td></tr>

</table><p>

</body></html>