<!--- $Id: Perceive.spec.kml,v 1.1 2005/08/01 20:57:42 jchaw Exp $ --->
<html>
<head><title>Specification for 'Perceive'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Perceive.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Perceive</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Action');">Action</a></h3>
<dl><a name=Perceive><dt><b>Perceive</b></dt></a>
  <dd><i>Definition:</i> to become aware of through the senses</dd>

<h3>Required Relationships:</h3><dl>
</dl>

<h3>Other Common Relationships:</h3><dl>
	<dd><tt><font color=green>agent</font></tt>: 
	    The Entity that is perceiving through his/her senses.
	</dd>
</dl>

<h3>Examples:</h3><ol>
  <li>
    <i>From her position, Jane could perceive the ship coming over the horizon
    <dd><tt><font color=green>agent</font></tt>: Jane</dd>
    <dd><tt><font color=green>object</font></tt>: ship</dd>
  </li>
</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Recognize');">Recognize</a></td><td valign=top>
	A stronger form of perceive. Recognize is to be fully aware while perceive is just to be aware.
  </td></tr>
</table><p>

</body></html>

