<html>
<head><title>Specification for 'Physical-Object'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Physical-Object.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Physical-Object</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Tangible-Entity');">Tangible-Entity</a></h3>
<h3>Component Semantics:</h3>
<dl><a name=Physical-Object><dt><b>Physical-Object</b></dt></a>
  <dd><i>Definition:</i> An object that physically exists. Many verbs require Physical-Objects as slot value.</dd>

<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Living-Entity');">Living-Entity</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Inanimate-Object');">Inanimate-Object</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Area-Value');">Area-Value</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Length-Value');">Length-Value</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Wetness-Value');">Wetness-Value</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Chemical-Entity');">Chemical-Entity</a></p>

</dl>
</body></html>


