<!--- $Id: polarity.spec.kml,v 1.2 2005/10/27 05:25:35 tecuci Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>polarity/Polarity-Value</b></i></font></td></tr></table></h1>
<system-documentation name=Polarity-Value>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Chemical-Object</font></h3>
<h3><i>To: </i><font color=red>Polarity-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  the electrical polarity of a Chemical-Objects
</dd></dl>

<h3>Value Description:</h3><dl><dd>
<h4>Accepted Values:</h4><dl><dd>
     any polarity value<p>
    <dd><i>values: </i>positive, negative</dd>

<p>
    <li>
      <i>An Anion is a negative Ion.</i>
      <dd><tt><font color=green>value</font></tt>: *negative</dd>
    </li>
  </dd></dl>
</dd></dl>
</body></html>

