<html>

<head><title>Specification for 'Political-State'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Political-State.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Political-State</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Administrative-District');">Administrative-District</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Political-State><dt><b>Political-State</b></dt></a>
  <dd><i>Definition:</i> the territory occupied by one of the constituent administrative districts, specifically called a state, of a nation (<a href="javascript: void parent.code.goToSpec('Country');">Country</a>). A <a href="javascript: void parent.code.goToSpec('State');">State</a> usually has the second level of government in a <a href="javascript: void parent.code.goToSpec('Country');">Country</a>.
</dd>
</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>Texas is the second-largest state in the USA in area, after Alaska.</i>
  </li>
  <dd><i>Comment:</i> 
     Here "Texas" and "Alaska" are both States.
  </dd>

</ol>


</body></html>
