<!--- $Id: pressure.spec.kml,v 1.1 2008/02/01 03:35:47 hari5851 Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>pressure</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Spatial-Entity</font></h3>
<h3><i>To: </i><font color=red>Pressure-Value</font></h3>

<h3>Description:</h3><dl><dd>
  Gives the value of pressure for an entity.
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units of measurement for <a href="javascript: void parent.code.goToSpec('UoM-Pressure');">UoM-Pressure</a>
<p>
    <li>
      <i>High pressure locomotives can be considered to start at 350 psi.</i>
      <dd><tt><font color=green>number</font></tt>: 350</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: psi</dd>
    </li>
  </dd></dl>
</dd></dl>
</body></html>

