<html>

<head><title>Specification for 'Province'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Province.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Province</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Administrative-District');">Administrative-District</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Province><dt><b>Province</b></dt></a>
  <dd><i>Definition:</i> a territory that usually has the second level of government in a <a href="javascript: void parent.code.goToSpec('Country');">Country</a>.
</dd>
</dl>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('State');">State</a></td><td valign=top>
    A Province in political terms is usually the same as a State; different countries use different terms: USA, India use the term "State" while Canada uses the term Province.
  </td></tr>
</table><p>

</body></html>
