<!-- $Id: Read.spec.kml,v 1.1 2005/08/01 20:57:44 jchaw Exp $ -->
<html>
<head><title>Specification for 'Hear'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Hear.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Hear</b></i></font></td></tr></table></h1><system-documentation name=Hear>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Sense');">Sense</a></h3>

<dd><i>Definition:</i> 

The act of reading a physical written document (<a href="javascript: void parent.code.goToSpec('Physical-Document');">Physical-Document</a>).

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>experiencer</font></tt>: 
    The <a href="javascript: void parent.code.goToSpec('Tangible-Entity');">Tangible-Entity</a> doing the reading.
  </dd>

  <dd><tt><font color=green>object</font></tt>: 
    The <a href="javascript: void parent.code.goToSpec('Physical-Document');">Physical-Document</a> being read.
  </dd>

  <dd><tt><font color=green>result</font></tt>: 
    The <a href="javascript: void parent.code.goToSpec('Message');">Message</a> received by the experiencer as a function of the text on the page.
  </dd>

  <dd><tt><font color=green>instrument</font></tt>: 
    The sensory apparatus used in the sensing.
  </dd>

</dl>

</body></html>



