<!--- $Id: Receive.spec.kml,v 1.1 2005/08/01 20:57:44 jchaw Exp $ --->
<html>

<head><title>Specification for 'Receive'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Receive.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Receive</b></i></font></td></tr></table></h1>
<system-documentation name=Receive>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Transfer');">Transfer</a></h3>

  <dd><i>Definition:</i> 
        Change of possession of an <tt><font color=green>object</font></tt> to a
        <tt><font color=green>recipient</font></tt>.
  </dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
       the thing received
  </dd>

  <dd><tt><font color=green>recipient</font></tt>: 
       the entity that receives the <tt><font color=green>object</font></tt>, and then
       <tt><font color=green>possesses</font></tt> it
  </dd>

  </dd>

</dl>

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>agent</font></tt>: 
       the entity that causes the Receive action
  </dd>

  <dd><tt><font color=green>donor</font></tt>: 
       the entity that <tt><font color=green>possesses</font></tt> the <tt><font color=green>object</font></tt>
       before it's received by the <tt><font color=green>recipient</font></tt>
  </dd>

  <dd><tt><font color=green>instrument</font></tt>: 
       the medium of transfer of the <tt><font color=green>object</font></tt>
  </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
    <i>Mickey received a wedding gift from his mother.</i>
    <dd><tt><font color=green>object</font></tt>: wedding gift</dd>
    <dd><tt><font color=green>recipient</font></tt>: Mickey</dd>
    <dd><tt><font color=green>donor</font></tt>: his mother</dd>
  </li>

</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Transfer');">Transfer</a></td><td valign=top>
        Transfer involves a change in ownership.  Receive is a special 
        type of Transfer with a required <tt><font color=green>recipient</font></tt>
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Obtain');">Obtain</a></td><td valign=top>
        Obtain is a special type of Receive in which the <tt><font color=green>recipient</font></tt>
        intentionally gains possession of the <tt><font color=green>object</font></tt>
  </td></tr>

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Deliver');">Deliver</a></td><td valign=top>
        Deliver is a special type of Transfer performed by an 
        <tt><font color=green>agent</font></tt> who is not the <tt><font color=green>donor</font></tt>
  </td></tr>  

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Lose');">Lose</a></td><td valign=top>
        Lose is a special type of Transfer in which a <tt><font color=green>donor</font></tt>
        is mandatory
  </td></tr>  

  <tr><td valign=top><a href="javascript: void parent.code.goToSpec('Withdraw');">Withdraw</a></td><td valign=top>
        Withdraw is a special type of Transfer in which the 
        <tt><font color=green>object</font></tt> is withdrawn from a <tt><font color=green>base</font></tt>,
        thereby removing it from a <a href="javascript: void parent.code.goToSpec('Be-Stored');">Be-Stored</a> state
  </td></tr>  

</table><p>


</body></html>

