<!--- $Id: recipient.spec.kml,v 1.2 2005/12/06 21:39:13 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>recipient</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Event</font></h3>
<h3><i>To: </i><font color=red>Entity</font></h3>

<h3>Description:</h3><dl><dd> 
  The recipient of an event is the entity that receives (takes possession of) the object of the event.
</dd></dl>

<h3>Examples:</h3><ol>
  <li>
    <font color=red>The orphans</font> <font color=blue>received </font> some donations.
  </li>
  <li>
    The alumni <font color=blue>gave</font> more money to the <font color=red> library</font>.
  </li>
  <li>
    <font color=red>She</font> <font color=blue>stole</font> my heart and my cat.
  </li>
</ol>

<h3>Neighboring Concepts:</h3><table border=1 cellpadding=3 cellspacing=3><tr bgcolor=#888888><td><font color=white><b><i>Similar to...</i></b></font></td><td><font color=white><b><i>But different because...</i></b></font></td></tr>
 <tr><td valign=top><a href="javascript: void parent.code.goToSpec('beneficiary');">beneficiary</a></td><td valign=top>
        A beneficiary benefits from an event, even though there may be
        no transfer of any object.
</td></tr>
</table><p>

</body></html>
