<!--- $Id: same-type.spec.kml,v 1.2 2008/02/06 00:56:57 hari5851 Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>same-type</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Thing</font></h3>
<h3><i>To: </i><font color=red>Thing</font></h3>

<h3>Description:</h3><dl><dd>
The type of one thing is same as that of another.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <font color=blue>Adenine</font> and <font color=red>Thymine</font> are both instances of a nucleic base.
  </li>

</ol>

</body></html>

