<!-- $Id: See.spec.kml,v 1.1 2005/08/01 20:57:45 jchaw Exp $ -->
<html>
<head><title>Specification for 'See'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/See.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>See</b></i></font></td></tr></table></h1><system-documentation name=See>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Sense');">Sense</a></h3>

<dd><i>Definition:</i> 

Sensing light.

</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>experiencer</font></tt>: 
    The <a href="javascript: void parent.code.goToSpec('Tangible-Entity');">Tangible-Entity</a> doing the seeing.
  </dd>

  <dd><tt><font color=green>object</font></tt>: 
    The vibrating light wave playing the role of <a href="javascript: void parent.code.goToSpec('Signal');">Signal</a>.
  </dd>

  <dd><tt><font color=green>result</font></tt>: 
    The <a href="javascript: void parent.code.goToSpec('Message');">Message</a> received by the experiencer.
  </dd>

  <dd><tt><font color=green>instrument</font></tt>: 
    The sensory apparatus used in the sensing (eyes in he case of animals).
  </dd>

</dl>

</body></html>






