<!--- $Id: Service.spec.kml,v 1.1 2005/08/01 20:57:46 jchaw Exp $ --->
<html>

<head><title>Specification for 'Service'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Service.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Service</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Activity');">Activity</a></h3>

<dd><i>Definition:</i> 
   an <a href="javascript: void parent.code.goToSpec('Activity');">Activity</a> in which some <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a> provides some service 
   to another <cenceptref name=Entity>, for commercial purposes or not.
</dd>

<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
     the actual Service being provided
  </dd>

  <dd><tt><font color=green>donor</font></tt>: 
     the provider of the Service
  </dd>

  <dd><tt><font color=green>recipient</font></tt>: 
     that who receives the Service
  </dd>

</dl>


</body></html>
