<!--- $Id: shape.spec.kml,v 1.2 2005/11/11 21:15:51 tecuci Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>shape</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Tangible-Entity</font></h3>
<h3><i>To: </i><font color=red>Shape-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  any spatial attributes (especially as defined by outline)
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Accepted Values:</h4><dl><dd>
    any shape value<p>
    <dd><i>values: </i>circle, square, triangle, rectangle, oval, polygon, parallelogram, hollow-volume</dd>
    <p>
    <li>
      <i>an oval shadow</i>
      <dd><tt><font color=green>value</font></tt>: oval</dd>
    </li>
  </dd></dl>
</dd></dl>


</body></html>
