<!--- $Id: Solid-Substance.spec.kml,v 1.1 2005/08/01 20:57:46 jchaw Exp $ --->

<html>
<head><title>Specification for 'Solid-Substance'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Solid-Substance.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Solid-Substance</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Substance');">Substance</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Glass');">Glass</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Metal');">Metal</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Paper');">Paper</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Plastic');">Plastic</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Rubber');">Rubber</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Stone');">Stone</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Cloth');">Cloth</a></h3>
<h3>Subconcept: <a href="javascript: void parent.code.goToSpec('Wood');">Wood</a></h3>


<hr>
<h3>Component Semantics:</h3>
<dl><a name=Solid-Substance><dt><b>Solid-Substance</b></dt></a>

  <dd><i>Definition:</i>  
    A substance in the solid state at room temperature
  </dd>

  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Fluid-Substance');">Fluid-Substance</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Gas-Substance');">Gas-Substance</a></p>
  <p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Liquid-Substance');">Liquid-Substance</a></p>

</dl>


</body></html>


