<!-- $Id: Sound.spec.kml,v 1.1 2005/08/01 20:57:46 jchaw Exp $ -->
<html>

<head><title>Specification for 'Sound'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Sound.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Sound</b></i></font></td></tr></table></h1><system-documentation name=Sound>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Energy');">Energy</a></h3>

<dd><i>Definition:</i> 

Mechanical energy vibrations that propagate through a solid, liquid, or gas medium.

</dd>

</body></html>


	






