<html>
<head><title>Specification for 'Stand-Up'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Stand-Up.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Stand-Up</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Orient');">Orient</a></h3>
<h3>Component Semantics:</h3>
<dl><a name=Stand-Up><dt><b>Stand-Up</b></dt></a>
  <dd><i>Definition:</i> The act of standing up. To go to a state of Be-Standing.</dd>

<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Be-Standing');">Be-Standing</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Sit-Down');">Sit-Down</a></p>

</dl>
</body></html>

