<!--- $Id: Substance.spec.kml,v 1.1 2005/08/01 20:57:46 jchaw Exp $ --->

<html>

<head><title>Specification for 'Substance'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Substance.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Substance</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Tangible-Entity');">Tangible-Entity</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Substance><dt><b>Substance</b></dt></a>
  <dd><i>Definition:</i> A tangible entity which might have portions, in contrast to
a <a href="javascript: void parent.code.goToSpec('Physical-Object');">Physical-Object</a> which might have parts.</dd>
  <dd><i>WordNet 1.6 Synsets:</i> <noun>substance#1
  </noun></dd>
  <dd><i>WordNet 1.6 Synsets:</i> <noun>matter#3, object#1, physical_object#1
  </noun></dd>
</dl>

<hr><i>
</i>

</body></html>
