<!--- $Id: Tangible-Entity.spec.kml,v 1.1 2005/08/01 20:57:47 jchaw Exp $ --->

<html>

<head><title>Specification for 'Tangible-Entity'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Tangible-Entity.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Tangible-Entity</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a></h3>

<hr>
<h3>Component Semantics:</h3>
<dl><a name=Tangible-Entity><dt><b>Tangible-Entity</b></dt></a>
  <dd><i>Definition:</i> an Entity with physical extent</dd>
  <dd><i>Primary slot:</i> <tt><font color=green>location</font></tt><dl>
    <dd><i>Restriction:</i> a Place</dd>
  </dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>age</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>animacy</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>area</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>breakability</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>capacity</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>color</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>consistency</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>density</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>depth</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>height</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>length</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>mass</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>sentience</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>sex</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>shape</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>size</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>smell</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>taste</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>temperature</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>texture</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>thickness</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>trait</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>wetness</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>width</font></tt><dl></dl></dd>
  <dd><i>Primary slot:</i> <tt><font color=green>volume</font></tt><dl></dl></dd>
</dl>

<hr><i>
This is the top level concept for <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a>s that have physical
extent.<p>

Contrast with <a href="javascript: void parent.code.goToSpec('Intangible-Entity');">Intangible-Entity</a>.
</i>

</body></html>


