<!--- $Id: Template.spec.kml,v 1.1 2005/08/01 20:57:47 jchaw Exp $ --->

<html>
<head><title>Specification for 'Template'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Template.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Template</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Role');">Role</a></h3>

  <dd><i>Definition:</i> 
    Template is the <a href="javascript: void parent.code.goToSpec('Role');">Role</a> played by an Entity which is
    the <tt><font color=green>object</font></tt> of a <a href="javascript: void parent.code.goToSpec('Copy');">Copy</a>.
  </dd>

<h3>Required Relationships:</h3><dl>
   <dd><tt><font color=green>played-by</font></tt>: 
     the entity that's playing the role of a Template
   </dd>
   <dd><tt><font color=green>in-event</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Copy');">Copy</a> event in which the entity is a Template
   </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
     <i>John copied Mary's notes.</i>
     <dd><i>Comment:</i> 
     In this example, the Template role is described with these properties:
     </dd>
     <dd><tt><font color=green>in-event</font></tt>: <a href="javascript: void parent.code.goToSpec('Copy');">Copy</a> with 
         <tt><font color=green>agent</font></tt>=John
     </dd>
     <dd><tt><font color=green>played-by</font></tt>: Mary's notes</dd>
     
  </li>

</ol>

</body></html>



