<!--- $Id: time-int-equals.spec.kml,v 1.1 2008/02/06 05:07:16 vaibhav Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>time-int-equals</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Time-Interval</font></h3>
<h3><i>To: </i><font color=red>Time-Interval</font></h3>

<h3>Description:</h3><dl><dd> 
  Two time intervals start and end simultaneously.
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>Both, <font color=blue>Alice's class</font> and <font color=red>Bob's class</font> began and ended at the same time (2:30pm to 3:45pm)</i>
  </li>

  <li>
    <i>My <font color=blue>meeting</font> with him started and ended at the same time as his <font color=red>office hours</font>.</i>
  </li>

</ol>

</body></html>
