<!--- $Id: time-ends.spec.kml,v 1.2 2008/02/01 19:22:37 vaibhav Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>time-ends</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Temporal-Entity</font></h3>
<h3><i>To: </i><font color=red>Time-Instant</font></h3>

<h3>Description:</h3><dl><dd>
The time instant at which a time interval ends.
NOTE: The time-ends of a time instant is defined as the instant itself.  
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The football game <font color=blue>(November 24th, 2006, 4pm through 8pm)</font> ends at <font color=red>8pm on Nov 24th, 2006</font></i>
  </li>

  <li>
    <i>The final exams <font color=blue>(November 22nd, 2006 through December 7th, 2006)</font> end on <font color=red>the first thursday of december 2006.</font></i>
  </li>

</ol>

</body></html>
