<!--- $Id: time-int-contains.spec.kml,v 1.2 2008/02/05 19:10:24 vaibhav Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>time-int-contains</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Time-Interval</font></h3>
<h3><i>To: </i><font color=red>Time-Interval</font></h3>

<h3>Description:</h3><dl><dd> 
  Inverse of <a href="javascript: void parent.code.goToSpec('time-int-during');">time-int-during</a></conceptref>.
</dd></dl>

</body></html>
