<!--- $Id: time-int-finishes.spec.kml,v 1.1 2008/02/06 05:07:16 vaibhav Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>time-int-finishes</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Time-Interval</font></h3>
<h3><i>To: </i><font color=red>Time-Interval</font></h3>

<h3>Description:</h3><dl><dd> 
  Two time intervals end at the same time.  
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i><font color=blue>Eric's class</font> ended just at the same time as <font color=red>Jessica's class</font>.</i>
  </li>

  <li>
    <i>The <font color=blue>class add-drop period</font> ended on 2nd September and so did the <font color=red>tuition payment period</font>.</i>
  </li>

</ol>

</body></html>
