<!--- $Id: time-inside.spec.kml,v 1.2 2008/02/05 19:10:24 vaibhav Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>time-inside</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Time-Interval</font></h3>
<h3><i>To: </i><font color=red>Time-Instant</font></h3>

<h3>Description:</h3><dl><dd>
 The time instant occurs
 (a) simulataneously or later than the beginning of the time interval AND
 (b) simultaneously or earlier than the end of the time interval
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>Texas scored in the <font color=red>45th second</font> of <font color=blue>the game</font>.</i>
  </li>

  <li>
    <i>The shot was heard at exactly <ex-to>1:20am<ex-to> that <ex-from>night<ex-from>.</ex-to>
  </li>

</ol>

</body></html>
