<!--- $Id: to-value.spec.kml,v 1.1 2008/02/08 00:10:55 vaibhav Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Relation: <i><b>to-value</b></i></font></td></tr></table></h1>


<h3><i>From: </i><font color=blue>Increase</font></h3>
<h3><i>From: </i><font color=blue>Decrease</font></h3>
<h3><i>To: </i><font color=red>Property-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  The value of a property increases or decreases to another value.  
</dd></dl>

<h3>Examples:</h3><ol>

  <li>
    <i>The temperature at Austin <font color=blue>increased</font> to <font color=red>75 deg. F</font> in the afternoon</i>
  </li>

  <li>
    <i>The velocity of the ball thrown upwards <font color=blue>decreased</font> to <ex-to>0 m/s</ex-to>.</i>
  </li>

</ol>

</body></html>
