<!--- $Id: Transmit.spec.kml,v 1.1 2005/08/01 20:57:48 jchaw Exp $ --->
<html>

<head><title>Specification for 'Transmit'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Transmit.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Transmit</b></i></font></td></tr></table></h1><system-documentation name=Transmit>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Move');">Move</a></h3>

<dd><i>Definition:</i> 

  A <a href="javascript: void parent.code.goToSpec('Signal');">Signal</a> moves to one or more <tt><font color=green>recipient</font></tt>s. 

</dd>

<dd><i>Comment:</i> 
   Transmit is the second step of <a href="javascript: void parent.code.goToSpec('Convey');">Convey</a> (which itself 
   is a step of <a href="javascript: void parent.code.goToSpec('Communicate');">Communicate</a>). For perspective, 
   here's the overall model of convey.  First, a <a href="javascript: void parent.code.goToSpec('Message');">Message</a>
   is <a href="javascript: void parent.code.goToSpec('Embody');">Embody</a>'ed as a Tangible-Entity. 
   Second, that entity, playing the role
   of a <a href="javascript: void parent.code.goToSpec('Signal');">Signal</a>, is <a href="javascript: void parent.code.goToSpec('Transmit');">Transmit</a>ed to
   the <tt><font color=green>recipient</font></tt>s. Finally, the signal is <a href="javascript: void parent.code.goToSpec('Sense');">Sense</a>d
   by the recipient and converted back into a message.
</dd>


<h3>Required Relationships:</h3><dl>

  <dd><tt><font color=green>object</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Tangible-Entity');">Tangible-Entity</a>, playing the role of a
     <a href="javascript: void parent.code.goToSpec('Signal');">Signal</a>, that is transmitted
  </dd>

</dl>

<h3>Other Common Relationships:</h3><dl>

  <dd><tt><font color=green>agent</font></tt>: 
    the <a href="javascript: void parent.code.goToSpec('Tangible-Entity');">Tangible-Entity</a> doing the transmitting
  </dd>

  <dd><tt><font color=green>recipient</font></tt>: 
    the <a href="javascript: void parent.code.goToSpec('Tangible-Entity');">Tangible-Entity</a> receiving the signal. The 
    location of the recipient is assumed to be the <tt><font color=green>destination</font></tt>
    of the transmission.
  </dd>

  <dd><tt><font color=green>instrument</font></tt>: 
    the <a href="javascript: void parent.code.goToSpec('Tangible-Entity');">Tangible-Entity</a>, playing the role of
    <a href="javascript: void parent.code.goToSpec('Carrier');">Carrier</a> for the signal
  </dd>

  <dd><tt><font color=green>base</font></tt>: 
   the <a href="javascript: void parent.code.goToSpec('Tangible-Entity');">Tangible-Entity</a>, playing the role of
   <a href="javascript: void parent.code.goToSpec('Medium');">Medium</a> through which the signal moves
  </dd>

</dl>

<dd><i>Comment:</i> 
   See also the "Common Relationships" used to describe any 
   <a href="javascript: void parent.code.goToSpec('Move');">Move</a>
</dd>

</body></html>