<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>UoM-Worth</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Unit-of-Measurement');">Unit-of-Measurement</a></h3>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3>Description:</h3><dl><dd> 
  units for measuring the <a href="javascript: void parent.code.goToSpec('worth');">worth</a> of an <a href="javascript: void parent.code.goToSpec('Entity');">Entity</a>.
</dd></dl>

<unit-description>
    <unit>*rol</unit> 
    <unit>*ntdollar</unit> 
    <unit>*rmb</unit> 
    <unit>*sgdollar</unit> 
    <unit>*ringgit</unit> 
    <unit>*usdollar</unit> 
    <unit>*canadiandollar</unit> 
    <unit>*britishpound</unit> 
    <unit>*euro</unit> 
    <unit>*yen</unit> 
    <unit>*indianrupee</unit> 
</unit-description>

<h3>Examples:</h3><ol>

  <li>
    <i>That watch is worth a hundred euros.</i>
    <dd><tt><font color=green>property</font></tt>: worth</dd>
    <dd><tt><font color=green>number</font></tt>: 100</dd>
    <dd><tt><font color=green>unit of measure</font></tt>: euro</dd>
  </li>
</ol>

</body></html>
