<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>UoM-Volume</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Unit-of-Measurement');">Unit-of-Measurement</a></h3>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3>Description:</h3><dl><dd> 
  units for measuring the <a href="javascript: void parent.code.goToSpec('volume');">volume</a> of a <conceptref name=Spatial Entity>.
</dd></dl>

<unit-description>
    <unit>*milliliter</unit> 
    <unit> *liter</unit>  
    <unit>*gallon</unit>
</unit-description>

<h3>Examples:</h3><ol>

  <li>
    <i>My family easily finishes a liter of milk each day.</i>
    <dd><tt><font color=green>property</font></tt>: volume</dd>
    <dd><tt><font color=green>number</font></tt>: 1</dd>
    <dd><tt><font color=green>unit of measure</font></tt>: liter</dd>
  </li>
</ol>

</body></html>
