<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>UoM-Angle</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Unit-of-Measurement');">Unit-of-Measurement</a></h3>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3>Description:</h3><dl><dd> 
  units for measuring the <a href="javascript: void parent.code.goToSpec('angle');">angle</a> of a <conceptref name=Spatial Entity>.
</dd></dl>

<unit-description>
    <unit>*degree</unit> 
    <unit>*radian</unit> 
    <unit>*grad</unit> 
    <unit>*arcminute</unit> 
    <unit>*arcsecond</unit>
</unit-description>

<h3>Examples:</h3><ol>

  <li>
    <i>A right angle is ninety degrees.</i>
    <dd><tt><font color=green>property</font></tt>: angle</dd>
    <dd><tt><font color=green>number</font></tt>: 90</dd>
    <dd><tt><font color=green>unit of measure</font></tt>: degree</dd>
  </li>
</ol>

</body></html>
