<!--- $Id: UoM-Intensity.spec.kml,v 1.1 2005/08/01 20:57:48 jchaw Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>UoM-Intensity</b></i></font></td></tr></table></h1>
<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Unit-of-Measurement');">Unit-of-Measurement</a></h3>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3>Description:</h3><dl><dd> 
   units for measuring intensity.(<a href="javascript: void parent.code.goToSpec('intensity');">intensity</a>)
</dd></dl>

<unit-description>
    <unit>*kilocalorie/mole</unit></unit-description>

<h3>Examples:</h3><ol>
    <li>
      <i>the bulb that I bought has an intensity of 1000001 *kilocalorie/mole.</i>
      <dd><tt><font color=green>property</font></tt>: intensity</dd>
      <dd><tt><font color=green>number</font></tt>: 1000001</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: *kilocalorie/mole</dd>
    </li>
</ol>

</body></html>


entencelist>

</body></html>


/kml>



