<!--- $Id: Vehicle.spec.kml,v 1.1 2005/08/01 20:57:48 jchaw Exp $ --->

<html>
<head><title>Specification for 'Vehicle'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Vehicle.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Vehicle</b></i></font></td></tr></table></h1>
<system-documentation name=Vehicle>
<b><a href="javascript: void parent.code.goToGPD('Roles/gpd12170101-Roles.html');">How to represent roles</A></b><hr>


<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Role');">Role</a></h3>

  <dd><i>Definition:</i> 
    A Vehicle is the <a href="javascript: void parent.code.goToSpec('Role');">Role</a> played by an entity which is the 
    <tt><font color=green>instrument</font></tt> of a <a href="javascript: void parent.code.goToSpec('Carry');">Carry</a>'ing event. 
  </dd>

<h3>Required Relationships:</h3><dl>

   <dd><tt><font color=green>played-by</font></tt>: 
     the entity that's playing the role of Vehicle
   </dd>
   <dd><tt><font color=green>in-event</font></tt>: 
     the <a href="javascript: void parent.code.goToSpec('Carry');">Carry</a>'ing event in which the entity is the Vehicle
   </dd>

</dl>

<h3>Examples:</h3><ol>

  <li>
     <i>John rode in the wagon.</i>
     <dd><i>Comment:</i> 
     In this example, the Vehicle role is described with these properties:
     </dd>
     <dd><tt><font color=green>in-event</font></tt>: <a href="javascript: void parent.code.goToSpec('Carry');">Carry</a> with
         <tt><font color=green>object</font></tt>=John</dd>
     <dd><tt><font color=green>played-by</font></tt>: the wagon</dd>
     </dd>
  </li>

</ol>

</body></html>

