<!--- $Id: Water.spec.kml,v 1.1 2005/08/01 20:57:48 jchaw Exp $ --->
<html>
<head><title>Specification for 'Water'</title></head><body><a href=http://www.cs.utexas.edu/users/mfkb/RKF/tree/specs/Water.spec.kml>[view kml]</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Concept: <i><b>Water</b></i></font></td></tr></table></h1>

<h3>Superconcept: <a href="javascript: void parent.code.goToSpec('Inorganic-Substance');">Inorganic-Substance</a></h3><hr>
<h3>Component Semantics:</h3>
<dl><a name=Water><dt><b>Water</b></dt></a>
  <dd><i>Definition:</i>  <a href="javascript: void parent.code.goToSpec('Water');">Water</a> as a substance.  Souther. </dd>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Water-Molecule');">Water-Molecule</a></p>
<p>Relevant concepts: <a href="javascript: void parent.code.goToSpec('Inorganic-Substance');">Inorganic-Substance</a></p>

</dl></body></html>
