<!--- $Id: width.spec.kml,v 1.3 2006/03/01 20:20:47 kbarker Exp $ --->
<html>
</a><table border=0 bgcolor=black width="100%"><tr><td><font color=white><h1>Property: <i><b>width</b></i></font></td></tr></table></h1>
<b><a href="javascript: void parent.code.goToGPD('CLib-Properties.html');">How to represent properties</A></b><hr>

<h3><i>From: </i><font color=blue>Spatial-Entity</font></h3>
<h3><i>To: </i><font color=red>Length-Value</font></h3>

<h3>Description:</h3><dl><dd> 
  width is a property for describing how big the horizontal measurement taken at right angles to the length is
</dd></dl>

<h3>Value Description:</h3><dl><dd>
  <h4>Numeric Values:</h4><dl><dd>
    a number along with any of the units of measurement for <a href="javascript: void parent.code.goToSpec('UoM-Length');">UoM-Length</a>
<p>
    <li>
      <i>6 feet wide</i>
      <dd><tt><font color=green>number</font></tt>: 6</dd>
      <dd><tt><font color=green>unit of measure</font></tt>: feet</dd>
    </li>
  </dd></dl>

  <h4>Relative Values:</h4><dl><dd>
    a relative value along with a reference concept (what is the relative value relative to?)<p>
<dd><i>values: </i>narrow, wide</dd>
<dd><i>*narrow-wide-scale: </i>narow..wide</dd>
    <p>
    <li>
      <i>narrow road.</i>
      <dd><tt><font color=green>value</font></tt>: narrowtall</dd>
      <dd><tt><font color=green>relative to</font></tt>: Road</dd><p>

    </li>
  </dd></dl>
</dd></dl>
</body></html>

