;; 
;;    $Id: <a href="javascript:parent.code.dispatch('actions')">actions</a>.km,v 1.9 2007/04/10 21:29:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('actions')">actions</a> has
	 (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
	 (superslots ())
	 (subslots ())
	 (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	 (range (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	 (inverse (<a href="javascript:parent.code.dispatch('actions-of')">actions-of</a>))
	 (cardinality (N-to-N))
         (original-slot      (t))
	 (fluent-status (*Non-Fluent)))

(<a href="javascript:parent.code.dispatch('actions-of')">actions-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('actions')">actions</a>.km,v 1.9 2007/04/10 21:29:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('actions')">actions</a> has
	 (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
	 (superslots ())
	 (subslots ())
	 (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	 (range (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	 (inverse (<a href="javascript:parent.code.dispatch('actions-of')">actions-of</a>))
	 (cardinality (N-to-N))
         (original-slot      (t))
	 (fluent-status (*Non-Fluent)))

(<a href="javascript:parent.code.dispatch('actions-of')">actions-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>