<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Territory')">Territory</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('City')">City</a>, 
<a href="javascript:parent.code.dispatch('Country')">Country</a>, 
<a href="javascript:parent.code.dispatch('County')">County</a>, 
<a href="javascript:parent.code.dispatch('Political-State')">Political-State</a>, 
<a href="javascript:parent.code.dispatch('Province')">Province</a>, 

<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Administrative-District')">Administrative-District</a>.km,v 1.3 2005/04/25 02:46:33 gking Exp $
;; 

(<a href="javascript:parent.code.dispatch('Administrative-District')">Administrative-District</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Territory')">Territory</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
  (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ())
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("a <a href="javascript:parent.code.dispatch('Territory')">Territory</a> delineated on administrative grounds"))
)

(<a href="javascript:parent.code.dispatch('Administrative-District')">Administrative-District</a> has
  (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
		 (:triple "administrative_district" 1 "n")
		 (:triple "administrative_division" 1 "n")
		 (:triple "territorial_division" 1 "n")
))))

;; stubby

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>