<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Relation')">Relation</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;    $Id: <a href="javascript:parent.code.dispatch('Agentive-Relation')">Agentive-Relation</a>.km,v 1.1 2006/06/11 21:15:10 jchaw Exp $

(<a href="javascript:parent.code.dispatch('Agentive-Relation')">Agentive-Relation</a> has
		 (superclasses (<a href="javascript:parent.code.dispatch('Relation')">Relation</a>))
)</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>