<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Angle-Constant')">Angle-Constant</a>.km,v 1.1 2005/09/29 18:34:18 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Angle-Constant')">Angle-Constant</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

(<a href="javascript:parent.code.dispatch('*acute')">*acute</a> has (instance-of (<a href="javascript:parent.code.dispatch('Angle-Constant')">Angle-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*obtuse')">*obtuse</a> has (instance-of (<a href="javascript:parent.code.dispatch('Angle-Constant')">Angle-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*right')">*right</a> has (instance-of (<a href="javascript:parent.code.dispatch('Angle-Constant')">Angle-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*reflex')">*reflex</a> has (instance-of (<a href="javascript:parent.code.dispatch('Angle-Constant')">Angle-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*straight')">*straight</a> has (instance-of (<a href="javascript:parent.code.dispatch('Angle-Constant')">Angle-Constant</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>