;; 
;;    $Id: <a href="javascript:parent.code.dispatch('animacy')">animacy</a>.km,v 1.10 2007/04/10 21:29:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('animacy')">animacy</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Animacy-Value')">Animacy-Value</a>))
   (<a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> (<a href="javascript:parent.code.dispatch('Animacy-Constant')">Animacy-Constant</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('animacy-of')">animacy-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('animacy')">animacy</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "animateness" 1 "n")
                               (:triple "aliveness" 2 "n")
                               (:triple "liveness" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('animacy-of')">animacy-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('animacy')">animacy</a>.km,v 1.10 2007/04/10 21:29:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('animacy')">animacy</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Animacy-Value')">Animacy-Value</a>))
   (<a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> (<a href="javascript:parent.code.dispatch('Animacy-Constant')">Animacy-Constant</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('animacy-of')">animacy-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('animacy')">animacy</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "animateness" 1 "n")
                               (:triple "aliveness" 2 "n")
                               (:triple "liveness" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('animacy-of')">animacy-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>