<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Arithmetic-Method')">Arithmetic-Method</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Arithmetic-Product')">Arithmetic-Product</a>.km,v 1.2 2008/08/26 15:03:54 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Arithmetic-Product')">Arithmetic-Product</a> has (superclasses (<a href="javascript:parent.code.dispatch('Arithmetic-Method')">Arithmetic-Method</a>)))
(every <a href="javascript:parent.code.dispatch('Arithmetic-Product')">Arithmetic-Product</a> has 
       (<a href="javascript:parent.code.dispatch('output')">output</a> (((the property-mult of (the <a href="javascript:parent.code.dispatch('input')">input</a>
					 of Self))))))

(every <a href="javascript:parent.code.dispatch('Arithmetic-Product')">Arithmetic-Product</a> has
  (<a href="javascript:parent.code.dispatch('text-premods')">text-premods</a>  ((:seq "the product of"
                        (andify (the <a href="javascript:parent.code.dispatch('text-phrase')">text-phrase</a> of (the <a href="javascript:parent.code.dispatch('input')">input</a> of Self)))
  )))
)

(<a href="javascript:parent.code.dispatch('Arithmetic-Product')">Arithmetic-Product</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
				       (:triple "product" 5 "n")
				       (:triple "mathematical product" 1 "n")
				       ))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>