<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Action')">Action</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Authorize')">Authorize</a>.km,v 1.4 2005/10/25 03:02:08 sdbaji Exp $
;; 

(<a href="javascript:parent.code.dispatch('Authorize')">Authorize</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Action')">Action</a>))
#|(sentence-type (*punctual *conclusive))|#
)

(every <a href="javascript:parent.code.dispatch('Authorize')">Authorize</a> has
       (<a href="javascript:parent.code.dispatch('agent')">agent</a> ((a <a href="javascript:parent.code.dispatch('Entity')">Entity</a>)))
       (<a href="javascript:parent.code.dispatch('is-goal-of')">is-goal-of</a> ((a <a href="javascript:parent.code.dispatch('Entity')">Entity</a>)))
       (<a href="javascript:parent.code.dispatch('enables')">enables</a> ((a <a href="javascript:parent.code.dispatch('Authorized')">Authorized</a>)))
)


(<a href="javascript:parent.code.dispatch('Authorize')">Authorize</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			      (:triple "authorize" 1 "v")
			      (:triple "authorise" 2 "v")
			      (:triple "pass" 24 "v")
			      (:triple "clear" 4 "v")
			      (:triple "empower" 1 "v")
			      (:triple "authorise" 1 "v")
			      (:triple "authorize" 2 "v")
))))

(every <a href="javascript:parent.code.dispatch('Authorize')">Authorize</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("authorization")))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>