;; 
;;    $Id: <a href="javascript:parent.code.dispatch('away-from')">away-from</a>.km,v 1.13 2007/04/10 21:29:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('away-from')">away-from</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('Spatial-Relation')">Spatial-Relation</a>))
   (superslots ())
   (subslots ())
   (domain      (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   (range       (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
   (inverse (<a href="javascript:parent.code.dispatch('away-from-of')">away-from-of</a>))
   (<a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> (<a href="javascript:parent.code.dispatch('text-away-from')">text-away-from</a>))
   (fluent-status (*Inertial-Fluent))
   (original-slot      (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('text-away-from')">text-away-from</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
)

(<a href="javascript:parent.code.dispatch('text-away-from-of')">text-away-from-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))

(<a href="javascript:parent.code.dispatch('away-from-of')">away-from-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Spatial-Relation')">Spatial-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is away from")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('away-from')">away-from</a>.km,v 1.13 2007/04/10 21:29:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('away-from')">away-from</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('Spatial-Relation')">Spatial-Relation</a>))
   (superslots ())
   (subslots ())
   (domain      (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   (range       (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
   (inverse (<a href="javascript:parent.code.dispatch('away-from-of')">away-from-of</a>))
   (<a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> (<a href="javascript:parent.code.dispatch('text-away-from')">text-away-from</a>))
   (fluent-status (*Inertial-Fluent))
   (original-slot      (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('text-away-from')">text-away-from</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
)

(<a href="javascript:parent.code.dispatch('text-away-from-of')">text-away-from-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))

(<a href="javascript:parent.code.dispatch('away-from-of')">away-from-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Spatial-Relation')">Spatial-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is away from")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>