<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Room')">Room</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;    $Id: <a href="javascript:parent.code.dispatch('Bathroom')">Bathroom</a>.km,v 1.4 2004/09/09 21:41:51 jfan Exp $
(<a href="javascript:parent.code.dispatch('Bathroom')">Bathroom</a> has
	  (superclasses (<a href="javascript:parent.code.dispatch('Room')">Room</a>))
	  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
	  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
	  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
	  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
	  (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ()))


;; stubby


(<a href="javascript:parent.code.dispatch('Bathroom')">Bathroom</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set 
			    (:triple "bathroom" 1 "n")
			    (:triple "bath" 6 "n")
			    ))))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>