<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('State')">State</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Be-Contained')">Be-Contained</a>.km,v 1.14 2004/07/20 22:28:55 gking Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Be-Contained')">Be-Contained</a> has
	      (superclasses (<a href="javascript:parent.code.dispatch('State')">State</a>))
	      (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> (<a href="javascript:parent.code.dispatch('object')">object</a>))
	      (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
	      (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
	      (<a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a> (<a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a>))
	      (<a href="javascript:parent.code.dispatch('defeated-by-class')">defeated-by-class</a> (<a href="javascript:parent.code.dispatch('Move-Out-Of')">Move-Out-Of</a>))
	      (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
	      (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ()))

(every <a href="javascript:parent.code.dispatch('Be-Contained')">Be-Contained</a> has
	(<a href="javascript:parent.code.dispatch('object')">object</a> ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
	(<a href="javascript:parent.code.dispatch('base')">base</a> ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
	(<a href="javascript:parent.code.dispatch('origin')">origin</a> ((a <a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>)))
	(<a href="javascript:parent.code.dispatch('destination')">destination</a> ((a <a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))) 
	(<a href="javascript:parent.code.dispatch('resulting-state-of')">resulting-state-of</a> ((must-be-a <a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a> with 
				(<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))
				(<a href="javascript:parent.code.dispatch('base')">base</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self)))
	)))
 	(<a href="javascript:parent.code.dispatch('defeated-by')">defeated-by</a> ((must-be-a <a href="javascript:parent.code.dispatch('Move-Out-Of')">Move-Out-Of</a> with 
				(<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))
				(<a href="javascript:parent.code.dispatch('base')">base</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self)))
	)))
)


(every <a href="javascript:parent.code.dispatch('Be-Contained')">Be-Contained</a> has
   (<a href="javascript:parent.code.dispatch('text-particle')">text-particle</a> ("contained"))
)





;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Be-Contained')">Be-Contained</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                           (:triple "contain" 2 "v")
                                           (:triple "bear" 7 "v")
                                           (:triple "carry" 7 "v")
                                           (:triple "hold" 9 "v")
))))

(<a href="javascript:parent.code.dispatch('Be-Contained')">Be-Contained</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                           (:triple "contain" 2 "v")
                                           (:triple "bear" 7 "v")
                                           (:triple "carry" 7 "v")
                                           (:triple "hold" 8 "v")
))))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>