<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('State')">State</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Be-Stable')">Be-Stable</a>.km,v 1.6 2004/07/20 22:28:55 gking Exp $
;; 

(<a href="javascript:parent.code.dispatch('Be-Stable')">Be-Stable</a> has
  (superclasses		(<a href="javascript:parent.code.dispatch('State')">State</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> 	(<a href="javascript:parent.code.dispatch('object')">object</a>))
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>   	(<a href="javascript:parent.code.dispatch('base')">base</a>))
;  (<a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a>      (Stabilize))              ; not sure if we want these
;  (<a href="javascript:parent.code.dispatch('defeated-by-class')">defeated-by-class</a>    (Destabilize))
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> 	((:seq <a href="javascript:parent.code.dispatch('object')">object</a> "stable thing")
			 (:seq <a href="javascript:parent.code.dispatch('base')">base</a> "the thing the <a href="javascript:parent.code.dispatch('object')">object</a> is stable with respect to")
			)))

(every <a href="javascript:parent.code.dispatch('Be-Stable')">Be-Stable</a> has
  (<a href="javascript:parent.code.dispatch('object')">object</a> ((a <a href="javascript:parent.code.dispatch('Entity')">Entity</a>)))
  (<a href="javascript:parent.code.dispatch('base')">base</a> ((must-be-a <a href="javascript:parent.code.dispatch('Thing')">Thing</a>)))
)

(every <a href="javascript:parent.code.dispatch('Be-Stable')">Be-Stable</a> has
   (<a href="javascript:parent.code.dispatch('text-particle')">text-particle</a> ("stable"))
)





;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Be-Stable')">Be-Stable</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                        (:triple "stable" 1 "a")
                                        (:triple "stable" 2 "a")
                                        (:triple "stable" 3 "a")
                                        (:triple "stable" 4 "a")
                                        (:triple "stable" 5 "a")
                                        (:triple "static" 3 "a")
                                        (:triple "unchanging" 3 "a")
))))

(<a href="javascript:parent.code.dispatch('Be-Stable')">Be-Stable</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                        (:triple "stable" 1 "a")
                                        (:triple "stable" 2 "a")
                                        (:triple "stable" 3 "a")
                                        (:triple "stable" 4 "a")
                                        (:triple "stable" 5 "a")
                                        (:triple "static" 4 "a")
                                        (:triple "unchanging" 3 "a")
))))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>