<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Be-Broken')">Be-Broken</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Be-Ruined')">Be-Ruined</a>.km,v 1.16 2004/09/09 19:14:58 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Be-Ruined')">Be-Ruined</a> has
	   (superclasses (<a href="javascript:parent.code.dispatch('Be-Broken')">Be-Broken</a>))
	   (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
	   (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
	   (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
           (<a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a>      (<a href="javascript:parent.code.dispatch('Ruin')">Ruin</a>))
	   (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ()))

(every <a href="javascript:parent.code.dispatch('Be-Ruined')">Be-Ruined</a> has
       (<a href="javascript:parent.code.dispatch('object')">object</a> ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
       ;; cannot bring out of <a href="javascript:parent.code.dispatch('Be-Ruined')">Be-Ruined</a> state what-so-ever.
       (<a href="javascript:parent.code.dispatch('defeated-by')">defeated-by</a> ((mustnt-be-a <a href="javascript:parent.code.dispatch('Action')">Action</a> with
				  (<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))))
       (<a href="javascript:parent.code.dispatch('resulting-state-of')">resulting-state-of</a> ((must-be-a <a href="javascript:parent.code.dispatch('Ruin')">Ruin</a> with
				  (<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))))
)

(every <a href="javascript:parent.code.dispatch('Be-Ruined')">Be-Ruined</a> has
  (<a href="javascript:parent.code.dispatch('text-particle')">text-particle</a> ("ruined"))
)



;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Be-Ruined')">Be-Ruined</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                        (:triple "broken" 11 "a")
                                        (:triple "busted" 3 "a")
))))

(<a href="javascript:parent.code.dispatch('Be-Ruined')">Be-Ruined</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "broken" 11 "a")
                                   (:triple "busted" 3 "a")
                                   (:triple "irreparable" 1 "a")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>