<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Be-Unblocked')">Be-Unblocked</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Be-Open')">Be-Open</a>.km,v 1.20 2004/07/20 22:28:55 gking Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Be-Open')">Be-Open</a> has
  (superclasses 	(<a href="javascript:parent.code.dispatch('Be-Unblocked')">Be-Unblocked</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> 	(<a href="javascript:parent.code.dispatch('object')">object</a>))
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>	 	())
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> 	())
  (<a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a>      (<a href="javascript:parent.code.dispatch('Open')">Open</a>))
  (<a href="javascript:parent.code.dispatch('defeated-by-class')">defeated-by-class</a>    (<a href="javascript:parent.code.dispatch('Close')">Close</a>))
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> 	(
			 (:seq <a href="javascript:parent.code.dispatch('object')">object</a> "the thing that is open")
			)))

(every <a href="javascript:parent.code.dispatch('Be-Open')">Be-Open</a> has
;;LOOSE SPEAK what about opening the <a href="javascript:parent.code.dispatch('object')">object</a> its self, the container.
;;An example would be a zip-lock bag (Jarred)

  (<a href="javascript:parent.code.dispatch('object')">object</a>		((a <a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a> with 
			    (<a href="javascript:parent.code.dispatch('plays')">plays</a> ((a <a href="javascript:parent.code.dispatch('Portal')">Portal</a>))))))
  (<a href="javascript:parent.code.dispatch('resulting-state-of')">resulting-state-of</a> 	((must-be-a <a href="javascript:parent.code.dispatch('Open')">Open</a> with
			   (<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))))
  (<a href="javascript:parent.code.dispatch('defeated-by')">defeated-by</a> 		((must-be-a <a href="javascript:parent.code.dispatch('Close')">Close</a> with
			   (<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))))))

(every <a href="javascript:parent.code.dispatch('Be-Open')">Be-Open</a> has
   (<a href="javascript:parent.code.dispatch('text-particle')">text-particle</a> ("open"))
)

(<a href="javascript:parent.code.dispatch('Be-Open')">Be-Open</a> has (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ()))


;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Be-Open')">Be-Open</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set
                                      (:triple "open" 1 "a")
                                      (:triple "unfastened" 2 "a")
                                      (:triple "open" 5 "a")
                                      (:triple "opened" 1 "a")
))))

(<a href="javascript:parent.code.dispatch('Be-Open')">Be-Open</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                      (:triple "open" 1 "a")
                                      (:triple "unfastened" 2 "a")
                                      (:triple "open" 5 "a")
                                      (:triple "opened" 1 "a")
))))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>