<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Be-Blocked')">Be-Blocked</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
; 
;;    $Id: <a href="javascript:parent.code.dispatch('Be-Closed')">Be-Closed</a>.km,v 1.17 2004/09/09 19:14:58 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Be-Closed')">Be-Closed</a> has
  (superclasses         (<a href="javascript:parent.code.dispatch('Be-Blocked')">Be-Blocked</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a>        (<a href="javascript:parent.code.dispatch('object')">object</a>))
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>         ())
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a>       ())
  (<a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a>      (<a href="javascript:parent.code.dispatch('Close')">Close</a>))
  (<a href="javascript:parent.code.dispatch('defeated-by-class')">defeated-by-class</a>    (<a href="javascript:parent.code.dispatch('Open')">Open</a>))
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a>  (
                         (:seq <a href="javascript:parent.code.dispatch('object')">object</a> "<a href="javascript:parent.code.dispatch('path')">path</a> that's closed")
                        )))

(every <a href="javascript:parent.code.dispatch('Be-Closed')">Be-Closed</a> has
;;With "Loose <a href="javascript:parent.code.dispatch('Speak')">Speak</a>", we'd like the user to be able to say that any of
;;following are objects of <a href="javascript:parent.code.dispatch('Be-Closed')">Be-Closed</a>: a container, the container's portal,
;;the portal's portal-covering.  
  (<a href="javascript:parent.code.dispatch('object')">object</a>               ((exactly 1 <a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>)))
  (<a href="javascript:parent.code.dispatch('instrument')">instrument</a>           ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> with
                            (<a href="javascript:parent.code.dispatch('plays')">plays</a> ((a <a href="javascript:parent.code.dispatch('Portal-Covering')">Portal-Covering</a>))))))
  (<a href="javascript:parent.code.dispatch('resulting-state-of')">resulting-state-of</a>   ((must-be-a <a href="javascript:parent.code.dispatch('Close')">Close</a> with
                           (<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))))
  (<a href="javascript:parent.code.dispatch('defeated-by')">defeated-by</a>          ((must-be-a <a href="javascript:parent.code.dispatch('Open')">Open</a> with
                           (<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))))))

(every <a href="javascript:parent.code.dispatch('Be-Closed')">Be-Closed</a> has
   (<a href="javascript:parent.code.dispatch('text-particle')">text-particle</a> ("closed"))
)


(<a href="javascript:parent.code.dispatch('Be-Closed')">Be-Closed</a> has (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ()))

(<a href="javascript:parent.code.dispatch('Be-Closed')">Be-Closed</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "closed" 3 "a")
                                   (:triple "shut" 1 "a")
                                   (:triple "unopen" 1 "a")
                                   (:triple "closed" 4 "a")
                                   (:triple "shut" 2 "a")
                                   (:triple "closed" 6 "a")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>