<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Be-Accessible')">Be-Accessible</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Be-Activated')">Be-Activated</a>.km,v 1.13 2005/10/24 14:37:53 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Be-Activated')">Be-Activated</a> has
  (superclasses         (<a href="javascript:parent.code.dispatch('Be-Accessible')">Be-Accessible</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a>        (<a href="javascript:parent.code.dispatch('object')">object</a>))
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>         ())
  (<a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a>      (<a href="javascript:parent.code.dispatch('Activate')">Activate</a>))
  (<a href="javascript:parent.code.dispatch('defeated-by-class')">defeated-by-class</a>    (<a href="javascript:parent.code.dispatch('Deactivate')">Deactivate</a>))
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a>  (
                         (:seq <a href="javascript:parent.code.dispatch('object')">object</a> "the thing that's active")
                        )))

(every <a href="javascript:parent.code.dispatch('Be-Activated')">Be-Activated</a> has 
       (<a href="javascript:parent.code.dispatch('object')">object</a> ((a <a href="javascript:parent.code.dispatch('Entity')">Entity</a>)))
)

(every <a href="javascript:parent.code.dispatch('Be-Activated')">Be-Activated</a> has
   (<a href="javascript:parent.code.dispatch('text-particle')">text-particle</a> ("activated"))
)


;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Be-Activated')">Be-Activated</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                           (:triple "activated" 3 "a")
                                           (:triple "active" 13 "a")
                                           (:triple "on" 1 "a")
))))

(<a href="javascript:parent.code.dispatch('Be-Activated')">Be-Activated</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                           (:triple "activated" 3 "a")
                                           (:triple "active" 12 "a")
                                           (:triple "on" 1 "a")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>