;; 
;;    $Id: <a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a>.km,v 1.18 2007/04/10 21:29:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a> has
  (instance-of 		(<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
  (superslots 		())
  (subslots 		())
  (domain      		(<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (range       		(<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
  (fluent-status        (*Inertial-Fluent))
  (inverse 		(<a href="javascript:parent.code.dispatch('beneficiary-of')">beneficiary-of</a>))
  (<a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> 		(<a href="javascript:parent.code.dispatch('text-beneficiary')">text-beneficiary</a>))
  (original-slot      (t))	
  (cardinality 	 	(N-to-N)))

(<a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("benefits")))

(<a href="javascript:parent.code.dispatch('text-beneficiary')">text-beneficiary</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
)

(<a href="javascript:parent.code.dispatch('text-beneficiary-of')">text-beneficiary-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))

(<a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                     (:triple "benefactive_role" 1 "n")
                                     (:triple "<a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a>" 2 "n")
                                     (:triple "profit" 1 "v")
                                     (:triple "gain" 3 "v")
                                     (:triple "benefit" 1 "v")
                                     (:triple "benefit" 2 "v")
                                     (:triple "do_good" 1 "v")
))))


(<a href="javascript:parent.code.dispatch('beneficiary-of')">beneficiary-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is <a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a> of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a>.km,v 1.18 2007/04/10 21:29:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a> has
  (instance-of 		(<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
  (superslots 		())
  (subslots 		())
  (domain      		(<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (range       		(<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
  (fluent-status        (*Inertial-Fluent))
  (inverse 		(<a href="javascript:parent.code.dispatch('beneficiary-of')">beneficiary-of</a>))
  (<a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> 		(<a href="javascript:parent.code.dispatch('text-beneficiary')">text-beneficiary</a>))
  (original-slot      (t))	
  (cardinality 	 	(N-to-N)))

(<a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("benefits")))

(<a href="javascript:parent.code.dispatch('text-beneficiary')">text-beneficiary</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
)

(<a href="javascript:parent.code.dispatch('text-beneficiary-of')">text-beneficiary-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))

(<a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                     (:triple "benefactive_role" 1 "n")
                                     (:triple "<a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a>" 2 "n")
                                     (:triple "profit" 1 "v")
                                     (:triple "gain" 3 "v")
                                     (:triple "benefit" 1 "v")
                                     (:triple "benefit" 2 "v")
                                     (:triple "do_good" 1 "v")
))))


(<a href="javascript:parent.code.dispatch('beneficiary-of')">beneficiary-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is <a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a> of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>