
;;
;;  $Id: <a href="javascript:parent.code.dispatch('brightness')">brightness</a>.km,v 1.11 2007/04/10 21:29:47 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('brightness')">brightness</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Brightness-Value')">Brightness-Value</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Brightness-Constant')">Brightness-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Brightness')">UoM-Brightness</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Brightness-Scale')">Brightness-Scale</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('brightness-of')">brightness-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('brightness')">brightness</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('brightness')">brightness</a>" 1 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('brightness')">brightness</a>" 3 "n")
                               (:triple "luminosity" 1 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('brightness')">brightness</a> level" 1 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('luminance')">luminance</a>" 1 "n")
                               (:triple "luminousness" 1 "n")
                               (:triple "light" 4 "n")
))))

(<a href="javascript:parent.code.dispatch('brightness-of')">brightness-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>
;;
;;  $Id: <a href="javascript:parent.code.dispatch('brightness')">brightness</a>.km,v 1.11 2007/04/10 21:29:47 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('brightness')">brightness</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Brightness-Value')">Brightness-Value</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Brightness-Constant')">Brightness-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Brightness')">UoM-Brightness</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Brightness-Scale')">Brightness-Scale</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('brightness-of')">brightness-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('brightness')">brightness</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('brightness')">brightness</a>" 1 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('brightness')">brightness</a>" 3 "n")
                               (:triple "luminosity" 1 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('brightness')">brightness</a> level" 1 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('luminance')">luminance</a>" 1 "n")
                               (:triple "luminousness" 1 "n")
                               (:triple "light" 4 "n")
))))

(<a href="javascript:parent.code.dispatch('brightness-of')">brightness-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>