<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Scale')">Scale</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Brightness-Scale')">Brightness-Scale</a>.km,v 1.1 2002/06/11 22:11:32 jarred Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Brightness-Scale')">Brightness-Scale</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Scale')">Scale</a>)))
 
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>