;; 
;;    $Id: <a href="javascript:parent.code.dispatch('capability')">capability</a>.km,v 1.14 2007/04/10 21:29:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('capability')">capability</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
       (range (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
       (fluent-status (*Inertial-Fluent))
       (inverse (<a href="javascript:parent.code.dispatch('capability-of')">capability-of</a>))
       (original-slot      (t))	
       (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('capability')">capability</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has the <a href="javascript:parent.code.dispatch('capability')">capability</a> to be")))
(<a href="javascript:parent.code.dispatch('capability-of')">capability-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is a <a href="javascript:parent.code.dispatch('capability')">capability</a> of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('capability')">capability</a>.km,v 1.14 2007/04/10 21:29:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('capability')">capability</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
       (range (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
       (fluent-status (*Inertial-Fluent))
       (inverse (<a href="javascript:parent.code.dispatch('capability-of')">capability-of</a>))
       (original-slot      (t))	
       (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('capability')">capability</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has the <a href="javascript:parent.code.dispatch('capability')">capability</a> to be")))
(<a href="javascript:parent.code.dispatch('capability-of')">capability-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is a <a href="javascript:parent.code.dispatch('capability')">capability</a> of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>