;; 
;;    $Id: <a href="javascript:parent.code.dispatch('capacity')">capacity</a>.km,v 1.13 2007/04/10 21:29:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('capacity')">capacity</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Capacity-Value')">Capacity-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Capacity-Scale')">Capacity-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Capacity-Constant')">Capacity-Constant</a>))      
   (inverse 	(<a href="javascript:parent.code.dispatch('capacity-of')">capacity-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('capacity')">capacity</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('capacity')">capacity</a>" 3 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('capacity')">capacity</a>" 6 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('content')">content</a>" 4 "n")
))))

(<a href="javascript:parent.code.dispatch('capacity-of')">capacity-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('capacity')">capacity</a>.km,v 1.13 2007/04/10 21:29:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('capacity')">capacity</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Capacity-Value')">Capacity-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Capacity-Scale')">Capacity-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Capacity-Constant')">Capacity-Constant</a>))      
   (inverse 	(<a href="javascript:parent.code.dispatch('capacity-of')">capacity-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('capacity')">capacity</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('capacity')">capacity</a>" 3 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('capacity')">capacity</a>" 6 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('content')">content</a>" 4 "n")
))))

(<a href="javascript:parent.code.dispatch('capacity-of')">capacity-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>