;;
;; $Id: <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a>.km,v 1.9 2007/04/10 21:29:48 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Property')">Property</a>))
   (range  (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>))
   (cardinality (N-to-N))
   (original-slot      (t))	
   (fluent-status (*Non-Fluent))
) 

(<a href="javascript:parent.code.dispatch('categorical-constant-class-of')">categorical-constant-class-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;;
;; $Id: <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a>.km,v 1.9 2007/04/10 21:29:48 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Property')">Property</a>))
   (range  (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>))
   (cardinality (N-to-N))
   (original-slot      (t))	
   (fluent-status (*Non-Fluent))
) 

(<a href="javascript:parent.code.dispatch('categorical-constant-class-of')">categorical-constant-class-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>