<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Categorical')">Categorical</a>.km,v 1.1 2005/02/14 22:52:54 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Categorical')">Categorical</a> has (superclasses (<a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>