;; 
;;    $Id: <a href="javascript:parent.code.dispatch('causes')">causes</a>.km,v 1.14 2007/12/04 17:35:03 tecuci Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('causes')">causes</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (range (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (inverse (<a href="javascript:parent.code.dispatch('caused-by')">caused-by</a>))
       (<a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> (<a href="javascript:parent.code.dispatch('text-causes')">text-causes</a>))
       (original-slot      (t))	
       (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('caused-by')">caused-by</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
       (<a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> (<a href="javascript:parent.code.dispatch('text-caused-by')">text-caused-by</a>))
)

(<a href="javascript:parent.code.dispatch('causes')">causes</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('causes')">causes</a>"))
	(<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "cause" 1 "v")))))

(<a href="javascript:parent.code.dispatch('caused-by')">caused-by</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is caused by")))

(<a href="javascript:parent.code.dispatch('text-causes')">text-causes</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
   (inverse (<a href="javascript:parent.code.dispatch('text-caused-by')">text-caused-by</a>))
)

(<a href="javascript:parent.code.dispatch('text-caused-by')">text-caused-by</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
)




</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('causes')">causes</a>.km,v 1.14 2007/12/04 17:35:03 tecuci Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('causes')">causes</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (range (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (inverse (<a href="javascript:parent.code.dispatch('caused-by')">caused-by</a>))
       (<a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> (<a href="javascript:parent.code.dispatch('text-causes')">text-causes</a>))
       (original-slot      (t))	
       (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('caused-by')">caused-by</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
       (<a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> (<a href="javascript:parent.code.dispatch('text-caused-by')">text-caused-by</a>))
)

(<a href="javascript:parent.code.dispatch('causes')">causes</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('causes')">causes</a>"))
	(<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "cause" 1 "v")))))

(<a href="javascript:parent.code.dispatch('caused-by')">caused-by</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is caused by")))

(<a href="javascript:parent.code.dispatch('text-causes')">text-causes</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
   (inverse (<a href="javascript:parent.code.dispatch('text-caused-by')">text-caused-by</a>))
)

(<a href="javascript:parent.code.dispatch('text-caused-by')">text-caused-by</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
)




</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>