;; 
;;    $Id: <a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a>.km,v 1.6 2007/04/10 21:29:48 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a> has
                 (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
                 (superslots ())
                 (subslots ())
                 (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))    ;; Class
                 #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#     ;; Class
                 (fluent-status (*Non-Fluent))
                 (original-slot      (t))	
                 (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('caused-by-class-of')">caused-by-class-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a>.km,v 1.6 2007/04/10 21:29:48 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a> has
                 (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
                 (superslots ())
                 (subslots ())
                 (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))    ;; Class
                 #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#     ;; Class
                 (fluent-status (*Non-Fluent))
                 (original-slot      (t))	
                 (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('caused-by-class-of')">caused-by-class-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>