<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>.km,v 1.1 2005/06/09 00:49:57 jfan Exp $ 
;; 

; a <a href="javascript:parent.code.dispatch('Group')">Group</a> of Slot's used by text gen and other NL tasks

(<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a> has
	       (superclasses (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>