;; 
;;    $Id: <a href="javascript:parent.code.dispatch('complement')">complement</a>.km,v 1.11 2008/10/16 22:14:31 jchaw Exp $ 
;; 


(<a href="javascript:parent.code.dispatch('complement')">complement</a> has
      (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
      (superslots ()) 
      (subslots ())
      (domain (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
      (range (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
      (fluent-status (*Non-Fluent))
      (inverse (<a href="javascript:parent.code.dispatch('complement')">complement</a>))
      (original-slot      (t))	
      (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('complement')">complement</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is a <a href="javascript:parent.code.dispatch('complement')">complement</a> of")))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('complement')">complement</a>.km,v 1.11 2008/10/16 22:14:31 jchaw Exp $ 
;; 


(<a href="javascript:parent.code.dispatch('complement')">complement</a> has
      (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
      (superslots ()) 
      (subslots ())
      (domain (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
      (range (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
      (fluent-status (*Non-Fluent))
      (inverse (<a href="javascript:parent.code.dispatch('complement')">complement</a>))
      (original-slot      (t))	
      (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('complement')">complement</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is a <a href="javascript:parent.code.dispatch('complement')">complement</a> of")))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>