<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Workgroup')">Workgroup</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Committee')">Committee</a>.km,v 1.2 2004/09/15 23:42:38 gking Exp $
;;

(<a href="javascript:parent.code.dispatch('Committee')">Committee</a> has (superclasses (<a href="javascript:parent.code.dispatch('Workgroup')">Workgroup</a>)))

(<a href="javascript:parent.code.dispatch('Committee')">Committee</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			      (:triple "committee" 1 "n")
			      (:triple "commission" 1 "n")
))))

;; stubby
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>