<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Constant-Exclusion-Set')">Constant-Exclusion-Set</a>.km,v 1.1 2008/05/28 19:26:46 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Constant-Exclusion-Set')">Constant-Exclusion-Set</a> has (superclasses (<a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a>)))

;; example: (a <a href="javascript:parent.code.dispatch('Constant-Exclusion-Set')">Constant-Exclusion-Set</a> with (<a href="javascript:parent.code.dispatch('exclusive-constants')">exclusive-constants</a> (<a href="javascript:parent.code.dispatch('*animate')">*animate</a> <a href="javascript:parent.code.dispatch('*not-animate')">*not-animate</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>