<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Acceleration-Magnitude-Constant')">Acceleration-Magnitude-Constant</a>, 
<a href="javascript:parent.code.dispatch('Age-Constant')">Age-Constant</a>, 
<a href="javascript:parent.code.dispatch('Angle-Constant')">Angle-Constant</a>, 
<a href="javascript:parent.code.dispatch('Animacy-Constant')">Animacy-Constant</a>, 
<a href="javascript:parent.code.dispatch('Area-Constant')">Area-Constant</a>, 
<a href="javascript:parent.code.dispatch('Atomic-Number-Constant')">Atomic-Number-Constant</a>, 
<a href="javascript:parent.code.dispatch('Atomic-Weight-Constant')">Atomic-Weight-Constant</a>, 
<a href="javascript:parent.code.dispatch('Breakability-Constant')">Breakability-Constant</a>, 
<a href="javascript:parent.code.dispatch('Brightness-Constant')">Brightness-Constant</a>, 
<a href="javascript:parent.code.dispatch('Capacity-Constant')">Capacity-Constant</a>, 
<a href="javascript:parent.code.dispatch('Charge-Constant')">Charge-Constant</a>, 
<a href="javascript:parent.code.dispatch('Circumference-Constant')">Circumference-Constant</a>, 
<a href="javascript:parent.code.dispatch('Coefficient-of-Friction-Constant')">Coefficient-of-Friction-Constant</a>, 
<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>, 
<a href="javascript:parent.code.dispatch('Completeness-Constant')">Completeness-Constant</a>, 
<a href="javascript:parent.code.dispatch('Concentration-Constant')">Concentration-Constant</a>, 
<a href="javascript:parent.code.dispatch('Conductivity-Constant')">Conductivity-Constant</a>, 
<a href="javascript:parent.code.dispatch('Consistency-Constant')">Consistency-Constant</a>, 
<a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a>, 
<a href="javascript:parent.code.dispatch('Density-Constant')">Density-Constant</a>, 
<a href="javascript:parent.code.dispatch('Depth-Constant')">Depth-Constant</a>, 
<a href="javascript:parent.code.dispatch('Diameter-Constant')">Diameter-Constant</a>, 
<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>, 
<a href="javascript:parent.code.dispatch('Distance-Constant')">Distance-Constant</a>, 
<a href="javascript:parent.code.dispatch('Duration-Constant')">Duration-Constant</a>, 
<a href="javascript:parent.code.dispatch('Ease-Of-Oxidation-Constant')">Ease-Of-Oxidation-Constant</a>, 
<a href="javascript:parent.code.dispatch('Electric-Current-Constant')">Electric-Current-Constant</a>, 
<a href="javascript:parent.code.dispatch('Electrolyte-Status-Constant')">Electrolyte-Status-Constant</a>, 
<a href="javascript:parent.code.dispatch('Electronegativity-Constant')">Electronegativity-Constant</a>, 
<a href="javascript:parent.code.dispatch('Energy-Constant')">Energy-Constant</a>, 
<a href="javascript:parent.code.dispatch('Force-Constant')">Force-Constant</a>, 
<a href="javascript:parent.code.dispatch('Frequency-Constant')">Frequency-Constant</a>, 
<a href="javascript:parent.code.dispatch('Height-Constant')">Height-Constant</a>, 
<a href="javascript:parent.code.dispatch('Identification-Constant')">Identification-Constant</a>, 
<a href="javascript:parent.code.dispatch('Importance-Constant')">Importance-Constant</a>, 
<a href="javascript:parent.code.dispatch('Integrity-Constant')">Integrity-Constant</a>, 
<a href="javascript:parent.code.dispatch('Intensity-Constant')">Intensity-Constant</a>, 
<a href="javascript:parent.code.dispatch('KI-Constant')">KI-Constant</a>, 
<a href="javascript:parent.code.dispatch('Latitude-Constant')">Latitude-Constant</a>, 
<a href="javascript:parent.code.dispatch('Length-Constant')">Length-Constant</a>, 
<a href="javascript:parent.code.dispatch('Lewis-Acid-Strength-Constant')">Lewis-Acid-Strength-Constant</a>, 
<a href="javascript:parent.code.dispatch('Lewis-Base-Strength-Constant')">Lewis-Base-Strength-Constant</a>, 
<a href="javascript:parent.code.dispatch('Longitude-Constant')">Longitude-Constant</a>, 
<a href="javascript:parent.code.dispatch('Luminance-Constant')">Luminance-Constant</a>, 
<a href="javascript:parent.code.dispatch('Luminous-Flux-Constant')">Luminous-Flux-Constant</a>, 
<a href="javascript:parent.code.dispatch('Luminous-Intensity-Constant')">Luminous-Intensity-Constant</a>, 
<a href="javascript:parent.code.dispatch('Magnification-Constant')">Magnification-Constant</a>, 
<a href="javascript:parent.code.dispatch('Manner-Constant')">Manner-Constant</a>, 
<a href="javascript:parent.code.dispatch('Mass-Constant')">Mass-Constant</a>, 
<a href="javascript:parent.code.dispatch('Optical-Resolution-Constant')">Optical-Resolution-Constant</a>, 
<a href="javascript:parent.code.dispatch('Orientation-Constant')">Orientation-Constant</a>, 
<a href="javascript:parent.code.dispatch('Oxidation-Constant')">Oxidation-Constant</a>, 
<a href="javascript:parent.code.dispatch('Perimeter-Constant')">Perimeter-Constant</a>, 
<a href="javascript:parent.code.dispatch('PH-Constant')">PH-Constant</a>, 
<a href="javascript:parent.code.dispatch('Polarity-Constant')">Polarity-Constant</a>, 
<a href="javascript:parent.code.dispatch('Position-Constant')">Position-Constant</a>, 
<a href="javascript:parent.code.dispatch('Power-Constant')">Power-Constant</a>, 
<a href="javascript:parent.code.dispatch('Pressure-Constant')">Pressure-Constant</a>, 
<a href="javascript:parent.code.dispatch('Primary-Constant')">Primary-Constant</a>, 
<a href="javascript:parent.code.dispatch('Priority-Constant')">Priority-Constant</a>, 
<a href="javascript:parent.code.dispatch('Quantity-Constant')">Quantity-Constant</a>, 
<a href="javascript:parent.code.dispatch('Radius-Constant')">Radius-Constant</a>, 
<a href="javascript:parent.code.dispatch('Rate-Constant')">Rate-Constant</a>, 
<a href="javascript:parent.code.dispatch('Reaction-Direction-Constant')">Reaction-Direction-Constant</a>, 
<a href="javascript:parent.code.dispatch('Rotational-Rate-Constant')">Rotational-Rate-Constant</a>, 
<a href="javascript:parent.code.dispatch('Salt-Status-Constant')">Salt-Status-Constant</a>, 
<a href="javascript:parent.code.dispatch('Sentience-Constant')">Sentience-Constant</a>, 
<a href="javascript:parent.code.dispatch('Sex-Constant')">Sex-Constant</a>, 
<a href="javascript:parent.code.dispatch('Shape-Constant')">Shape-Constant</a>, 
<a href="javascript:parent.code.dispatch('Size-Constant')">Size-Constant</a>, 
<a href="javascript:parent.code.dispatch('Slope-Constant')">Slope-Constant</a>, 
<a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a>, 
<a href="javascript:parent.code.dispatch('Solubility-Constant')">Solubility-Constant</a>, 
<a href="javascript:parent.code.dispatch('State-Constant')">State-Constant</a>, 
<a href="javascript:parent.code.dispatch('Structural-Complexity-Constant')">Structural-Complexity-Constant</a>, 
<a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a>, 
<a href="javascript:parent.code.dispatch('Temperature-Constant')">Temperature-Constant</a>, 
<a href="javascript:parent.code.dispatch('Texture-Constant')">Texture-Constant</a>, 
<a href="javascript:parent.code.dispatch('Thickness-Constant')">Thickness-Constant</a>, 
<a href="javascript:parent.code.dispatch('Time-Constant')">Time-Constant</a>, 
<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>, 
<a href="javascript:parent.code.dispatch('Trait-Constant')">Trait-Constant</a>, 
<a href="javascript:parent.code.dispatch('Truth-Constant')">Truth-Constant</a>, 
<a href="javascript:parent.code.dispatch('Velocity-Constant')">Velocity-Constant</a>, 
<a href="javascript:parent.code.dispatch('Voltage-Constant')">Voltage-Constant</a>, 
<a href="javascript:parent.code.dispatch('Volume-Constant')">Volume-Constant</a>, 
<a href="javascript:parent.code.dispatch('Wetness-Constant')">Wetness-Constant</a>, 
<a href="javascript:parent.code.dispatch('Width-Constant')">Width-Constant</a>, 
<a href="javascript:parent.code.dispatch('Worth-Constant')">Worth-Constant</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>.km,v 1.2 2003/09/10 16:38:47 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('Constant')">Constant</a> has
   (superclasses (<a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>