<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Intangible-Entity')">Intangible-Entity</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Information')">Information</a>, 
<a href="javascript:parent.code.dispatch('Message')">Message</a>, 

<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Conceptual-Entity')">Conceptual-Entity</a>.km,v 1.1 2006/04/04 15:36:18 kbarker Exp $
;;
        
(<a href="javascript:parent.code.dispatch('Conceptual-Entity')">Conceptual-Entity</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Intangible-Entity')">Intangible-Entity</a>))
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("An entity bearing conceptual <a href="javascript:parent.code.dispatch('content')">content</a>, such as a message or a bit of information."))
)

(<a href="javascript:parent.code.dispatch('Conceptual-Entity')">Conceptual-Entity</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                          (:triple "abstraction" 6 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>