<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Decrease')">Decrease</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;;   $Id: <a href="javascript:parent.code.dispatch('Contract')">Contract</a>.km,v 1.16 2008/05/08 22:04:07 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Contract')">Contract</a> has 
  (superclasses  (<a href="javascript:parent.code.dispatch('Decrease')">Decrease</a>))
#|(sentence-type (*punctual *conclusive))|#
)

(every <a href="javascript:parent.code.dispatch('Contract')">Contract</a> has-definition
  (instance-of (<a href="javascript:parent.code.dispatch('Decrease')">Decrease</a>))
  (<a href="javascript:parent.code.dispatch('from-value')">from-value</a> ((a <a href="javascript:parent.code.dispatch('Volume-Value')">Volume-Value</a>)))
)

(every <a href="javascript:parent.code.dispatch('Contract')">Contract</a> has
  (<a href="javascript:parent.code.dispatch('from-value')">from-value</a> ((a <a href="javascript:parent.code.dispatch('Volume-Value')">Volume-Value</a> with (<a href="javascript:parent.code.dispatch('volume-of')">volume-of</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))))))
  (<a href="javascript:parent.code.dispatch('base')">base</a> ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> with (<a href="javascript:parent.code.dispatch('volume')">volume</a> ((the <a href="javascript:parent.code.dispatch('from-value')">from-value</a> of Self))))))
)

(<a href="javascript:parent.code.dispatch('Contract')">Contract</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			     (:triple "shrink" 4 "v")
			     (:triple "contract" 4 "v")
			     (:triple "contract" 6 "v")
))))

(every <a href="javascript:parent.code.dispatch('Contract')">Contract</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("contraction")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>