<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Role')">Role</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Loser')">Loser</a>, 
<a href="javascript:parent.code.dispatch('Winner')">Winner</a>, 

<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Contestant')">Contestant</a>.km,v 1.1 2009/10/15 15:08:10 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Contestant')">Contestant</a> has (superclasses (<a href="javascript:parent.code.dispatch('Role')">Role</a>)))

(every <a href="javascript:parent.code.dispatch('Contestant')">Contestant</a> has
  (<a href="javascript:parent.code.dispatch('in-event')">in-event</a> ((must-be-a <a href="javascript:parent.code.dispatch('Contest')">Contest</a>)))
)

(<a href="javascript:parent.code.dispatch('Contestant')">Contestant</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set 
  (:triple "contestant" 1 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>