;; 
;;    $Id: <a href="javascript:parent.code.dispatch('content')">content</a>.km,v 1.20 2007/04/10 21:29:48 jchaw Exp $ 
;; 
(<a href="javascript:parent.code.dispatch('content')">content</a> has
	 (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	 (superslots ())
	 (subslots ())
	 (domain (<a href="javascript:parent.code.dispatch('Container')">Container</a>));;(domain (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))  ; s.b. <a href="javascript:parent.code.dispatch('Container')">Container</a> (when Roles fully op'nl)
	 (range (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
	 (inverse (<a href="javascript:parent.code.dispatch('content-of')">content-of</a>))
         (<a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> (<a href="javascript:parent.code.dispatch('text-content')">text-content</a>))
	 (fluent-status (*Inertial-Fluent))
         (original-slot      (t))	
	 (cardinality (N-to-N)))


(<a href="javascript:parent.code.dispatch('text-content')">text-content</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
)

(<a href="javascript:parent.code.dispatch('text-content-of')">text-content-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))

(<a href="javascript:parent.code.dispatch('content')">content</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("contains")))
(<a href="javascript:parent.code.dispatch('content-of')">content-of</a> has 
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is the <a href="javascript:parent.code.dispatch('content')">content</a> of")))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('content')">content</a>.km,v 1.20 2007/04/10 21:29:48 jchaw Exp $ 
;; 
(<a href="javascript:parent.code.dispatch('content')">content</a> has
	 (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	 (superslots ())
	 (subslots ())
	 (domain (<a href="javascript:parent.code.dispatch('Container')">Container</a>));;(domain (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))  ; s.b. <a href="javascript:parent.code.dispatch('Container')">Container</a> (when Roles fully op'nl)
	 (range (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
	 (inverse (<a href="javascript:parent.code.dispatch('content-of')">content-of</a>))
         (<a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> (<a href="javascript:parent.code.dispatch('text-content')">text-content</a>))
	 (fluent-status (*Inertial-Fluent))
         (original-slot      (t))	
	 (cardinality (N-to-N)))


(<a href="javascript:parent.code.dispatch('text-content')">text-content</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
)

(<a href="javascript:parent.code.dispatch('text-content-of')">text-content-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))

(<a href="javascript:parent.code.dispatch('content')">content</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("contains")))
(<a href="javascript:parent.code.dispatch('content-of')">content-of</a> has 
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is the <a href="javascript:parent.code.dispatch('content')">content</a> of")))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>