<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Increase')">Increase</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;;   $Id: <a href="javascript:parent.code.dispatch('Condense')">Condense</a>.km,v 1.2 2008/05/08 22:04:07 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Condense')">Condense</a> has 
  (superclasses  (<a href="javascript:parent.code.dispatch('Increase')">Increase</a>))
#|(sentence-type (*punctual *conclusive))|#
)

(every <a href="javascript:parent.code.dispatch('Condense')">Condense</a> has-definition
  (instance-of (<a href="javascript:parent.code.dispatch('Increase')">Increase</a>))
  (<a href="javascript:parent.code.dispatch('from-value')">from-value</a> ((a <a href="javascript:parent.code.dispatch('Density-Value')">Density-Value</a>)))
)

(every <a href="javascript:parent.code.dispatch('Condense')">Condense</a> has
  (<a href="javascript:parent.code.dispatch('from-value')">from-value</a> ((a <a href="javascript:parent.code.dispatch('Density-Value')">Density-Value</a> with (<a href="javascript:parent.code.dispatch('density-of')">density-of</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))))))
  (<a href="javascript:parent.code.dispatch('base')">base</a> ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> with (<a href="javascript:parent.code.dispatch('density')">density</a> ((the <a href="javascript:parent.code.dispatch('from-value')">from-value</a> of Self))))))
)

(<a href="javascript:parent.code.dispatch('Condense')">Condense</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			   (:triple "condense" 7 "v")
			   (:triple "concentrate" 6 "v")
			   (:triple "contract" 7 "v")
			   (:triple "compress" 1 "v")
			   (:triple "compact" 3 "v")
			   (:triple "pack together" 1 "v")
))))

(every <a href="javascript:parent.code.dispatch('Condense')">Condense</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("condensing")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>