;; 
;;    $Id: <a href="javascript:parent.code.dispatch('defeats')">defeats</a>.km,v 1.9 2007/04/10 21:29:48 jchaw Exp $ 
;; 

; note use of inherit-with-overrides.  This ensures that KM returns only
; the most specific <a href="javascript:parent.code.dispatch('value')">value</a> of the <a href="javascript:parent.code.dispatch('defeats')">defeats</a> slot
(<a href="javascript:parent.code.dispatch('defeats')">defeats</a> has
         (instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
         (superslots ())
	 (subslots ())
	 (domain (<a href="javascript:parent.code.dispatch('Action')">Action</a>))
	 (range (<a href="javascript:parent.code.dispatch('State')">State</a>))
	 (inverse (<a href="javascript:parent.code.dispatch('defeated-by')">defeated-by</a>))
	 (fluent-status (*Inertial-Fluent))
	 (inherit-with-overrides (t))
         (original-slot      (t))	
	 (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('defeats')">defeats</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('defeats')">defeats</a>")))
(<a href="javascript:parent.code.dispatch('defeated-by')">defeated-by</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is defeated by")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('defeats')">defeats</a>.km,v 1.9 2007/04/10 21:29:48 jchaw Exp $ 
;; 

; note use of inherit-with-overrides.  This ensures that KM returns only
; the most specific <a href="javascript:parent.code.dispatch('value')">value</a> of the <a href="javascript:parent.code.dispatch('defeats')">defeats</a> slot
(<a href="javascript:parent.code.dispatch('defeats')">defeats</a> has
         (instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
         (superslots ())
	 (subslots ())
	 (domain (<a href="javascript:parent.code.dispatch('Action')">Action</a>))
	 (range (<a href="javascript:parent.code.dispatch('State')">State</a>))
	 (inverse (<a href="javascript:parent.code.dispatch('defeated-by')">defeated-by</a>))
	 (fluent-status (*Inertial-Fluent))
	 (inherit-with-overrides (t))
         (original-slot      (t))	
	 (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('defeats')">defeats</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('defeats')">defeats</a>")))
(<a href="javascript:parent.code.dispatch('defeated-by')">defeated-by</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is defeated by")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>