<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Density-Constant')">Density-Constant</a>.km,v 1.2 2003/09/10 16:38:47 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('Density-Constant')">Density-Constant</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))
  
  (*dense has
    (instance-of (<a href="javascript:parent.code.dispatch('Density-Constant')">Density-Constant</a>)))

  (*rare has
    (instance-of (<a href="javascript:parent.code.dispatch('Density-Constant')">Density-Constant</a>)))


 





















</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>