<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Scale')">Scale</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Direction-Scale')">Direction-Scale</a>.km,v 1.7 2001/11/15 21:10:46 jfan Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Direction-Scale')">Direction-Scale</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Scale')">Scale</a>)))
 

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>