<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>.km,v 1.5 2007/05/15 15:27:32 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

;; putting the constants back in; you need a Reference Class
;; now that <a href="javascript:parent.code.dispatch('direction')">direction</a> is scalar, which is kind of awkward; but
;; CPL should supply one for QA.

;; e.g. (a <a href="javascript:parent.code.dispatch('Move')">Move</a> with
;;         (<a href="javascript:parent.code.dispatch('direction')">direction</a> ((a <a href="javascript:parent.code.dispatch('Angle-Value')">Angle-Value</a> with 
;;                        (<a href="javascript:parent.code.dispatch('value')">value</a> ((:pair <a href="javascript:parent.code.dispatch('*northwest')">*northwest</a> <a href="javascript:parent.code.dispatch('Move')">Move</a>)))))))

(<a href="javascript:parent.code.dispatch('*north')">*north</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*south')">*south</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*west')">*west</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*east')">*east</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*up')">*up</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*down')">*down</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*right')">*right</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*left')">*left</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*northwest')">*northwest</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*westnorthwest')">*westnorthwest</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*westsouthwest')">*westsouthwest</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*southwest')">*southwest</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))                

(<a href="javascript:parent.code.dispatch('*southsouthwest')">*southsouthwest</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*southsoutheast')">*southsoutheast</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))                

(<a href="javascript:parent.code.dispatch('*southeast')">*southeast</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*eastsoutheast')">*eastsoutheast</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))                                 

(<a href="javascript:parent.code.dispatch('*eastnortheast')">*eastnortheast</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*northeast')">*northeast</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))                

(<a href="javascript:parent.code.dispatch('*northnortheast')">*northnortheast</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*northnorthwest')">*northnorthwest</a> has (instance-of (<a href="javascript:parent.code.dispatch('Direction-Constant')">Direction-Constant</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>