;; 
;;    $Id: <a href="javascript:parent.code.dispatch('distance')">distance</a>.km,v 1.15 2007/07/02 21:14:09 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('distance')">distance</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   (range       (<a href="javascript:parent.code.dispatch('Length-Value')">Length-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Distance-Scale')">Distance-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Distance-Constant')">Distance-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Length')">UoM-Length</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('distance-of')">distance-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('distance')">distance</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('distance')">distance</a>" 1 "n")
                               (:triple "displacement" 3 "n")
                               (:triple "translation" 7 "n")
))))

(<a href="javascript:parent.code.dispatch('distance-of')">distance-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('distance')">distance</a>.km,v 1.15 2007/07/02 21:14:09 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('distance')">distance</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   (range       (<a href="javascript:parent.code.dispatch('Length-Value')">Length-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Distance-Scale')">Distance-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Distance-Constant')">Distance-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Length')">UoM-Length</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('distance-of')">distance-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('distance')">distance</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('distance')">distance</a>" 1 "n")
                               (:triple "displacement" 3 "n")
                               (:triple "translation" 7 "n")
))))

(<a href="javascript:parent.code.dispatch('distance-of')">distance-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>