<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Copy')">Copy</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a>.km,v 1.16 2008/07/15 16:08:59 kbarker Exp $ 
;; 

;; This <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a> notion is the same as <a href="javascript:parent.code.dispatch('Copy')">Copy</a> revision 1.1

(<a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a> has
	(superclasses 	 (<a href="javascript:parent.code.dispatch('Copy')">Copy</a>))
	(<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a>   (<a href="javascript:parent.code.dispatch('object')">object</a>))
	(<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> 	 (<a href="javascript:parent.code.dispatch('agent')">agent</a> <a href="javascript:parent.code.dispatch('instrument')">instrument</a> <a href="javascript:parent.code.dispatch('by-means-of')">by-means-of</a> <a href="javascript:parent.code.dispatch('result')">result</a>))
	(<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> (
			      (:seq <a href="javascript:parent.code.dispatch('result')">result</a> "the <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a>")
			      (:seq <a href="javascript:parent.code.dispatch('object')">object</a> "the original")	
			      (:seq <a href="javascript:parent.code.dispatch('agent')">agent</a> "copier")
			      (:seq <a href="javascript:parent.code.dispatch('instrument')">instrument</a> "the <a href="javascript:parent.code.dispatch('instrument')">instrument</a>")
			      (:seq <a href="javascript:parent.code.dispatch('by-means-of')">by-means-of</a> "the event needed for the <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a>")	
			     ))
      #|(sentence-type   (*punctual *conclusive))|#
)

(every <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a> has
  (<a href="javascript:parent.code.dispatch('object')">object</a>	((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))

  ; An exact <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a> of all the features of the object!
  (add-list	((:triple 
		  Self
		  <a href="javascript:parent.code.dispatch('result')">result</a>
		  (a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> with
		     
		     (instance-of ((the instance-of of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     
					; <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a> certain relevant properties of the original
		     (<a href="javascript:parent.code.dispatch('content')">content</a>	((forall (the <a href="javascript:parent.code.dispatch('content')">content</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))
					 ((an instance of (the instance-of of It))))))
		     (<a href="javascript:parent.code.dispatch('has-part')">has-part</a>	((forall (the <a href="javascript:parent.code.dispatch('has-part')">has-part</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))
					 ((an instance of (the instance-of of It))))))
		     (<a href="javascript:parent.code.dispatch('material')">material</a>	((forall (the <a href="javascript:parent.code.dispatch('material')">material</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))
					 ((an instance of (the instance-of of It))))))
		     
					; <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a> all the values of the original
		     (<a href="javascript:parent.code.dispatch('age')">age</a> 	((the <a href="javascript:parent.code.dispatch('age')">age</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('animacy')">animacy</a> 	((the <a href="javascript:parent.code.dispatch('animacy')">animacy</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('area')">area</a> 	((the <a href="javascript:parent.code.dispatch('area')">area</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('breakability')">breakability</a> ((the <a href="javascript:parent.code.dispatch('breakability')">breakability</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('capacity')">capacity</a> 	((the <a href="javascript:parent.code.dispatch('capacity')">capacity</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('color')">color</a> 	((the <a href="javascript:parent.code.dispatch('color')">color</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('consistency')">consistency</a> ((the <a href="javascript:parent.code.dispatch('consistency')">consistency</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('density')">density</a> 	((the <a href="javascript:parent.code.dispatch('density')">density</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('depth')">depth</a> 	((the <a href="javascript:parent.code.dispatch('depth')">depth</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('height')">height</a> 	((the <a href="javascript:parent.code.dispatch('height')">height</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('length')">length</a>  	((the <a href="javascript:parent.code.dispatch('length')">length</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('mass')">mass</a>  	((the <a href="javascript:parent.code.dispatch('mass')">mass</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('sentience')">sentience</a> 	((the <a href="javascript:parent.code.dispatch('sentience')">sentience</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('sex')">sex</a> 	((the <a href="javascript:parent.code.dispatch('sex')">sex</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('shape')">shape</a> 	((the <a href="javascript:parent.code.dispatch('shape')">shape</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('size')">size</a> 	((the <a href="javascript:parent.code.dispatch('size')">size</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('smell')">smell</a>  	((the <a href="javascript:parent.code.dispatch('smell')">smell</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))	
		     (<a href="javascript:parent.code.dispatch('taste')">taste</a> 	((the <a href="javascript:parent.code.dispatch('taste')">taste</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('temperature')">temperature</a> ((the <a href="javascript:parent.code.dispatch('temperature')">temperature</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('texture')">texture</a> 	((the <a href="javascript:parent.code.dispatch('texture')">texture</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('thickness')">thickness</a> 	((the <a href="javascript:parent.code.dispatch('thickness')">thickness</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('trait')">trait</a> 	((the <a href="javascript:parent.code.dispatch('trait')">trait</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('wetness')">wetness</a> 	((the <a href="javascript:parent.code.dispatch('wetness')">wetness</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('width')">width</a> 	((the <a href="javascript:parent.code.dispatch('width')">width</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		     (<a href="javascript:parent.code.dispatch('volume')">volume</a> 	((the <a href="javascript:parent.code.dispatch('volume')">volume</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))))
		  [Duplicate-add-1])))
  (<a href="javascript:parent.code.dispatch('instrument')">instrument</a>	((must-be-a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))) 
  (<a href="javascript:parent.code.dispatch('by-means-of')">by-means-of</a>  ((must-be-a <a href="javascript:parent.code.dispatch('Event')">Event</a>))))

(comment [Duplicate-add-1] (:seq (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) " has been duplicated.")
	 "A duplicate creates a new, identical instance of something.")

(every <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a> has
  (<a href="javascript:parent.code.dispatch('text-active-verbseq')">text-active-verbseq</a>
     ("duplicates"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq')">text-passive-verbseq</a>
     ((if ((the number of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)) > 1)
       then ("get duplicated")
       else ("gets duplicated"))))
)


;; nothing extra to say about contextual info
;; test cases commented out for the time being until the multiple results from superclasses problem has ben solved

(<a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a> has (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ('(
			     (new-situation)
			     (Sheep has (superclasses (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
			     (*Dolly has
				     (instance-of (Sheep))
				     (<a href="javascript:parent.code.dispatch('color')">color</a> (<a href="javascript:parent.code.dispatch('*white')">*white</a>))
				     (<a href="javascript:parent.code.dispatch('sex')">sex</a> (*female))
				     (<a href="javascript:parent.code.dispatch('height')">height</a> (*4))
				     (<a href="javascript:parent.code.dispatch('length')">length</a> (*5))
				     (<a href="javascript:parent.code.dispatch('mass')">mass</a> (*200))
				     (<a href="javascript:parent.code.dispatch('age')">age</a> (*5)))
			     (a <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a> with
				(<a href="javascript:parent.code.dispatch('object')">object</a> (*Dolly)))
			     (do-and-next (thelast <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a>))
				(the <a href="javascript:parent.code.dispatch('text-gen')">text-gen</a> of (thelast <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a>))
			     ((the classes of 
			       (the <a href="javascript:parent.code.dispatch('result')">result</a> of (thelast <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a>))) = Sheep)
			     ((the <a href="javascript:parent.code.dispatch('color')">color</a> of 
			       (the <a href="javascript:parent.code.dispatch('result')">result</a> of (thelast <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a>))) = <a href="javascript:parent.code.dispatch('*white')">*white</a>)
			     ((the <a href="javascript:parent.code.dispatch('sex')">sex</a> of 
			       (the <a href="javascript:parent.code.dispatch('result')">result</a> of (thelast <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a>))) = *female)
			     ((the <a href="javascript:parent.code.dispatch('height')">height</a> of 
			       (the <a href="javascript:parent.code.dispatch('result')">result</a> of (thelast <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a>))) = *4)
			     ((the <a href="javascript:parent.code.dispatch('length')">length</a> of 
			       (the <a href="javascript:parent.code.dispatch('result')">result</a> of (thelast <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a>))) = *5)
			     ((the <a href="javascript:parent.code.dispatch('mass')">mass</a> of 
			       (the <a href="javascript:parent.code.dispatch('result')">result</a> of (thelast <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a>))) = *200)
			     ((the <a href="javascript:parent.code.dispatch('age')">age</a> of 
			       (the <a href="javascript:parent.code.dispatch('result')">result</a> of (thelast <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a>))) = *5)
			     ))))




;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                        (:triple "duplicate" 3 "v")
))))

(<a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                        (:triple "duplicate" 3 "v")
))))
(every <a href="javascript:parent.code.dispatch('Duplicate')">Duplicate</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("duplication")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>