;; 
;;    $Id: <a href="javascript:parent.code.dispatch('enables')">enables</a>.km,v 1.9 2007/04/10 21:29:48 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('enables')">enables</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (range (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (inverse (<a href="javascript:parent.code.dispatch('enabled-by')">enabled-by</a>))
       (fluent-status (*Inertial-Fluent))
       (original-slot      (t))	
       (cardinality (N-to-N)))







(<a href="javascript:parent.code.dispatch('enables')">enables</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('enables')">enables</a>")))
(<a href="javascript:parent.code.dispatch('enabled-by')">enabled-by</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is enabled by")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('enables')">enables</a>.km,v 1.9 2007/04/10 21:29:48 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('enables')">enables</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (range (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (inverse (<a href="javascript:parent.code.dispatch('enabled-by')">enabled-by</a>))
       (fluent-status (*Inertial-Fluent))
       (original-slot      (t))	
       (cardinality (N-to-N)))







(<a href="javascript:parent.code.dispatch('enables')">enables</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('enables')">enables</a>")))
(<a href="javascript:parent.code.dispatch('enabled-by')">enabled-by</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is enabled by")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>