<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Ensemble')">Ensemble</a>.km,v 1.7 2009/12/16 17:04:47 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Ensemble')">Ensemble</a> has
         (superclasses (<a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a>))
         (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
         (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
         (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
	 (<a href="javascript:parent.code.dispatch('description')">description</a> ("A collection of distinct structures which function together to carry out some task, as the respiratory enzyme complex on mitochondrial membranes."))
         (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
         (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ()))





;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Ensemble')">Ensemble</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                       (:triple "ensemble" 4 "n")
                                       (:triple "tout_ensemble" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('Ensemble')">Ensemble</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                       (:triple "ensemble" 4 "n")
                                       (:triple "tout_ensemble" 1 "n")
))))

;; stubby

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>