<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property')">Property</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;    $Id: <a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>.km,v 1.1 2005/06/07 21:15:53 jfan Exp $
(<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a> has
		(superclasses (<a href="javascript:parent.code.dispatch('Property')">Property</a>))
)</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>