;; 
;;    $Id: <a href="javascript:parent.code.dispatch('experiencer')">experiencer</a>.km,v 1.13 2007/04/10 21:29:48 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('experiencer')">experiencer</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
       (superslots ())
       (subslots ())
       (domain      (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (range       (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
       (fluent-status (*Inertial-Fluent))
       (inverse (<a href="javascript:parent.code.dispatch('experiencer-of')">experiencer-of</a>))
       (original-slot      (t))	
       (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('experiencer')">experiencer</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is experienced by")))
(<a href="javascript:parent.code.dispatch('experiencer-of')">experiencer-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("experiences")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('experiencer')">experiencer</a>.km,v 1.13 2007/04/10 21:29:48 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('experiencer')">experiencer</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
       (superslots ())
       (subslots ())
       (domain      (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (range       (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
       (fluent-status (*Inertial-Fluent))
       (inverse (<a href="javascript:parent.code.dispatch('experiencer-of')">experiencer-of</a>))
       (original-slot      (t))	
       (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('experiencer')">experiencer</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is experienced by")))
(<a href="javascript:parent.code.dispatch('experiencer-of')">experiencer-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("experiences")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>