<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Group')">Group</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Family')">Family</a>.km,v 1.2 2004/09/15 23:26:29 gking Exp $
;;

(<a href="javascript:parent.code.dispatch('Family')">Family</a> has (superclasses (<a href="javascript:parent.code.dispatch('Group')">Group</a>)))

(<a href="javascript:parent.code.dispatch('Family')">Family</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			   (:triple "family" 1 "n")
			   (:triple "household" 1 "n")
			   (:triple "house" 4 "n")
			   (:triple "home" 7 "n")
			   (:triple "menage" 1 "n")
			   
			   (:triple "family" 2 "n")
			   (:triple "family_unit" 1 "n")
))))

;; stubby
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>