;;
;; $Id: <a href="javascript:parent.code.dispatch('first-element')">first-element</a>.km,v 1.10 2008/02/12 19:20:09 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('first-element')">first-element</a> has
	 (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	 (domain (<a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a> <a href="javascript:parent.code.dispatch('Sequence')">Sequence</a>))
	 (range (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
	 (cardinality (N-to-N))
         (original-slot      (t))	
	 (fluent-status (*Inertial-Fluent)))
(<a href="javascript:parent.code.dispatch('first-element')">first-element</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has as first <a href="javascript:parent.code.dispatch('element')">element</a>")))
(<a href="javascript:parent.code.dispatch('first-element-of')">first-element-of</a> has 
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is the first <a href="javascript:parent.code.dispatch('element')">element</a> of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;;
;; $Id: <a href="javascript:parent.code.dispatch('first-element')">first-element</a>.km,v 1.10 2008/02/12 19:20:09 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('first-element')">first-element</a> has
	 (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	 (domain (<a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a> <a href="javascript:parent.code.dispatch('Sequence')">Sequence</a>))
	 (range (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
	 (cardinality (N-to-N))
         (original-slot      (t))	
	 (fluent-status (*Inertial-Fluent)))
(<a href="javascript:parent.code.dispatch('first-element')">first-element</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has as first <a href="javascript:parent.code.dispatch('element')">element</a>")))
(<a href="javascript:parent.code.dispatch('first-element-of')">first-element-of</a> has 
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is the first <a href="javascript:parent.code.dispatch('element')">element</a> of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>