
;;
;; $Id: <a href="javascript:parent.code.dispatch('force-magnitude')">force-magnitude</a>.km,v 1.1 2010/01/29 17:00:25 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('force-magnitude')">force-magnitude</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>))
  (superslots ())
  (subslots ())
  (domain (Exert-Force))
  (range (<a href="javascript:parent.code.dispatch('Force-Magnitude-Value')">Force-Magnitude-Value</a>))
  (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Force-Constant')">Force-Constant</a>))
  (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> (<a href="javascript:parent.code.dispatch('UoM-Force')">UoM-Force</a>))
  (inverse (<a href="javascript:parent.code.dispatch('force-magnitude-of')">force-magnitude-of</a>))
  (cardinality (N-to-1))
  ; (inherit-with-overrides (t))
  (fluent-status (*Inertial-Fluent))
)

(<a href="javascript:parent.code.dispatch('force-magnitude')">force-magnitude</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
				   										 (:triple "force magnitude" 0 "n")
                               (:triple "force" 3 "n")
))))

(<a href="javascript:parent.code.dispatch('force-magnitude-of')">force-magnitude-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>)))



(<a href="javascript:parent.code.dispatch('force-magnitude')">force-magnitude</a> has (name ("magnitude of the force")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>
;;
;; $Id: <a href="javascript:parent.code.dispatch('force-magnitude')">force-magnitude</a>.km,v 1.1 2010/01/29 17:00:25 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('force-magnitude')">force-magnitude</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>))
  (superslots ())
  (subslots ())
  (domain (Exert-Force))
  (range (<a href="javascript:parent.code.dispatch('Force-Magnitude-Value')">Force-Magnitude-Value</a>))
  (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Force-Constant')">Force-Constant</a>))
  (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> (<a href="javascript:parent.code.dispatch('UoM-Force')">UoM-Force</a>))
  (inverse (<a href="javascript:parent.code.dispatch('force-magnitude-of')">force-magnitude-of</a>))
  (cardinality (N-to-1))
  ; (inherit-with-overrides (t))
  (fluent-status (*Inertial-Fluent))
)

(<a href="javascript:parent.code.dispatch('force-magnitude')">force-magnitude</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
				   										 (:triple "force magnitude" 0 "n")
                               (:triple "force" 3 "n")
))))

(<a href="javascript:parent.code.dispatch('force-magnitude-of')">force-magnitude-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>)))



(<a href="javascript:parent.code.dispatch('force-magnitude')">force-magnitude</a> has (name ("magnitude of the force")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>