<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Magnitude-Value')">Magnitude-Value</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Force-Magnitude-Value')">Force-Magnitude-Value</a>.km,v 1.1 2010/01/29 17:00:25 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Force-Magnitude-Value')">Force-Magnitude-Value</a> has 
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("The magnitude of a force vector"))
  (superclasses (<a href="javascript:parent.code.dispatch('Magnitude-Value')">Magnitude-Value</a>)))

(every <a href="javascript:parent.code.dispatch('Force-Magnitude-Value')">Force-Magnitude-Value</a> has (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> (<a href="javascript:parent.code.dispatch('force-magnitude')">force-magnitude</a>)))

(<a href="javascript:parent.code.dispatch('Force-Magnitude-Value')">Force-Magnitude-Value</a> has (<a href="javascript:parent.code.dispatch('doc-file')">doc-file</a> ("<a href="javascript:parent.code.dispatch('force-magnitude')">force-magnitude</a>")))




</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>