<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Artifact')">Artifact</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Furniture')">Furniture</a>, 

<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Furnishing')">Furnishing</a>.km,v 1.2 2004/09/08 15:51:27 jfan Exp $
;; 

(<a href="javascript:parent.code.dispatch('Furnishing')">Furnishing</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Artifact')">Artifact</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("furniture, fixtures, room accessories, etc."))
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
)

;; stubby

(<a href="javascript:parent.code.dispatch('Furnishing')">Furnishing</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			       (:triple "furnishings" 1 "n")))))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>