;
;   $Id: <a href="javascript:parent.code.dispatch('greater-than')">greater-than</a>.km,v 1.13 2009/06/04 14:56:26 kbarker Exp $
;

(<a href="javascript:parent.code.dispatch('greater-than')">greater-than</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>))      ; not a property (even though domain is Value)
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (range (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (inverse (<a href="javascript:parent.code.dispatch('less-than')">less-than</a>))
  (cardinality (N-to-N))
  (original-slot      (t))	
  (fluent-status (*Inertial-Fluent))
)

(<a href="javascript:parent.code.dispatch('greater-than')">greater-than</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is greater than")))
(<a href="javascript:parent.code.dispatch('less-than')">less-than</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is less than")))

(<a href="javascript:parent.code.dispatch('less-than')">less-than</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;
;   $Id: <a href="javascript:parent.code.dispatch('greater-than')">greater-than</a>.km,v 1.13 2009/06/04 14:56:26 kbarker Exp $
;

(<a href="javascript:parent.code.dispatch('greater-than')">greater-than</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>))      ; not a property (even though domain is Value)
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (range (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (inverse (<a href="javascript:parent.code.dispatch('less-than')">less-than</a>))
  (cardinality (N-to-N))
  (original-slot      (t))	
  (fluent-status (*Inertial-Fluent))
)

(<a href="javascript:parent.code.dispatch('greater-than')">greater-than</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is greater than")))
(<a href="javascript:parent.code.dispatch('less-than')">less-than</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is less than")))

(<a href="javascript:parent.code.dispatch('less-than')">less-than</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>