<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Activity')">Activity</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Growth')">Growth</a>.km,v 1.1 2008/01/04 16:22:12 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Growth')">Growth</a> has (superclasses (<a href="javascript:parent.code.dispatch('Activity')">Activity</a>)))

(<a href="javascript:parent.code.dispatch('Growth')">Growth</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                           (:triple "grow" 1 "v")
                           (:triple "grow" 2 "v")
                           (:triple "grow" 3 "v")
                           (:triple "mature" 1 "v")
                           (:triple "maturate" 1 "v")
                           (:triple "growth" 1 "n")
                           (:triple "growing" 1 "n")
                           (:triple "maturation" 2 "n")
                           (:triple "development" 7 "n")
                           (:triple "ontogeny" 1 "n")
                           (:triple "ontogenesis" 1 "n")
                           (:triple "increase" 3 "n")
                           (:triple "increment" 1 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>