;; 
;;    $Id: <a href="javascript:parent.code.dispatch('height')">height</a>.km,v 1.15 2007/04/11 21:23:39 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('height')">height</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Length-Value')">Length-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Height-Scale')">Height-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Height-Constant')">Height-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Length')">UoM-Length</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('height-of')">height-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
  (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('height')">height</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('height')">height</a>" 1 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('height')">height</a>" 4 "n")
                               (:triple "tallness" 1 "n")
                               (:triple "altitude" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('height-of')">height-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('height')">height</a>.km,v 1.15 2007/04/11 21:23:39 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('height')">height</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Length-Value')">Length-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Height-Scale')">Height-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Height-Constant')">Height-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Length')">UoM-Length</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('height-of')">height-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
  (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('height')">height</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('height')">height</a>" 1 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('height')">height</a>" 4 "n")
                               (:triple "tallness" 1 "n")
                               (:triple "altitude" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('height-of')">height-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>