;; 
;; $Id: <a href="javascript:parent.code.dispatch('identifier')">identifier</a>.km,v 1.7 2007/04/11 21:23:39 jchaw Exp $
;; 

;; This slot provides a simple (maybe overly simple) way of associating
;; any <a href="javascript:parent.code.dispatch('Thing')">Thing</a> (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>, <a href="javascript:parent.code.dispatch('Event')">Event</a>, <a href="javascript:parent.code.dispatch('Role')">Role</a>, etc.) with an identification string
;; or identification number. The id string/number is not assumed unique.
 
(<a href="javascript:parent.code.dispatch('identifier')">identifier</a> has
;  (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))   ;; change to <a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a> for now
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))       ;; to prevent it showing up in AURA
  (superslots ())
  (subslots ())
  (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
  (range (<a href="javascript:parent.code.dispatch('Message-Field')">Message-Field</a>))
  (inverse (<a href="javascript:parent.code.dispatch('identifier-of')">identifier-of</a>))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
  (cardinality (N-to-N))
)

(<a href="javascript:parent.code.dispatch('identifier-of')">identifier-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('identifier')">identifier</a>.km,v 1.7 2007/04/11 21:23:39 jchaw Exp $
;; 

;; This slot provides a simple (maybe overly simple) way of associating
;; any <a href="javascript:parent.code.dispatch('Thing')">Thing</a> (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>, <a href="javascript:parent.code.dispatch('Event')">Event</a>, <a href="javascript:parent.code.dispatch('Role')">Role</a>, etc.) with an identification string
;; or identification number. The id string/number is not assumed unique.
 
(<a href="javascript:parent.code.dispatch('identifier')">identifier</a> has
;  (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))   ;; change to <a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a> for now
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))       ;; to prevent it showing up in AURA
  (superslots ())
  (subslots ())
  (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
  (range (<a href="javascript:parent.code.dispatch('Message-Field')">Message-Field</a>))
  (inverse (<a href="javascript:parent.code.dispatch('identifier-of')">identifier-of</a>))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
  (cardinality (N-to-N))
)

(<a href="javascript:parent.code.dispatch('identifier-of')">identifier-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>