
;;
;; $Id: <a href="javascript:parent.code.dispatch('importance')">importance</a>.km,v 1.6 2007/04/11 21:23:39 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('importance')">importance</a> has
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("The degree of prominence or noteworthiness possessed by a thing.  <a href="javascript:parent.code.dispatch('See')">See</a> also <a href="javascript:parent.code.dispatch('priority')">priority</a>."))
  (instance-of           (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a> <a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>))
  (domain                (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
  (range                 (<a href="javascript:parent.code.dispatch('Unitless-Value')">Unitless-Value</a>))
  (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a>           (<a href="javascript:parent.code.dispatch('Importance-Scale')">Importance-Scale</a>))
  (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Importance-Constant')">Importance-Constant</a>))
  (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Unitless')">UoM-Unitless</a>))
  (inverse               (<a href="javascript:parent.code.dispatch('importance-of')">importance-of</a>))
  (fluent-status         (*Inertial-Fluent))
  (original-slot      (t))	
  (cardinality           (N-to-1))
)

(<a href="javascript:parent.code.dispatch('importance')">importance</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('importance')">importance</a>" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('importance-of')">importance-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a> <a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>
;;
;; $Id: <a href="javascript:parent.code.dispatch('importance')">importance</a>.km,v 1.6 2007/04/11 21:23:39 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('importance')">importance</a> has
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("The degree of prominence or noteworthiness possessed by a thing.  <a href="javascript:parent.code.dispatch('See')">See</a> also <a href="javascript:parent.code.dispatch('priority')">priority</a>."))
  (instance-of           (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a> <a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>))
  (domain                (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
  (range                 (<a href="javascript:parent.code.dispatch('Unitless-Value')">Unitless-Value</a>))
  (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a>           (<a href="javascript:parent.code.dispatch('Importance-Scale')">Importance-Scale</a>))
  (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Importance-Constant')">Importance-Constant</a>))
  (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Unitless')">UoM-Unitless</a>))
  (inverse               (<a href="javascript:parent.code.dispatch('importance-of')">importance-of</a>))
  (fluent-status         (*Inertial-Fluent))
  (original-slot      (t))	
  (cardinality           (N-to-1))
)

(<a href="javascript:parent.code.dispatch('importance')">importance</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('importance')">importance</a>" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('importance-of')">importance-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a> <a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>