;; 
;;    $Id: <a href="javascript:parent.code.dispatch('in-event')">in-event</a>.km,v 1.11 2007/04/11 21:23:39 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('in-event')">in-event</a> has
	  (instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
	  (superslots ())
	  (subslots ())
	  (domain (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
	  (range (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	  (inverse (<a href="javascript:parent.code.dispatch('in-event-of')">in-event-of</a>))
	  (cardinality (N-to-1))
  (original-slot      (t))	
	  (fluent-status (*Inertial-Fluent)))

(<a href="javascript:parent.code.dispatch('in-event-of')">in-event-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('in-event')">in-event</a>.km,v 1.11 2007/04/11 21:23:39 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('in-event')">in-event</a> has
	  (instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
	  (superslots ())
	  (subslots ())
	  (domain (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
	  (range (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	  (inverse (<a href="javascript:parent.code.dispatch('in-event-of')">in-event-of</a>))
	  (cardinality (N-to-1))
  (original-slot      (t))	
	  (fluent-status (*Inertial-Fluent)))

(<a href="javascript:parent.code.dispatch('in-event-of')">in-event-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>