;; 
;; $Id: <a href="javascript:parent.code.dispatch('in-organization')">in-organization</a>.km,v 1.5 2007/04/11 21:23:39 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('in-organization')">in-organization</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
  (superslots ())
  (subslots ())
  (domain (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
  (range (<a href="javascript:parent.code.dispatch('Organization')">Organization</a>))
  (inverse (<a href="javascript:parent.code.dispatch('in-organization-of')">in-organization-of</a>))
  (cardinality (N-to-1))
  (original-slot      (t))	
  (fluent-status (*Non-Fluent))
)

(<a href="javascript:parent.code.dispatch('in-organization-of')">in-organization-of</a> has
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('in-organization')">in-organization</a>.km,v 1.5 2007/04/11 21:23:39 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('in-organization')">in-organization</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
  (superslots ())
  (subslots ())
  (domain (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
  (range (<a href="javascript:parent.code.dispatch('Organization')">Organization</a>))
  (inverse (<a href="javascript:parent.code.dispatch('in-organization-of')">in-organization-of</a>))
  (cardinality (N-to-1))
  (original-slot      (t))	
  (fluent-status (*Non-Fluent))
)

(<a href="javascript:parent.code.dispatch('in-organization-of')">in-organization-of</a> has
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>