<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Physical-Object')">Physical-Object</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Artifact')">Artifact</a>, 
<a href="javascript:parent.code.dispatch('Piece-of-Substance')">Piece-of-Substance</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Inanimate-Object')">Inanimate-Object</a>.km,v 1.6 2002/12/04 16:27:37 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Inanimate-Object')">Inanimate-Object</a> has
		  (superclasses (<a href="javascript:parent.code.dispatch('Physical-Object')">Physical-Object</a>))
		  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
		  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
		  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
                  (<a href="javascript:parent.code.dispatch('description')">description</a> ("A non-living thing"))
		  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
		  (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ()))





</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>