<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Action')">Action</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Brighten')">Brighten</a>, 
<a href="javascript:parent.code.dispatch('Condense')">Condense</a>, 
<a href="javascript:parent.code.dispatch('Expand')">Expand</a>, 
<a href="javascript:parent.code.dispatch('Heat')">Heat</a>, 
<a href="javascript:parent.code.dispatch('Wet')">Wet</a>, 

<HR>
<PRE>
;;
;;   $Id: <a href="javascript:parent.code.dispatch('Increase')">Increase</a>.km,v 1.18 2008/05/08 22:04:07 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Increase')">Increase</a> has 
  (superclasses  (<a href="javascript:parent.code.dispatch('Action')">Action</a>))
#|(sentence-type (*punctual *conclusive))|#
)

(every <a href="javascript:parent.code.dispatch('Increase')">Increase</a> has
  (<a href="javascript:parent.code.dispatch('from-value')">from-value</a> ((a <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>)))
  (<a href="javascript:parent.code.dispatch('to-value')">to-value</a>   ((an instance of (the instance-of of (the <a href="javascript:parent.code.dispatch('from-value')">from-value</a> of Self)) with
                   (<a href="javascript:parent.code.dispatch('greater-than')">greater-than</a> ((the <a href="javascript:parent.code.dispatch('from-value')">from-value</a> of Self)))
  )))

  (del-list ((:triple (the (the <a href="javascript:parent.code.dispatch('property-of-slot')">property-of-slot</a> of (the <a href="javascript:parent.code.dispatch('from-value')">from-value</a> of Self)) of (the <a href="javascript:parent.code.dispatch('from-value')">from-value</a> of Self))
                      (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of (the <a href="javascript:parent.code.dispatch('from-value')">from-value</a> of Self)) 
                      *
  )))

  (add-list ((:triple (the (the <a href="javascript:parent.code.dispatch('property-of-slot')">property-of-slot</a> of (the <a href="javascript:parent.code.dispatch('from-value')">from-value</a> of Self)) of (the <a href="javascript:parent.code.dispatch('from-value')">from-value</a> of Self))
                      (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of (the <a href="javascript:parent.code.dispatch('from-value')">from-value</a> of Self))
                      (the <a href="javascript:parent.code.dispatch('to-value')">to-value</a> of Self)
  )))
)

(<a href="javascript:parent.code.dispatch('Increase')">Increase</a> has 
  (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ('(
    (*Beer9 has 
      (instance-of (<a href="javascript:parent.code.dispatch('Liquid-Substance')">Liquid-Substance</a>))
      (<a href="javascript:parent.code.dispatch('temperature')">temperature</a> ((a <a href="javascript:parent.code.dispatch('Temperature-Value')">Temperature-Value</a> with (<a href="javascript:parent.code.dispatch('value')">value</a> ((:pair *cold <a href="javascript:parent.code.dispatch('Liquid-Substance')">Liquid-Substance</a>))))))
    )
    (*Increase9 has 
      (instance-of (<a href="javascript:parent.code.dispatch('Increase')">Increase</a>))
      (<a href="javascript:parent.code.dispatch('base')">base</a> (*Beer9))
      (<a href="javascript:parent.code.dispatch('from-value')">from-value</a> ((the <a href="javascript:parent.code.dispatch('temperature')">temperature</a> of *Beer9)))
    )
    (do-and-next *Increase9)
    ((the <a href="javascript:parent.code.dispatch('greater-than')">greater-than</a> of (the <a href="javascript:parent.code.dispatch('temperature')">temperature</a> of *Beer9))
     includes
     ((in-situation (the prev-situation of (curr-situation)) (the <a href="javascript:parent.code.dispatch('temperature')">temperature</a> of *Beer9)))
    )
))))


(<a href="javascript:parent.code.dispatch('Increase')">Increase</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                    (:triple "increase" 1 "v")
                                    (:triple "increase" 2 "v")
))))


























(every <a href="javascript:parent.code.dispatch('Increase')">Increase</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("increase")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>