<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Information')">Information</a>, 
<a href="javascript:parent.code.dispatch('Sequence')">Sequence</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Information-Sequence')">Information-Sequence</a>.km,v 1.5 2009/12/16 17:04:47 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Information-Sequence')">Information-Sequence</a> has
          (superclasses (<a href="javascript:parent.code.dispatch('Sequence')">Sequence</a> <a href="javascript:parent.code.dispatch('Information')">Information</a>))
          (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
          (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
          (<a href="javascript:parent.code.dispatch('description')">description</a> ("A sequence which encodes information.  Biological examples are DNA, RNA, and the amino acid sequence of proteins (which determines folding)."))
          (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ()) )


;; string#5 is more general but will show up when searching for sentence, etc.
(<a href="javascript:parent.code.dispatch('Information-Sequence')">Information-Sequence</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "string" 5 "n")))))


;; stubby

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>