;; 
;;    $Id: <a href="javascript:parent.code.dispatch('inhibits')">inhibits</a>.km,v 1.9 2007/04/11 21:23:39 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('inhibits')">inhibits</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (range (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (inverse (<a href="javascript:parent.code.dispatch('inhibited-by')">inhibited-by</a>))
       (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
       (cardinality (N-to-N)))




(<a href="javascript:parent.code.dispatch('inhibits')">inhibits</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('inhibits')">inhibits</a>")))
(<a href="javascript:parent.code.dispatch('inhibited-by')">inhibited-by</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is inhibited by")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('inhibits')">inhibits</a>.km,v 1.9 2007/04/11 21:23:39 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('inhibits')">inhibits</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (range (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
       (inverse (<a href="javascript:parent.code.dispatch('inhibited-by')">inhibited-by</a>))
       (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
       (cardinality (N-to-N)))




(<a href="javascript:parent.code.dispatch('inhibits')">inhibits</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('inhibits')">inhibits</a>")))
(<a href="javascript:parent.code.dispatch('inhibited-by')">inhibited-by</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is inhibited by")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>