;; 
;; $Id: <a href="javascript:parent.code.dispatch('input')">input</a>.km,v 1.7 2008/02/27 21:52:27 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('input')">input</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (inverse (<a href="javascript:parent.code.dispatch('input-of')">input-of</a>))
   (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
   (cardinality (N-to-N))
   (combine-values-by-appending (t))
)

(<a href="javascript:parent.code.dispatch('input-of')">input-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
   (combine-values-by-appending (t)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('input')">input</a>.km,v 1.7 2008/02/27 21:52:27 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('input')">input</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (inverse (<a href="javascript:parent.code.dispatch('input-of')">input-of</a>))
   (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
   (cardinality (N-to-N))
   (combine-values-by-appending (t))
)

(<a href="javascript:parent.code.dispatch('input-of')">input-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
   (combine-values-by-appending (t)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>