<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Intensity-Constant')">Intensity-Constant</a>.km,v 1.4 2003/09/10 16:38:48 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('Intensity-Constant')">Intensity-Constant</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

(<a href="javascript:parent.code.dispatch('*negligible')">*negligible</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Intensity-Constant')">Intensity-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*weak')">*weak</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Intensity-Constant')">Intensity-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*strong')">*strong</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Intensity-Constant')">Intensity-Constant</a>)))


(<a href="javascript:parent.code.dispatch('*low')">*low</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Intensity-Constant')">Intensity-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*medium')">*medium</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Intensity-Constant')">Intensity-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*high')">*high</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Intensity-Constant')">Intensity-Constant</a>)))


</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>