;; 
;;    $Id: <a href="javascript:parent.code.dispatch('integrity')">integrity</a>.km,v 1.10 2007/04/11 21:23:39 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('integrity')">integrity</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Integrity-Value')">Integrity-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Integrity-Scale')">Integrity-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Integrity-Constant')">Integrity-Constant</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('integrity-of')">integrity-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('integrity')">integrity</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('integrity')">integrity</a>" 1 "n")
                               (:triple "unity" 1 "n")
                               (:triple "wholeness" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('integrity-of')">integrity-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('integrity')">integrity</a>.km,v 1.10 2007/04/11 21:23:39 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('integrity')">integrity</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Integrity-Value')">Integrity-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Integrity-Scale')">Integrity-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Integrity-Constant')">Integrity-Constant</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('integrity-of')">integrity-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('integrity')">integrity</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('integrity')">integrity</a>" 1 "n")
                               (:triple "unity" 1 "n")
                               (:triple "wholeness" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('integrity-of')">integrity-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>