;; 
;; $Id: <a href="javascript:parent.code.dispatch('kreq-list')">kreq-list</a>.km,v 1.5 2007/04/11 21:23:40 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('kreq-list')">kreq-list</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
  #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#                  ;; :triples
  (fluent-status (*Non-Fluent))
  (original-slot      (t))	
  (cardinality (N-to-N))
)

(<a href="javascript:parent.code.dispatch('kreq-list-of')">kreq-list-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('kreq-list')">kreq-list</a>.km,v 1.5 2007/04/11 21:23:40 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('kreq-list')">kreq-list</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
  #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#                  ;; :triples
  (fluent-status (*Non-Fluent))
  (original-slot      (t))	
  (cardinality (N-to-N))
)

(<a href="javascript:parent.code.dispatch('kreq-list-of')">kreq-list-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>