;; 
;;    $Id: <a href="javascript:parent.code.dispatch('location')">location</a>.km,v 1.17 2007/04/11 21:23:40 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('location')">location</a> has
	  (instance-of (<a href="javascript:parent.code.dispatch('Spatial-Relation')">Spatial-Relation</a>))
	  (superslots ())
	  (subslots ())
;;	  (domain (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> <a href="javascript:parent.code.dispatch('Event')">Event</a>)) this <a href="javascript:parent.code.dispatch('causes')">causes</a> a unification error
	  (domain (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))  ;; tighten it up (use <a href="javascript:parent.code.dispatch('site')">site</a> for Events)
	  (range (<a href="javascript:parent.code.dispatch('Place')">Place</a>))
	  (inverse (<a href="javascript:parent.code.dispatch('location-of')">location-of</a>))
	  (cardinality (N-to-1))
          (original-slot      (t))	
	  (fluent-status (*Inertial-Fluent)))

(<a href="javascript:parent.code.dispatch('location-of')">location-of</a> has
          (combine-values-by-appending (t)))

(<a href="javascript:parent.code.dispatch('location')">location</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                  (:triple "located" 1 "a")
                                  (:triple "placed" 1 "a")
                                  (:triple "set" 3 "a")
                                  (:triple "situated" 1 "a")
				  (:triple "<a href="javascript:parent.code.dispatch('location')">location</a>" 0 "n")
))))

(<a href="javascript:parent.code.dispatch('location')">location</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is at")))
(<a href="javascript:parent.code.dispatch('location-of')">location-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Spatial-Relation')">Spatial-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is the <a href="javascript:parent.code.dispatch('location')">location</a> of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('location')">location</a>.km,v 1.17 2007/04/11 21:23:40 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('location')">location</a> has
	  (instance-of (<a href="javascript:parent.code.dispatch('Spatial-Relation')">Spatial-Relation</a>))
	  (superslots ())
	  (subslots ())
;;	  (domain (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> <a href="javascript:parent.code.dispatch('Event')">Event</a>)) this <a href="javascript:parent.code.dispatch('causes')">causes</a> a unification error
	  (domain (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))  ;; tighten it up (use <a href="javascript:parent.code.dispatch('site')">site</a> for Events)
	  (range (<a href="javascript:parent.code.dispatch('Place')">Place</a>))
	  (inverse (<a href="javascript:parent.code.dispatch('location-of')">location-of</a>))
	  (cardinality (N-to-1))
          (original-slot      (t))	
	  (fluent-status (*Inertial-Fluent)))

(<a href="javascript:parent.code.dispatch('location-of')">location-of</a> has
          (combine-values-by-appending (t)))

(<a href="javascript:parent.code.dispatch('location')">location</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                  (:triple "located" 1 "a")
                                  (:triple "placed" 1 "a")
                                  (:triple "set" 3 "a")
                                  (:triple "situated" 1 "a")
				  (:triple "<a href="javascript:parent.code.dispatch('location')">location</a>" 0 "n")
))))

(<a href="javascript:parent.code.dispatch('location')">location</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is at")))
(<a href="javascript:parent.code.dispatch('location-of')">location-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Spatial-Relation')">Spatial-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is the <a href="javascript:parent.code.dispatch('location')">location</a> of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>