<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Move')">Move</a>, 
<a href="javascript:parent.code.dispatch('Reflexive-Cliche')">Reflexive-Cliche</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Follow')">Follow</a>, 
<a href="javascript:parent.code.dispatch('Go-To')">Go-To</a>, 
<a href="javascript:parent.code.dispatch('Leave')">Leave</a>, 
<a href="javascript:parent.code.dispatch('Walk')">Walk</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Locomotion')">Locomotion</a>.km,v 1.19 2005/10/25 03:02:09 sdbaji Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Locomotion')">Locomotion</a> has
	    (superclasses (<a href="javascript:parent.code.dispatch('Move')">Move</a> <a href="javascript:parent.code.dispatch('Reflexive-Cliche')">Reflexive-Cliche</a>))
	    (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a>       (<a href="javascript:parent.code.dispatch('object')">object</a> <a href="javascript:parent.code.dispatch('agent')">agent</a>))
	    (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> 	 ())
	    (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a>      ())
	    (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> (
				  (:seq <a href="javascript:parent.code.dispatch('agent')">agent</a> "the mover")
				  (:seq <a href="javascript:parent.code.dispatch('object')">object</a> "the mover")
				  ))
          #|(sentence-type      (*punctual *conclusive))|#
)

; <a href="javascript:parent.code.dispatch('Locomotion')">Locomotion</a> is a reflexive <a href="javascript:parent.code.dispatch('Move')">Move</a> (i.e. the <a href="javascript:parent.code.dispatch('agent')">agent</a> and <a href="javascript:parent.code.dispatch('object')">object</a> are the 
; same).  This definition is completely captured by the superclass
; <a href="javascript:parent.code.dispatch('Move')">Move</a> and the Reflexive cliche.

(every <a href="javascript:parent.code.dispatch('Locomotion')">Locomotion</a> has
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-sg')">text-active-verbseq-sg</a> ("locomotes"))
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-pl')">text-active-verbseq-pl</a> ("locomote"))
)

;; nothing extra to say about contextual info
;; inherited from <a href="javascript:parent.code.dispatch('Move')">Move</a> and <a href="javascript:parent.code.dispatch('Action')">Action</a>

(<a href="javascript:parent.code.dispatch('Locomotion')">Locomotion</a> has 
	    (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ('(
			  (new-situation)
			  (*Boston has (instance-of (<a href="javascript:parent.code.dispatch('Place')">Place</a>)))
			  (*Austin has (instance-of (<a href="javascript:parent.code.dispatch('Place')">Place</a>)))
			  (*John has (instance-of (<a href="javascript:parent.code.dispatch('Living-Entity')">Living-Entity</a>)))
			  (*John has (<a href="javascript:parent.code.dispatch('location')">location</a> (*Boston)))

			  ;John Locomotes from Boston to Austin
			  (a <a href="javascript:parent.code.dispatch('Locomotion')">Locomotion</a> with
			   (<a href="javascript:parent.code.dispatch('agent')">agent</a> (*John))
			   (<a href="javascript:parent.code.dispatch('origin')">origin</a> (*Boston))
			   (<a href="javascript:parent.code.dispatch('destination')">destination</a>   (*Austin)))
			  (do-and-next (thelast <a href="javascript:parent.code.dispatch('Locomotion')">Locomotion</a>))
			  (the <a href="javascript:parent.code.dispatch('text-gen')">text-gen</a> of (thelast <a href="javascript:parent.code.dispatch('Locomotion')">Locomotion</a>))
			  ;Test1: John is now in Austin
			  ((the <a href="javascript:parent.code.dispatch('location')">location</a> of *John) = *Austin)
			  ))))







;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Locomotion')">Locomotion</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                         (:triple "locomote" 1 "v")
                                         (:triple "travel" 1 "v")
                                         (:triple "go" 1 "v")
                                         (:triple "move" 1 "v")
))))

(<a href="javascript:parent.code.dispatch('Locomotion')">Locomotion</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                         (:triple "locomote" 1 "v")
                                         (:triple "travel" 1 "v")
                                         (:triple "go" 1 "v")
                                         (:triple "move" 1 "v")
))))
(every <a href="javascript:parent.code.dispatch('Locomotion')">Locomotion</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("locomotion")))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>