<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Acceleration-Magnitude-Value')">Acceleration-Magnitude-Value</a>, 
<a href="javascript:parent.code.dispatch('Force-Magnitude-Value')">Force-Magnitude-Value</a>, 
<a href="javascript:parent.code.dispatch('Length-Value')">Length-Value</a>, 
<a href="javascript:parent.code.dispatch('Speed-Value')">Speed-Value</a>, 
<a href="javascript:parent.code.dispatch('Volume-Value')">Volume-Value</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Magnitude-Value')">Magnitude-Value</a>.km,v 1.1 2008/05/02 16:32:40 tecuci Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Magnitude-Value')">Magnitude-Value</a> has (superclasses (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>