<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Relation')">Relation</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;    $Id: <a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>.km,v 1.4 2006/04/19 18:43:27 jchaw Exp $

(<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a> has
		   (superclasses (<a href="javascript:parent.code.dispatch('Relation')">Relation</a>))
)

(<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			      (:triple "structure" 0 "n")))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>