<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Chemical')">Chemical</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Ag-Substance')">Ag-Substance</a>, 
<a href="javascript:parent.code.dispatch('Al-Substance')">Al-Substance</a>, 
<a href="javascript:parent.code.dispatch('Au-Substance')">Au-Substance</a>, 
<a href="javascript:parent.code.dispatch('Ba-Substance')">Ba-Substance</a>, 
<a href="javascript:parent.code.dispatch('Be-Substance')">Be-Substance</a>, 
<a href="javascript:parent.code.dispatch('Bh-Substance')">Bh-Substance</a>, 
<a href="javascript:parent.code.dispatch('Bi-Substance')">Bi-Substance</a>, 
<a href="javascript:parent.code.dispatch('Ca-Substance')">Ca-Substance</a>, 
<a href="javascript:parent.code.dispatch('Cd-Substance')">Cd-Substance</a>, 
<a href="javascript:parent.code.dispatch('Co-Substance')">Co-Substance</a>, 
<a href="javascript:parent.code.dispatch('Cr-Substance')">Cr-Substance</a>, 
<a href="javascript:parent.code.dispatch('Cs-Substance')">Cs-Substance</a>, 
<a href="javascript:parent.code.dispatch('Cu-Substance')">Cu-Substance</a>, 
<a href="javascript:parent.code.dispatch('Db-Substance')">Db-Substance</a>, 
<a href="javascript:parent.code.dispatch('Fe-Substance')">Fe-Substance</a>, 
<a href="javascript:parent.code.dispatch('Fr-Substance')">Fr-Substance</a>, 
<a href="javascript:parent.code.dispatch('Ga-Substance')">Ga-Substance</a>, 
<a href="javascript:parent.code.dispatch('Hf-Substance')">Hf-Substance</a>, 
<a href="javascript:parent.code.dispatch('Hg-Substance')">Hg-Substance</a>, 
<a href="javascript:parent.code.dispatch('Hs-Substance')">Hs-Substance</a>, 
<a href="javascript:parent.code.dispatch('In-Substance')">In-Substance</a>, 
<a href="javascript:parent.code.dispatch('Ir-Substance')">Ir-Substance</a>, 
<a href="javascript:parent.code.dispatch('K-Substance')">K-Substance</a>, 
<a href="javascript:parent.code.dispatch('Li-Substance')">Li-Substance</a>, 
<a href="javascript:parent.code.dispatch('Lr-Substance')">Lr-Substance</a>, 
<a href="javascript:parent.code.dispatch('Lu-Substance')">Lu-Substance</a>, 
<a href="javascript:parent.code.dispatch('Mg-Substance')">Mg-Substance</a>, 
<a href="javascript:parent.code.dispatch('Mn-Substance')">Mn-Substance</a>, 
<a href="javascript:parent.code.dispatch('Mo-Substance')">Mo-Substance</a>, 
<a href="javascript:parent.code.dispatch('Mt-Substance')">Mt-Substance</a>, 
<a href="javascript:parent.code.dispatch('Na-Substance')">Na-Substance</a>, 
<a href="javascript:parent.code.dispatch('Nb-Substance')">Nb-Substance</a>, 
<a href="javascript:parent.code.dispatch('Ni-Substance')">Ni-Substance</a>, 
<a href="javascript:parent.code.dispatch('Os-Substance')">Os-Substance</a>, 
<a href="javascript:parent.code.dispatch('Pb-Substance')">Pb-Substance</a>, 
<a href="javascript:parent.code.dispatch('Pd-Substance')">Pd-Substance</a>, 
<a href="javascript:parent.code.dispatch('Pt-Substance')">Pt-Substance</a>, 
<a href="javascript:parent.code.dispatch('Ra-Substance')">Ra-Substance</a>, 
<a href="javascript:parent.code.dispatch('Rb-Substance')">Rb-Substance</a>, 
<a href="javascript:parent.code.dispatch('Re-Substance')">Re-Substance</a>, 
<a href="javascript:parent.code.dispatch('Rf-Substance')">Rf-Substance</a>, 
<a href="javascript:parent.code.dispatch('Rh-Substance')">Rh-Substance</a>, 
<a href="javascript:parent.code.dispatch('Ru-Substance')">Ru-Substance</a>, 
<a href="javascript:parent.code.dispatch('Sc-Substance')">Sc-Substance</a>, 
<a href="javascript:parent.code.dispatch('Sg-Substance')">Sg-Substance</a>, 
<a href="javascript:parent.code.dispatch('Sn-Substance')">Sn-Substance</a>, 
<a href="javascript:parent.code.dispatch('Sr-Substance')">Sr-Substance</a>, 
<a href="javascript:parent.code.dispatch('Ta-Substance')">Ta-Substance</a>, 
<a href="javascript:parent.code.dispatch('Tc-Substance')">Tc-Substance</a>, 
<a href="javascript:parent.code.dispatch('Ti-Substance')">Ti-Substance</a>, 
<a href="javascript:parent.code.dispatch('Tl-Substance')">Tl-Substance</a>, 
<a href="javascript:parent.code.dispatch('V-Substance')">V-Substance</a>, 
<a href="javascript:parent.code.dispatch('W-Substance')">W-Substance</a>, 
<a href="javascript:parent.code.dispatch('Y-Substance')">Y-Substance</a>, 
<a href="javascript:parent.code.dispatch('Zn-Substance')">Zn-Substance</a>, 
<a href="javascript:parent.code.dispatch('Zr-Substance')">Zr-Substance</a>, 

<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Metal')">Metal</a>.km,v 1.5 2006/02/14 20:26:48 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Metal')">Metal</a> has (superclasses (<a href="javascript:parent.code.dispatch('Substance')">Substance</a>)))

(<a href="javascript:parent.code.dispatch('Metal')">Metal</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			  (:triple "metal" 1 "n")
			  (:triple "metallic_element" 1 "n")
			  (:triple "metal" 2 "n")
			  (:triple "alloy" 1 "n")
))))

;; stubby

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>