<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>.km,v 1.2 2007/04/06 16:15:42 tecuci Exp $ 
;; 

; a <a href="javascript:parent.code.dispatch('Group')">Group</a> of Slot's used by text gen and other NL tasks

(<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a> has
	       (superclasses (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>)))

(every <a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a> has
       (<a href="javascript:parent.code.dispatch('doc-file')">doc-file</a> ("nl-slot-group")))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>