;; 
;;  $Id: <a href="javascript:parent.code.dispatch('number-of-elements')">number-of-elements</a>.km,v 1.10 2007/04/11 21:31:10 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('number-of-elements')">number-of-elements</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots  ())
   (subslots    ())
   (domain      (<a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a>))    
   (range       (Number))
   (fluent-status (*Inertial-Fluent))
   (dont-cache-values (t))
   (inherit-with-overrides (t))
   (inverse     (<a href="javascript:parent.code.dispatch('number-of-elements-of')">number-of-elements-of</a>))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('number-of-elements-of')">number-of-elements-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;  $Id: <a href="javascript:parent.code.dispatch('number-of-elements')">number-of-elements</a>.km,v 1.10 2007/04/11 21:31:10 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('number-of-elements')">number-of-elements</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots  ())
   (subslots    ())
   (domain      (<a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a>))    
   (range       (Number))
   (fluent-status (*Inertial-Fluent))
   (dont-cache-values (t))
   (inherit-with-overrides (t))
   (inverse     (<a href="javascript:parent.code.dispatch('number-of-elements-of')">number-of-elements-of</a>))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('number-of-elements-of')">number-of-elements-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>