; 
;;    $Id: <a href="javascript:parent.code.dispatch('objective')">objective</a>.km,v 1.7 2007/04/11 21:31:10 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('objective')">objective</a> has
   (instance-of           (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
   (superslots            ())
   (subslots              ())
   (domain                (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   (range                 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))             ;; a <a href="javascript:parent.code.dispatch('Goal')">Goal</a> or any other <a href="javascript:parent.code.dispatch('Event')">Event</a>
   (inverse               (<a href="javascript:parent.code.dispatch('objective-of')">objective-of</a>))
   (fluent-status         (*Inertial-Fluent))
   (original-slot      (t))	
   (cardinality           (N-to-N)))

(<a href="javascript:parent.code.dispatch('objective')">objective</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has as <a href="javascript:parent.code.dispatch('objective')">objective</a>")))
(<a href="javascript:parent.code.dispatch('objective-of')">objective-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))	
(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is an <a href="javascript:parent.code.dispatch('objective')">objective</a> of")))	
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>; 
;;    $Id: <a href="javascript:parent.code.dispatch('objective')">objective</a>.km,v 1.7 2007/04/11 21:31:10 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('objective')">objective</a> has
   (instance-of           (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
   (superslots            ())
   (subslots              ())
   (domain                (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   (range                 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))             ;; a <a href="javascript:parent.code.dispatch('Goal')">Goal</a> or any other <a href="javascript:parent.code.dispatch('Event')">Event</a>
   (inverse               (<a href="javascript:parent.code.dispatch('objective-of')">objective-of</a>))
   (fluent-status         (*Inertial-Fluent))
   (original-slot      (t))	
   (cardinality           (N-to-N)))

(<a href="javascript:parent.code.dispatch('objective')">objective</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has as <a href="javascript:parent.code.dispatch('objective')">objective</a>")))
(<a href="javascript:parent.code.dispatch('objective-of')">objective-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))	
(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is an <a href="javascript:parent.code.dispatch('objective')">objective</a> of")))	
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>