<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Action')">Action</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a>.km,v 1.34 2005/10/25 03:02:10 sdbaji Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a> has
  (superclasses        (<a href="javascript:parent.code.dispatch('Action')">Action</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a>       (<a href="javascript:parent.code.dispatch('agent')">agent</a> <a href="javascript:parent.code.dispatch('object')">object</a>))
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>        ())
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a>      ())
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> (
		 	(:seq <a href="javascript:parent.code.dispatch('object')">object</a> "the barrier penetrated")
		 	(:seq <a href="javascript:parent.code.dispatch('agent')">agent</a> "the penetrator")
		       ))
#|(sentence-type       (*punctual *conclusive))|#
)

(every <a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a> has 
       (<a href="javascript:parent.code.dispatch('agent')">agent</a> 		((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
       #| implementing partial roles|#
       (<a href="javascript:parent.code.dispatch('object')">object</a>  ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> with
		    (<a href="javascript:parent.code.dispatch('plays')">plays</a> ((a <a href="javascript:parent.code.dispatch('Barrier')">Barrier</a>))))))
       #|(<a href="javascript:parent.code.dispatch('object')">object</a> (((a <a href="javascript:parent.code.dispatch('Barrier')">Barrier</a>) &
		 (a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)
		 )))|#

       ;; SOFT PCS: The soft preconditions for this action should be
       ;;	    capture by the its subevents.
       ;; (<a href="javascript:parent.code.dispatch('soft-pcs-list')">soft-pcs-list</a> ())

       (<a href="javascript:parent.code.dispatch('path')">path</a> 		((the <a href="javascript:parent.code.dispatch('result')">result</a> of (the <a href="javascript:parent.code.dispatch('Breach')">Breach</a> <a href="javascript:parent.code.dispatch('subevent')">subevent</a> of Self))))
       (<a href="javascript:parent.code.dispatch('first-subevent')">first-subevent</a>  ((the <a href="javascript:parent.code.dispatch('Breach')">Breach</a> <a href="javascript:parent.code.dispatch('subevent')">subevent</a> of Self)))
       (<a href="javascript:parent.code.dispatch('subevent')">subevent</a> 	((a <a href="javascript:parent.code.dispatch('Breach')">Breach</a> with
		     	    (<a href="javascript:parent.code.dispatch('agent')">agent</a>  	((the <a href="javascript:parent.code.dispatch('agent')">agent</a> of Self)))
		     	    (<a href="javascript:parent.code.dispatch('object')">object</a> 	((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))
			    (<a href="javascript:parent.code.dispatch('next-event')">next-event</a> ((the <a href="javascript:parent.code.dispatch('Go-Through')">Go-Through</a> <a href="javascript:parent.code.dispatch('subevent')">subevent</a> of Self))))
		  	 (a <a href="javascript:parent.code.dispatch('Go-Through')">Go-Through</a> with
		     	    (<a href="javascript:parent.code.dispatch('agent')">agent</a> ((the <a href="javascript:parent.code.dispatch('agent')">agent</a> of Self)))
			    (<a href="javascript:parent.code.dispatch('path')">path</a>  ((the <a href="javascript:parent.code.dispatch('result')">result</a> of 
				         (the <a href="javascript:parent.code.dispatch('Breach')">Breach</a> <a href="javascript:parent.code.dispatch('subevent')">subevent</a> of Self))))))))

(every <a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a> has
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-sg')">text-active-verbseq-sg</a> ("penetrates"))
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-pl')">text-active-verbseq-pl</a> ("penetrate"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-sg')">text-passive-verbseq-sg</a> ("gets penetrated"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-pl')">text-passive-verbseq-pl</a> ("get penetrated"))

  (<a href="javascript:parent.code.dispatch('text-path')">text-path</a> ("through"))
)


(<a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a> has
  (<a href="javascript:parent.code.dispatch('test-case')">test-case</a>  ( '(
		  (*forces has (instance-of (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))
                               (<a href="javascript:parent.code.dispatch('is-outside')">is-outside</a> (*castle)))
		  (*castle has (instance-of (<a href="javascript:parent.code.dispatch('Physical-Object')">Physical-Object</a>))
                               (<a href="javascript:parent.code.dispatch('has-part')">has-part</a> (*castle-wall)))
		  (*castle-wall has (instance-of (<a href="javascript:parent.code.dispatch('Physical-Object')">Physical-Object</a>)))
		  (a <a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a> with 
		     (<a href="javascript:parent.code.dispatch('agent')">agent</a> (*forces))
		     (<a href="javascript:parent.code.dispatch('object')">object</a> (*castle-wall)))
		  
		  (do-script (thelast <a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a>))
		 (the <a href="javascript:parent.code.dispatch('text-gen')">text-gen</a> of (thelast <a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a>))
		 (forall (the <a href="javascript:parent.code.dispatch('subevent')">subevent</a> of (thelast <a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a>)) (the <a href="javascript:parent.code.dispatch('text-gen')">text-gen</a> of It))
                  #| implementing partial role
		  ((the <a href="javascript:parent.code.dispatch('Portal')">Portal</a> <a href="javascript:parent.code.dispatch('has-region')">has-region</a> of (the <a href="javascript:parent.code.dispatch('Barrier')">Barrier</a> <a href="javascript:parent.code.dispatch('plays')">plays</a> of *castle-wall))
                    = (the <a href="javascript:parent.code.dispatch('path')">path</a> of (thelast <a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a>)))|#
		  ((the <a href="javascript:parent.code.dispatch('has-region')">has-region</a> of *castle-wall) = (the <a href="javascript:parent.code.dispatch('path')">path</a> of (thelast <a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a>)))

                  (not ((the <a href="javascript:parent.code.dispatch('is-outside')">is-outside</a> of *forces) includes *castle))
		
		 ))))








;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                        (:triple "penetrate" 1 "v")
))))

(<a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                        (:triple "penetrate" 1 "v")
))))
(every <a href="javascript:parent.code.dispatch('Penetrate')">Penetrate</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("penetration")))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>