<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Piece-of-Substance')">Piece-of-Substance</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Piece-of-Paper')">Piece-of-Paper</a>.km,v 1.2 2004/09/09 23:45:31 gking Exp $
;; 

(<a href="javascript:parent.code.dispatch('Piece-of-Paper')">Piece-of-Paper</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Piece-of-Substance')">Piece-of-Substance</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
)

(every <a href="javascript:parent.code.dispatch('Piece-of-Paper')">Piece-of-Paper</a> has
  (<a href="javascript:parent.code.dispatch('material')">material</a> ((a <a href="javascript:parent.code.dispatch('Paper')">Paper</a>)))
)

(<a href="javascript:parent.code.dispatch('Piece-of-Paper')">Piece-of-Paper</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
				   (:triple "paper" 5 "n")
))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>