<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Eukaryote')">Eukaryote</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Plant')">Plant</a>.km,v 1.6 2010/01/22 15:46:46 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Plant')">Plant</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Organism')">Organism</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("a living entity incapable of locomotion"))
)

(every <a href="javascript:parent.code.dispatch('Plant')">Plant</a> has
  (<a href="javascript:parent.code.dispatch('capability')">capability</a> ((mustnt-be-a <a href="javascript:parent.code.dispatch('Agent-Role')">Agent-Role</a> with
                  (<a href="javascript:parent.code.dispatch('in-event')">in-event</a> ((a <a href="javascript:parent.code.dispatch('Locomotion')">Locomotion</a>)))
  )))
)

(<a href="javascript:parent.code.dispatch('Plant')">Plant</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                           (:triple "plant" 2 "n")
                           (:triple "plant_life" 1 "n")
                           (:triple "flora" 2 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>