<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Architectural-Structure')">Architectural-Structure</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Floor')">Floor</a>, 

<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Platform')">Platform</a>.km,v 1.5 2006/04/12 19:33:24 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('Platform')">Platform</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Architectural-Structure')">Architectural-Structure</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("a horizontal architectural structure supporting everything on it"))
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
)

(every <a href="javascript:parent.code.dispatch('Platform')">Platform</a> has
  (<a href="javascript:parent.code.dispatch('orientation')">orientation</a> ((a <a href="javascript:parent.code.dispatch('Angle-Value')">Angle-Value</a> with
                   (<a href="javascript:parent.code.dispatch('value')">value</a> ((:pair <a href="javascript:parent.code.dispatch('*horizontal')">*horizontal</a> <a href="javascript:parent.code.dispatch('Entity')">Entity</a>)))
  )))

  (<a href="javascript:parent.code.dispatch('instrument-of')">instrument-of</a> ((forall (the <a href="javascript:parent.code.dispatch('has-on-it')">has-on-it</a> of Self)
                   (a <a href="javascript:parent.code.dispatch('Be-Supported')">Be-Supported</a> with
                      (<a href="javascript:parent.code.dispatch('object')">object</a> (It))
                      (<a href="javascript:parent.code.dispatch('instrument')">instrument</a> (Self))
                   )
  )))
)

(<a href="javascript:parent.code.dispatch('Platform')">Platform</a> has
  (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ('(
                (*TheOrchestra has (instance-of (<a href="javascript:parent.code.dispatch('Organization')">Organization</a>)))
                (*TheChoir has (instance-of (<a href="javascript:parent.code.dispatch('Organization')">Organization</a>)))
                (*TheConductor has (instance-of (<a href="javascript:parent.code.dispatch('Person')">Person</a>)))
                (*TheStage has (instance-of (<a href="javascript:parent.code.dispatch('Platform')">Platform</a>))
                               (<a href="javascript:parent.code.dispatch('has-on-it')">has-on-it</a> (*TheOrchestra
                                           *TheChoir
                                           *TheConductor))
                )
                ((the <a href="javascript:parent.code.dispatch('object')">object</a> of (the <a href="javascript:parent.code.dispatch('Be-Supported')">Be-Supported</a> <a href="javascript:parent.code.dispatch('instrument-of')">instrument-of</a> of *TheStage))
                  includes *TheOrchestra
                )
                ((the <a href="javascript:parent.code.dispatch('instrument')">instrument</a> of (the <a href="javascript:parent.code.dispatch('Be-Supported')">Be-Supported</a> <a href="javascript:parent.code.dispatch('object-of')">object-of</a> of *TheChoir))
                 = *TheStage
                )
))))

(<a href="javascript:parent.code.dispatch('Platform')">Platform</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			     (:triple "support" 7 "n")
			     (:triple "support" 10 "n")
			     (:triple "supporting_structure" 1 "n")
))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>