 
;;
;;  $Id: <a href="javascript:parent.code.dispatch('polarity')">polarity</a>.km,v 1.11 2007/04/11 21:31:10 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('polarity')">polarity</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots  ())
   (subslots    ())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Polarity-Value')">Polarity-Value</a>))
   (<a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a>   (<a href="javascript:parent.code.dispatch('Polarity-Constant')">Polarity-Constant</a>))    
   (fluent-status (*Inertial-Fluent))
   (inverse     (<a href="javascript:parent.code.dispatch('polarity-of')">polarity-of</a>))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1))
)

(<a href="javascript:parent.code.dispatch('polarity')">polarity</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('polarity')">polarity</a>" 2 "n")
                               (:triple "sign" 7 "n")
))))

(<a href="javascript:parent.code.dispatch('polarity-of')">polarity-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML> 
;;
;;  $Id: <a href="javascript:parent.code.dispatch('polarity')">polarity</a>.km,v 1.11 2007/04/11 21:31:10 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('polarity')">polarity</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots  ())
   (subslots    ())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Polarity-Value')">Polarity-Value</a>))
   (<a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a>   (<a href="javascript:parent.code.dispatch('Polarity-Constant')">Polarity-Constant</a>))    
   (fluent-status (*Inertial-Fluent))
   (inverse     (<a href="javascript:parent.code.dispatch('polarity-of')">polarity-of</a>))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1))
)

(<a href="javascript:parent.code.dispatch('polarity')">polarity</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('polarity')">polarity</a>" 2 "n")
                               (:triple "sign" 7 "n")
))))

(<a href="javascript:parent.code.dispatch('polarity-of')">polarity-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>