;; 
;;    $Id: <a href="javascript:parent.code.dispatch('preparatory-event')">preparatory-event</a>.km,v 1.11 2007/04/11 21:31:10 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('preparatory-event')">preparatory-event</a> has
  (instance-of 	 (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (range 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
  (cardinality 	 (N-to-N)))

(<a href="javascript:parent.code.dispatch('preparatory-event-of')">preparatory-event-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))




</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('preparatory-event')">preparatory-event</a>.km,v 1.11 2007/04/11 21:31:10 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('preparatory-event')">preparatory-event</a> has
  (instance-of 	 (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (range 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
  (cardinality 	 (N-to-N)))

(<a href="javascript:parent.code.dispatch('preparatory-event-of')">preparatory-event-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))




</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>