<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>

;;
;; $Id: <a href="javascript:parent.code.dispatch('Pressure-Value')">Pressure-Value</a>.km,v 1.1 2006/11/21 22:53:12 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Pressure-Value')">Pressure-Value</a> has (superclasses (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>