<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Pressure-Constant')">Pressure-Constant</a>.km,v 1.1 2006/11/21 22:53:12 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Pressure-Constant')">Pressure-Constant</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))
  
(<a href="javascript:parent.code.dispatch('*low')">*low</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Pressure-Constant')">Pressure-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*high')">*high</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Pressure-Constant')">Pressure-Constant</a>)))	

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>