<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Scale')">Scale</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Priority-Scale')">Priority-Scale</a>.km,v 1.1 2003/09/23 20:44:54 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Priority-Scale')">Priority-Scale</a> has (superclasses (<a href="javascript:parent.code.dispatch('Scale')">Scale</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>