;; 
;;    $Id: <a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>.km,v 1.9 2007/04/11 21:31:10 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> has
	      (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
	      (superslots ())
	      (subslots ())
	      (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
	      (range (<a href="javascript:parent.code.dispatch('Slot')">Slot</a>))
	      (fluent-status (*Non-Fluent))
              (original-slot      (t))	
	      (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('primary-slot-of')">primary-slot-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))







</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>.km,v 1.9 2007/04/11 21:31:10 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> has
	      (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
	      (superslots ())
	      (subslots ())
	      (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
	      (range (<a href="javascript:parent.code.dispatch('Slot')">Slot</a>))
	      (fluent-status (*Non-Fluent))
              (original-slot      (t))	
	      (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('primary-slot-of')">primary-slot-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))







</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>