<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Priority-Constant')">Priority-Constant</a>.km,v 1.1 2003/09/23 20:44:54 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Priority-Constant')">Priority-Constant</a> has (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

(<a href="javascript:parent.code.dispatch('*low')">*low</a> has (instance-of (<a href="javascript:parent.code.dispatch('Priority-Constant')">Priority-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*medium')">*medium</a> has (instance-of (<a href="javascript:parent.code.dispatch('Priority-Constant')">Priority-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*high')">*high</a> has (instance-of (<a href="javascript:parent.code.dispatch('Priority-Constant')">Priority-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*urgent')">*urgent</a> has (instance-of (<a href="javascript:parent.code.dispatch('Priority-Constant')">Priority-Constant</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>