
;;
;;  $Id: <a href="javascript:parent.code.dispatch('property-of-slot')">property-of-slot</a>.km,v 1.7 2007/04/11 21:31:10 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('property-of-slot')">property-of-slot</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (range (<a href="javascript:parent.code.dispatch('Slot')">Slot</a>))
  (cardinality (N-to-N))
  (original-slot      (t))	
  (fluent-status (*Non-Fluent))
)

(<a href="javascript:parent.code.dispatch('property-of-slot-of')">property-of-slot-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>
;;
;;  $Id: <a href="javascript:parent.code.dispatch('property-of-slot')">property-of-slot</a>.km,v 1.7 2007/04/11 21:31:10 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('property-of-slot')">property-of-slot</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (range (<a href="javascript:parent.code.dispatch('Slot')">Slot</a>))
  (cardinality (N-to-N))
  (original-slot      (t))	
  (fluent-status (*Non-Fluent))
)

(<a href="javascript:parent.code.dispatch('property-of-slot-of')">property-of-slot-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>