
;;
;;   $Id: <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a>.km,v 1.9 2008/03/31 21:40:16 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a> <a href="javascript:parent.code.dispatch('Property-Class-Order')">Property-Class-Order</a> <a href="javascript:parent.code.dispatch('Increase')">Increase</a> <a href="javascript:parent.code.dispatch('Decrease')">Decrease</a>))   ;; triple-duty utility slot
  (range (<a href="javascript:parent.code.dispatch('Slot')">Slot</a>))
  (cardinality (N-to-1))
  (inherit-with-overrides (t))
  (fluent-status (*Non-Fluent))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('property-slot-of')">property-slot-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>
;;
;;   $Id: <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a>.km,v 1.9 2008/03/31 21:40:16 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a> <a href="javascript:parent.code.dispatch('Property-Class-Order')">Property-Class-Order</a> <a href="javascript:parent.code.dispatch('Increase')">Increase</a> <a href="javascript:parent.code.dispatch('Decrease')">Decrease</a>))   ;; triple-duty utility slot
  (range (<a href="javascript:parent.code.dispatch('Slot')">Slot</a>))
  (cardinality (N-to-1))
  (inherit-with-overrides (t))
  (fluent-status (*Non-Fluent))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('property-slot-of')">property-slot-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>