<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;  $Id: <a href="javascript:parent.code.dispatch('Quantity-Value')">Quantity-Value</a>.km,v 1.5 2007/05/15 21:30:46 mrglass Exp $
;; 

(<a href="javascript:parent.code.dispatch('Quantity-Value')">Quantity-Value</a> has 
		(superclasses (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>)))

(<a href="javascript:parent.code.dispatch('Quantity-Value')">Quantity-Value</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("<a href="javascript:parent.code.dispatch('quantity')">quantity</a> is a property describing the amount of a Chemical")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>