;; 
;;    $Id: <a href="javascript:parent.code.dispatch('radius')">radius</a>.km,v 1.9 2007/04/11 21:31:10 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('radius')">radius</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Length-Value')">Length-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Radius-Scale')">Radius-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Radius-Constant')">Radius-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Length')">UoM-Length</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('radius-of')">radius-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('radius')">radius</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('radius')">radius</a>" 1 "n")
                               (:triple "r" 4 "n")
))))

(<a href="javascript:parent.code.dispatch('radius-of')">radius-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('radius')">radius</a>.km,v 1.9 2007/04/11 21:31:10 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('radius')">radius</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Length-Value')">Length-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Radius-Scale')">Radius-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Radius-Constant')">Radius-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Length')">UoM-Length</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('radius-of')">radius-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('radius')">radius</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('radius')">radius</a>" 1 "n")
                               (:triple "r" 4 "n")
))))

(<a href="javascript:parent.code.dispatch('radius-of')">radius-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>