;;
;; $Id: <a href="javascript:parent.code.dispatch('reference-class')">reference-class</a>.km,v 1.7 2007/04/11 21:31:10 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('reference-class')">reference-class</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Cardinal')">Cardinal</a>))
  (range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))                         ;; Class
  (inverse (<a href="javascript:parent.code.dispatch('reference-class-of')">reference-class-of</a>))
  (cardinality (N-to-1))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('reference-class-of')">reference-class-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;;
;; $Id: <a href="javascript:parent.code.dispatch('reference-class')">reference-class</a>.km,v 1.7 2007/04/11 21:31:10 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('reference-class')">reference-class</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Cardinal')">Cardinal</a>))
  (range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))                         ;; Class
  (inverse (<a href="javascript:parent.code.dispatch('reference-class-of')">reference-class-of</a>))
  (cardinality (N-to-1))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('reference-class-of')">reference-class-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>