<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Slot')">Slot</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Agentive-Relation')">Agentive-Relation</a>, 
<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>, 
<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>, 
<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>, 
<a href="javascript:parent.code.dispatch('Spatial-Relation')">Spatial-Relation</a>, 
<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Relation')">Relation</a>.km,v 1.6 2010/05/18 14:58:30 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Relation')">Relation</a> has 
	  (superclasses (<a href="javascript:parent.code.dispatch('Slot')">Slot</a>)))

(every <a href="javascript:parent.code.dispatch('Relation')">Relation</a> has
  (shaken-ui-hidden-slot ((if (anonymous-instancep Self) then t)))
)

(every <a href="javascript:parent.code.dispatch('Relation')">Relation</a> now-has
  (name ((#'(LAMBDA () (IF (STRING= (STRING (KM-UNIQUE0 '|Self|))
                                    "has-"
                                    :END1 4
                           )
                           (SUBSEQ (STRING (KM-UNIQUE0 '|Self|)) 4)
                           (STRING (KM-UNIQUE0 '|Self|))
                       )
  ))))
)

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>