;; 
;; $Id: <a href="javascript:parent.code.dispatch('rotational-rate')">rotational-rate</a>.km,v 1.6 2007/04/11 21:31:10 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('rotational-rate')">rotational-rate</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>))
  (superslots  ())
  (subslots    ())
  (domain      (<a href="javascript:parent.code.dispatch('Event')">Event</a>))    
  (range       (<a href="javascript:parent.code.dispatch('Rotational-Rate-Value')">Rotational-Rate-Value</a>))
  (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Rotational-Rate-Constant')">Rotational-Rate-Constant</a>))
  (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> (<a href="javascript:parent.code.dispatch('UoM-Rotational-Rate')">UoM-Rotational-Rate</a>))
  (inverse     (<a href="javascript:parent.code.dispatch('rotational-rate-of')">rotational-rate-of</a>))
  (fluent-status (*Inertial-Fluent))
  ; (inherit-with-overrides (t))
  (original-slot      (t))	
  (cardinality (N-to-1))
)

(<a href="javascript:parent.code.dispatch('rotational-rate-of')">rotational-rate-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('rotational-rate')">rotational-rate</a>.km,v 1.6 2007/04/11 21:31:10 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('rotational-rate')">rotational-rate</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>))
  (superslots  ())
  (subslots    ())
  (domain      (<a href="javascript:parent.code.dispatch('Event')">Event</a>))    
  (range       (<a href="javascript:parent.code.dispatch('Rotational-Rate-Value')">Rotational-Rate-Value</a>))
  (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Rotational-Rate-Constant')">Rotational-Rate-Constant</a>))
  (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> (<a href="javascript:parent.code.dispatch('UoM-Rotational-Rate')">UoM-Rotational-Rate</a>))
  (inverse     (<a href="javascript:parent.code.dispatch('rotational-rate-of')">rotational-rate-of</a>))
  (fluent-status (*Inertial-Fluent))
  ; (inherit-with-overrides (t))
  (original-slot      (t))	
  (cardinality (N-to-1))
)

(<a href="javascript:parent.code.dispatch('rotational-rate-of')">rotational-rate-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>