;;
;;   $Id: <a href="javascript:parent.code.dispatch('same-as')">same-as</a>.km,v 1.11 2007/06/12 21:09:43 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('same-as')">same-as</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>))      ; not a property (even though domain is Value)
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (range (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (inverse (<a href="javascript:parent.code.dispatch('same-as')">same-as</a>))
  (cardinality (N-to-N))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('same-as')">same-as</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is the same as")))

(<a href="javascript:parent.code.dispatch('same-as')">same-as</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set 
				   (:triple "same as" 0 "n")
))))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;;
;;   $Id: <a href="javascript:parent.code.dispatch('same-as')">same-as</a>.km,v 1.11 2007/06/12 21:09:43 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('same-as')">same-as</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>))      ; not a property (even though domain is Value)
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (range (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (inverse (<a href="javascript:parent.code.dispatch('same-as')">same-as</a>))
  (cardinality (N-to-N))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('same-as')">same-as</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is the same as")))

(<a href="javascript:parent.code.dispatch('same-as')">same-as</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set 
				   (:triple "same as" 0 "n")
))))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>