;;
;; $Id: <a href="javascript:parent.code.dispatch('scale-class')">scale-class</a>.km,v 1.8 2007/04/11 21:42:43 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Property')">Property</a>))
   (range  (<a href="javascript:parent.code.dispatch('Scale')">Scale</a>))
   (cardinality (N-to-N))
   (fluent-status (*Non-Fluent))
   (original-slot      (t))	
) 

(<a href="javascript:parent.code.dispatch('scale-class-of')">scale-class-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;;
;; $Id: <a href="javascript:parent.code.dispatch('scale-class')">scale-class</a>.km,v 1.8 2007/04/11 21:42:43 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Property')">Property</a>))
   (range  (<a href="javascript:parent.code.dispatch('Scale')">Scale</a>))
   (cardinality (N-to-N))
   (fluent-status (*Non-Fluent))
   (original-slot      (t))	
) 

(<a href="javascript:parent.code.dispatch('scale-class-of')">scale-class-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>