<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Role')">Role</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Seat')">Seat</a>.km,v 1.2 2004/09/19 20:09:34 gking Exp $
;;

(<a href="javascript:parent.code.dispatch('Seat')">Seat</a> has (superclasses (<a href="javascript:parent.code.dispatch('Role')">Role</a>)))

(<a href="javascript:parent.code.dispatch('Seat')">Seat</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			 (:triple "seat" 3 "n")
			 (:triple "seat" 4 "n")
))))

;; stubby
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>