<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>

;;
;; $Id: <a href="javascript:parent.code.dispatch('Sex-Constant')">Sex-Constant</a>.km,v 1.2 2002/07/01 18:41:07 jarred Exp $
;;

(<a href="javascript:parent.code.dispatch('Sex-Constant')">Sex-Constant</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

  (*female has
        (instance-of (<a href="javascript:parent.code.dispatch('Sex-Constant')">Sex-Constant</a>)))

  (*male has
        (instance-of (<a href="javascript:parent.code.dispatch('Sex-Constant')">Sex-Constant</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>