<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Viewpoint')">Viewpoint</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>

;;
;; $Id: <a href="javascript:parent.code.dispatch('Slot-Query-Viewpoint')">Slot-Query-Viewpoint</a>.km,v 1.14 2010/05/18 14:58:30 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Slot-Query-Viewpoint')">Slot-Query-Viewpoint</a> has (superclasses (<a href="javascript:parent.code.dispatch('Viewpoint')">Viewpoint</a>)))

(every <a href="javascript:parent.code.dispatch('Slot-Query-Viewpoint')">Slot-Query-Viewpoint</a> has
  (<a href="javascript:parent.code.dispatch('viewpoint-question')">viewpoint-question</a> (
    (make-phrase (:seq "What is the relationship between"
                       (the <a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> of (the2 of (the2 of (the1 of (the <a href="javascript:parent.code.dispatch('viewpoint-query')">viewpoint-query</a> of Self)))))
                       "and"
                       (the <a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> of (the3 of (the2 of (the1 of (the <a href="javascript:parent.code.dispatch('viewpoint-query')">viewpoint-query</a> of Self)))))
                       "nospace" "?"
                 )
    )
  ))
                                   
  (<a href="javascript:parent.code.dispatch('viewpoint-answer')">viewpoint-answer</a> ((
    (?csltmp == (forall ?trip in (the elements of (the <a href="javascript:parent.code.dispatch('viewpoint-target')">viewpoint-target</a> of Self))
                 where (((the2 of ?trip) isa <a href="javascript:parent.code.dispatch('Relation')">Relation</a>)
                        and
                        (?valphrase == (make-phrase (the <a href="javascript:parent.code.dispatch('text-indef-phrase')">text-indef-phrase</a> of (the3 of ?trip))))
                        and
                        (?valphrase /= "")
                        and
                        (not ((:set "an entity" "an event" "a role" "an intangible-entity"
                                    "a tangible-entity" "a spatial-entity" "a place"
                              ) includes ?valphrase)
                        )
                       )
                 (:pair (the1 of ?trip) (the2 of ?trip))
                )
    )
    and
    (?concsl == (allof ?cslpair in ?csltmp
                 where (not (oneof ?cslpair2 in ?csltmp     ;; remove superslot pair if subslot exists
                             where (((the1 of ?cslpair2) = (the1 of ?cslpair))
                                    and
                                    ((the superslots of (the2 of ?cslpair2)) includes (the2 of ?cslpair))
                                   )
                            )
                       )
    ))
    and
    (?i1 == (the2 of (the2 of (the1 of (the <a href="javascript:parent.code.dispatch('viewpoint-query')">viewpoint-query</a> of Self)))))
    and
    (?i2 == (the3 of (the2 of (the1 of (the <a href="javascript:parent.code.dispatch('viewpoint-query')">viewpoint-query</a> of Self)))))
    and
    (?i1-text == (the <a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> of ?i1))
    and
    (?i2-text == (the <a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> of ?i2))
    and
    (if (has-value ?concsl)
     then (:seq (#'(LAMBDA () (BPS-LINKIFY-DOMSPEC-INSTANCE
                                '|?i1|
                                (CAPITALIZE (MAKE-PHRASE (KM0 '|?i1-text|)))))
                )
                "and"
                (#'(LAMBDA () (BPS-LINKIFY-DOMSPEC-INSTANCE
                                '|?i2|
                                (MAKE-PHRASE (KM0 '|?i2-text|))))
                )
                "are related in the following ways:<ul>
"
                (forall ?cs in ?concsl
                 (:seq "<li>" "nospace"
                       (make-sentence
                          (:seq (the <a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> of (the1 of ?cs))
                                (if (has-value (the <a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> of (the2 of ?cs)))
                                 then (the <a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> of (the2 of ?cs))
                                 else (if (has-value (the <a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> of (the2 of ?cs)))
                                       then (:seq "is" (the (the <a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> of (the2 of ?cs)) of (the1 of ?cs)))
                                       else (:seq "--" (the2 of ?cs) "--")
                                      )
                                )
                                (andify
                                  (forall ?trip in (the elements of (the <a href="javascript:parent.code.dispatch('viewpoint-target')">viewpoint-target</a> of Self))
                                   where (((the1 of ?trip) = (the1 of ?cs))
                                          and
                                          ((the2 of ?trip) = (the2 of ?cs))
                                   )
                                   (the <a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> of (the3 of ?trip))
                                  )
                                )
                          )
                       )
                       "</li>
")
                )
                "</ul>
"
          )
     else (:seq "Unable to find any relationship between"
                (#'(LAMBDA () (BPS-LINKIFY-DOMSPEC-INSTANCE
                                '|?i1|
                                (MAKE-PHRASE (KM0 '|?i1-text|))))
                )
                "and"
                (#'(LAMBDA () (BPS-LINKIFY-DOMSPEC-INSTANCE
                                '|?i2|
                                (MAKE-PHRASE (KM0 '|?i2-text|))))
                )
          )
     )
  )))

#|
  (<a href="javascript:parent.code.dispatch('viewpoint-detail')">viewpoint-detail</a> (
    (if (has-value (the1 of (the <a href="javascript:parent.code.dispatch('viewpoint-query')">viewpoint-query</a> of Self)))
     then (if ((the1 of (the1 of (the <a href="javascript:parent.code.dispatch('viewpoint-query')">viewpoint-query</a> of Self))) = *slot-query)
      then (
        (?vq == (the1 of (the <a href="javascript:parent.code.dispatch('viewpoint-query')">viewpoint-query</a> of Self)))
        and
        (?fr == (the1 of (the2 of ?vq)))
        and
        (?sl == (the2 of (the2 of ?vq)))
        and
        (make-phrase
          (:seq 
                (get-justification (:triple ?fr ?sl *))
                "<br /><br />
"
                "<li><b>" (the instance-of of ?fr) "nospace" ":</b>"
                (make-sentence (
                  (the <a href="javascript:parent.code.dispatch('user-description')">user-description</a> of (the instance-of of ?fr))
                  or
                  (the <a href="javascript:parent.code.dispatch('description')">description</a> of (the instance-of of ?fr))
                  or
                  (the <a href="javascript:parent.code.dispatch('text-definition-sentence')">text-definition-sentence</a> of ?fr)
                ))
                "</li>
"
                (forall ?val in (the ?sl of ?fr)
                        (:seq "<li>"
                              (the <a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> of ?fr)
                              "is"
                              ((the (the <a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> of ?sl) of ?fr)
                               or "related to")
                              (the <a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> of ?val)
                              "</li>
"
                        )
                )
                (get-justification (:triple ?fr instance-of *))
                "<br />
"
                (forall ?val in (the ?sl of ?fr) 
                        (:seq (get-justification (:triple ?val instance-of *))
                              "<br />
"
                        )
                )
          ))
        )
    ))
  ))
|#

)

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>