<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>

;;
;;  $Id: <a href="javascript:parent.code.dispatch('Slope-Constant')">Slope-Constant</a>.km,v 1.1 2002/06/26 15:47:09 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Slope-Constant')">Slope-Constant</a> has
   (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

(<a href="javascript:parent.code.dispatch('*vertical')">*vertical</a>   has (instance-of (<a href="javascript:parent.code.dispatch('Slope-Constant')">Slope-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*steep')">*steep</a>      has (instance-of (<a href="javascript:parent.code.dispatch('Slope-Constant')">Slope-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*gradual')">*gradual</a>    has (instance-of (<a href="javascript:parent.code.dispatch('Slope-Constant')">Slope-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*horizontal')">*horizontal</a> has (instance-of (<a href="javascript:parent.code.dispatch('Slope-Constant')">Slope-Constant</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>