;; 
;;    $Id: <a href="javascript:parent.code.dispatch('slope')">slope</a>.km,v 1.10 2007/04/11 21:42:43 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('slope')">slope</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Unitless-Value')">Unitless-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Slope-Scale')">Slope-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Slope-Constant')">Slope-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Unitless')">UoM-Unitless</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('slope-of')">slope-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('slope')">slope</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('slope')">slope</a>" 2 "n")
                               (:triple "gradient" 2 "n")
))))

(<a href="javascript:parent.code.dispatch('slope-of')">slope-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('slope')">slope</a>.km,v 1.10 2007/04/11 21:42:43 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('slope')">slope</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Unitless-Value')">Unitless-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Slope-Scale')">Slope-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Slope-Constant')">Slope-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Unitless')">UoM-Unitless</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('slope-of')">slope-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('slope')">slope</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('slope')">slope</a>" 2 "n")
                               (:triple "gradient" 2 "n")
))))

(<a href="javascript:parent.code.dispatch('slope-of')">slope-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>