<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a>.km,v 1.5 2003/09/10 16:38:49 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

  (*smokey has
	(instance-of (<a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a>)))

  (*flowery has
	(instance-of (<a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a>)))

  (*rancid has
	(instance-of (<a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a>)))

  (*odorless has
	(instance-of (<a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a>)))

  (*fruity has
	(instance-of (<a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a>)))

  (*musky has
	(instance-of (<a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a>)))
 
  (*spicy has
	(instance-of (<a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a>)))

   (*foul has
	(instance-of (<a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a>)))

  (*fresh has
	(instance-of (<a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a>)))

  (*stinky has
	(instance-of (<a href="javascript:parent.code.dispatch('Smell-Constant')">Smell-Constant</a>)))

  


</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>