;; 
;;    $Id: <a href="javascript:parent.code.dispatch('space-int-meet')">space-int-meet</a>.km,v 1.4 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('space-int-meet')">space-int-meet</a> has
		 (instance-of (<a href="javascript:parent.code.dispatch('Spatial-Relation')">Spatial-Relation</a>))
		 (superslots ())
		 (subslots ())
		 (domain (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
		 (range (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
		 (inverse (<a href="javascript:parent.code.dispatch('space-int-meet')">space-int-meet</a>))
		 (fluent-status (*Inertial-Fluent))
                 (original-slot      (t))	
		 (cardinality (N-to-N)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('space-int-meet')">space-int-meet</a>.km,v 1.4 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('space-int-meet')">space-int-meet</a> has
		 (instance-of (<a href="javascript:parent.code.dispatch('Spatial-Relation')">Spatial-Relation</a>))
		 (superslots ())
		 (subslots ())
		 (domain (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
		 (range (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
		 (inverse (<a href="javascript:parent.code.dispatch('space-int-meet')">space-int-meet</a>))
		 (fluent-status (*Inertial-Fluent))
                 (original-slot      (t))	
		 (cardinality (N-to-N)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>