<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Information')">Information</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Suggestion')">Suggestion</a>.km,v 1.2 2005/01/11 19:56:52 jchaw Exp $
;;
        
(<a href="javascript:parent.code.dispatch('Suggestion')">Suggestion</a> has
          (superclasses (<a href="javascript:parent.code.dispatch('Information')">Information</a>)))

(<a href="javascript:parent.code.dispatch('Suggestion')">Suggestion</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set
			       (:triple "suggestion" 1 "n")
			       (:triple "suggestion" 2 "n")
			       (:triple "proposition" 2 "n")
			       (:triple "proffer" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('Suggestion')">Suggestion</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			       (:triple "suggestion" 1 "n")
			       (:triple "suggestion" 2 "n")
			       (:triple "proposition" 2 "n")
			       (:triple "proffer" 1 "n")
))))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>