<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Arithmetic-Method')">Arithmetic-Method</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Sum')">Sum</a>.km,v 1.2 2008/08/26 15:03:54 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Sum')">Sum</a> has (superclasses (<a href="javascript:parent.code.dispatch('Arithmetic-Method')">Arithmetic-Method</a>)))

(every <a href="javascript:parent.code.dispatch('Sum')">Sum</a> has
  (<a href="javascript:parent.code.dispatch('output')">output</a> ((the <a href="javascript:parent.code.dispatch('property-sum')">property-sum</a> of (the <a href="javascript:parent.code.dispatch('input')">input</a> of Self)))))

(every <a href="javascript:parent.code.dispatch('Sum')">Sum</a> has
  (<a href="javascript:parent.code.dispatch('text-premods')">text-premods</a>  ((:seq "the sum of"
                        (andify (the <a href="javascript:parent.code.dispatch('text-phrase')">text-phrase</a> of (the <a href="javascript:parent.code.dispatch('input')">input</a> of Self)))
  )))
)


(<a href="javascript:parent.code.dispatch('Sum')">Sum</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			(:triple "sum" 2 "n")
			(:triple "sum" 3 "n")
			(:triple "amount" 4 "n")
			(:triple "summation" 3 "n")
			(:triple "sum_total" 1 "n")
			(:triple "sum" 5 "n")
			(:triple "total" 1 "n")
			(:triple "totality" 3 "n")
			(:triple "aggregate" 2 "n")

			(:triple "total" 2 "v")
			(:triple "tot" 1 "v")
			(:triple "tot_up" 1 "v")
			(:triple "sum" 2 "v")
			(:triple "sum_up" 3 "v")
			(:triple "summate" 1 "v")
			(:triple "tote_up" 1 "v")
			(:triple "add" 5 "v")
			(:triple "add_together" 1 "v")
			(:triple "tally" 4 "v")
			(:triple "add_up" 2 "v")
))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>