;; 
;;    $Id: <a href="javascript:parent.code.dispatch('supports')">supports</a>.km,v 1.8 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('supports')">supports</a> has
	 (instance-of 		(<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	 (superslots 		())
	 (subslots 		())
	 (domain 		(<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	 (range 		(<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	 (inverse 		(<a href="javascript:parent.code.dispatch('supported-by')">supported-by</a>))
	 (fluent-status 	(*Inertial-Fluent))
         (original-slot      (t))	
	 (cardinality 		(N-to-N)))

(<a href="javascript:parent.code.dispatch('supported-by')">supported-by</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>)))

(<a href="javascript:parent.code.dispatch('supported-by')">supported-by</a> has
  (combine-values-by-appending (t)))



(<a href="javascript:parent.code.dispatch('supports')">supports</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('supports')">supports</a>")))
(<a href="javascript:parent.code.dispatch('supported-by')">supported-by</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is supported by")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('supports')">supports</a>.km,v 1.8 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('supports')">supports</a> has
	 (instance-of 		(<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	 (superslots 		())
	 (subslots 		())
	 (domain 		(<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	 (range 		(<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	 (inverse 		(<a href="javascript:parent.code.dispatch('supported-by')">supported-by</a>))
	 (fluent-status 	(*Inertial-Fluent))
         (original-slot      (t))	
	 (cardinality 		(N-to-N)))

(<a href="javascript:parent.code.dispatch('supported-by')">supported-by</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>)))

(<a href="javascript:parent.code.dispatch('supported-by')">supported-by</a> has
  (combine-values-by-appending (t)))



(<a href="javascript:parent.code.dispatch('supports')">supports</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('supports')">supports</a>")))
(<a href="javascript:parent.code.dispatch('supported-by')">supported-by</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is supported by")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>