<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Role')">Role</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>

;; $Id: <a href="javascript:parent.code.dispatch('Target')">Target</a>.km,v 1.3 2002/07/10 21:09:05 kbarker Exp $

(<a href="javascript:parent.code.dispatch('Target')">Target</a> has (superclasses (<a href="javascript:parent.code.dispatch('Role')">Role</a>)))

(every <a href="javascript:parent.code.dispatch('Target')">Target</a> has
  (<a href="javascript:parent.code.dispatch('in-event')">in-event</a> ((must-be-a <a href="javascript:parent.code.dispatch('Move')">Move</a>)))
  (<a href="javascript:parent.code.dispatch('played-by')">played-by</a> ((a <a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a> with
                 (<a href="javascript:parent.code.dispatch('toward-of')">toward-of</a> ((the <a href="javascript:parent.code.dispatch('in-event')">in-event</a> of Self))))))
)


</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>