;; 
;; $Id: <a href="javascript:parent.code.dispatch('target-unit')">target-unit</a>.km,v 1.3 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('target-unit')">target-unit</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Unit-Conversion')">Unit-Conversion</a>))
   (range (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
   (inverse (<a href="javascript:parent.code.dispatch('target-unit-of')">target-unit-of</a>))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('target-unit-of')">target-unit-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
   (combine-values-by-appending (t))
)

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('target-unit')">target-unit</a>.km,v 1.3 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('target-unit')">target-unit</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Unit-Conversion')">Unit-Conversion</a>))
   (range (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
   (inverse (<a href="javascript:parent.code.dispatch('target-unit-of')">target-unit-of</a>))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('target-unit-of')">target-unit-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
   (combine-values-by-appending (t))
)

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>