<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>

;;
;; $Id: <a href="javascript:parent.code.dispatch('Taste-Value')">Taste-Value</a>.km,v 1.12 2007/05/15 21:30:46 mrglass Exp $
;;


(<a href="javascript:parent.code.dispatch('Taste-Value')">Taste-Value</a> has 
       (superclasses (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>)))


(<a href="javascript:parent.code.dispatch('Taste-Value')">Taste-Value</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("the sensation that results when <a href="javascript:parent.code.dispatch('taste')">taste</a> buds in the tongue and throat convey information about the chemical composition of a soluble stimulus")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>