<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a>.km,v 1.4 2003/09/10 16:38:49 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

  (*buttery has
	(instance-of (<a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a>)))

  (*creamy has
	(instance-of (<a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a>)))

  (*sour has
	(instance-of (<a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a>)))

  (*sweet has
	(instance-of (<a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a>)))

  (*bitter has
	(instance-of (<a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a>)))

  (*tasteless has
	(instance-of (<a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a>)))
 
  (*watery has
	(instance-of (<a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a>)))

   (*juicy has
	(instance-of (<a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a>)))



  


</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>