;; 
;;    $Id: <a href="javascript:parent.code.dispatch('taste')">taste</a>.km,v 1.11 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('taste')">taste</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Taste-Value')">Taste-Value</a>))
   (<a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> (<a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('taste-of')">taste-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('taste')">taste</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('taste')">taste</a>" 1 "n")  ;; not quite right, but WN doesn't
                                                        ;; seem to have a synset for how
                                                        ;; something tastes (analogous to
                                                        ;; smell#2) as opposed to the
                                                        ;; faculty of <a href="javascript:parent.code.dispatch('taste')">taste</a> or act of tasting
))))

(<a href="javascript:parent.code.dispatch('taste-of')">taste-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('taste')">taste</a>.km,v 1.11 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('taste')">taste</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Taste-Value')">Taste-Value</a>))
   (<a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> (<a href="javascript:parent.code.dispatch('Taste-Constant')">Taste-Constant</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('taste-of')">taste-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('taste')">taste</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('taste')">taste</a>" 1 "n")  ;; not quite right, but WN doesn't
                                                        ;; seem to have a synset for how
                                                        ;; something tastes (analogous to
                                                        ;; smell#2) as opposed to the
                                                        ;; faculty of <a href="javascript:parent.code.dispatch('taste')">taste</a> or act of tasting
))))

(<a href="javascript:parent.code.dispatch('taste-of')">taste-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>