<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Temperature-Constant')">Temperature-Constant</a>.km,v 1.4 2004/09/16 16:30:07 pzyeh Exp $
;; 

(<a href="javascript:parent.code.dispatch('Temperature-Constant')">Temperature-Constant</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

  (*cold has
     (instance-of (<a href="javascript:parent.code.dispatch('Temperature-Constant')">Temperature-Constant</a>)))

  (*cool has
     (instance-of (<a href="javascript:parent.code.dispatch('Temperature-Constant')">Temperature-Constant</a>)))

  (*mild has
     (instance-of (<a href="javascript:parent.code.dispatch('Temperature-Constant')">Temperature-Constant</a>)))

  (*warm has
     (instance-of (<a href="javascript:parent.code.dispatch('Temperature-Constant')">Temperature-Constant</a>)))

  (*hot has
     (instance-of (<a href="javascript:parent.code.dispatch('Temperature-Constant')">Temperature-Constant</a>)))

  (*freezing has
     (instance-of (<a href="javascript:parent.code.dispatch('Temperature-Constant')">Temperature-Constant</a>)))

  (*boiling has
     (instance-of (<a href="javascript:parent.code.dispatch('Temperature-Constant')">Temperature-Constant</a>)))

  (*normal has
     (instance-of (<a href="javascript:parent.code.dispatch('Temperature-Constant')">Temperature-Constant</a>)))

  (*abnormal has
     (instance-of (<a href="javascript:parent.code.dispatch('Temperature-Constant')">Temperature-Constant</a>))) 
  
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>