<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Temperature-Value')">Temperature-Value</a>.km,v 1.15 2007/05/15 21:30:46 mrglass Exp $
;; 

(<a href="javascript:parent.code.dispatch('Temperature-Value')">Temperature-Value</a> has 
       (superclasses (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>)))

(<a href="javascript:parent.code.dispatch('Temperature-Value')">Temperature-Value</a> has
   (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ('(
                 (Drink has (superclasses (<a href="javascript:parent.code.dispatch('Substance')">Substance</a>)))
                 (Ice has (superclasses (<a href="javascript:parent.code.dispatch('Substance')">Substance</a>)))
                 (*mycoffee has (instance-of (Drink))
                                (<a href="javascript:parent.code.dispatch('temperature')">temperature</a> ((a <a href="javascript:parent.code.dispatch('Temperature-Value')">Temperature-Value</a>))))
                 (*mybeer has (instance-of (Drink))
                              (<a href="javascript:parent.code.dispatch('temperature')">temperature</a>
                                 ((a <a href="javascript:parent.code.dispatch('Temperature-Value')">Temperature-Value</a> with
                                     (<a href="javascript:parent.code.dispatch('value')">value</a> ((:pair 5 *celsius)
                                             (:pair *cool Drink)
                                             (:pair *warm Ice)
                                     ))
                                     (<a href="javascript:parent.code.dispatch('less-than')">less-than</a>
                                        ((the <a href="javascript:parent.code.dispatch('temperature')">temperature</a> of *mycoffee)))
                              ))))

                 (the <a href="javascript:parent.code.dispatch('value')">value</a> of (the <a href="javascript:parent.code.dispatch('temperature')">temperature</a> of *mybeer))

                 ((the <a href="javascript:parent.code.dispatch('less-than')">less-than</a> of (the <a href="javascript:parent.code.dispatch('temperature')">temperature</a> of *mybeer))
                       includes (the <a href="javascript:parent.code.dispatch('temperature')">temperature</a> of *mycoffee))
                 ((the <a href="javascript:parent.code.dispatch('greater-than')">greater-than</a> of (the <a href="javascript:parent.code.dispatch('temperature')">temperature</a> of *mycoffee))
                       includes (the <a href="javascript:parent.code.dispatch('temperature')">temperature</a> of *mybeer))
))))

























(<a href="javascript:parent.code.dispatch('Temperature-Value')">Temperature-Value</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("the degree of hotness or coldness of a body or environment")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>