<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Relation')">Relation</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;    $Id: <a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>.km,v 1.1 2005/08/08 23:26:28 billj Exp $
(<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a> has
		  (superclasses (<a href="javascript:parent.code.dispatch('Relation')">Relation</a>))
)</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>