<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Region')">Region</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Administrative-District')">Administrative-District</a>, 

<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Territory')">Territory</a>.km,v 1.3 2005/04/25 02:46:34 gking Exp $
;; 

(<a href="javascript:parent.code.dispatch('Territory')">Territory</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Region')">Region</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
  (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ())
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("a relatively large <a href="javascript:parent.code.dispatch('Region')">Region</a> delineated on some dimension (administrative, strategic, commercial, private, geographical, ...)"))
)

(<a href="javascript:parent.code.dispatch('Territory')">Territory</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			      (:triple "territory" 1 "n")
			      (:triple "district" 1 "n")
			      (:triple "territorial_dominion" 1 "n")
			      (:triple "dominion" 2 "n")
			      (:triple "territory" 3 "n")
			      (:triple "soil" 4 "n")
))))

;; stubby

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>