;; 
;;    $Id: <a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a>.km,v 1.2 2006/09/27 16:18:16 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Slot')">Slot</a>))
   (range (String))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
   (dont-cache-values (t))
)

(<a href="javascript:parent.code.dispatch('text-gloss-of')">text-gloss-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a>.km,v 1.2 2006/09/27 16:18:16 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Slot')">Slot</a>))
   (range (String))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
   (dont-cache-values (t))
)

(<a href="javascript:parent.code.dispatch('text-gloss-of')">text-gloss-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>