<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Texture-Constant')">Texture-Constant</a>.km,v 1.2 2003/09/10 16:38:49 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('Texture-Constant')">Texture-Constant</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

  (*smooth has
     (instance-of (<a href="javascript:parent.code.dispatch('Texture-Constant')">Texture-Constant</a>)))

  (*rough has
     (instance-of (<a href="javascript:parent.code.dispatch('Texture-Constant')">Texture-Constant</a>))) 

 
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>