<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Message-Field')">Message-Field</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>

;;
;; $Id: <a href="javascript:parent.code.dispatch('Text-Field')">Text-Field</a>.km,v 1.1 2003/09/30 19:26:00 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Text-Field')">Text-Field</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Message-Field')">Message-Field</a>))
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("a message field whose <a href="javascript:parent.code.dispatch('content')">content</a> is a text constant"))
)

(every <a href="javascript:parent.code.dispatch('Text-Field')">Text-Field</a> has-definition
  (instance-of (<a href="javascript:parent.code.dispatch('Message-Field')">Message-Field</a>))
  (<a href="javascript:parent.code.dispatch('information-content')">information-content</a> ((a String)))
)

(every <a href="javascript:parent.code.dispatch('Text-Field')">Text-Field</a> has
  (<a href="javascript:parent.code.dispatch('information-content')">information-content</a> ((a String)))
)

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>