<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Thickness-Constant')">Thickness-Constant</a>.km,v 1.5 2005/11/30 15:59:52 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Thickness-Constant')">Thickness-Constant</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

  (*thin has
     (instance-of (<a href="javascript:parent.code.dispatch('Thickness-Constant')">Thickness-Constant</a>)))

  (*thick has
     (instance-of (<a href="javascript:parent.code.dispatch('Thickness-Constant')">Thickness-Constant</a> <a href="javascript:parent.code.dispatch('Primary-Constant')">Primary-Constant</a>))) 
 


(<a href="javascript:parent.code.dispatch('Thickness-Constant')">Thickness-Constant</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
				       (:triple "<a href="javascript:parent.code.dispatch('thickness')">thickness</a>" 1 "n")
))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>