;;
;; $Id: <a href="javascript:parent.code.dispatch('time-value')">time-value</a>.km,v 1.7 2007/04/11 21:42:44 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('time-value')">time-value</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Time-Instant')">Time-Instant</a>))
  #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#           ;    (:pair (a Number) (a <a href="javascript:parent.code.dispatch('UoM-Time')">UoM-Time</a>))
                            ; or (a <a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a>)
                            ; or (a <a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)
  (inverse (<a href="javascript:parent.code.dispatch('time-value-of')">time-value-of</a>))
  (cardinality (N-to-N))
  (fluent-status (*Inertial-Fluent))
  (inherit-with-overrides (t))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('time-value-of')">time-value-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;;
;; $Id: <a href="javascript:parent.code.dispatch('time-value')">time-value</a>.km,v 1.7 2007/04/11 21:42:44 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('time-value')">time-value</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Time-Instant')">Time-Instant</a>))
  #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#           ;    (:pair (a Number) (a <a href="javascript:parent.code.dispatch('UoM-Time')">UoM-Time</a>))
                            ; or (a <a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a>)
                            ; or (a <a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)
  (inverse (<a href="javascript:parent.code.dispatch('time-value-of')">time-value-of</a>))
  (cardinality (N-to-N))
  (fluent-status (*Inertial-Fluent))
  (inherit-with-overrides (t))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('time-value-of')">time-value-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;;
;; $Id: <a href="javascript:parent.code.dispatch('time-value')">time-value</a>.km,v 1.7 2007/04/11 21:42:44 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('time-value')">time-value</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Time-Instant')">Time-Instant</a>))
  #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#           ;    (:pair (a Number) (a <a href="javascript:parent.code.dispatch('UoM-Time')">UoM-Time</a>))
                            ; or (a <a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a>)
                            ; or (a <a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)
  (inverse (<a href="javascript:parent.code.dispatch('time-value-of')">time-value-of</a>))
  (cardinality (N-to-N))
  (fluent-status (*Inertial-Fluent))
  (inherit-with-overrides (t))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('time-value-of')">time-value-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>