;; $Id: <a href="javascript:parent.code.dispatch('time-int-contains')">time-int-contains</a>.km,v 1.1 2005/04/19 19:04:59 billj Exp $

(<a href="javascript:parent.code.dispatch('time-int-contains')">time-int-contains</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-int-contains')">time-int-contains</a> FILLER means that the <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a> FRAME temporally wholly contains the <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a> FILLER.  Specifically, the start of FRAME is earlier than the start of FILLER and the end of FRAME is later than the end of FILLER.")))

;; <a href="javascript:parent.code.dispatch('time-int-contains')">time-int-contains</a> is the inverse of <a href="javascript:parent.code.dispatch('time-int-during')">time-int-during</a>.  <a href="javascript:parent.code.dispatch('See')">See</a> <a href="javascript:parent.code.dispatch('time-int-during')">time-int-during</a>.km which
;; has more complete definitional information.
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; $Id: <a href="javascript:parent.code.dispatch('time-int-contains')">time-int-contains</a>.km,v 1.1 2005/04/19 19:04:59 billj Exp $

(<a href="javascript:parent.code.dispatch('time-int-contains')">time-int-contains</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-int-contains')">time-int-contains</a> FILLER means that the <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a> FRAME temporally wholly contains the <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a> FILLER.  Specifically, the start of FRAME is earlier than the start of FILLER and the end of FRAME is later than the end of FILLER.")))

;; <a href="javascript:parent.code.dispatch('time-int-contains')">time-int-contains</a> is the inverse of <a href="javascript:parent.code.dispatch('time-int-during')">time-int-during</a>.  <a href="javascript:parent.code.dispatch('See')">See</a> <a href="javascript:parent.code.dispatch('time-int-during')">time-int-during</a>.km which
;; has more complete definitional information.
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; $Id: <a href="javascript:parent.code.dispatch('time-int-contains')">time-int-contains</a>.km,v 1.1 2005/04/19 19:04:59 billj Exp $

(<a href="javascript:parent.code.dispatch('time-int-contains')">time-int-contains</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-int-contains')">time-int-contains</a> FILLER means that the <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a> FRAME temporally wholly contains the <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a> FILLER.  Specifically, the start of FRAME is earlier than the start of FILLER and the end of FRAME is later than the end of FILLER.")))

;; <a href="javascript:parent.code.dispatch('time-int-contains')">time-int-contains</a> is the inverse of <a href="javascript:parent.code.dispatch('time-int-during')">time-int-during</a>.  <a href="javascript:parent.code.dispatch('See')">See</a> <a href="javascript:parent.code.dispatch('time-int-during')">time-int-during</a>.km which
;; has more complete definitional information.
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>