;; 
;;    $Id: <a href="javascript:parent.code.dispatch('time-int-before')">time-int-before</a>.km,v 1.6 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('time-int-before')">time-int-before</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
       (range (<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
       (inverse (<a href="javascript:parent.code.dispatch('time-int-after')">time-int-after</a>))
       (fluent-status (*Inertial-Fluent))
       (original-slot      (t))	
       (cardinality (N-to-N)))


(<a href="javascript:parent.code.dispatch('time-int-after')">time-int-after</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('time-int-before')">time-int-before</a>.km,v 1.6 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('time-int-before')">time-int-before</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
       (range (<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
       (inverse (<a href="javascript:parent.code.dispatch('time-int-after')">time-int-after</a>))
       (fluent-status (*Inertial-Fluent))
       (original-slot      (t))	
       (cardinality (N-to-N)))


(<a href="javascript:parent.code.dispatch('time-int-after')">time-int-after</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('time-int-before')">time-int-before</a>.km,v 1.6 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('time-int-before')">time-int-before</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
       (range (<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
       (inverse (<a href="javascript:parent.code.dispatch('time-int-after')">time-int-after</a>))
       (fluent-status (*Inertial-Fluent))
       (original-slot      (t))	
       (cardinality (N-to-N)))


(<a href="javascript:parent.code.dispatch('time-int-after')">time-int-after</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>