;; $Id: <a href="javascript:parent.code.dispatch('time-after')">time-after</a>.km,v 1.3 2006/04/06 22:37:11 jchaw Exp $

(<a href="javascript:parent.code.dispatch('time-after')">time-after</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-after')">time-after</a> FILLER means that FRAME is wholly after FILLER, i.e. the start of FRAME is later than the end of FILLER.")))

;; <a href="javascript:parent.code.dispatch('time-after')">time-after</a> is the inverse of <a href="javascript:parent.code.dispatch('time-before')">time-before</a>.  <a href="javascript:parent.code.dispatch('See')">See</a> <a href="javascript:parent.code.dispatch('time-before')">time-before</a>.km which
;; has more complete definitional information.
(<a href="javascript:parent.code.dispatch('time-after')">time-after</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("occurs after")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; $Id: <a href="javascript:parent.code.dispatch('time-after')">time-after</a>.km,v 1.3 2006/04/06 22:37:11 jchaw Exp $

(<a href="javascript:parent.code.dispatch('time-after')">time-after</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-after')">time-after</a> FILLER means that FRAME is wholly after FILLER, i.e. the start of FRAME is later than the end of FILLER.")))

;; <a href="javascript:parent.code.dispatch('time-after')">time-after</a> is the inverse of <a href="javascript:parent.code.dispatch('time-before')">time-before</a>.  <a href="javascript:parent.code.dispatch('See')">See</a> <a href="javascript:parent.code.dispatch('time-before')">time-before</a>.km which
;; has more complete definitional information.
(<a href="javascript:parent.code.dispatch('time-after')">time-after</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("occurs after")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; $Id: <a href="javascript:parent.code.dispatch('time-after')">time-after</a>.km,v 1.3 2006/04/06 22:37:11 jchaw Exp $

(<a href="javascript:parent.code.dispatch('time-after')">time-after</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-after')">time-after</a> FILLER means that FRAME is wholly after FILLER, i.e. the start of FRAME is later than the end of FILLER.")))

;; <a href="javascript:parent.code.dispatch('time-after')">time-after</a> is the inverse of <a href="javascript:parent.code.dispatch('time-before')">time-before</a>.  <a href="javascript:parent.code.dispatch('See')">See</a> <a href="javascript:parent.code.dispatch('time-before')">time-before</a>.km which
;; has more complete definitional information.
(<a href="javascript:parent.code.dispatch('time-after')">time-after</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("occurs after")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>