<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Trait-Constant')">Trait-Constant</a>.km,v 1.3 2003/09/10 16:38:49 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('Trait-Constant')">Trait-Constant</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

  (*submissive has
     (instance-of (<a href="javascript:parent.code.dispatch('Trait-Constant')">Trait-Constant</a>)))

  (*aggressive has
     (instance-of (<a href="javascript:parent.code.dispatch('Trait-Constant')">Trait-Constant</a>))) 

  (*dishonest has
	(instance-of (<a href="javascript:parent.code.dispatch('Trait-Constant')">Trait-Constant</a>)))

  (*honest has
	(instance-of (<a href="javascript:parent.code.dispatch('Trait-Constant')">Trait-Constant</a>)))

  (*lazy has
	(instance-of (<a href="javascript:parent.code.dispatch('Trait-Constant')">Trait-Constant</a>)))

  (*tireless has
	(instance-of (<a href="javascript:parent.code.dispatch('Trait-Constant')">Trait-Constant</a>)))

  (*vulnerable has
        (instance-of (<a href="javascript:parent.code.dispatch('Trait-Constant')">Trait-Constant</a>)))
  


</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>