<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('UoM-Acceleration-Magnitude')">UoM-Acceleration-Magnitude</a>, 
<a href="javascript:parent.code.dispatch('UoM-Angle')">UoM-Angle</a>, 
<a href="javascript:parent.code.dispatch('UoM-Area')">UoM-Area</a>, 
<a href="javascript:parent.code.dispatch('UoM-Brightness')">UoM-Brightness</a>, 
<a href="javascript:parent.code.dispatch('UoM-Concentration')">UoM-Concentration</a>, 
<a href="javascript:parent.code.dispatch('UoM-Conductivity')">UoM-Conductivity</a>, 
<a href="javascript:parent.code.dispatch('UoM-Coordinate')">UoM-Coordinate</a>, 
<a href="javascript:parent.code.dispatch('UoM-Density')">UoM-Density</a>, 
<a href="javascript:parent.code.dispatch('UoM-Duration')">UoM-Duration</a>, 
<a href="javascript:parent.code.dispatch('UoM-Electric-Current')">UoM-Electric-Current</a>, 
<a href="javascript:parent.code.dispatch('UoM-Energy')">UoM-Energy</a>, 
<a href="javascript:parent.code.dispatch('UoM-Force')">UoM-Force</a>, 
<a href="javascript:parent.code.dispatch('UoM-Frequency')">UoM-Frequency</a>, 
<a href="javascript:parent.code.dispatch('UoM-Intensity')">UoM-Intensity</a>, 
<a href="javascript:parent.code.dispatch('UoM-Length')">UoM-Length</a>, 
<a href="javascript:parent.code.dispatch('UoM-Luminance')">UoM-Luminance</a>, 
<a href="javascript:parent.code.dispatch('UoM-Luminous-Flux')">UoM-Luminous-Flux</a>, 
<a href="javascript:parent.code.dispatch('UoM-Luminous-Intensity')">UoM-Luminous-Intensity</a>, 
<a href="javascript:parent.code.dispatch('UoM-Mass')">UoM-Mass</a>, 
<a href="javascript:parent.code.dispatch('UoM-Moment-of-Inertia')">UoM-Moment-of-Inertia</a>, 
<a href="javascript:parent.code.dispatch('UoM-Momentum')">UoM-Momentum</a>, 
<a href="javascript:parent.code.dispatch('UoM-Power')">UoM-Power</a>, 
<a href="javascript:parent.code.dispatch('UoM-Pressure')">UoM-Pressure</a>, 
<a href="javascript:parent.code.dispatch('UoM-Quantity')">UoM-Quantity</a>, 
<a href="javascript:parent.code.dispatch('UoM-Rate')">UoM-Rate</a>, 
<a href="javascript:parent.code.dispatch('UoM-Rotational-Rate')">UoM-Rotational-Rate</a>, 
<a href="javascript:parent.code.dispatch('UoM-Speed')">UoM-Speed</a>, 
<a href="javascript:parent.code.dispatch('UoM-Temperature')">UoM-Temperature</a>, 
<a href="javascript:parent.code.dispatch('UoM-Time')">UoM-Time</a>, 
<a href="javascript:parent.code.dispatch('UoM-Unitless')">UoM-Unitless</a>, 
<a href="javascript:parent.code.dispatch('UoM-Voltage')">UoM-Voltage</a>, 
<a href="javascript:parent.code.dispatch('UoM-Volume')">UoM-Volume</a>, 
<a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>.km,v 1.4 2001/10/07 03:52:10 jarred Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>