<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a>.km,v 1.8 2010/01/27 16:06:06 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
  (<a href="javascript:parent.code.dispatch('base-unit')">base-unit</a> (<a href="javascript:parent.code.dispatch('*usdollar')">*usdollar</a>))
 (instances (<a href="javascript:parent.code.dispatch('*rol')">*rol</a> <a href="javascript:parent.code.dispatch('*ntdollar')">*ntdollar</a> <a href="javascript:parent.code.dispatch('*rmb')">*rmb</a> <a href="javascript:parent.code.dispatch('*sgdollar')">*sgdollar</a> <a href="javascript:parent.code.dispatch('*ringgit')">*ringgit</a> <a href="javascript:parent.code.dispatch('*usdollar')">*usdollar</a> <a href="javascript:parent.code.dispatch('*canadiandollar')">*canadiandollar</a> <a href="javascript:parent.code.dispatch('*britishpound')">*britishpound</a> <a href="javascript:parent.code.dispatch('*euro')">*euro</a> <a href="javascript:parent.code.dispatch('*yen')">*yen</a>))
)

(<a href="javascript:parent.code.dispatch('*rol')">*rol</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a>))
      (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set  (:triple "rol" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*ntdollar')">*ntdollar</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a>))
      (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set  (:triple "ntdollar" 0 "n"))))) 

(<a href="javascript:parent.code.dispatch('*rmb')">*rmb</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a>))
      (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set  (:triple "rmb" 0 "n"))))) 

(<a href="javascript:parent.code.dispatch('*sgdollar')">*sgdollar</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a>))
      (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set  (:triple "sgdollar" 0 "n") ))))

(<a href="javascript:parent.code.dispatch('*ringgit')">*ringgit</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a>))
      (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set  (:triple "ringit" 0 "n") ))))

(<a href="javascript:parent.code.dispatch('*usdollar')">*usdollar</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a>))
      (name ("USD"))
      (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set  (:triple "usd" 0 "n") ))))

(<a href="javascript:parent.code.dispatch('*canadiandollar')">*canadiandollar</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a>))
      (name ("CAD"))
      (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set  (:triple "cad" 0 "n") ))))

(<a href="javascript:parent.code.dispatch('*britishpound')">*britishpound</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a>))
      (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set  (:triple "bp" 0 "n") ))))

(<a href="javascript:parent.code.dispatch('*euro')">*euro</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a>))
      (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "euro" 0 "n") 
			  (:triple "euros" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*yen')">*yen</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Worth')">UoM-Worth</a>))
      (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "yen" 0 "n") ))))
(<a href="javascript:parent.code.dispatch('*usdollar')">*usdollar</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (1.0)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>