<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('UoM-Rotational-Rate')">UoM-Rotational-Rate</a>.km,v 1.5 2010/01/27 16:04:48 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('UoM-Rotational-Rate')">UoM-Rotational-Rate</a> has
   (superclasses (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
  (<a href="javascript:parent.code.dispatch('base-unit')">base-unit</a> (<a href="javascript:parent.code.dispatch('*revolution-per-minute')">*revolution-per-minute</a>))
   (instances (<a href="javascript:parent.code.dispatch('*revolution-per-minute')">*revolution-per-minute</a>)))

(<a href="javascript:parent.code.dispatch('*revolution-per-minute')">*revolution-per-minute</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Rotational-Rate')">UoM-Rotational-Rate</a>))
                        (name ("rpm"))
			(<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "revolution per minute" 0 "n")
					    (:triple "revolutions per minute" 0 "n")
					    (:triple "rpm" 0 "n")))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>