<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('UoM-Area')">UoM-Area</a>.km,v 1.10 2010/01/27 16:06:06 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('UoM-Area')">UoM-Area</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
  (<a href="javascript:parent.code.dispatch('base-unit')">base-unit</a> (<a href="javascript:parent.code.dispatch('*square-meter')">*square-meter</a>))
 (instances (<a href="javascript:parent.code.dispatch('*square-inch')">*square-inch</a> <a href="javascript:parent.code.dispatch('*square-foot')">*square-foot</a> <a href="javascript:parent.code.dispatch('*square-meter')">*square-meter</a>)))

(<a href="javascript:parent.code.dispatch('*square-inch')">*square-inch</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Area')">UoM-Area</a>))
                  (name ("in^2"))
		   (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "square inch" 0 "n")
				       (:triple "square inches" 0 "n")
				       (:triple "in^2" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*square-foot')">*square-foot</a>  has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Area')">UoM-Area</a>))
                   (name ("ft^2"))
		    (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "square foot" 0 "n")
					(:triple "square feet" 0 "n")
					(:triple "ft^2" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*square-meter')">*square-meter</a>  has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Area')">UoM-Area</a>))
                    (name ("m^2"))
		   (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "square meter" 0 "n")
				       (:triple "square meters" 0 "n")
				       (:triple "m^2" 0 "n")))))
(<a href="javascript:parent.code.dispatch('*square-inch')">*square-inch</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (6.4516e-4)))
(<a href="javascript:parent.code.dispatch('*square-foot')">*square-foot</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (0.09290304)))
(<a href="javascript:parent.code.dispatch('*square-meter')">*square-meter</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (1.0)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>