<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>

(<a href="javascript:parent.code.dispatch('UoM-Speed')">UoM-Speed</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
  (<a href="javascript:parent.code.dispatch('base-unit')">base-unit</a> (<a href="javascript:parent.code.dispatch('*meter-per-second')">*meter-per-second</a>))
 (instances (<a href="javascript:parent.code.dispatch('*centimeter-per-second')">*centimeter-per-second</a> <a href="javascript:parent.code.dispatch('*foot-per-second')">*foot-per-second</a> 
             <a href="javascript:parent.code.dispatch('*meter-per-second')">*meter-per-second</a> <a href="javascript:parent.code.dispatch('*mile-per-second')">*mile-per-second</a> 
             <a href="javascript:parent.code.dispatch('*kilometer-per-hour')">*kilometer-per-hour</a> <a href="javascript:parent.code.dispatch('*kilometer-per-second')">*kilometer-per-second</a> <a href="javascript:parent.code.dispatch('*mile-per-hour')">*mile-per-hour</a>)))

(<a href="javascript:parent.code.dispatch('*centimeter-per-second')">*centimeter-per-second</a> has
 (instance-of (<a href="javascript:parent.code.dispatch('UoM-Speed')">UoM-Speed</a>))
 (name ("cm/s"))
 (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "centimeter per second" 0 "n")
		     (:triple "centimeters per second" 0 "n")
		     (:triple "cm/s" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*foot-per-second')">*foot-per-second</a> has
 (instance-of (<a href="javascript:parent.code.dispatch('UoM-Speed')">UoM-Speed</a>))
 (name ("ft/s"))
 (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "foot per second" 0 "n")
		     (:triple "feet per second" 0 "n")
		     (:triple "ft/s" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*meter-per-second')">*meter-per-second</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('UoM-Speed')">UoM-Speed</a>))
  (name ("m/s"))
  (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "meter per second" 0 "n")
		      (:triple "meters per second" 0 "n")
		      (:triple "m/s" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*mile-per-second')">*mile-per-second</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('UoM-Speed')">UoM-Speed</a>))
  (name ("mi/s"))
  (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "mile per second" 0 "n")
		      (:triple "miles per second" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*kilometer-per-hour')">*kilometer-per-hour</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('UoM-Speed')">UoM-Speed</a>))
  (name ("km/h"))
  (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "kilometer per hour" 0 "n")
		      (:triple "kilometers per hour" 0 "n")
		      (:triple "km/h" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*kilometer-per-second')">*kilometer-per-second</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('UoM-Speed')">UoM-Speed</a>))
  (name ("km/s"))
  (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "kilometer per second" 0 "n")
		      (:triple "kilometers per second" 0 "n")
		      (:triple "km/s" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*mile-per-hour')">*mile-per-hour</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('UoM-Speed')">UoM-Speed</a>))
  (name ("mph"))
  (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "mile per hour" 0 "n")
		      (:triple "miles per hour" 0 "n")
		      (:triple "mph" 0 "n")))))





(<a href="javascript:parent.code.dispatch('*centimeter-per-second')">*centimeter-per-second</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (0.01)))
(<a href="javascript:parent.code.dispatch('*foot-per-second')">*foot-per-second</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (0.3048)))
(<a href="javascript:parent.code.dispatch('*meter-per-second')">*meter-per-second</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (1.0)))
(<a href="javascript:parent.code.dispatch('*mile-per-second')">*mile-per-second</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (1609.344)))
(<a href="javascript:parent.code.dispatch('*kilometer-per-hour')">*kilometer-per-hour</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (0.2777778)))
(<a href="javascript:parent.code.dispatch('*kilometer-per-second')">*kilometer-per-second</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (1000.0)))
(<a href="javascript:parent.code.dispatch('*mile-per-hour')">*mile-per-hour</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (0.44704)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>