<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('UoM-Electric-Current')">UoM-Electric-Current</a>.km,v 1.1 2010/01/29 16:35:18 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('UoM-Electric-Current')">UoM-Electric-Current</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
 (<a href="javascript:parent.code.dispatch('base-unit')">base-unit</a> (<a href="javascript:parent.code.dispatch('*ampere')">*ampere</a>))
 (instances (<a href="javascript:parent.code.dispatch('*ampere')">*ampere</a>))
)

(<a href="javascript:parent.code.dispatch('*ampere')">*ampere</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Electric-Current')">UoM-Electric-Current</a>))
  (name ("A"))
  (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "ampere" 1 "n")
                      (:triple "international_ampere" 1 "n")
                      (:triple "ampere" 2 "n")
                      (:triple "amp" 1 "n")
                      (:triple "A" 6 "n")
  )))
)

(<a href="javascript:parent.code.dispatch('*ampere')">*ampere</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (1.0)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>