<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
(<a href="javascript:parent.code.dispatch('Version')">Version</a> has
   (superclasses (<a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a>))
   (<a href="javascript:parent.code.dispatch('description')">description</a> ("Tue Oct 12 16:54:46 CDT 2010"))
)
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>