;; 
;;    $Id: <a href="javascript:parent.code.dispatch('viewpoint-score')">viewpoint-score</a>.km,v 1.2 2006/09/27 16:18:17 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('viewpoint-score')">viewpoint-score</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Viewpoint')">Viewpoint</a>))
   (range (Number))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
)

(<a href="javascript:parent.code.dispatch('viewpoint-score-of')">viewpoint-score-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('viewpoint-score')">viewpoint-score</a>.km,v 1.2 2006/09/27 16:18:17 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('viewpoint-score')">viewpoint-score</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Viewpoint')">Viewpoint</a>))
   (range (Number))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
)

(<a href="javascript:parent.code.dispatch('viewpoint-score-of')">viewpoint-score-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('viewpoint-score')">viewpoint-score</a>.km,v 1.2 2006/09/27 16:18:17 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('viewpoint-score')">viewpoint-score</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Viewpoint')">Viewpoint</a>))
   (range (Number))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
)

(<a href="javascript:parent.code.dispatch('viewpoint-score-of')">viewpoint-score-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>