;; 
;;    $Id: <a href="javascript:parent.code.dispatch('viewpoint-parent')">viewpoint-parent</a>.km,v 1.3 2006/09/27 16:18:17 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('viewpoint-parent')">viewpoint-parent</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Viewpoint')">Viewpoint</a>))
;;   (range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inverse (<a href="javascript:parent.code.dispatch('viewpoint-child')">viewpoint-child</a>))
)

(<a href="javascript:parent.code.dispatch('viewpoint-child')">viewpoint-child</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('viewpoint-parent')">viewpoint-parent</a>.km,v 1.3 2006/09/27 16:18:17 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('viewpoint-parent')">viewpoint-parent</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Viewpoint')">Viewpoint</a>))
;;   (range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inverse (<a href="javascript:parent.code.dispatch('viewpoint-child')">viewpoint-child</a>))
)

(<a href="javascript:parent.code.dispatch('viewpoint-child')">viewpoint-child</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('viewpoint-parent')">viewpoint-parent</a>.km,v 1.3 2006/09/27 16:18:17 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('viewpoint-parent')">viewpoint-parent</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Viewpoint')">Viewpoint</a>))
;;   (range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inverse (<a href="javascript:parent.code.dispatch('viewpoint-child')">viewpoint-child</a>))
)

(<a href="javascript:parent.code.dispatch('viewpoint-child')">viewpoint-child</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>