;; 
;;    $Id: <a href="javascript:parent.code.dispatch('volume')">volume</a>.km,v 1.16 2008/05/07 16:19:02 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('volume')">volume</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Volume-Value')">Volume-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Volume-Scale')">Volume-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Volume-Constant')">Volume-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Volume')">UoM-Volume</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('volume-of')">volume-of</a>))
   (fluent-status (*Inertial-Fluent))
   (original-slot      (t))	
   ; (inherit-with-overrides (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('volume-of')">volume-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

(<a href="javascript:parent.code.dispatch('volume')">volume</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('volume')">volume</a>" 1 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('volume')">volume</a>.km,v 1.16 2008/05/07 16:19:02 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('volume')">volume</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Volume-Value')">Volume-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Volume-Scale')">Volume-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Volume-Constant')">Volume-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Volume')">UoM-Volume</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('volume-of')">volume-of</a>))
   (fluent-status (*Inertial-Fluent))
   (original-slot      (t))	
   ; (inherit-with-overrides (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('volume-of')">volume-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

(<a href="javascript:parent.code.dispatch('volume')">volume</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('volume')">volume</a>" 1 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('volume')">volume</a>.km,v 1.16 2008/05/07 16:19:02 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('volume')">volume</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Volume-Value')">Volume-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Volume-Scale')">Volume-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Volume-Constant')">Volume-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Volume')">UoM-Volume</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('volume-of')">volume-of</a>))
   (fluent-status (*Inertial-Fluent))
   (original-slot      (t))	
   ; (inherit-with-overrides (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('volume-of')">volume-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

(<a href="javascript:parent.code.dispatch('volume')">volume</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('volume')">volume</a>" 1 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>