<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Liquid-Substance')">Liquid-Substance</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Water')">Water</a>.km,v 1.5 2006/05/19 14:55:57 jfan Exp $
;; 

(<a href="javascript:parent.code.dispatch('Water')">Water</a> has (superclasses (<a href="javascript:parent.code.dispatch('Liquid-Substance')">Liquid-Substance</a>)))

(<a href="javascript:parent.code.dispatch('Water')">Water</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			  (:triple "water" 1 "n")
))))

;; stubby

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>