;; 
;;    $Id: <a href="javascript:parent.code.dispatch('width')">width</a>.km,v 1.15 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('width')">width</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Length-Value')">Length-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Width-Scale')">Width-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Width-Constant')">Width-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Length')">UoM-Length</a>)) 
   (inverse 	(<a href="javascript:parent.code.dispatch('width-of')">width-of</a>))
   (fluent-status (*Inertial-Fluent))
   (original-slot      (t))	
   ; (inherit-with-overrides (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('width-of')">width-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

(<a href="javascript:parent.code.dispatch('width')">width</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('width')">width</a>" 1 "n")
                               (:triple "breadth" 2 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('width')">width</a>.km,v 1.15 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('width')">width</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Length-Value')">Length-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Width-Scale')">Width-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Width-Constant')">Width-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Length')">UoM-Length</a>)) 
   (inverse 	(<a href="javascript:parent.code.dispatch('width-of')">width-of</a>))
   (fluent-status (*Inertial-Fluent))
   (original-slot      (t))	
   ; (inherit-with-overrides (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('width-of')">width-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

(<a href="javascript:parent.code.dispatch('width')">width</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('width')">width</a>" 1 "n")
                               (:triple "breadth" 2 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('width')">width</a>.km,v 1.15 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('width')">width</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Length-Value')">Length-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Width-Scale')">Width-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Width-Constant')">Width-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Length')">UoM-Length</a>)) 
   (inverse 	(<a href="javascript:parent.code.dispatch('width-of')">width-of</a>))
   (fluent-status (*Inertial-Fluent))
   (original-slot      (t))	
   ; (inherit-with-overrides (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('width-of')">width-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

(<a href="javascript:parent.code.dispatch('width')">width</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('width')">width</a>" 1 "n")
                               (:triple "breadth" 2 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>