<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Worth-Constant')">Worth-Constant</a>.km,v 1.1 2003/08/21 15:59:48 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Worth-Constant')">Worth-Constant</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>))
)

(<a href="javascript:parent.code.dispatch('*cheap')">*cheap</a> has (instance-of (<a href="javascript:parent.code.dispatch('Worth-Constant')">Worth-Constant</a>))) 
(<a href="javascript:parent.code.dispatch('*inexpensive')">*inexpensive</a> has (instance-of (<a href="javascript:parent.code.dispatch('Worth-Constant')">Worth-Constant</a>))) 
(<a href="javascript:parent.code.dispatch('*expensive')">*expensive</a> has (instance-of (<a href="javascript:parent.code.dispatch('Worth-Constant')">Worth-Constant</a>))) 

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>