<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;    $Id: <a href="javascript:parent.code.dispatch('Acceleration-Magnitude-Constant')">Acceleration-Magnitude-Constant</a>.km,v 1.1 2008/05/27 22:15:44 jchaw Exp $

(<a href="javascript:parent.code.dispatch('Acceleration-Magnitude-Constant')">Acceleration-Magnitude-Constant</a> has
		       (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>