<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Make-Accessible')">Make-Accessible</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Activate')">Activate</a>.km,v 1.19 2005/10/25 03:02:08 sdbaji Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Activate')">Activate</a> has
  (superclasses  	(<a href="javascript:parent.code.dispatch('Make-Accessible')">Make-Accessible</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> 	(<a href="javascript:parent.code.dispatch('object')">object</a>))
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>  	(<a href="javascript:parent.code.dispatch('agent')">agent</a> <a href="javascript:parent.code.dispatch('instrument')">instrument</a>))
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a>       ())
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a>  (
			 (:seq <a href="javascript:parent.code.dispatch('object')">object</a> "The thing activated")
			 (:seq <a href="javascript:parent.code.dispatch('agent')">agent</a> "The activator")
			 (:seq <a href="javascript:parent.code.dispatch('instrument')">instrument</a> "<a href="javascript:parent.code.dispatch('instrument')">instrument</a>")
			))
#|(sentence-type        (*punctual *conclusive))|#
)

(every <a href="javascript:parent.code.dispatch('Activate')">Activate</a> has 
  (<a href="javascript:parent.code.dispatch('preparatory-event')">preparatory-event</a> ((:default
		       (a <a href="javascript:parent.code.dispatch('Deactivate')">Deactivate</a> with
			  (<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))))))


(every <a href="javascript:parent.code.dispatch('Activate')">Activate</a> has
  ;; <a href="javascript:parent.code.dispatch('agent')">agent</a> and <a href="javascript:parent.code.dispatch('object')">object</a> inherited from <a href="javascript:parent.code.dispatch('Make-Accessible')">Make-Accessible</a>.
  (<a href="javascript:parent.code.dispatch('resulting-state')">resulting-state</a> ((a <a href="javascript:parent.code.dispatch('Be-Activated')">Be-Activated</a>)))
  
  ;; The Pre and Post-Conditions of this <a href="javascript:parent.code.dispatch('Action')">Action</a>.
  
  ;; The <a href="javascript:parent.code.dispatch('object')">object</a> must not already be activated
  (pcs-list ((forall (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)
		     (:triple 
		       It
		       <a href="javascript:parent.code.dispatch('object-of')">object-of</a>
		       (mustnt-be-a <a href="javascript:parent.code.dispatch('Be-Activated')">Be-Activated</a>) [Activate-pcs-1]))))

  (add-list ((:triple
	       (the <a href="javascript:parent.code.dispatch('resulting-state')">resulting-state</a> of Self)
	       <a href="javascript:parent.code.dispatch('object')">object</a>
	       (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) [Activate-add-1]))))

(comment [Activate-pcs-1] (:seq (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) " must not yet be activated.")
	 "Things can't be activated if they are already active.")

(comment [Activate-add-1] (:seq (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) " becomes active.")
	 "When something is activated, it becomes active.")

(every <a href="javascript:parent.code.dispatch('Activate')">Activate</a> has
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-sg')">text-active-verbseq-sg</a> ("activates"))
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-pl')">text-active-verbseq-pl</a> ("activate"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-sg')">text-passive-verbseq-sg</a> ("gets activated"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-pl')">text-passive-verbseq-pl</a> ("get activated"))

  (<a href="javascript:parent.code.dispatch('text-argslots')">text-argslots</a> ((:seq <a href="javascript:parent.code.dispatch('base')">base</a> <a href="javascript:parent.code.dispatch('instrument')">instrument</a> <a href="javascript:parent.code.dispatch('path')">path</a> <a href="javascript:parent.code.dispatch('result')">result</a>)))
)




;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Activate')">Activate</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                       (:triple "activate" 2 "v")
                                       (:triple "enable" 1 "v")
                                       (:triple "flip" 2 "v")
                                       (:triple "gear_up" 1 "v")
                                       (:triple "prepare" 1 "v")
                                       (:triple "reactivate" 1 "v")
                                       (:triple "ready" 2 "v")
                                       (:triple "set" 7 "v")
                                       (:triple "set" 8 "v")
                                       (:triple "set_up" 15 "v")
                                       (:triple "switch" 5 "v")
                                       (:triple "throw" 6 "v")
))))

(<a href="javascript:parent.code.dispatch('Activate')">Activate</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                       (:triple "activate" 2 "v")
                                       (:triple "enable" 1 "v")
;                                       (:triple "flip" 2 "v")
                                       (:triple "reactivate" 1 "v")
                                       (:triple "set" 8 "v")
;                                       (:triple "switch" 5 "v")
;                                       (:triple "throw" 6 "v")
))))

(every <a href="javascript:parent.code.dispatch('Activate')">Activate</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("activation")))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>