<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>

;;
;; $Id: <a href="javascript:parent.code.dispatch('Angle-Value')">Angle-Value</a>.km,v 1.5 2007/05/15 21:30:46 mrglass Exp $
;;


(<a href="javascript:parent.code.dispatch('Angle-Value')">Angle-Value</a> has 
  (superclasses (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>)))

(every <a href="javascript:parent.code.dispatch('Angle-Value')">Angle-Value</a> has (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> (<a href="javascript:parent.code.dispatch('angle')">angle</a>)))

(<a href="javascript:parent.code.dispatch('Angle-Value')">Angle-Value</a> has
	     (<a href="javascript:parent.code.dispatch('doc-file')">doc-file</a> ("<a href="javascript:parent.code.dispatch('angle')">angle</a>")))

(<a href="javascript:parent.code.dispatch('Angle-Value')">Angle-Value</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("the <a href="javascript:parent.code.dispatch('angle')">angle</a> of a <a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>