<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Be-Attached-To')">Be-Attached-To</a>.km,v 1.15 2004/10/26 21:30:06 porter Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Be-Attached-To')">Be-Attached-To</a> has
		(superclasses   (<a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a>))
		(<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a>  ())
		(<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>   (<a href="javascript:parent.code.dispatch('instrument')">instrument</a>))
                (<a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a>      (<a href="javascript:parent.code.dispatch('Attach')">Attach</a>))
                (<a href="javascript:parent.code.dispatch('defeated-by-class')">defeated-by-class</a>    (<a href="javascript:parent.code.dispatch('Detach')">Detach</a>))
		(<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> (
			(:seq <a href="javascript:parent.code.dispatch('object')">object</a> "the attached objects")
			(:seq <a href="javascript:parent.code.dispatch('instrument')">instrument</a> "the connector")
		     )))

(every <a href="javascript:parent.code.dispatch('Be-Attached-To')">Be-Attached-To</a> has
       (<a href="javascript:parent.code.dispatch('object')">object</a>      ((exactly 2 <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
)

(every <a href="javascript:parent.code.dispatch('Be-Attached-To')">Be-Attached-To</a> has
   (<a href="javascript:parent.code.dispatch('text-particle')">text-particle</a> ("attached"))
)

#| 
     <a href="javascript:parent.code.dispatch('Be-Attached-To')">Be-Attached-To</a> results from a <a href="javascript:parent.code.dispatch('Attach')">Attach</a> with either two objects
     or one <a href="javascript:parent.code.dispatch('object')">object</a> and one base;
     It is defeated by a <a href="javascript:parent.code.dispatch('Detach')">Detach</a> with either two objects or one
     <a href="javascript:parent.code.dispatch('object')">object</a> and one source;
     but all that complexity is handled in <a href="javascript:parent.code.dispatch('Attach')">Attach</a> and <a href="javascript:parent.code.dispatch('Detach')">Detach</a> -- <a href="javascript:parent.code.dispatch('Be-Attached-To')">Be-Attached-To</a>
     always has two objects
|#


(<a href="javascript:parent.code.dispatch('Be-Attached-To')">Be-Attached-To</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
				   (:triple "attached" 1 "a")
				   (:triple "attach" 2 "v")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>