<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Be-Damaged')">Be-Damaged</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Be-Ruined')">Be-Ruined</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Be-Broken')">Be-Broken</a>.km,v 1.15 2005/11/07 20:48:01 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Be-Broken')">Be-Broken</a> has
	   (superclasses (<a href="javascript:parent.code.dispatch('Be-Damaged')">Be-Damaged</a>))
	   (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> (<a href="javascript:parent.code.dispatch('object')">object</a>))
	   (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
	   (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
           (<a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a>      (<a href="javascript:parent.code.dispatch('Break')">Break</a>))
           (<a href="javascript:parent.code.dispatch('defeated-by-class')">defeated-by-class</a>    (<a href="javascript:parent.code.dispatch('Repair')">Repair</a>))
	   (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ()))

(every <a href="javascript:parent.code.dispatch('Be-Broken')">Be-Broken</a> has
       (<a href="javascript:parent.code.dispatch('object')">object</a> ((a <a href="javascript:parent.code.dispatch('Physical-Object')">Physical-Object</a>)))
       (<a href="javascript:parent.code.dispatch('defeated-by')">defeated-by</a> ((must-be-a <a href="javascript:parent.code.dispatch('Repair')">Repair</a> with
				(<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))))
       (<a href="javascript:parent.code.dispatch('resulting-state-of')">resulting-state-of</a> ((must-be-a <a href="javascript:parent.code.dispatch('Break')">Break</a> with
				       (<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))))))

(every <a href="javascript:parent.code.dispatch('Be-Broken')">Be-Broken</a> has
   (<a href="javascript:parent.code.dispatch('text-particle')">text-particle</a> ("broken"))
)




;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Be-Broken')">Be-Broken</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                        (:triple "broken" 11 "a")
                                        (:triple "busted" 3 "a")
))))

(<a href="javascript:parent.code.dispatch('Be-Broken')">Be-Broken</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                        (:triple "broken" 11 "a")
                                        (:triple "busted" 3 "a")
))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>