<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('State')">State</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Be-Attached-To')">Be-Attached-To</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a>.km,v 1.18 2004/09/09 19:14:58 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a> has
             (superclasses   	  (<a href="javascript:parent.code.dispatch('State')">State</a>))
;;             (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a>  	  (<a href="javascript:parent.code.dispatch('object')">object</a>))
	     (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
             (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>   	  ())
             (<a href="javascript:parent.code.dispatch('caused-by-class')">caused-by-class</a>      (<a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a>))
             (<a href="javascript:parent.code.dispatch('defeated-by-class')">defeated-by-class</a>    (<a href="javascript:parent.code.dispatch('Break-Contact')">Break-Contact</a>))
             (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> (
                                   (:seq <a href="javascript:parent.code.dispatch('object')">object</a> "the things touching")
                                  )))

; when objects are in the state of <a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a>, each <a href="javascript:parent.code.dispatch('object')">object</a> in the set
; of objects <a href="javascript:parent.code.dispatch('abuts')">abuts</a> some other <a href="javascript:parent.code.dispatch('object')">object</a> in the set.

(every <a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a> has
  (<a href="javascript:parent.code.dispatch('object')">object</a> ((exactly 2 <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
)

(every <a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a> has
   (<a href="javascript:parent.code.dispatch('text-particle')">text-particle</a> ("touching"))
)


; test cases in <a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a>.km



;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                          (:triple "touch" 5 "v")
                                          (:triple "adjoin" 2 "v")
                                          (:triple "meet" 14 "v")
))))

(<a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                          (:triple "touch" 5 "v")
                                          (:triple "adjoin" 2 "v")
                                          (:triple "contact" 2 "v")
                                          (:triple "meet" 13 "v")
))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>