<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('State')">State</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Be-Victorious')">Be-Victorious</a>.km,v 1.1 2009/10/15 15:08:10 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Be-Victorious')">Be-Victorious</a> has (superclasses (<a href="javascript:parent.code.dispatch('State')">State</a>)))

(every <a href="javascript:parent.code.dispatch('Be-Victorious')">Be-Victorious</a> has
  (<a href="javascript:parent.code.dispatch('object')">object</a> ((a <a href="javascript:parent.code.dispatch('Entity')">Entity</a> with 
              (<a href="javascript:parent.code.dispatch('plays')">plays</a> ((a <a href="javascript:parent.code.dispatch('Winner')">Winner</a> with (<a href="javascript:parent.code.dispatch('in-event')">in-event</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))))))
          ))
  )
  (<a href="javascript:parent.code.dispatch('base')">base</a>   ((a <a href="javascript:parent.code.dispatch('Contest')">Contest</a>)))
)

(every <a href="javascript:parent.code.dispatch('Be-Victorious')">Be-Victorious</a> has
       (<a href="javascript:parent.code.dispatch('text-active-verbseq-sg')">text-active-verbseq-sg</a> ("wins"))
       (<a href="javascript:parent.code.dispatch('text-active-verbseq-pl')">text-active-verbseq-pl</a> ("win"))
)

(<a href="javascript:parent.code.dispatch('Be-Victorious')">Be-Victorious</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
  (:triple "win" 1 "v")
))))


</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>