<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Brightness-Constant')">Brightness-Constant</a>.km,v 1.2 2003/09/10 16:38:47 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('Brightness-Constant')">Brightness-Constant</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))
   
  (*blinding has
    (instance-of (<a href="javascript:parent.code.dispatch('Brightness-Constant')">Brightness-Constant</a>)))

  (*bright has
    (instance-of (<a href="javascript:parent.code.dispatch('Brightness-Constant')">Brightness-Constant</a>)))

  (*dim has
    (instance-of (<a href="javascript:parent.code.dispatch('Brightness-Constant')">Brightness-Constant</a>)))

  (*dark has
    (instance-of (<a href="javascript:parent.code.dispatch('Brightness-Constant')">Brightness-Constant</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>