;;
;; $Id: <a href="javascript:parent.code.dispatch('categorical-constant')">categorical-constant</a>.km,v 1.7 2007/04/10 21:29:48 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('categorical-constant')">categorical-constant</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Categorical')">Categorical</a>))
  (range (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>))
  (inverse (<a href="javascript:parent.code.dispatch('categorical-constant-of')">categorical-constant-of</a>))
  (cardinality (N-to-1))
  (original-slot      (t))	
  (fluent-status (*Inertial-Fluent))
)

(<a href="javascript:parent.code.dispatch('categorical-constant-of')">categorical-constant-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;;
;; $Id: <a href="javascript:parent.code.dispatch('categorical-constant')">categorical-constant</a>.km,v 1.7 2007/04/10 21:29:48 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('categorical-constant')">categorical-constant</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Categorical')">Categorical</a>))
  (range (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>))
  (inverse (<a href="javascript:parent.code.dispatch('categorical-constant-of')">categorical-constant-of</a>))
  (cardinality (N-to-1))
  (original-slot      (t))	
  (fluent-status (*Inertial-Fluent))
)

(<a href="javascript:parent.code.dispatch('categorical-constant-of')">categorical-constant-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>