<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Activity')">Activity</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Change')">Change</a>.km,v 1.1 2008/01/04 16:22:12 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Change')">Change</a> has (superclasses (<a href="javascript:parent.code.dispatch('Activity')">Activity</a>)))

(<a href="javascript:parent.code.dispatch('Change')">Change</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                           (:triple "change" 1 "v")
                           (:triple "change" 2 "v")
                           (:triple "change" 3 "v")
                           (:triple "alter" 1 "v")
                           (:triple "modify" 3 "v")
                           (:triple "alter" 2 "v")
                           (:triple "vary" 1 "v")
                           (:triple "change" 1 "n")
                           (:triple "change" 3 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>