<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Energy')">Energy</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Chemical-Energy')">Chemical-Energy</a>.km,v 1.5 2009/12/16 17:04:47 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Chemical-Energy')">Chemical-Energy</a> has
		 (superclasses (<a href="javascript:parent.code.dispatch('Energy')">Energy</a>))
		 (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
		 (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
		 (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
		 (<a href="javascript:parent.code.dispatch('description')">description</a> ("<a href="javascript:parent.code.dispatch('Energy')">Energy</a> produced by or stored in chemical properties or property differentials, such as chemical bonds, such as charge gradients, <a href="javascript:parent.code.dispatch('density')">density</a> gradients, etc."))
		 (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ()))

(<a href="javascript:parent.code.dispatch('Chemical-Energy')">Chemical-Energy</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
				    (:triple "chemical_energy" 1 "n")
))))



;; stubby

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>