<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Administrative-District')">Administrative-District</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('City')">City</a>.km,v 1.2 2005/04/08 04:17:22 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('City')">City</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Administrative-District')">Administrative-District</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
  (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ())
)

(<a href="javascript:parent.code.dispatch('City')">City</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			     (:triple "city" 1 "n")	
			     (:triple "metropolis" 1 "n")	
			     (:triple "urban_center" 1 "n")	
			     (:triple "city" 2 "n")	
			     (:triple "city" 3 "n")	
			     (:triple "metropolis" 2 "n")	
))))

;; stubby

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>