<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Authorized')">Authorized</a>, 
<a href="javascript:parent.code.dispatch('Intentional')">Intentional</a>, 
<a href="javascript:parent.code.dispatch('Reflexive-Cliche')">Reflexive-Cliche</a>, 
<a href="javascript:parent.code.dispatch('Unauthorized')">Unauthorized</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Cliche')">Cliche</a>.km,v 1.4 2001/11/29 20:49:57 kbarker Exp $ 
;; 

; A <a href="javascript:parent.code.dispatch('Cliche')">Cliche</a> is a set of axioms pertinent to numerous components.  <a href="javascript:parent.code.dispatch('See')">See</a> 
; Ken Barker's working note on Cliches:
;   http://www.cs.utexas.edu/users/kbarker/working_notes/cliches.html
;
; We are still exploring ways of implementing Cliches using KM's 
; compositions.  Meanwhile, we simply overload the inheritance 
; mechanism.

(<a href="javascript:parent.code.dispatch('Cliche')">Cliche</a> has (superclasses (<a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a>)))





</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>