<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Activity')">Activity</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Collecting')">Collecting</a>.km,v 1.1 2008/01/04 16:22:12 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Collecting')">Collecting</a> has (superclasses (<a href="javascript:parent.code.dispatch('Activity')">Activity</a>)))

(<a href="javascript:parent.code.dispatch('Collecting')">Collecting</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                           (:triple "collect" 1 "v")
                           (:triple "collect" 3 "v")
                           (:triple "accumulate" 1 "v")
                           (:triple "amass" 2 "v")
                           (:triple "compile" 1 "v")
                           (:triple "gather" 1 "v")
                           (:triple "garner" 3 "v")
                           (:triple "collection" 4 "n")
                           (:triple "collecting" 1 "n")
                           (:triple "assembling" 1 "n")
                           (:triple "aggregation" 2 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>