<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>.km,v 1.9 2006/04/04 16:06:04 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

;; basic English <a href="javascript:parent.code.dispatch('color')">color</a> terms
(<a href="javascript:parent.code.dispatch('*red')">*red</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*blue')">*blue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*yellow')">*yellow</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*green')">*green</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*orange')">*orange</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*purple')">*purple</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*pink')">*pink</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*brown')">*brown</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*black')">*black</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*white')">*white</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*gray')">*gray</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))

;; special <a href="javascript:parent.code.dispatch('color')">color</a> terms
(<a href="javascript:parent.code.dispatch('*colorless')">*colorless</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))

;; hair colors
(<a href="javascript:parent.code.dispatch('*auburn')">*auburn</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*black')">*black</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))     ;; redundancy ok in these lists
(<a href="javascript:parent.code.dispatch('*blond')">*blond</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))     ;; (KM doesn't care)
(<a href="javascript:parent.code.dispatch('*blonde')">*blonde</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*brown')">*brown</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*brunette')">*brunette</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*gray')">*gray</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*red')">*red</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*redhead')">*redhead</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*silver')">*silver</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*white')">*white</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))

;; eye colors
(<a href="javascript:parent.code.dispatch('*blue')">*blue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*brown')">*brown</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*gray')">*gray</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*green')">*green</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*hazel')">*hazel</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))

;; W3C HTML 4.0 <a href="javascript:parent.code.dispatch('color')">color</a> terms
(<a href="javascript:parent.code.dispatch('*aqua')">*aqua</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*black')">*black</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*blue')">*blue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*fuchsia')">*fuchsia</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*gray')">*gray</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*green')">*green</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lime')">*lime</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*maroon')">*maroon</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*navy')">*navy</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*olive')">*olive</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*purple')">*purple</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))    ;; redundancy ok
(<a href="javascript:parent.code.dispatch('*red')">*red</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))       ;; redundancy ok
(<a href="javascript:parent.code.dispatch('*silver')">*silver</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*teal')">*teal</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*white')">*white</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))     ;; redundancy ok
(<a href="javascript:parent.code.dispatch('*yellow')">*yellow</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))    ;; redundancy ok

;; Netscape/MSIE <a href="javascript:parent.code.dispatch('color')">color</a> names
(<a href="javascript:parent.code.dispatch('*aliceBlue')">*aliceBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*antiqueWhite')">*antiqueWhite</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*aqua')">*aqua</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*aquamarine')">*aquamarine</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*azure')">*azure</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*beige')">*beige</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*bisque')">*bisque</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*black')">*black</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*blanchedAlmond')">*blanchedAlmond</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*blue')">*blue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*blueViolet')">*blueViolet</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*brown')">*brown</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*burlyWood')">*burlyWood</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*cadetBlue')">*cadetBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*chartreuse')">*chartreuse</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*chocolate')">*chocolate</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*coral')">*coral</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*cornflowerBlue')">*cornflowerBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*cornsilk')">*cornsilk</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*crimson')">*crimson</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*cyan')">*cyan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkBlue')">*darkBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkCyan')">*darkCyan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkGoldenRod')">*darkGoldenRod</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkGray')">*darkGray</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkGreen')">*darkGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkKhaki')">*darkKhaki</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkMagenta')">*darkMagenta</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkOliveGreen')">*darkOliveGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkorange')">*darkorange</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkOrchid')">*darkOrchid</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkRed')">*darkRed</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkSalmon')">*darkSalmon</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkSeaGreen')">*darkSeaGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkSlateBlue')">*darkSlateBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkSlateGray')">*darkSlateGray</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkTurquoise')">*darkTurquoise</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*darkViolet')">*darkViolet</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*deepPink')">*deepPink</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*deepSkyBlue')">*deepSkyBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*dimGray')">*dimGray</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*dodgerBlue')">*dodgerBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*feldspar')">*feldspar</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*fireBrick')">*fireBrick</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*floralWhite')">*floralWhite</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*forestGreen')">*forestGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*fuchsia')">*fuchsia</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*gainsboro')">*gainsboro</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*ghostWhite')">*ghostWhite</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*gold')">*gold</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*goldenRod')">*goldenRod</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*gray')">*gray</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*green')">*green</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*greenYellow')">*greenYellow</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*honeyDew')">*honeyDew</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*hotPink')">*hotPink</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*indianRed')">*indianRed</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*indigo')">*indigo</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*ivory')">*ivory</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*khaki')">*khaki</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lavender')">*lavender</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lavenderBlush')">*lavenderBlush</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lawnGreen')">*lawnGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lemonChiffon')">*lemonChiffon</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightBlue')">*lightBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightCoral')">*lightCoral</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightCyan')">*lightCyan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightGoldenRodYellow')">*lightGoldenRodYellow</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightGrey')">*lightGrey</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightGreen')">*lightGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightPink')">*lightPink</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightSalmon')">*lightSalmon</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightSeaGreen')">*lightSeaGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightSkyBlue')">*lightSkyBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightSlateBlue')">*lightSlateBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightSlateGray')">*lightSlateGray</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightSteelBlue')">*lightSteelBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lightYellow')">*lightYellow</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*lime')">*lime</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*limeGreen')">*limeGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*linen')">*linen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*magenta')">*magenta</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*maroon')">*maroon</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*mediumAquaMarine')">*mediumAquaMarine</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*mediumBlue')">*mediumBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*mediumOrchid')">*mediumOrchid</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*mediumPurple')">*mediumPurple</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*mediumSeaGreen')">*mediumSeaGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*mediumSlateBlue')">*mediumSlateBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*mediumSpringGreen')">*mediumSpringGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*mediumTurquoise')">*mediumTurquoise</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*mediumVioletRed')">*mediumVioletRed</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*midnightBlue')">*midnightBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*mintCream')">*mintCream</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*mistyRose')">*mistyRose</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*moccasin')">*moccasin</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*mavajoWhite')">*mavajoWhite</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*navy')">*navy</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*oldLace')">*oldLace</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*olive')">*olive</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*oliveDrab')">*oliveDrab</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*orange')">*orange</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*orangeRed')">*orangeRed</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*orchid')">*orchid</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*paleGoldenRod')">*paleGoldenRod</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*paleGreen')">*paleGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*paleTurquoise')">*paleTurquoise</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*paleVioletRed')">*paleVioletRed</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*papayaWhip')">*papayaWhip</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*peachPuff')">*peachPuff</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*peru')">*peru</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*pink')">*pink</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*plum')">*plum</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*powderBlue')">*powderBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*purple')">*purple</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*red')">*red</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*rosyBrown')">*rosyBrown</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*royalBlue')">*royalBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*saddleBrown')">*saddleBrown</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*salmon')">*salmon</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*sandyBrown')">*sandyBrown</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*seaGreen')">*seaGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*seaShell')">*seaShell</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*sienna')">*sienna</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*silver')">*silver</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*skyBlue')">*skyBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*slateBlue')">*slateBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*slateGray')">*slateGray</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*snow')">*snow</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*springGreen')">*springGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*steelBlue')">*steelBlue</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*tan')">*tan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*teal')">*teal</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*thistle')">*thistle</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*tomato')">*tomato</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*turquoise')">*turquoise</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*violet')">*violet</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*violetRed')">*violetRed</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*wheat')">*wheat</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*white')">*white</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*whiteSmoke')">*whiteSmoke</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*yellow')">*yellow</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))
(<a href="javascript:parent.code.dispatch('*yellowGreen')">*yellowGreen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a>)))





(<a href="javascript:parent.code.dispatch('Color-Constant')">Color-Constant</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                    (:triple "chromatic_color" 1 "n")
))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>