<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Community')">Community</a>.km,v 1.2 2004/09/15 23:36:00 gking Exp $
;;

(<a href="javascript:parent.code.dispatch('Community')">Community</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a>))
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("a group of people with something in common"))
)

(<a href="javascript:parent.code.dispatch('Community')">Community</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			      (:triple "people" 1 "n")
))))

;; stubby
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>