<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Role')">Role</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Connector')">Connector</a>.km,v 1.13 2004/07/20 22:28:56 gking Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Connector')">Connector</a> has
         (superclasses (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
         (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
         (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
         (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
         (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
         (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ()))

(every <a href="javascript:parent.code.dispatch('Connector')">Connector</a> has
       	(<a href="javascript:parent.code.dispatch('in-event')">in-event</a> ((a <a href="javascript:parent.code.dispatch('Be-Attached-To')">Be-Attached-To</a>)))
	(<a href="javascript:parent.code.dispatch('played-by')">played-by</a> ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> with
		(<a href="javascript:parent.code.dispatch('instrument-of')">instrument-of</a> ((the <a href="javascript:parent.code.dispatch('in-event')">in-event</a> of Self)))))))
	


;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Connector')">Connector</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                        (:triple "connector" 1 "n")
                                        (:triple "connection" 3 "n")
                                        (:triple "connexion" 4 "n")
                                        (:triple "connecter" 1 "n")
                                        (:triple "connective" 2 "n")
                                        (:triple "fastener" 1 "n")
                                        (:triple "fastening" 1 "n")
                                        (:triple "holdfast" 1 "n")
                                        (:triple "link" 1 "n")
                                        (:triple "nexus" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('Connector')">Connector</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                        (:triple "connector" 1 "n")
                                        (:triple "connection" 3 "n")
                                        (:triple "connexion" 4 "n")
                                        (:triple "connecter" 1 "n")
                                        (:triple "connective" 2 "n")
                                        (:triple "fastener" 2 "n")
                                        (:triple "fastening" 1 "n")
                                        (:triple "holdfast" 1 "n")
                                        (:triple "link" 1 "n")
                                        (:triple "nexus" 1 "n")
))))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>