<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Consistency-Constant')">Consistency-Constant</a>.km,v 1.2 2003/09/10 16:38:47 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('Consistency-Constant')">Consistency-Constant</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

  (*gritty has
    (instance-of (<a href="javascript:parent.code.dispatch('Consistency-Constant')">Consistency-Constant</a>)))

  (*grainy has
    (instance-of (<a href="javascript:parent.code.dispatch('Consistency-Constant')">Consistency-Constant</a>)))

  (*glassy has
    (instance-of (<a href="javascript:parent.code.dispatch('Consistency-Constant')">Consistency-Constant</a>)))

  (*crystalline has
    (instance-of (<a href="javascript:parent.code.dispatch('Consistency-Constant')">Consistency-Constant</a>)))

  (*granitic has
    (instance-of (<a href="javascript:parent.code.dispatch('Consistency-Constant')">Consistency-Constant</a>)))

  (*rocky has
    (instance-of (<a href="javascript:parent.code.dispatch('Consistency-Constant')">Consistency-Constant</a>)))

  (*stony has
    (instance-of (<a href="javascript:parent.code.dispatch('Consistency-Constant')">Consistency-Constant</a>)))

  (*boney has
    (instance-of (<a href="javascript:parent.code.dispatch('Consistency-Constant')">Consistency-Constant</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>