<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>

;;
;; $Id: <a href="javascript:parent.code.dispatch('Consistency-Value')">Consistency-Value</a>.km,v 1.13 2007/05/15 21:30:46 mrglass Exp $
;;

(<a href="javascript:parent.code.dispatch('Consistency-Value')">Consistency-Value</a> has 
       (superclasses (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>)))

(<a href="javascript:parent.code.dispatch('Consistency-Value')">Consistency-Value</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("the degree of firmness, <a href="javascript:parent.code.dispatch('density')">density</a>, viscosity, or resistance to movement or separation of constituent particles")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>