;;
;; $Id: <a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a>.km,v 1.1 2010/01/27 16:03:54 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
  (range (Number))
  (inverse (<a href="javascript:parent.code.dispatch('conversion-multiplier-of')">conversion-multiplier-of</a>))
  (cardinality (N-to-1))
  (fluent-status (*Inertial-Fluent))
)

(<a href="javascript:parent.code.dispatch('conversion-multiplier-of')">conversion-multiplier-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
)
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;;
;; $Id: <a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a>.km,v 1.1 2010/01/27 16:03:54 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
  (range (Number))
  (inverse (<a href="javascript:parent.code.dispatch('conversion-multiplier-of')">conversion-multiplier-of</a>))
  (cardinality (N-to-1))
  (fluent-status (*Inertial-Fluent))
)

(<a href="javascript:parent.code.dispatch('conversion-multiplier-of')">conversion-multiplier-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
)
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>