<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Participant')">Participant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Creator')">Creator</a>.km,v 1.4 2004/10/20 19:24:38 pzyeh Exp $
;;

;;
;; To align this concept with the IRIS ontology, we changed the
;; superclass to <a href="javascript:parent.code.dispatch('Participant')">Participant</a>. Furthermore, we are ignoring the 
;; declaration in IRIS which says that a <a href="javascript:parent.code.dispatch('Creator')">Creator</a> is a kind of
;; Provider.
;;
(<a href="javascript:parent.code.dispatch('Creator')">Creator</a> has
        (superclasses 		(<a href="javascript:parent.code.dispatch('Participant')">Participant</a>))
        (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> 		())
        (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> 		())
        (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> 	())
        (<a href="javascript:parent.code.dispatch('description')">description</a> 		())
        (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> 	()))  

(every <a href="javascript:parent.code.dispatch('Creator')">Creator</a> has
       	(<a href="javascript:parent.code.dispatch('in-event')">in-event</a> ((a <a href="javascript:parent.code.dispatch('Create')">Create</a>)))
       	(<a href="javascript:parent.code.dispatch('played-by')">played-by</a> ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> with
                      (<a href="javascript:parent.code.dispatch('agent-of')">agent-of</a> ((the <a href="javascript:parent.code.dispatch('in-event')">in-event</a> of Self)))))))

(<a href="javascript:parent.code.dispatch('Creator')">Creator</a> has 
       (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> 
	((:set (:triple "creator" 2 "n")))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>