<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Impair')">Impair</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Break')">Break</a>, 

<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Damage')">Damage</a>.km,v 1.6 2005/10/25 03:02:08 sdbaji Exp $
;;
(<a href="javascript:parent.code.dispatch('Damage')">Damage</a> has 
  (superclasses        (<a href="javascript:parent.code.dispatch('Impair')">Impair</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a>       (<a href="javascript:parent.code.dispatch('object')">object</a>))
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>        (<a href="javascript:parent.code.dispatch('agent')">agent</a> <a href="javascript:parent.code.dispatch('instrument')">instrument</a> <a href="javascript:parent.code.dispatch('by-means-of')">by-means-of</a>))
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a>      ())
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ((:seq <a href="javascript:parent.code.dispatch('agent')">agent</a>  "the entity doing damage")
			(:seq <a href="javascript:parent.code.dispatch('object')">object</a> "the thing damaged")
  ))
)

;; A damage is a non-biological kind of impair. The <a href="javascript:parent.code.dispatch('object')">object</a> being
;; damaged is put into a <a href="javascript:parent.code.dispatch('Be-Damaged')">Be-Damaged</a> state.
(every <a href="javascript:parent.code.dispatch('Damage')">Damage</a> has
  (<a href="javascript:parent.code.dispatch('object')">object</a>	   ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
  (<a href="javascript:parent.code.dispatch('resulting-state')">resulting-state</a> ((a <a href="javascript:parent.code.dispatch('Be-Damaged')">Be-Damaged</a>)))
  (add-list 	   ((:triple
		      (the <a href="javascript:parent.code.dispatch('resulting-state')">resulting-state</a> of Self)
		      <a href="javascript:parent.code.dispatch('object')">object</a>
		      (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
)

;; For text gen.
(every <a href="javascript:parent.code.dispatch('Damage')">Damage</a> has
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-sg')">text-active-verbseq-sg</a>  ("damages"))
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-pl')">text-active-verbseq-pl</a>  ("damage"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-sg')">text-passive-verbseq-sg</a> ("gets damaged"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-pl')">text-passive-verbseq-pl</a> ("get damaged"))
)


(every <a href="javascript:parent.code.dispatch('Damage')">Damage</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("damage")))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>