<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>

;;
;; $Id: <a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a>.km,v 1.2 2003/09/23 16:31:52 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a> has (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

(<a href="javascript:parent.code.dispatch('*Sunday')">*Sunday</a> has (instance-of (<a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a>)) (name ("Sunday")))
(<a href="javascript:parent.code.dispatch('*Monday')">*Monday</a> has (instance-of (<a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a>)) (name ("Monday")))
(<a href="javascript:parent.code.dispatch('*Tuesday')">*Tuesday</a> has (instance-of (<a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a>)) (name ("Tuesday")))
(<a href="javascript:parent.code.dispatch('*Wednesday')">*Wednesday</a> has (instance-of (<a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a>)) (name ("Wednesday")))
(<a href="javascript:parent.code.dispatch('*Thursday')">*Thursday</a> has (instance-of (<a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a>)) (name ("Thursday")))
(<a href="javascript:parent.code.dispatch('*Friday')">*Friday</a> has (instance-of (<a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a>)) (name ("Friday")))
(<a href="javascript:parent.code.dispatch('*Saturday')">*Saturday</a> has (instance-of (<a href="javascript:parent.code.dispatch('Day-Constant')">Day-Constant</a>)) (name ("Saturday")))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>