;; 
;;    $Id: <a href="javascript:parent.code.dispatch('density')">density</a>.km,v 1.12 2007/04/10 21:29:48 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('density')">density</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Density-Value')">Density-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Density-Scale')">Density-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Density-Constant')">Density-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Density')">UoM-Density</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('density-of')">density-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('density')">density</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('density')">density</a>" 1 "n")
                               (:triple "denseness" 3 "n")
))))

(<a href="javascript:parent.code.dispatch('density-of')">density-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('density')">density</a>.km,v 1.12 2007/04/10 21:29:48 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('density')">density</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Density-Value')">Density-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Density-Scale')">Density-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Density-Constant')">Density-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Density')">UoM-Density</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('density-of')">density-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('density')">density</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('density')">density</a>" 1 "n")
                               (:triple "denseness" 3 "n")
))))

(<a href="javascript:parent.code.dispatch('density-of')">density-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>