<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Activity')">Activity</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Deterioration')">Deterioration</a>.km,v 1.1 2008/01/04 16:22:12 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Deterioration')">Deterioration</a> has (superclasses (<a href="javascript:parent.code.dispatch('Activity')">Activity</a>)))

(<a href="javascript:parent.code.dispatch('Deterioration')">Deterioration</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                           (:triple "deteriorate" 2 "v")
                           (:triple "devolve" 3 "v")
                           (:triple "degenerate" 1 "v")
                           (:triple "decay" 1 "v")
                           (:triple "decay" 3 "v")
                           (:triple "distintegrate" 3 "v")
                           (:triple "decompose" 2 "v")
                           (:triple "deterioration" 1 "n")
                           (:triple "impairment" 2 "n")
                           (:triple "decay" 1 "n")
                           (:triple "decay" 3 "n")
                           (:triple "decay" 5 "n")
                           (:triple "decomposition" 4 "n")
                           (:triple "disintegration" 3 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>