<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Activity')">Activity</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Engineering')">Engineering</a>, 

<HR>
<PRE>
;;    $Id: <a href="javascript:parent.code.dispatch('Development')">Development</a>.km,v 1.2 2005/10/25 03:02:08 sdbaji Exp $
(<a href="javascript:parent.code.dispatch('Development')">Development</a> has
	     (superclasses (<a href="javascript:parent.code.dispatch('Activity')">Activity</a>))
	     (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
	     (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
	     (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
	     (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
	     (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ()))

(<a href="javascript:parent.code.dispatch('Development')">Development</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set 
				(:triple "development" 1 "n")
				(:triple "improvement" 1 "n")
				))))
(every <a href="javascript:parent.code.dispatch('Development')">Development</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("development")))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>