<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Artifact')">Artifact</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Engine')">Engine</a>, 

<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Device')">Device</a>.km,v 1.2 2004/09/08 15:51:26 jfan Exp $
;; 

(<a href="javascript:parent.code.dispatch('Device')">Device</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Artifact')">Artifact</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("an artifact with an instrumental <a href="javascript:parent.code.dispatch('purpose')">purpose</a>"))
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
)

(every <a href="javascript:parent.code.dispatch('Device')">Device</a> has
  (<a href="javascript:parent.code.dispatch('purpose')">purpose</a> ((a <a href="javascript:parent.code.dispatch('Instrument-Role')">Instrument-Role</a>)))
)

(<a href="javascript:parent.code.dispatch('Device')">Device</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			   (:triple "device" 1 "n")
			   (:triple "instrumentality" 3 "n")
			   (:triple "instrumentation" 1 "n")
			   ))))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>