;; 
;;    $Id: <a href="javascript:parent.code.dispatch('disjunctive-next-events')">disjunctive-next-events</a>.km,v 1.14 2008/09/05 16:19:59 kbarker Exp $ 
;; 


(<a href="javascript:parent.code.dispatch('disjunctive-next-events')">disjunctive-next-events</a> has
  (instance-of 	 (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
  (superslots 	 (<a href="javascript:parent.code.dispatch('next-event')">next-event</a>))
  (domain 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (range 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (fluent-status (*Non-Fluent))
  (original-slot      (t))	
  (cardinality 	 (N-to-N)))

(<a href="javascript:parent.code.dispatch('disjunctive-next-events-of')">disjunctive-next-events-of</a> has
  (superslots  (<a href="javascript:parent.code.dispatch('prev-event')">prev-event</a>))
  (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('disjunctive-next-events')">disjunctive-next-events</a>.km,v 1.14 2008/09/05 16:19:59 kbarker Exp $ 
;; 


(<a href="javascript:parent.code.dispatch('disjunctive-next-events')">disjunctive-next-events</a> has
  (instance-of 	 (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
  (superslots 	 (<a href="javascript:parent.code.dispatch('next-event')">next-event</a>))
  (domain 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (range 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (fluent-status (*Non-Fluent))
  (original-slot      (t))	
  (cardinality 	 (N-to-N)))

(<a href="javascript:parent.code.dispatch('disjunctive-next-events-of')">disjunctive-next-events-of</a> has
  (superslots  (<a href="javascript:parent.code.dispatch('prev-event')">prev-event</a>))
  (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>