;; 
;;    $Id: <a href="javascript:parent.code.dispatch('duration')">duration</a>.km,v 1.14 2007/04/10 21:29:48 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('duration')">duration</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Event')">Event</a> <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Duration-Value')">Duration-Value</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Duration-Constant')">Duration-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Duration')">UoM-Duration</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Duration-Scale')">Duration-Scale</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('duration-of')">duration-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('duration')">duration</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('duration')">duration</a>" 1 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('duration')">duration</a>" 2 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('duration')">duration</a>" 3 "n")
                               (:triple "continuance" 2 "n")
                               (:triple "continuance" 3 "n")
                               (:triple "time" 5 "n")           ;; may be too general, but useful
))))

(<a href="javascript:parent.code.dispatch('duration-of')">duration-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('duration')">duration</a>.km,v 1.14 2007/04/10 21:29:48 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('duration')">duration</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Event')">Event</a> <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Duration-Value')">Duration-Value</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Duration-Constant')">Duration-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Duration')">UoM-Duration</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Duration-Scale')">Duration-Scale</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('duration-of')">duration-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('duration')">duration</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('duration')">duration</a>" 1 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('duration')">duration</a>" 2 "n")
                               (:triple "<a href="javascript:parent.code.dispatch('duration')">duration</a>" 3 "n")
                               (:triple "continuance" 2 "n")
                               (:triple "continuance" 3 "n")
                               (:triple "time" 5 "n")           ;; may be too general, but useful
))))

(<a href="javascript:parent.code.dispatch('duration-of')">duration-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>