;; 
;;    $Id: <a href="javascript:parent.code.dispatch('element')">element</a>.km,v 1.12 2008/01/07 23:40:26 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('element')">element</a> has
	 (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	 (domain (<a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a> <a href="javascript:parent.code.dispatch('Sequence')">Sequence</a>))
	 (range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
	 (cardinality (N-to-N))
         (original-slot      (t))	
	 (fluent-status (*Inertial-Fluent)))

(<a href="javascript:parent.code.dispatch('element')">element</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has as <a href="javascript:parent.code.dispatch('element')">element</a>")))
(<a href="javascript:parent.code.dispatch('element-of')">element-of</a> has 
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is an <a href="javascript:parent.code.dispatch('element')">element</a> of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('element')">element</a>.km,v 1.12 2008/01/07 23:40:26 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('element')">element</a> has
	 (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	 (domain (<a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a> <a href="javascript:parent.code.dispatch('Sequence')">Sequence</a>))
	 (range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
	 (cardinality (N-to-N))
         (original-slot      (t))	
	 (fluent-status (*Inertial-Fluent)))

(<a href="javascript:parent.code.dispatch('element')">element</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has as <a href="javascript:parent.code.dispatch('element')">element</a>")))
(<a href="javascript:parent.code.dispatch('element-of')">element-of</a> has 
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is an <a href="javascript:parent.code.dispatch('element')">element</a> of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>