;; 
;;    $Id: <a href="javascript:parent.code.dispatch('equation-uses')">equation-uses</a>.km,v 1.10 2008/07/15 20:39:31 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('equation-uses')">equation-uses</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Equation-Set')">Equation-Set</a>))
   (inverse (<a href="javascript:parent.code.dispatch('used-in-equation')">used-in-equation</a>))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-N))
   (original-slot      (t))
;   (dont-cache-values  (t))
   ;(combine-values-by-appending (t))
)

(<a href="javascript:parent.code.dispatch('equation-uses')">equation-uses</a> now-has (shaken-ui-hidden-slot (f)))

(<a href="javascript:parent.code.dispatch('used-in-equation')">used-in-equation</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (combine-values-by-appending (t)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('equation-uses')">equation-uses</a>.km,v 1.10 2008/07/15 20:39:31 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('equation-uses')">equation-uses</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Equation-Set')">Equation-Set</a>))
   (inverse (<a href="javascript:parent.code.dispatch('used-in-equation')">used-in-equation</a>))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-N))
   (original-slot      (t))
;   (dont-cache-values  (t))
   ;(combine-values-by-appending (t))
)

(<a href="javascript:parent.code.dispatch('equation-uses')">equation-uses</a> now-has (shaken-ui-hidden-slot (f)))

(<a href="javascript:parent.code.dispatch('used-in-equation')">used-in-equation</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (combine-values-by-appending (t)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>