;; 
;;    $Id: <a href="javascript:parent.code.dispatch('first-subevent')">first-subevent</a>.km,v 1.15 2008/09/05 16:19:59 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('first-subevent')">first-subevent</a> has
  (instance-of 	 (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
  (superslots    (<a href="javascript:parent.code.dispatch('subevent')">subevent</a>))
  (domain 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (range 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (fluent-status (*Inertial-Fluent))
  (cardinality 	 (N-to-N))
)

(<a href="javascript:parent.code.dispatch('first-subevent')">first-subevent</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has as first <a href="javascript:parent.code.dispatch('subevent')">subevent</a>")))

(<a href="javascript:parent.code.dispatch('first-subevent-of')">first-subevent-of</a> has 
  (superslots  (<a href="javascript:parent.code.dispatch('subevent-of')">subevent-of</a>))
  (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
  (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a>  ("is the first <a href="javascript:parent.code.dispatch('subevent')">subevent</a> of"))
)

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('first-subevent')">first-subevent</a>.km,v 1.15 2008/09/05 16:19:59 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('first-subevent')">first-subevent</a> has
  (instance-of 	 (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
  (superslots    (<a href="javascript:parent.code.dispatch('subevent')">subevent</a>))
  (domain 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (range 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (fluent-status (*Inertial-Fluent))
  (cardinality 	 (N-to-N))
)

(<a href="javascript:parent.code.dispatch('first-subevent')">first-subevent</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has as first <a href="javascript:parent.code.dispatch('subevent')">subevent</a>")))

(<a href="javascript:parent.code.dispatch('first-subevent-of')">first-subevent-of</a> has 
  (superslots  (<a href="javascript:parent.code.dispatch('subevent-of')">subevent-of</a>))
  (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
  (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a>  ("is the first <a href="javascript:parent.code.dispatch('subevent')">subevent</a> of"))
)

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>