
;;
;; $Id: <a href="javascript:parent.code.dispatch('greater-than-or-equal-to')">greater-than-or-equal-to</a>.km,v 1.6 2007/05/30 16:00:10 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('greater-than-or-equal-to')">greater-than-or-equal-to</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>))      ; not a property (even though domain is Value)
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (range (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (inverse (<a href="javascript:parent.code.dispatch('less-than-or-equal-to')">less-than-or-equal-to</a>))
  (cardinality (N-to-N))
  (original-slot      (t))	
  (fluent-status (*Inertial-Fluent))
)

(<a href="javascript:parent.code.dispatch('greater-than-or-equal-to')">greater-than-or-equal-to</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is greater than or equal to")))
(<a href="javascript:parent.code.dispatch('less-than-or-equal-to')">less-than-or-equal-to</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is less than or equal to")))

(<a href="javascript:parent.code.dispatch('less-than-or-equal-to')">less-than-or-equal-to</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>
;;
;; $Id: <a href="javascript:parent.code.dispatch('greater-than-or-equal-to')">greater-than-or-equal-to</a>.km,v 1.6 2007/05/30 16:00:10 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('greater-than-or-equal-to')">greater-than-or-equal-to</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>))      ; not a property (even though domain is Value)
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (range (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (inverse (<a href="javascript:parent.code.dispatch('less-than-or-equal-to')">less-than-or-equal-to</a>))
  (cardinality (N-to-N))
  (original-slot      (t))	
  (fluent-status (*Inertial-Fluent))
)

(<a href="javascript:parent.code.dispatch('greater-than-or-equal-to')">greater-than-or-equal-to</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is greater than or equal to")))
(<a href="javascript:parent.code.dispatch('less-than-or-equal-to')">less-than-or-equal-to</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is less than or equal to")))

(<a href="javascript:parent.code.dispatch('less-than-or-equal-to')">less-than-or-equal-to</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>