<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Organization')">Organization</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Family')">Family</a>, 
<a href="javascript:parent.code.dispatch('Team')">Team</a>, 

<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Group')">Group</a>.km,v 1.4 2005/04/25 02:46:33 gking Exp $
;;

(<a href="javascript:parent.code.dispatch('Group')">Group</a> has 
  (superclasses (<a href="javascript:parent.code.dispatch('Organization')">Organization</a>))
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("a relatively small organization of Roles"))
)

(<a href="javascript:parent.code.dispatch('Group')">Group</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			  (:triple "working_group" 1 "n")
			  (:triple "working_party" 1 "n")
			  (:triple "<a href="javascript:parent.code.dispatch('unit')">unit</a>" 3 "n")
))))

;; stubby
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>