; 
;;    $Id: <a href="javascript:parent.code.dispatch('has-goal')">has-goal</a>.km,v 1.8 2007/04/11 21:23:39 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('has-goal')">has-goal</a> has
   (instance-of           (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
   (superslots            ())
   (subslots              ())
   (domain                (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
   (range                 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))             ;; a <a href="javascript:parent.code.dispatch('Goal')">Goal</a> or any other <a href="javascript:parent.code.dispatch('Event')">Event</a>
   (inverse               (<a href="javascript:parent.code.dispatch('is-goal-of')">is-goal-of</a>))
   (fluent-status         (*Inertial-Fluent))
  (original-slot      (t))	
   (cardinality           (N-to-N)))

(<a href="javascript:parent.code.dispatch('has-goal')">has-goal</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			     (:triple "goal" 0 "n")))))


(<a href="javascript:parent.code.dispatch('has-goal')">has-goal</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has the goal")))
(<a href="javascript:parent.code.dispatch('is-goal-of')">is-goal-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is a goal of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>; 
;;    $Id: <a href="javascript:parent.code.dispatch('has-goal')">has-goal</a>.km,v 1.8 2007/04/11 21:23:39 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('has-goal')">has-goal</a> has
   (instance-of           (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
   (superslots            ())
   (subslots              ())
   (domain                (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
   (range                 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))             ;; a <a href="javascript:parent.code.dispatch('Goal')">Goal</a> or any other <a href="javascript:parent.code.dispatch('Event')">Event</a>
   (inverse               (<a href="javascript:parent.code.dispatch('is-goal-of')">is-goal-of</a>))
   (fluent-status         (*Inertial-Fluent))
  (original-slot      (t))	
   (cardinality           (N-to-N)))

(<a href="javascript:parent.code.dispatch('has-goal')">has-goal</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			     (:triple "goal" 0 "n")))))


(<a href="javascript:parent.code.dispatch('has-goal')">has-goal</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has the goal")))
(<a href="javascript:parent.code.dispatch('is-goal-of')">is-goal-of</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is a goal of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>