;; 
;;    $Id: <a href="javascript:parent.code.dispatch('has-structural-part')">has-structural-part</a>.km,v 1.14 2008/09/05 16:19:59 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('has-structural-part')">has-structural-part</a> has
    (instance-of 	(<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
    (superslots 	(<a href="javascript:parent.code.dispatch('has-part')">has-part</a>))
    (subslots 		())
    (domain 		(<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))
    (range 		(<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))
    (inverse 		(<a href="javascript:parent.code.dispatch('is-structural-part-of')">is-structural-part-of</a>))
    (fluent-status 	(*Inertial-Fluent))
  (original-slot      (t))	
    (cardinality 	(N-to-N)))

(<a href="javascript:parent.code.dispatch('has-structural-part')">has-structural-part</a> has (shaken-ui-hidden-slot (t)))

(<a href="javascript:parent.code.dispatch('has-structural-part')">has-structural-part</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
					(:triple "structural part" 0 "n")))))

(<a href="javascript:parent.code.dispatch('has-structural-part')">has-structural-part</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has as structural part")))

(<a href="javascript:parent.code.dispatch('is-structural-part-of')">is-structural-part-of</a> has 
    (superslots  (<a href="javascript:parent.code.dispatch('is-part-of')">is-part-of</a>))
    (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
    (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a>  ("is a structural part of"))
)
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('has-structural-part')">has-structural-part</a>.km,v 1.14 2008/09/05 16:19:59 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('has-structural-part')">has-structural-part</a> has
    (instance-of 	(<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
    (superslots 	(<a href="javascript:parent.code.dispatch('has-part')">has-part</a>))
    (subslots 		())
    (domain 		(<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))
    (range 		(<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))
    (inverse 		(<a href="javascript:parent.code.dispatch('is-structural-part-of')">is-structural-part-of</a>))
    (fluent-status 	(*Inertial-Fluent))
  (original-slot      (t))	
    (cardinality 	(N-to-N)))

(<a href="javascript:parent.code.dispatch('has-structural-part')">has-structural-part</a> has (shaken-ui-hidden-slot (t)))

(<a href="javascript:parent.code.dispatch('has-structural-part')">has-structural-part</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
					(:triple "structural part" 0 "n")))))

(<a href="javascript:parent.code.dispatch('has-structural-part')">has-structural-part</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has as structural part")))

(<a href="javascript:parent.code.dispatch('is-structural-part-of')">is-structural-part-of</a> has 
    (superslots  (<a href="javascript:parent.code.dispatch('is-part-of')">is-part-of</a>))
    (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
    (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a>  ("is a structural part of"))
)
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>