;; 
;;    $Id: <a href="javascript:parent.code.dispatch('has-region')">has-region</a>.km,v 1.9 2007/04/11 21:23:39 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('has-region')">has-region</a> has
	  (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	  (superslots ())
	  (subslots ())
	  (domain (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))
	  (range (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
	  (inverse (<a href="javascript:parent.code.dispatch('is-region-of')">is-region-of</a>))
	  (cardinality (N-to-N))
  (original-slot      (t))	
	  (fluent-status (*Inertial-Fluent)))


(<a href="javascript:parent.code.dispatch('has-region')">has-region</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			       (:triple "region" 0 "n")))))



(<a href="javascript:parent.code.dispatch('has-region')">has-region</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has subregion")))
(<a href="javascript:parent.code.dispatch('is-region-of')">is-region-of</a> has 
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is a region of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('has-region')">has-region</a>.km,v 1.9 2007/04/11 21:23:39 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('has-region')">has-region</a> has
	  (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	  (superslots ())
	  (subslots ())
	  (domain (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))
	  (range (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
	  (inverse (<a href="javascript:parent.code.dispatch('is-region-of')">is-region-of</a>))
	  (cardinality (N-to-N))
  (original-slot      (t))	
	  (fluent-status (*Inertial-Fluent)))


(<a href="javascript:parent.code.dispatch('has-region')">has-region</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			       (:triple "region" 0 "n")))))



(<a href="javascript:parent.code.dispatch('has-region')">has-region</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has subregion")))
(<a href="javascript:parent.code.dispatch('is-region-of')">is-region-of</a> has 
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is a region of")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>