<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Activity')">Activity</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Improvement')">Improvement</a>.km,v 1.1 2008/01/04 16:22:12 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Improvement')">Improvement</a> has (superclasses (<a href="javascript:parent.code.dispatch('Activity')">Activity</a>)))

(<a href="javascript:parent.code.dispatch('Improvement')">Improvement</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                           (:triple "improve" 1 "v")
                           (:triple "improve" 2 "v")
                           (:triple "better" 2 "v")
                           (:triple "amend" 2 "v")
                           (:triple "ameliorate" 1 "v")
                           (:triple "meliorate" 1 "v")
                           (:triple "better" 3 "v")
                           (:triple "ameliorate" 2 "v")
                           (:triple "meliorate" 2 "v")
                           (:triple "improvement" 1 "n")
                           (:triple "improvement" 2 "n")
                           (:triple "betterment" 1 "n")
                           (:triple "advance" 2 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>