;; 
;;    $Id: <a href="javascript:parent.code.dispatch('information-language')">information-language</a>.km,v 1.4 2007/04/11 21:23:39 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('information-language')">information-language</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (superslots ())
  (subslots ())
  (domain (<a href="javascript:parent.code.dispatch('Message')">Message</a>))
  (range (<a href="javascript:parent.code.dispatch('Language')">Language</a>))
  (inverse (<a href="javascript:parent.code.dispatch('information-language-of')">information-language-of</a>))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
  (cardinality (N-to-N))
)

(<a href="javascript:parent.code.dispatch('information-language-of')">information-language-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('information-language')">information-language</a>.km,v 1.4 2007/04/11 21:23:39 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('information-language')">information-language</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (superslots ())
  (subslots ())
  (domain (<a href="javascript:parent.code.dispatch('Message')">Message</a>))
  (range (<a href="javascript:parent.code.dispatch('Language')">Language</a>))
  (inverse (<a href="javascript:parent.code.dispatch('information-language-of')">information-language-of</a>))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
  (cardinality (N-to-N))
)

(<a href="javascript:parent.code.dispatch('information-language-of')">information-language-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>