<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Thing')">Thing</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Chemical-Equation-Expression')">Chemical-Equation-Expression</a>, 
<a href="javascript:parent.code.dispatch('Chemical-Formula')">Chemical-Formula</a>, 
<a href="javascript:parent.code.dispatch('Cliche')">Cliche</a>, 
<a href="javascript:parent.code.dispatch('Constant-Exclusion-Set')">Constant-Exclusion-Set</a>, 
<a href="javascript:parent.code.dispatch('Detailed-Instance')">Detailed-Instance</a>, 
<a href="javascript:parent.code.dispatch('Equation-Set')">Equation-Set</a>, 
<a href="javascript:parent.code.dispatch('Equilibrium-Constant-Expression')">Equilibrium-Constant-Expression</a>, 
<a href="javascript:parent.code.dispatch('Method')">Method</a>, 
<a href="javascript:parent.code.dispatch('Typical-Instance')">Typical-Instance</a>, 
<a href="javascript:parent.code.dispatch('Version')">Version</a>, 
<a href="javascript:parent.code.dispatch('Viewpoint')">Viewpoint</a>, 
<a href="javascript:parent.code.dispatch('Viewpoint-Query-Type')">Viewpoint-Query-Type</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a>.km,v 1.1 2001/11/28 15:34:00 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a> has
	(superclasses (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
	(<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
	(<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
	(<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
	(<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
	(<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ()))


</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>