<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Intangible-Entity')">Intangible-Entity</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Music')">Music</a>, 
<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>, 

<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Language')">Language</a>.km,v 1.6 2004/09/09 19:32:46 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Language')">Language</a> has
	(superclasses (<a href="javascript:parent.code.dispatch('Intangible-Entity')">Intangible-Entity</a>)))

;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Language')">Language</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                       (:triple "language" 1 "n")
                                       (:triple "communication" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('Language')">Language</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                       (:triple "language" 1 "n")
                                       (:triple "communication" 1 "n")
))))

;; stubby

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>