<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Express')">Express</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Deceive')">Deceive</a>, 

<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Lie')">Lie</a>.km,v 1.11 2005/10/25 03:02:09 sdbaji Exp $
;;

(<a href="javascript:parent.code.dispatch('Lie')">Lie</a> has
	(superclasses (<a href="javascript:parent.code.dispatch('Express')">Express</a>))
	(<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> (<a href="javascript:parent.code.dispatch('agent')">agent</a> <a href="javascript:parent.code.dispatch('object')">object</a>))
      #|(sentence-type (*punctual *conclusive))|#
)

(every <a href="javascript:parent.code.dispatch('Lie')">Lie</a> has
        (<a href="javascript:parent.code.dispatch('object')">object</a> ((a <a href="javascript:parent.code.dispatch('Information')">Information</a> with
                    (<a href="javascript:parent.code.dispatch('truth')">truth</a> ((a <a href="javascript:parent.code.dispatch('Truth-Value')">Truth-Value</a> with (<a href="javascript:parent.code.dispatch('value')">value</a> (*false))))))))

        ; if it's a lie, the <a href="javascript:parent.code.dispatch('agent')">agent</a> must know the info is false
        (pcs-list ((:triple (the <a href="javascript:parent.code.dispatch('agent')">agent</a> of Self)
                            <a href="javascript:parent.code.dispatch('experiencer-of')">experiencer-of</a>
                            (a <a href="javascript:parent.code.dispatch('Be-Known')">Be-Known</a> with
                               (<a href="javascript:parent.code.dispatch('object')">object</a> ((a <a href="javascript:parent.code.dispatch('Information')">Information</a> with
                                           (<a href="javascript:parent.code.dispatch('information-content')">information-content</a> ((the <a href="javascript:parent.code.dispatch('truth')">truth</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))))))
                               (<a href="javascript:parent.code.dispatch('experiencer')">experiencer</a> ((the <a href="javascript:parent.code.dispatch('agent')">agent</a> of Self)))
                            )
        )))
)

; not sufficient, so comment out for now
;(every <a href="javascript:parent.code.dispatch('Lie')">Lie</a> has-definition
;	(instance-of (<a href="javascript:parent.code.dispatch('Express')">Express</a>))
;	(<a href="javascript:parent.code.dispatch('object')">object</a> ((a <a href="javascript:parent.code.dispatch('Information')">Information</a> with (<a href="javascript:parent.code.dispatch('truth')">truth</a> ((a <a href="javascript:parent.code.dispatch('Truth-Value')">Truth-Value</a> with (<a href="javascript:parent.code.dispatch('value')">value</a> (*false)))))))))

(every <a href="javascript:parent.code.dispatch('Lie')">Lie</a> has 
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-sg')">text-active-verbseq-sg</a> ("lies"))
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-pl')">text-active-verbseq-pl</a> ("lie"))
)

(<a href="javascript:parent.code.dispatch('Lie')">Lie</a> has
	(<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ('(
		(*little-white-lie has 
                   (instance-of (<a href="javascript:parent.code.dispatch('Information')">Information</a>))
		   (<a href="javascript:parent.code.dispatch('truth')">truth</a> ((a <a href="javascript:parent.code.dispatch('Truth-Value')">Truth-Value</a> with (<a href="javascript:parent.code.dispatch('value')">value</a> (*false))))))
		(*Liar has (instance-of (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
		(*lie has
			(instance-of (<a href="javascript:parent.code.dispatch('Lie')">Lie</a>))
			(<a href="javascript:parent.code.dispatch('agent')">agent</a> (*Liar))
			(<a href="javascript:parent.code.dispatch('object')">object</a> (*little-white-lie))
		)
		(do-and-next *lie)
                (_LieBeKnown == (theoneof (the instances of <a href="javascript:parent.code.dispatch('Be-Known')">Be-Known</a>)
                                 where ((the <a href="javascript:parent.code.dispatch('object')">object</a> of It) = *little-white-lie))
                )
		((the <a href="javascript:parent.code.dispatch('experiencer')">experiencer</a> of _LieBeKnown) = *Liar)
		((the <a href="javascript:parent.code.dispatch('value')">value</a> of 
                      (the <a href="javascript:parent.code.dispatch('truth')">truth</a> of
                           (the <a href="javascript:parent.code.dispatch('object')">object</a> of _LieBeKnown))) = *false)
		
		
))))


;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Lie')">Lie</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                  (:triple "lie" 5 "v")
                                  (:triple "misinform" 1 "v")
                                  (:triple "mislead" 2 "v")
))))


(<a href="javascript:parent.code.dispatch('Lie')">Lie</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                  (:triple "lie" 5 "v")
                                  (:triple "misinform" 1 "v")
                                  (:triple "mislead" 2 "v")
))))
(every <a href="javascript:parent.code.dispatch('Lie')">Lie</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("lying")))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>