;; 
;; $Id: <a href="javascript:parent.code.dispatch('longitude')">longitude</a>.km,v 1.8 2007/04/11 21:23:40 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('longitude')">longitude</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots  ())
   (subslots    ())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
   (range       (<a href="javascript:parent.code.dispatch('Angle-Value')">Angle-Value</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Longitude-Constant')">Longitude-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Angle')">UoM-Angle</a>))
   (inverse     (<a href="javascript:parent.code.dispatch('longitude-of')">longitude-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1))
)

(<a href="javascript:parent.code.dispatch('longitude')">longitude</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('longitude')">longitude</a>" 1 "n")
                               (:triple "meridian" 2 "n")
                               (:triple "line of <a href="javascript:parent.code.dispatch('longitude')">longitude</a>" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('longitude-of')">longitude-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('longitude')">longitude</a>.km,v 1.8 2007/04/11 21:23:40 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('longitude')">longitude</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots  ())
   (subslots    ())
   (domain      (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))
   (range       (<a href="javascript:parent.code.dispatch('Angle-Value')">Angle-Value</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Longitude-Constant')">Longitude-Constant</a>))
   (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>   (<a href="javascript:parent.code.dispatch('UoM-Angle')">UoM-Angle</a>))
   (inverse     (<a href="javascript:parent.code.dispatch('longitude-of')">longitude-of</a>))
   (fluent-status (*Inertial-Fluent))
   ; (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1))
)

(<a href="javascript:parent.code.dispatch('longitude')">longitude</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('longitude')">longitude</a>" 1 "n")
                               (:triple "meridian" 2 "n")
                               (:triple "line of <a href="javascript:parent.code.dispatch('longitude')">longitude</a>" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('longitude-of')">longitude-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>