<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Contestant')">Contestant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Loser')">Loser</a>.km,v 1.1 2009/10/15 15:08:10 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Loser')">Loser</a> has (superclasses (<a href="javascript:parent.code.dispatch('Contestant')">Contestant</a>)))

(<a href="javascript:parent.code.dispatch('Loser')">Loser</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set 
  (:triple "loser" 1 "n")
  (:triple "also-ran" 1 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>