;; 
;; $Id: <a href="javascript:parent.code.dispatch('luminous-flux')">luminous-flux</a>.km,v 1.6 2007/04/11 21:23:40 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('luminous-flux')">luminous-flux</a> has
  (instance-of            (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
  (domain                 (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
  (range                  (<a href="javascript:parent.code.dispatch('Luminous-Flux-Value')">Luminous-Flux-Value</a>))
  (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a>  (<a href="javascript:parent.code.dispatch('Luminous-Flux-Constant')">Luminous-Flux-Constant</a>))
  (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>    (<a href="javascript:parent.code.dispatch('UoM-Luminous-Flux')">UoM-Luminous-Flux</a>))
  (inverse                (<a href="javascript:parent.code.dispatch('luminous-flux-of')">luminous-flux-of</a>))
  (fluent-status          (*Inertial-Fluent))
  ; (inherit-with-overrides (t))
  (original-slot      (t))	
  (cardinality            (N-to-1))
)

(<a href="javascript:parent.code.dispatch('luminous-flux')">luminous-flux</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "luminous flux" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('luminous-flux-of')">luminous-flux-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('luminous-flux')">luminous-flux</a>.km,v 1.6 2007/04/11 21:23:40 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('luminous-flux')">luminous-flux</a> has
  (instance-of            (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
  (domain                 (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>))    
  (range                  (<a href="javascript:parent.code.dispatch('Luminous-Flux-Value')">Luminous-Flux-Value</a>))
  (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a>  (<a href="javascript:parent.code.dispatch('Luminous-Flux-Constant')">Luminous-Flux-Constant</a>))
  (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a>    (<a href="javascript:parent.code.dispatch('UoM-Luminous-Flux')">UoM-Luminous-Flux</a>))
  (inverse                (<a href="javascript:parent.code.dispatch('luminous-flux-of')">luminous-flux-of</a>))
  (fluent-status          (*Inertial-Fluent))
  ; (inherit-with-overrides (t))
  (original-slot      (t))	
  (cardinality            (N-to-1))
)

(<a href="javascript:parent.code.dispatch('luminous-flux')">luminous-flux</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "luminous flux" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('luminous-flux-of')">luminous-flux-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>