<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Luminance-Value')">Luminance-Value</a>.km,v 1.4 2007/05/15 21:30:46 mrglass Exp $
;;


(<a href="javascript:parent.code.dispatch('Luminance-Value')">Luminance-Value</a> has (superclasses (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>)))

(<a href="javascript:parent.code.dispatch('Luminance-Value')">Luminance-Value</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("the quality of being luminous, emitting or reflecting light")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>