<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Action')">Action</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Collide')">Collide</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a>.km,v 1.40 2005/10/25 03:02:10 sdbaji Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a> has
              (superclasses   (<a href="javascript:parent.code.dispatch('Action')">Action</a>))
              (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a>  (<a href="javascript:parent.code.dispatch('object')">object</a> <a href="javascript:parent.code.dispatch('base')">base</a>))
              (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>   (<a href="javascript:parent.code.dispatch('agent')">agent</a>))
              (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
              (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> (
                                    (:seq <a href="javascript:parent.code.dispatch('object')">object</a> "the things that <a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a>")
                                    (:seq <a href="javascript:parent.code.dispatch('agent')">agent</a> "the Contact-Maker")
				    (:seq <a href="javascript:parent.code.dispatch('base')">base</a> "the place Made-Contact to")
				   ))
	    #|(sentence-type  (*punctual *conclusive))|#
)

(every <a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a> has
  (<a href="javascript:parent.code.dispatch('object')">object</a>       ((exactly 1 <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)
		 (a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))

  (<a href="javascript:parent.code.dispatch('base')">base</a>  	((exactly 1 <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)
		 (a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))

  (<a href="javascript:parent.code.dispatch('resulting-state')">resulting-state</a> ((a <a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a>)))

  ;; SOFT PCS: *** ASK KEN ***
  (<a href="javascript:parent.code.dispatch('soft-pcs-list')">soft-pcs-list</a> ((if (not ((the <a href="javascript:parent.code.dispatch('location')">location</a> of (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self)) = 
			    (the <a href="javascript:parent.code.dispatch('location')">location</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))))
		      then
		      (:triple (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)
			       <a href="javascript:parent.code.dispatch('object-of')">object-of</a>
			       (a <a href="javascript:parent.code.dispatch('Move')">Move</a> with
				  (<a href="javascript:parent.code.dispatch('destination')">destination</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))))))))
  
  (pcs-list 	((:triple 
		   (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)
		   <a href="javascript:parent.code.dispatch('object-of')">object-of</a> 
		   (mustnt-be-a <a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a> with
				(<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self)))) [Make-Contact-pcs-1])
		 (:triple
		   (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self)
		   <a href="javascript:parent.code.dispatch('object-of')">object-of</a>
		   (mustnt-be-a <a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a> with
				(<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))) [Make-Contact-pcs-2])))

  (add-list	((:set (:triple (the <a href="javascript:parent.code.dispatch('resulting-state')">resulting-state</a> of Self) <a href="javascript:parent.code.dispatch('object')">object</a> (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) [Make-Contact-add-1])
		       (:triple (the <a href="javascript:parent.code.dispatch('resulting-state')">resulting-state</a> of Self) <a href="javascript:parent.code.dispatch('object')">object</a> (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self) [Make-Contact-add-2])
		       (:triple (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self) <a href="javascript:parent.code.dispatch('abuts')">abuts</a> (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) [Make-Contact-add-3])
		       (:triple (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) <a href="javascript:parent.code.dispatch('abuts')">abuts</a> (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self) [Make-Contact-add-4])
))))

(comment  [Make-Contact-pcs-1] (:seq (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) " cannot already be touching " (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))
	  "Things that are to come in contact cannot already be touching.")

(comment  [Make-Contact-pcs-2] (:seq (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self) " cannot already be touching " (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))
	  "Things that are to come in contact cannot already be touching.")

(comment  [Make-Contact-add-1] (:seq (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) " now touches " (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))
	  "Things that make contact touch.")

(comment  [Make-Contact-add-2] (:seq (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self) " now touches " (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))
	  "Things that make contact touch.")

(comment  [Make-Contact-add-3] (:seq (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self) " now <a href="javascript:parent.code.dispatch('abuts')">abuts</a> " (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))
	  "Things that make contact must be next to each other.")

(comment  [Make-Contact-add-4] (:seq (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) " now <a href="javascript:parent.code.dispatch('abuts')">abuts</a> " (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))
	  "Things that make contact must be next to each other.")


(every <a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a> has
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-sg')">text-active-verbseq-sg</a> ("makes contact between"))
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-pl')">text-active-verbseq-pl</a> ("make contact between"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-sg')">text-passive-verbseq-sg</a> ("makes contact"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-pl')">text-passive-verbseq-pl</a> ("make contact"))

  (<a href="javascript:parent.code.dispatch('text-base')">text-base</a> ((if (has-value (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))
                  then ("with"))))

)

(every <a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a> has
  (<a href="javascript:parent.code.dispatch('preparatory-event')">preparatory-event</a> ((:default
	(a <a href="javascript:parent.code.dispatch('Break-Contact')">Break-Contact</a> with
	   (<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))
	   (<a href="javascript:parent.code.dispatch('agent')">agent</a>  ((the <a href="javascript:parent.code.dispatch('agent')">agent</a> of Self)))
	   (<a href="javascript:parent.code.dispatch('base')">base</a>   ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self)))
)))))
	


(<a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a> has
   (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ('(
                 (new-situation)
                 (*mylips has (instance-of (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
                 (*yourlips has (instance-of (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))

                 (not ((the <a href="javascript:parent.code.dispatch('abuts')">abuts</a> of *mylips) includes *yourlips))

                 (a <a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a> with
                    (<a href="javascript:parent.code.dispatch('object')">object</a> (*mylips))
                    (<a href="javascript:parent.code.dispatch('base')">base</a> (*yourlips)))
                 (do-and-next (thelast <a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a>))
		 (the <a href="javascript:parent.code.dispatch('text-gen')">text-gen</a> of (thelast <a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a>))
 (forall (the <a href="javascript:parent.code.dispatch('resulting-state')">resulting-state</a> of (thelast <a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a>)) (the <a href="javascript:parent.code.dispatch('text-gen')">text-gen</a> of It))
                 (oneof (the <a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a> <a href="javascript:parent.code.dispatch('object-of')">object-of</a> of *mylips)
                        where ((the <a href="javascript:parent.code.dispatch('object')">object</a> of It) includes *yourlips))

                 ((the <a href="javascript:parent.code.dispatch('abuts')">abuts</a> of *mylips) includes *yourlips)

                 (a <a href="javascript:parent.code.dispatch('Break-Contact')">Break-Contact</a> with
                    (<a href="javascript:parent.code.dispatch('object')">object</a> (*yourlips))
                    (<a href="javascript:parent.code.dispatch('base')">base</a> (*mylips)))
                 (do-and-next (thelast <a href="javascript:parent.code.dispatch('Break-Contact')">Break-Contact</a>))
		  (the <a href="javascript:parent.code.dispatch('text-gen')">text-gen</a> of (thelast <a href="javascript:parent.code.dispatch('Break-Contact')">Break-Contact</a>))

                 (not ((the <a href="javascript:parent.code.dispatch('abuts')">abuts</a> of *mylips) includes *yourlips))

                 (not (has-value (the <a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a> <a href="javascript:parent.code.dispatch('object-of')">object-of</a> of *mylips)))


))))


;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                           (:triple "touch" 1 "v")
))))

(<a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                           (:triple "touch" 1 "v")
))))

(every <a href="javascript:parent.code.dispatch('Make-Contact')">Make-Contact</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("making")))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>