
;;
;;   $Id: <a href="javascript:parent.code.dispatch('max-value')">max-value</a>.km,v 1.9 2007/04/11 21:31:10 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('max-value')">max-value</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
  (inverse (<a href="javascript:parent.code.dispatch('max-value-of')">max-value-of</a>))
  (cardinality (N-to-1))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
  (inherit-with-overrides (t))
)

(<a href="javascript:parent.code.dispatch('max-value-of')">max-value-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>
;;
;;   $Id: <a href="javascript:parent.code.dispatch('max-value')">max-value</a>.km,v 1.9 2007/04/11 21:31:10 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('max-value')">max-value</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
  (inverse (<a href="javascript:parent.code.dispatch('max-value-of')">max-value-of</a>))
  (cardinality (N-to-1))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
  (inherit-with-overrides (t))
)

(<a href="javascript:parent.code.dispatch('max-value-of')">max-value-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>