<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Add-Volumes')">Add-Volumes</a>, 
<a href="javascript:parent.code.dispatch('Arithmetic-Method')">Arithmetic-Method</a>, 
<a href="javascript:parent.code.dispatch('Balance-Equation')">Balance-Equation</a>, 
<a href="javascript:parent.code.dispatch('Compute-Acid-Compound-from-Chemical-Name')">Compute-Acid-Compound-from-Chemical-Name</a>, 
<a href="javascript:parent.code.dispatch('Compute-Acid-Compound-from-Formula')">Compute-Acid-Compound-from-Formula</a>, 
<a href="javascript:parent.code.dispatch('Compute-Acid-Ion-from-Name')">Compute-Acid-Ion-from-Name</a>, 
<a href="javascript:parent.code.dispatch('Compute-Atomic-Formula-from-Nested-Formula')">Compute-Atomic-Formula-from-Nested-Formula</a>, 
<a href="javascript:parent.code.dispatch('Compute-Atomic-Weight-from-Chemical')">Compute-Atomic-Weight-from-Chemical</a>, 
<a href="javascript:parent.code.dispatch('Compute-Balanced-Equation')">Compute-Balanced-Equation</a>, 
<a href="javascript:parent.code.dispatch('Compute-Chemical-Entity')">Compute-Chemical-Entity</a>, 
<a href="javascript:parent.code.dispatch('Compute-Chemical-Formula-of-Ionic-Compound')">Compute-Chemical-Formula-of-Ionic-Compound</a>, 
<a href="javascript:parent.code.dispatch('Compute-Chemical-Ion-from-Name')">Compute-Chemical-Ion-from-Name</a>, 
<a href="javascript:parent.code.dispatch('Compute-Chemical-Name-from-Formula-of-Ionic-Compound')">Compute-Chemical-Name-from-Formula-of-Ionic-Compound</a>, 
<a href="javascript:parent.code.dispatch('Compute-Chemical-Name-from-Ion-of-Acid-Compound')">Compute-Chemical-Name-from-Ion-of-Acid-Compound</a>, 
<a href="javascript:parent.code.dispatch('Compute-Complete-Atomic-Chemical-Formula')">Compute-Complete-Atomic-Chemical-Formula</a>, 
<a href="javascript:parent.code.dispatch('Compute-Compound-Computing-Method-from-Formula')">Compute-Compound-Computing-Method-from-Formula</a>, 
<a href="javascript:parent.code.dispatch('Compute-Compound-Computing-Method-from-Name')">Compute-Compound-Computing-Method-from-Name</a>, 
<a href="javascript:parent.code.dispatch('Compute-Compound-from-Chemical-Formula')">Compute-Compound-from-Chemical-Formula</a>, 
<a href="javascript:parent.code.dispatch('Compute-Compound-from-Chemical-Name')">Compute-Compound-from-Chemical-Name</a>, 
<a href="javascript:parent.code.dispatch('Compute-Compound-from-Common-Formula')">Compute-Compound-from-Common-Formula</a>, 
<a href="javascript:parent.code.dispatch('Compute-Compound-from-Common-Name')">Compute-Compound-from-Common-Name</a>, 
<a href="javascript:parent.code.dispatch('Compute-Concentration-Change-Constant')">Compute-Concentration-Change-Constant</a>, 
<a href="javascript:parent.code.dispatch('Compute-Concentration-from-Quantity-and-Volume')">Compute-Concentration-from-Quantity-and-Volume</a>, 
<a href="javascript:parent.code.dispatch('Compute-Element-from-Molecular-Name')">Compute-Element-from-Molecular-Name</a>, 
<a href="javascript:parent.code.dispatch('Compute-Element-from-Name')">Compute-Element-from-Name</a>, 
<a href="javascript:parent.code.dispatch('Compute-Equilibrium-Constant')">Compute-Equilibrium-Constant</a>, 
<a href="javascript:parent.code.dispatch('Compute-Equilibrium-Expression')">Compute-Equilibrium-Expression</a>, 
<a href="javascript:parent.code.dispatch('Compute-Equilibrium-Position')">Compute-Equilibrium-Position</a>, 
<a href="javascript:parent.code.dispatch('Compute-Ionic-Compound-from-Chemical-Name')">Compute-Ionic-Compound-from-Chemical-Name</a>, 
<a href="javascript:parent.code.dispatch('Compute-Ionic-Compound-from-Formula')">Compute-Ionic-Compound-from-Formula</a>, 
<a href="javascript:parent.code.dispatch('Compute-Ionic-Compound-Parts-from-Nested-Formula')">Compute-Ionic-Compound-Parts-from-Nested-Formula</a>, 
<a href="javascript:parent.code.dispatch('Compute-Maximum')">Compute-Maximum</a>, 
<a href="javascript:parent.code.dispatch('Compute-Minimum')">Compute-Minimum</a>, 
<a href="javascript:parent.code.dispatch('Compute-Mole-from-Weight-and-Chemical')">Compute-Mole-from-Weight-and-Chemical</a>, 
<a href="javascript:parent.code.dispatch('Compute-Molecule-from-Chemical-Name')">Compute-Molecule-from-Chemical-Name</a>, 
<a href="javascript:parent.code.dispatch('Compute-Molecule-from-Formula')">Compute-Molecule-from-Formula</a>, 
<a href="javascript:parent.code.dispatch('Compute-Nested-Atomic-Formula-from-Formula')">Compute-Nested-Atomic-Formula-from-Formula</a>, 
<a href="javascript:parent.code.dispatch('Compute-Nested-Formula-from-Has-Chemical-Formula')">Compute-Nested-Formula-from-Has-Chemical-Formula</a>, 
<a href="javascript:parent.code.dispatch('Compute-Qualitative-Maximum')">Compute-Qualitative-Maximum</a>, 
<a href="javascript:parent.code.dispatch('Compute-Qualitative-Minimum')">Compute-Qualitative-Minimum</a>, 
<a href="javascript:parent.code.dispatch('Compute-Quantitative-Maximum')">Compute-Quantitative-Maximum</a>, 
<a href="javascript:parent.code.dispatch('Compute-Quantitative-Minimum')">Compute-Quantitative-Minimum</a>, 
<a href="javascript:parent.code.dispatch('Compute-Quantity-from-Concentration-and-Volume')">Compute-Quantity-from-Concentration-and-Volume</a>, 
<a href="javascript:parent.code.dispatch('Compute-Quantity-from-Reaction')">Compute-Quantity-from-Reaction</a>, 
<a href="javascript:parent.code.dispatch('Compute-Quantity-of-Chemical-in-Chemical')">Compute-Quantity-of-Chemical-in-Chemical</a>, 
<a href="javascript:parent.code.dispatch('Compute-Quantity-of-Chemical-in-Chemicals')">Compute-Quantity-of-Chemical-in-Chemicals</a>, 
<a href="javascript:parent.code.dispatch('Compute-Quantity-of-Chemical-Object')">Compute-Quantity-of-Chemical-Object</a>, 
<a href="javascript:parent.code.dispatch('Compute-Quantity-of-Chemical-Substance')">Compute-Quantity-of-Chemical-Substance</a>, 
<a href="javascript:parent.code.dispatch('Compute-Volume-from-Concentration-and-Quantity')">Compute-Volume-from-Concentration-and-Quantity</a>, 
<a href="javascript:parent.code.dispatch('Conservation-of-Volume')">Conservation-of-Volume</a>, 
<a href="javascript:parent.code.dispatch('Format-Equation')">Format-Equation</a>, 
<a href="javascript:parent.code.dispatch('Identify-Chemical')">Identify-Chemical</a>, 
<a href="javascript:parent.code.dispatch('Identify-Chemical-Entity')">Identify-Chemical-Entity</a>, 
<a href="javascript:parent.code.dispatch('Unit-Conversion')">Unit-Conversion</a>, 

<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Method')">Method</a>.km,v 1.2 2005/07/20 14:52:31 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Method')">Method</a> has (superclasses (<a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>