;;    $Id: <a href="javascript:parent.code.dispatch('momentum')">momentum</a>.km,v 1.5 2007/04/11 21:31:10 jchaw Exp $

(<a href="javascript:parent.code.dispatch('momentum')">momentum</a> has
	  (instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>))
	  (superslots ())
	  (subslots ())
	  (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	  (range (<a href="javascript:parent.code.dispatch('Momentum-Value')">Momentum-Value</a>))
	  (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> (<a href="javascript:parent.code.dispatch('UoM-Momentum')">UoM-Momentum</a>))
	  (inverse (<a href="javascript:parent.code.dispatch('momentum-of')">momentum-of</a>))
	  (cardinality (N-to-1))
	  ; (inherit-with-overrides (t))
          (original-slot      (t))	
	  (fluent-status (*Inertial-Fluent)))

(<a href="javascript:parent.code.dispatch('momentum')">momentum</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('momentum')">momentum</a>" 2 "n")
))))

(<a href="javascript:parent.code.dispatch('momentum-of')">momentum-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;;    $Id: <a href="javascript:parent.code.dispatch('momentum')">momentum</a>.km,v 1.5 2007/04/11 21:31:10 jchaw Exp $

(<a href="javascript:parent.code.dispatch('momentum')">momentum</a> has
	  (instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>))
	  (superslots ())
	  (subslots ())
	  (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	  (range (<a href="javascript:parent.code.dispatch('Momentum-Value')">Momentum-Value</a>))
	  (<a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> (<a href="javascript:parent.code.dispatch('UoM-Momentum')">UoM-Momentum</a>))
	  (inverse (<a href="javascript:parent.code.dispatch('momentum-of')">momentum-of</a>))
	  (cardinality (N-to-1))
	  ; (inherit-with-overrides (t))
          (original-slot      (t))	
	  (fluent-status (*Inertial-Fluent)))

(<a href="javascript:parent.code.dispatch('momentum')">momentum</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('momentum')">momentum</a>" 2 "n")
))))

(<a href="javascript:parent.code.dispatch('momentum-of')">momentum-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EventProperty')">EventProperty</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>