<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Move-Through')">Move-Through</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Enter')">Enter</a>, 
<a href="javascript:parent.code.dispatch('Load')">Load</a>, 
<a href="javascript:parent.code.dispatch('Take-In')">Take-In</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a>.km,v 1.42 2005/10/25 03:02:10 sdbaji Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a> has
           (superclasses        (<a href="javascript:parent.code.dispatch('Move-Through')">Move-Through</a>))
           (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a>       (<a href="javascript:parent.code.dispatch('object')">object</a> <a href="javascript:parent.code.dispatch('base')">base</a> <a href="javascript:parent.code.dispatch('destination')">destination</a>))
           (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>        (<a href="javascript:parent.code.dispatch('agent')">agent</a> <a href="javascript:parent.code.dispatch('path')">path</a>))
           (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a>      ())
           (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> (
                                 (:seq <a href="javascript:parent.code.dispatch('object')">object</a> "the thing moved")
                                 (:seq <a href="javascript:parent.code.dispatch('base')">base</a> "the enclosure")
                                 (:seq <a href="javascript:parent.code.dispatch('destination')">destination</a> "moved to")
                                 (:seq <a href="javascript:parent.code.dispatch('agent')">agent</a> "the mover")
                                 (:seq <a href="javascript:parent.code.dispatch('origin')">origin</a> "moved from")
                                 (:seq <a href="javascript:parent.code.dispatch('path')">path</a> "moved along or through")
                                 (:seq <a href="javascript:parent.code.dispatch('toward')">toward</a> "moved <a href="javascript:parent.code.dispatch('toward')">toward</a>")
                                 (:seq <a href="javascript:parent.code.dispatch('away-from')">away-from</a> "moved away from")
                                 ))
        #|(sentence-type        (*punctual *conclusive))|#
)

(every <a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a> has
       (<a href="javascript:parent.code.dispatch('resulting-state')">resulting-state</a> ((a <a href="javascript:parent.code.dispatch('Be-Contained')">Be-Contained</a>)))
       (<a href="javascript:parent.code.dispatch('object')">object</a> 	    ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))	
       (<a href="javascript:parent.code.dispatch('base')">base</a>        ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> with
                        (<a href="javascript:parent.code.dispatch('plays')">plays</a> ((a <a href="javascript:parent.code.dispatch('Container')">Container</a>)))
                        (<a href="javascript:parent.code.dispatch('encloses')">encloses</a> ((the <a href="javascript:parent.code.dispatch('destination')">destination</a> of Self)))
                        (<a href="javascript:parent.code.dispatch('has-region')">has-region</a> ((a <a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a> with 
					(<a href="javascript:parent.code.dispatch('plays')">plays</a> ((a <a href="javascript:parent.code.dispatch('Portal')">Portal</a>)))))))))
       (<a href="javascript:parent.code.dispatch('destination')">destination</a> ((a <a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a> with
                        (<a href="javascript:parent.code.dispatch('is-inside')">is-inside</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))))))
       (<a href="javascript:parent.code.dispatch('origin')">origin</a>      ((a <a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a> with
                        (<a href="javascript:parent.code.dispatch('is-outside')">is-outside</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))))))
       (<a href="javascript:parent.code.dispatch('path')">path</a>        ((a <a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a> with 
			(<a href="javascript:parent.code.dispatch('plays')">plays</a> ((a <a href="javascript:parent.code.dispatch('Portal')">Portal</a>)))
			(<a href="javascript:parent.code.dispatch('is-region-of')">is-region-of</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self)))
	)))

       ;; SOFT PCS:
       (<a href="javascript:parent.code.dispatch('soft-pcs-list')">soft-pcs-list</a> ((forall (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)
			 (:triple It <a href="javascript:parent.code.dispatch('is-outside')">is-outside</a> (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self)))))

       ;;; specified in <a href="javascript:parent.code.dispatch('Move-Through')">Move-Through</a> already       
       (pcs-list  (
                   (forall (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)
                     (:triple It 
                              <a href="javascript:parent.code.dispatch('object-of')">object-of</a>
                              (mustnt-be-a <a href="javascript:parent.code.dispatch('Be-Shut-Out')">Be-Shut-Out</a> with 
                                (<a href="javascript:parent.code.dispatch('base')">base</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self)))) [Move-Into-pcs-1]))
	           (if (has-value (the <a href="javascript:parent.code.dispatch('path')">path</a> of Self))
                       then
			(forall (the <a href="javascript:parent.code.dispatch('path')">path</a> of Self)
                       (:triple 
			   (the <a href="javascript:parent.code.dispatch('path')">path</a> of Self)
			   <a href="javascript:parent.code.dispatch('object-of')">object-of</a>
			   (mustnt-be-a <a href="javascript:parent.code.dispatch('Be-Closed')">Be-Closed</a>))))	  
	))

       (add-list  (
                   (:triple (the <a href="javascript:parent.code.dispatch('Container')">Container</a> <a href="javascript:parent.code.dispatch('plays')">plays</a> of (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))
                            <a href="javascript:parent.code.dispatch('content')">content</a>
                            (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) [Move-Into-add-1])
		   (:triple (the <a href="javascript:parent.code.dispatch('resulting-state')">resulting-state</a> of Self) <a href="javascript:parent.code.dispatch('object')">object</a> (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) [Move-Into-add-2])
	))

	(<a href="javascript:parent.code.dispatch('interrupted-by')">interrupted-by</a> ((must-be-a <a href="javascript:parent.code.dispatch('Move-Out-Of')">Move-Out-Of</a> with 
				(<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))
				(<a href="javascript:parent.code.dispatch('base')">base</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))))))

)

(comment [Move-Into-pcs-1] (:seq (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) " cannot be shut out of " (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))
	 "Something cannot move into something else if it has been shut out of it.")

(comment [Move-Into-add-1] (:seq (the <a href="javascript:parent.code.dispatch('base')">base</a> of Self) " now contains " (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))
	 "Something is contained by the thing it moves into.")

(comment [Move-Into-add-2] (:seq (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self) " is in the state of <a href="javascript:parent.code.dispatch('Be-Contained')">Be-Contained</a>.") 
	"After being moved into something is in the state of being contained")



(every <a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a> has
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-sg')">text-active-verbseq-sg</a> ("moves"))
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-pl')">text-active-verbseq-pl</a> ("move"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-sg')">text-passive-verbseq-sg</a> ("gets moved"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-pl')">text-passive-verbseq-pl</a> ("get moved"))

  (<a href="javascript:parent.code.dispatch('text-argslots')">text-argslots</a> ((:seq <a href="javascript:parent.code.dispatch('base')">base</a> <a href="javascript:parent.code.dispatch('path')">path</a>)))
  (<a href="javascript:parent.code.dispatch('text-base')">text-base</a> ("into"))
  (<a href="javascript:parent.code.dispatch('text-path')">text-path</a> ("through"))

)


;; additional contextual info needs to be added
(every <a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a> has
   (<a href="javascript:parent.code.dispatch('preparatory-event')">preparatory-event</a> ((:default
	(a <a href="javascript:parent.code.dispatch('Admit')">Admit</a> with
	   (<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))
	   (<a href="javascript:parent.code.dispatch('base')">base</a>   ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))))
	(a <a href="javascript:parent.code.dispatch('Open')">Open</a> with
	   (<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))))
	(a <a href="javascript:parent.code.dispatch('Move-Out-Of')">Move-Out-Of</a> with
	   (<a href="javascript:parent.code.dispatch('object')">object</a> ((the <a href="javascript:parent.code.dispatch('object')">object</a> of Self)))
	   (<a href="javascript:parent.code.dispatch('base')">base</a>   ((the <a href="javascript:parent.code.dispatch('base')">base</a> of Self))))
))))



(<a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a> has
           (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ('(
                         (*Troy has 
                          (instance-of (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))

                         (*TrojanHorse has 
                          (instance-of (<a href="javascript:parent.code.dispatch('Physical-Object')">Physical-Object</a>))
                          (<a href="javascript:parent.code.dispatch('is-outside')">is-outside</a> (*Troy)))

                         ; *TrojanHorse Move-Into's *Troy
                         (a <a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a> with
                          (<a href="javascript:parent.code.dispatch('base')">base</a> (*Troy))
                          (<a href="javascript:parent.code.dispatch('object')">object</a> (*TrojanHorse)))

                         (do-and-next (thelast <a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a>))
			 (the <a href="javascript:parent.code.dispatch('text-gen')">text-gen</a> of (thelast <a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a>))
                         ((the <a href="javascript:parent.code.dispatch('is-inside')">is-inside</a> of *TrojanHorse) includes *Troy)

                         ((the <a href="javascript:parent.code.dispatch('content')">content</a> of (the <a href="javascript:parent.code.dispatch('Container')">Container</a> <a href="javascript:parent.code.dispatch('plays')">plays</a> of *Troy)) includes *TrojanHorse)
			 ((the <a href="javascript:parent.code.dispatch('Container')">Container</a> <a href="javascript:parent.code.dispatch('plays')">plays</a> of *Troy) isa <a href="javascript:parent.code.dispatch('Container')">Container</a>)
			 (has-value (the <a href="javascript:parent.code.dispatch('Be-Contained')">Be-Contained</a> <a href="javascript:parent.code.dispatch('object-of')">object-of</a> of *TrojanHorse))
))))


;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                        (:triple "move_into" 1 "v")
                                        (:triple "enter" 1 "v")
                                        (:triple "come_in" 1 "v")
                                        (:triple "get_into" 2 "v")
                                        (:triple "get_in" 1 "v")
                                        (:triple "go_into" 1 "v")
                                        (:triple "go_in" 1 "v")
))))

(<a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                        (:triple "move_into" 1 "v")
                                        (:triple "enter" 1 "v")
                                        (:triple "come_in" 1 "v")
                                        (:triple "get_into" 2 "v")
                                        (:triple "get_in" 1 "v")
                                        (:triple "go_into" 1 "v")
                                        (:triple "go_in" 1 "v")
))))

(every <a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("moving")))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>