<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Language')">Language</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>.km,v 1.3 2010/10/12 19:23:19 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Language')">Language</a>))
)

(<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                       (:triple "natural_language" 1 "n")
                                       (:triple "tongue" 2 "n")
))))

;; source: http://en.wikipedia.org/wiki/List_of_sovereign_states

(<a href="javascript:parent.code.dispatch('*Abkhaz')">*Abkhaz</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Afrikaans')">*Afrikaans</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Albanian')">*Albanian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Amharic')">*Amharic</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Arabic')">*Arabic</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Armenian')">*Armenian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Assamese')">*Assamese</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Asturian')">*Asturian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Aymara')">*Aymara</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Azerbaijani')">*Azerbaijani</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Basque')">*Basque</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Belarusian')">*Belarusian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Bemba')">*Bemba</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Bengali')">*Bengali</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Bhojpuri')">*Bhojpuri</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Bislama')">*Bislama</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Bosnian')">*Bosnian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Bulgarian')">*Bulgarian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Burmese')">*Burmese</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Catalan')">*Catalan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Chewa')">*Chewa</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Chichewa')">*Chichewa</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Chinese')">*Chinese</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Comorian')">*Comorian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Croatian')">*Croatian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Czech')">*Czech</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Danish')">*Danish</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Demotic-Greek')">*Demotic-Greek</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Dhivehi')">*Dhivehi</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Dutch')">*Dutch</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Dzongkha')">*Dzongkha</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*English')">*English</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Estonian')">*Estonian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Fiji-Hindi')">*Fiji-Hindi</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Fijian')">*Fijian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Filipino')">*Filipino</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Finnish')">*Finnish</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*French')">*French</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Galician')">*Galician</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Georgian')">*Georgian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*German')">*German</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Gilbertese')">*Gilbertese</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Greek')">*Greek</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Guarani')">*Guarani</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Gujarati')">*Gujarati</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Haitian-Creole')">*Haitian-Creole</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Hausa')">*Hausa</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Hawaiian')">*Hawaiian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Hebrew')">*Hebrew</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Hindi')">*Hindi</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Hungarian')">*Hungarian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Icelandic')">*Icelandic</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Igbo')">*Igbo</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Indonesian')">*Indonesian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Irish')">*Irish</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Italian')">*Italian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Japanese')">*Japanese</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Jawi-script')">*Jawi-script</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Kannada')">*Kannada</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Kaonde')">*Kaonde</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Kashmiri')">*Kashmiri</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Katharevousa')">*Katharevousa</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Kazakh')">*Kazakh</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Khmer')">*Khmer</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Kinyarwanda')">*Kinyarwanda</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Kirundi')">*Kirundi</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Konkani')">*Konkani</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Korean')">*Korean</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Kurdish')">*Kurdish</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Kyrgyz')">*Kyrgyz</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Lao')">*Lao</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Latin')">*Latin</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Latvian')">*Latvian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Lithuanian')">*Lithuanian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Lozi')">*Lozi</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Luxembourgish')">*Luxembourgish</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Macedonian')">*Macedonian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Maithili')">*Maithili</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Malagasy')">*Malagasy</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Malay')">*Malay</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Malayalam')">*Malayalam</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Maltese')">*Maltese</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Marathi')">*Marathi</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Marshallese')">*Marshallese</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Mauritian-Creole')">*Mauritian-Creole</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Meitei')">*Meitei</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Mirandese')">*Mirandese</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Moldovan')">*Moldovan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Mongolian')">*Mongolian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Montenegrin')">*Montenegrin</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Nauruan')">*Nauruan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Nepali')">*Nepali</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Northern-Ndebele')">*Northern-Ndebele</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Northern-Sotho')">*Northern-Sotho</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Norwegian-Nynorsk')">*Norwegian-Nynorsk</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Occitan')">*Occitan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Oriya')">*Oriya</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Ossetic')">*Ossetic</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Palauan')">*Palauan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Papiamentu')">*Papiamentu</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Pashto')">*Pashto</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Persian')">*Persian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Polish')">*Polish</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Portuguese')">*Portuguese</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Punjabi')">*Punjabi</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Quechua')">*Quechua</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Romanian')">*Romanian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Romansh')">*Romansh</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Russian')">*Russian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Samoan')">*Samoan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Sango')">*Sango</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Sanskrit')">*Sanskrit</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Scots')">*Scots</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Scottish-Gaelic')">*Scottish-Gaelic</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Serbian')">*Serbian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Seychellois-Creole')">*Seychellois-Creole</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Shona')">*Shona</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Sindhi')">*Sindhi</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Sinhala')">*Sinhala</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Slovak')">*Slovak</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Slovene')">*Slovene</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Somali')">*Somali</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Sotho')">*Sotho</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Southern-Ndebele')">*Southern-Ndebele</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Spanish')">*Spanish</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Swahili')">*Swahili</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Swazi')">*Swazi</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Swedish')">*Swedish</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Tagalog')">*Tagalog</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Tajik')">*Tajik</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Tamil')">*Tamil</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Telugu')">*Telugu</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Tetum')">*Tetum</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Thai')">*Thai</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Tibetan')">*Tibetan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Tigrinya')">*Tigrinya</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Tok-Pisin')">*Tok-Pisin</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Tongan')">*Tongan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Tsonga')">*Tsonga</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Tswana')">*Tswana</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Turkish')">*Turkish</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Turkmen')">*Turkmen</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Tuvaluan')">*Tuvaluan</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Ukrainian')">*Ukrainian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Urdu')">*Urdu</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Uyghur')">*Uyghur</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Uzbek')">*Uzbek</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Venda')">*Venda</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Vietnamese')">*Vietnamese</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Welsh')">*Welsh</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*West-Frisian')">*West-Frisian</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Xhosa')">*Xhosa</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Yoruba')">*Yoruba</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Zhuang')">*Zhuang</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))
(<a href="javascript:parent.code.dispatch('*Zulu')">*Zulu</a> has (instance-of (<a href="javascript:parent.code.dispatch('Natural-Language')">Natural-Language</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>