;;
;; $Id: <a href="javascript:parent.code.dispatch('next-element')">next-element</a>.km,v 1.11 2007/04/11 21:31:10 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('next-element')">next-element</a> has
	     (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	     (domain (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
	     (range (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
	     (cardinality (N-to-N))
	     (fluent-status (*Inertial-Fluent))
             (original-slot      (t))	
	     (inverse (<a href="javascript:parent.code.dispatch('previous-element')">previous-element</a>)))


(<a href="javascript:parent.code.dispatch('previous-element')">previous-element</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
				 (:triple "previous <a href="javascript:parent.code.dispatch('element')">element</a>" 0 "n")))))(<a href="javascript:parent.code.dispatch('next-element')">next-element</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("comes before")))
(<a href="javascript:parent.code.dispatch('previous-element')">previous-element</a> has 
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("comes after")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;;
;; $Id: <a href="javascript:parent.code.dispatch('next-element')">next-element</a>.km,v 1.11 2007/04/11 21:31:10 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('next-element')">next-element</a> has
	     (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	     (domain (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
	     (range (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
	     (cardinality (N-to-N))
	     (fluent-status (*Inertial-Fluent))
             (original-slot      (t))	
	     (inverse (<a href="javascript:parent.code.dispatch('previous-element')">previous-element</a>)))


(<a href="javascript:parent.code.dispatch('previous-element')">previous-element</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
				 (:triple "previous <a href="javascript:parent.code.dispatch('element')">element</a>" 0 "n")))))(<a href="javascript:parent.code.dispatch('next-element')">next-element</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("comes before")))
(<a href="javascript:parent.code.dispatch('previous-element')">previous-element</a> has 
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("comes after")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>