;; 
;;    $Id: <a href="javascript:parent.code.dispatch('next-event')">next-event</a>.km,v 1.15 2008/09/05 16:19:59 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('next-event')">next-event</a> has
  (instance-of 	 (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
  (subslots 	 (<a href="javascript:parent.code.dispatch('disjunctive-next-events')">disjunctive-next-events</a>))
  (domain 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (range 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (fluent-status (*Inertial-Fluent))
  (cardinality 	 (N-to-N))
  (original-slot      (t))	
  (inverse 	 (<a href="javascript:parent.code.dispatch('prev-event')">prev-event</a>)))

(<a href="javascript:parent.code.dispatch('next-event')">next-event</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("comes before")))

(<a href="javascript:parent.code.dispatch('next-event')">next-event</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			     (:triple "occurs after" 0 "n")
))))

(<a href="javascript:parent.code.dispatch('prev-event')">prev-event</a> has 
        (subslots (<a href="javascript:parent.code.dispatch('disjunctive-next-events-of')">disjunctive-next-events-of</a>))
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("comes after")))

(<a href="javascript:parent.code.dispatch('prev-event')">prev-event</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			     (:triple "occurs before" 0 "n")
))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('next-event')">next-event</a>.km,v 1.15 2008/09/05 16:19:59 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('next-event')">next-event</a> has
  (instance-of 	 (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
  (subslots 	 (<a href="javascript:parent.code.dispatch('disjunctive-next-events')">disjunctive-next-events</a>))
  (domain 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (range 	 (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (fluent-status (*Inertial-Fluent))
  (cardinality 	 (N-to-N))
  (original-slot      (t))	
  (inverse 	 (<a href="javascript:parent.code.dispatch('prev-event')">prev-event</a>)))

(<a href="javascript:parent.code.dispatch('next-event')">next-event</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("comes before")))

(<a href="javascript:parent.code.dispatch('next-event')">next-event</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			     (:triple "occurs after" 0 "n")
))))

(<a href="javascript:parent.code.dispatch('prev-event')">prev-event</a> has 
        (subslots (<a href="javascript:parent.code.dispatch('disjunctive-next-events-of')">disjunctive-next-events-of</a>))
        (instance-of (<a href="javascript:parent.code.dispatch('Meronymic-Relation')">Meronymic-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("comes after")))

(<a href="javascript:parent.code.dispatch('prev-event')">prev-event</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			     (:triple "occurs before" 0 "n")
))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>