<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Activity')">Activity</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Operations')">Operations</a>.km,v 1.3 2005/10/25 03:02:10 sdbaji Exp $
;;

(<a href="javascript:parent.code.dispatch('Operations')">Operations</a> has
	    (superclasses (<a href="javascript:parent.code.dispatch('Activity')">Activity</a>))
	    (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
	    (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
	    (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
	    (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
	    (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ()))


(<a href="javascript:parent.code.dispatch('Operations')">Operations</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set 
			       (:triple "operation" 1 "n")
			       (:triple "business_activity" 1 "n")
			       (:triple "commercial_activity" 1 "n")
))))


(every <a href="javascript:parent.code.dispatch('Operations')">Operations</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("operations")))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>