<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Agent-Role')">Agent-Role</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Creator')">Creator</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Participant')">Participant</a>.km,v 1.4 2005/06/27 19:18:50 billj Exp $
;; 

;; imported from IRIS ontology
(<a href="javascript:parent.code.dispatch('Participant')">Participant</a> has (superclasses (<a href="javascript:parent.code.dispatch('Agent-Role')">Agent-Role</a>)))

(<a href="javascript:parent.code.dispatch('Participant')">Participant</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
				(:triple "participant" 1 "n")	
				(:triple "participant" 2 "n")	
				(:triple "player" 1 "n")
))))




</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>