;; 
;;    $Id: <a href="javascript:parent.code.dispatch('physical-state')">physical-state</a>.km,v 1.7 2008/07/04 18:10:25 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('physical-state')">physical-state</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Substance')">Substance</a>))    
   (range       (<a href="javascript:parent.code.dispatch('State-Value')">State-Value</a>))
   (<a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> (<a href="javascript:parent.code.dispatch('State-Constant')">State-Constant</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('physical-state-of')">physical-state-of</a>))
   (fluent-status (*Inertial-Fluent))
   (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1))
)

(<a href="javascript:parent.code.dispatch('physical-state')">physical-state</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "state" 8 "n")
                               (:triple "state of matter" 1 "n")
			       (:triple "physical state" 0 "n")
			       ))))

(<a href="javascript:parent.code.dispatch('physical-state-of')">physical-state-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('physical-state')">physical-state</a>.km,v 1.7 2008/07/04 18:10:25 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('physical-state')">physical-state</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Substance')">Substance</a>))    
   (range       (<a href="javascript:parent.code.dispatch('State-Value')">State-Value</a>))
   (<a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> (<a href="javascript:parent.code.dispatch('State-Constant')">State-Constant</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('physical-state-of')">physical-state-of</a>))
   (fluent-status (*Inertial-Fluent))
   (inherit-with-overrides (t))
   (original-slot      (t))	
   (cardinality (N-to-1))
)

(<a href="javascript:parent.code.dispatch('physical-state')">physical-state</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "state" 8 "n")
                               (:triple "state of matter" 1 "n")
			       (:triple "physical state" 0 "n")
			       ))))

(<a href="javascript:parent.code.dispatch('physical-state-of')">physical-state-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>