<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Artifact')">Artifact</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Physical-Document')">Physical-Document</a>.km,v 1.3 2005/01/14 06:10:16 billj Exp $
;; 

(<a href="javascript:parent.code.dispatch('Physical-Document')">Physical-Document</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Artifact')">Artifact</a>))
  (<a href="javascript:parent.code.dispatch('description')">description</a> ("a physically rendered written message"))
)

(every <a href="javascript:parent.code.dispatch('Physical-Document')">Physical-Document</a> has
  (<a href="javascript:parent.code.dispatch('result-of')">result-of</a> ((a <a href="javascript:parent.code.dispatch('Print')">Print</a>)))
  (<a href="javascript:parent.code.dispatch('has-part')">has-part</a> ((a <a href="javascript:parent.code.dispatch('Physical-Mark')">Physical-Mark</a>)))
)

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>