<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Airplane')">Airplane</a>, 
<a href="javascript:parent.code.dispatch('Baseball')">Baseball</a>, 
<a href="javascript:parent.code.dispatch('Bicycle')">Bicycle</a>, 
<a href="javascript:parent.code.dispatch('Block-Object')">Block-Object</a>, 
<a href="javascript:parent.code.dispatch('Boat')">Boat</a>, 
<a href="javascript:parent.code.dispatch('Bowling-Ball')">Bowling-Ball</a>, 
<a href="javascript:parent.code.dispatch('Bullet')">Bullet</a>, 
<a href="javascript:parent.code.dispatch('Car')">Car</a>, 
<a href="javascript:parent.code.dispatch('Chamber')">Chamber</a>, 
<a href="javascript:parent.code.dispatch('Chemical-Entity')">Chemical-Entity</a>, 
<a href="javascript:parent.code.dispatch('Feather')">Feather</a>, 
<a href="javascript:parent.code.dispatch('Helicopter')">Helicopter</a>, 
<a href="javascript:parent.code.dispatch('Hollow-Ball')">Hollow-Ball</a>, 
<a href="javascript:parent.code.dispatch('Ice')">Ice</a>, 
<a href="javascript:parent.code.dispatch('Inanimate-Object')">Inanimate-Object</a>, 
<a href="javascript:parent.code.dispatch('Living-Entity')">Living-Entity</a>, 
<a href="javascript:parent.code.dispatch('Musical-Instrument')">Musical-Instrument</a>, 
<a href="javascript:parent.code.dispatch('Pulley')">Pulley</a>, 
<a href="javascript:parent.code.dispatch('Pumping-Device')">Pumping-Device</a>, 
<a href="javascript:parent.code.dispatch('River')">River</a>, 
<a href="javascript:parent.code.dispatch('Rock')">Rock</a>, 
<a href="javascript:parent.code.dispatch('Rocket')">Rocket</a>, 
<a href="javascript:parent.code.dispatch('Rope')">Rope</a>, 
<a href="javascript:parent.code.dispatch('Table')">Table</a>, 
<a href="javascript:parent.code.dispatch('Train')">Train</a>, 
<a href="javascript:parent.code.dispatch('Truck')">Truck</a>, 
<a href="javascript:parent.code.dispatch('Valve')">Valve</a>, 
<a href="javascript:parent.code.dispatch('Wagon')">Wagon</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Physical-Object')">Physical-Object</a>.km,v 1.2 2005/05/07 01:38:30 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Physical-Object')">Physical-Object</a> has
	(superclasses (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))

(<a href="javascript:parent.code.dispatch('Physical-Object')">Physical-Object</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                        (:triple "<a href="javascript:parent.code.dispatch('object')">object</a>" 1 "n")
))))




</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>