<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Inanimate-Object')">Inanimate-Object</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Physical-Mark')">Physical-Mark</a>, 
<a href="javascript:parent.code.dispatch('Piece-of-Glass')">Piece-of-Glass</a>, 
<a href="javascript:parent.code.dispatch('Piece-of-Metal')">Piece-of-Metal</a>, 
<a href="javascript:parent.code.dispatch('Piece-of-Paper')">Piece-of-Paper</a>, 
<a href="javascript:parent.code.dispatch('Piece-of-Plastic')">Piece-of-Plastic</a>, 
<a href="javascript:parent.code.dispatch('Piece-of-Rubber')">Piece-of-Rubber</a>, 
<a href="javascript:parent.code.dispatch('Piece-of-Stone')">Piece-of-Stone</a>, 
<a href="javascript:parent.code.dispatch('Piece-of-Tissue')">Piece-of-Tissue</a>, 
<a href="javascript:parent.code.dispatch('Piece-of-Wood')">Piece-of-Wood</a>, 

<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Piece-of-Substance')">Piece-of-Substance</a>.km,v 1.1 2003/08/22 15:44:12 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Piece-of-Substance')">Piece-of-Substance</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Inanimate-Object')">Inanimate-Object</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
)

(every <a href="javascript:parent.code.dispatch('Piece-of-Substance')">Piece-of-Substance</a> has
  (<a href="javascript:parent.code.dispatch('material')">material</a> ((a <a href="javascript:parent.code.dispatch('Substance')">Substance</a>)))
)

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>