;; 
;;    $Id: <a href="javascript:parent.code.dispatch('plays')">plays</a>.km,v 1.13 2007/04/11 21:31:10 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('plays')">plays</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
       (range (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
       (inverse (<a href="javascript:parent.code.dispatch('played-by')">played-by</a>))
       (cardinality (1-to-N))
       (original-slot      (t))	
       (fluent-status (*Inertial-Fluent)))

(<a href="javascript:parent.code.dispatch('plays')">plays</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('plays')">plays</a> the role of")))
(<a href="javascript:parent.code.dispatch('played-by')">played-by</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is the role played by")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('plays')">plays</a>.km,v 1.13 2007/04/11 21:31:10 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('plays')">plays</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
       (range (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
       (inverse (<a href="javascript:parent.code.dispatch('played-by')">played-by</a>))
       (cardinality (1-to-N))
       (original-slot      (t))	
       (fluent-status (*Inertial-Fluent)))

(<a href="javascript:parent.code.dispatch('plays')">plays</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('plays')">plays</a> the role of")))
(<a href="javascript:parent.code.dispatch('played-by')">played-by</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Participant-Relation')">Participant-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is the role played by")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>