<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Barrier')">Barrier</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Portal-Covering')">Portal-Covering</a>.km,v 1.11 2004/07/20 22:29:23 gking Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Portal-Covering')">Portal-Covering</a> has
		 (superclasses (<a href="javascript:parent.code.dispatch('Barrier')">Barrier</a>))  ;; a type of <a href="javascript:parent.code.dispatch('Role')">Role</a>
		 (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
		 (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
		 (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
		 (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ()))

(every <a href="javascript:parent.code.dispatch('Portal-Covering')">Portal-Covering</a> has
	(<a href="javascript:parent.code.dispatch('played-by')">played-by</a>  ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> with       
			(<a href="javascript:parent.code.dispatch('is-part-of')">is-part-of</a> ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> with 
					(<a href="javascript:parent.code.dispatch('plays')">plays</a> ((a <a href="javascript:parent.code.dispatch('Container')">Container</a>))))))
			))))


;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Portal-Covering')">Portal-Covering</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                              (:triple "movable_barrier" 1 "n")
))))

(<a href="javascript:parent.code.dispatch('Portal-Covering')">Portal-Covering</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                              (:triple "movable_barrier" 1 "n")
))))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>