;; 
;;    $Id: <a href="javascript:parent.code.dispatch('prevents')">prevents</a>.km,v 1.9 2007/04/11 21:31:10 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('prevents')">prevents</a> has
	 (instance-of 		(<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	 (superslots 		())
	 (subslots 		())
	 (domain 		(<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	 (range 		(<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	 (inverse 		(<a href="javascript:parent.code.dispatch('prevented-by')">prevented-by</a>))
	 (fluent-status 	(*Inertial-Fluent))
         (original-slot      (t))	
	 (cardinality 		(N-to-N)))





(<a href="javascript:parent.code.dispatch('prevents')">prevents</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('prevents')">prevents</a>")))
(<a href="javascript:parent.code.dispatch('prevented-by')">prevented-by</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is prevented by")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('prevents')">prevents</a>.km,v 1.9 2007/04/11 21:31:10 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('prevents')">prevents</a> has
	 (instance-of 		(<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	 (superslots 		())
	 (subslots 		())
	 (domain 		(<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	 (range 		(<a href="javascript:parent.code.dispatch('Event')">Event</a>))
	 (inverse 		(<a href="javascript:parent.code.dispatch('prevented-by')">prevented-by</a>))
	 (fluent-status 	(*Inertial-Fluent))
         (original-slot      (t))	
	 (cardinality 		(N-to-N)))





(<a href="javascript:parent.code.dispatch('prevents')">prevents</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("<a href="javascript:parent.code.dispatch('prevents')">prevents</a>")))
(<a href="javascript:parent.code.dispatch('prevented-by')">prevented-by</a> has 
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a>))
	(<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is prevented by")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>