<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a>, 
<a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Property-Class-Order')">Property-Class-Order</a>.km,v 1.1 2006/02/28 15:00:43 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Property-Class-Order')">Property-Class-Order</a> has
   (superclasses (<a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a> <a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>