<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Thing')">Thing</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Cardinal')">Cardinal</a>, 
<a href="javascript:parent.code.dispatch('Categorical')">Categorical</a>, 
<a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 
<a href="javascript:parent.code.dispatch('Property-Class-Order')">Property-Class-Order</a>, 
<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>, 
<a href="javascript:parent.code.dispatch('Scalar')">Scalar</a>, 
<a href="javascript:parent.code.dispatch('Scale')">Scale</a>, 
<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>, 

<HR>
<PRE>

;;
;;  $Id: <a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a>.km,v 1.7 2010/05/18 14:58:30 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a> has
   (superclasses (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>)))

;;same-as constraint does a LISP string-compare when Self and TheValue have valid CLib <a href="javascript:parent.code.dispatch('text-description')">text-description</a> strings.
;;returns null otherwise, i.e., they are not "<a href="javascript:parent.code.dispatch('same-as')">same-as</a>".
;; (every <a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a> has
;;        (<a href="javascript:parent.code.dispatch('same-as')">same-as</a> (
;; 		 (constraint 
;; 		  (#'(LAMBDA () (PROPERTY-GROUP-TEXT-DESCRIPTION-SAME-AS '|Self| '|TheValue|)))))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>