<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Angle-Value')">Angle-Value</a>, 
<a href="javascript:parent.code.dispatch('Animacy-Value')">Animacy-Value</a>, 
<a href="javascript:parent.code.dispatch('Area-Value')">Area-Value</a>, 
<a href="javascript:parent.code.dispatch('Atomic-Weight-Value')">Atomic-Weight-Value</a>, 
<a href="javascript:parent.code.dispatch('Breakability-Value')">Breakability-Value</a>, 
<a href="javascript:parent.code.dispatch('Brightness-Value')">Brightness-Value</a>, 
<a href="javascript:parent.code.dispatch('Capacity-Value')">Capacity-Value</a>, 
<a href="javascript:parent.code.dispatch('Coefficient-Value')">Coefficient-Value</a>, 
<a href="javascript:parent.code.dispatch('Color-Value')">Color-Value</a>, 
<a href="javascript:parent.code.dispatch('Concentration-Value')">Concentration-Value</a>, 
<a href="javascript:parent.code.dispatch('Conductivity-Value')">Conductivity-Value</a>, 
<a href="javascript:parent.code.dispatch('Consistency-Value')">Consistency-Value</a>, 
<a href="javascript:parent.code.dispatch('Density-Value')">Density-Value</a>, 
<a href="javascript:parent.code.dispatch('Dissociation-Constant-Value')">Dissociation-Constant-Value</a>, 
<a href="javascript:parent.code.dispatch('Duration-Value')">Duration-Value</a>, 
<a href="javascript:parent.code.dispatch('Ease-Of-Oxidation-Value')">Ease-Of-Oxidation-Value</a>, 
<a href="javascript:parent.code.dispatch('Electric-Current-Value')">Electric-Current-Value</a>, 
<a href="javascript:parent.code.dispatch('Electrolyte-Status-Value')">Electrolyte-Status-Value</a>, 
<a href="javascript:parent.code.dispatch('Electronegativity-Value')">Electronegativity-Value</a>, 
<a href="javascript:parent.code.dispatch('Energy-Value')">Energy-Value</a>, 
<a href="javascript:parent.code.dispatch('Equilibrium-Constant-Value')">Equilibrium-Constant-Value</a>, 
<a href="javascript:parent.code.dispatch('Force-Value')">Force-Value</a>, 
<a href="javascript:parent.code.dispatch('Frequency-Value')">Frequency-Value</a>, 
<a href="javascript:parent.code.dispatch('Integrity-Value')">Integrity-Value</a>, 
<a href="javascript:parent.code.dispatch('Intensity-Value')">Intensity-Value</a>, 
<a href="javascript:parent.code.dispatch('Lewis-Acid-Strength-Value')">Lewis-Acid-Strength-Value</a>, 
<a href="javascript:parent.code.dispatch('Lewis-Base-Strength-Value')">Lewis-Base-Strength-Value</a>, 
<a href="javascript:parent.code.dispatch('Luminance-Value')">Luminance-Value</a>, 
<a href="javascript:parent.code.dispatch('Luminous-Flux-Value')">Luminous-Flux-Value</a>, 
<a href="javascript:parent.code.dispatch('Luminous-Intensity-Value')">Luminous-Intensity-Value</a>, 
<a href="javascript:parent.code.dispatch('Magnitude-Value')">Magnitude-Value</a>, 
<a href="javascript:parent.code.dispatch('Manner-Value')">Manner-Value</a>, 
<a href="javascript:parent.code.dispatch('Mass-Value')">Mass-Value</a>, 
<a href="javascript:parent.code.dispatch('Moment-of-Inertia-Value')">Moment-of-Inertia-Value</a>, 
<a href="javascript:parent.code.dispatch('Momentum-Value')">Momentum-Value</a>, 
<a href="javascript:parent.code.dispatch('Oxidation-State-Value')">Oxidation-State-Value</a>, 
<a href="javascript:parent.code.dispatch('POH-Value')">POH-Value</a>, 
<a href="javascript:parent.code.dispatch('Polarity-Value')">Polarity-Value</a>, 
<a href="javascript:parent.code.dispatch('Power-Value')">Power-Value</a>, 
<a href="javascript:parent.code.dispatch('Pressure-Value')">Pressure-Value</a>, 
<a href="javascript:parent.code.dispatch('Property-Vector-Value')">Property-Vector-Value</a>, 
<a href="javascript:parent.code.dispatch('Quantity-Value')">Quantity-Value</a>, 
<a href="javascript:parent.code.dispatch('Rate-Value')">Rate-Value</a>, 
<a href="javascript:parent.code.dispatch('Reaction-Direction-Value')">Reaction-Direction-Value</a>, 
<a href="javascript:parent.code.dispatch('Rotational-Rate-Value')">Rotational-Rate-Value</a>, 
<a href="javascript:parent.code.dispatch('Salt-Status-Value')">Salt-Status-Value</a>, 
<a href="javascript:parent.code.dispatch('Scalar-Concentration-Value')">Scalar-Concentration-Value</a>, 
<a href="javascript:parent.code.dispatch('Sentience-Value')">Sentience-Value</a>, 
<a href="javascript:parent.code.dispatch('Sex-Value')">Sex-Value</a>, 
<a href="javascript:parent.code.dispatch('Shape-Value')">Shape-Value</a>, 
<a href="javascript:parent.code.dispatch('Size-Value')">Size-Value</a>, 
<a href="javascript:parent.code.dispatch('Smell-Value')">Smell-Value</a>, 
<a href="javascript:parent.code.dispatch('Solubility-Value')">Solubility-Value</a>, 
<a href="javascript:parent.code.dispatch('State-Value')">State-Value</a>, 
<a href="javascript:parent.code.dispatch('Structural-Complexity-Value')">Structural-Complexity-Value</a>, 
<a href="javascript:parent.code.dispatch('Subscript-Value')">Subscript-Value</a>, 
<a href="javascript:parent.code.dispatch('Taste-Value')">Taste-Value</a>, 
<a href="javascript:parent.code.dispatch('Temperature-Value')">Temperature-Value</a>, 
<a href="javascript:parent.code.dispatch('Texture-Value')">Texture-Value</a>, 
<a href="javascript:parent.code.dispatch('Trait-Value')">Trait-Value</a>, 
<a href="javascript:parent.code.dispatch('Truth-Value')">Truth-Value</a>, 
<a href="javascript:parent.code.dispatch('Unitless-Value')">Unitless-Value</a>, 
<a href="javascript:parent.code.dispatch('Voltage-Value')">Voltage-Value</a>, 
<a href="javascript:parent.code.dispatch('Wetness-Value')">Wetness-Value</a>, 
<a href="javascript:parent.code.dispatch('Worth-Value')">Worth-Value</a>, 

<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>.km,v 1.77 2010/05/18 14:58:30 kbarker Exp $
;;


(<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a>)))

(every <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a> has
  (slots-to-opportunistically-evaluate (<a href="javascript:parent.code.dispatch('value')">value</a>))
)

(every <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a> has
  (<a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> ((if ((the instance-of of Self) /= <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>)
                   then 
		   (oneof ?ps in (the <a href="javascript:parent.code.dispatch('Property')">Property</a> range-of of (the instance-of of Self))
                      where ((?ps /= <a href="javascript:parent.code.dispatch('from-value')">from-value</a>)
                             and
                             (?ps /= <a href="javascript:parent.code.dispatch('to-value')">to-value</a>)
                             and
                             ((the ?ps of (the (the inverse of ?ps) of Self)) = Self)
                            )
                   )
  )))

  (<a href="javascript:parent.code.dispatch('property-of-slot')">property-of-slot</a> ((the inverse of (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of Self))))
; we might have an alignment problem here

  ;; a bit of an abuse of <a href="javascript:parent.code.dispatch('text-slot')">text-slot</a>, which usually goes on slots
  ;; but it's a great place to put the property that should be 
  ;; used in all the other text gen constructions
  ;; 1st pref: actual instantiated property-of-slots
  ;; 2nd pref: <a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a>
  ;; 3rd pref: one of the property-slots
  ;; 4th pref: one of the properties whose range is this P-Val
  (<a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> (((oneof ?p in (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of Self)
                where (has-value (the (the inverse of ?p) of Self))
               )
               or
               (the <a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> of Self)
               or
               (the first of (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of Self))
               or
               (the first of (the <a href="javascript:parent.code.dispatch('Property')">Property</a> range-of of (the classes of Self)))
             ))
  )

  ;; <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> go before (but not including) the '=' in "the <a href="javascript:parent.code.dispatch('distance')">distance</a> of the move = ___"
  (<a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> ((:seq
    (if (has-value (the <a href="javascript:parent.code.dispatch('used-in-equation')">used-in-equation</a> of Self))
     then ((?vsympair == (oneof (the <a href="javascript:parent.code.dispatch('equation-symbol')">equation-symbol</a> of (the <a href="javascript:parent.code.dispatch('used-in-equation')">used-in-equation</a> of Self))
                          where ((the2 of It) = Self)
                         )
           )
           and
           (make-phrase (:seq (if (#'(LAMBDA () (LISTP (CADR (KM-UNIQUE0 '|?vsympair|)))))
                               then (if ((#'(LAMBDA () (CAADR (KM-UNIQUE0 '|?vsympair|)))) = QUOTE)
                                     then (#'(LAMBDA () (STRING (CADADR (KM-UNIQUE0 '|?vsympair|)))))
                                     else "?")
                               else #'(LAMBDA () (STRING (CADR (KM-UNIQUE0 '|?vsympair|))))    ;; unquoted
                              )
                        )
           )
          )
     else (if (has-value (the called of Self))
           then (make-phrase (:seq (oneof (the called of Self) where t)))
           else (if (has-value (the <a href="javascript:parent.code.dispatch('output-of')">output-of</a> of Self))
                 then (make-phrase ((the <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> of (the <a href="javascript:parent.code.dispatch('output-of')">output-of</a> of Self))))
                 else (make-phrase (:seq (forall ?i in (forall ?ip in (the <a href="javascript:parent.code.dispatch('property-of-slot')">property-of-slot</a> of Self)
                                                               (the ?ip of Self)
                                                       )
                                                 (:seq "the"
                                                       (oneof ?p in (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of Self) 
                                                        where ((the ?p of ?i) = Self))
                                                       "of"
                                                       (the <a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> of ?i)
                                                       (if (has-value (the <a href="javascript:parent.code.dispatch('is-part-of')">is-part-of</a> of ?i))
                                                        then (:seq (the <a href="javascript:parent.code.dispatch('text-is-part-of')">text-is-part-of</a> of ?i)
                                                                   (the <a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> of (the <a href="javascript:parent.code.dispatch('is-part-of')">is-part-of</a> of ?i))
                                                             )
                                                       )
                                                 )
                                         )
                                   )
                      )
                )
          )
    )
  )))

  (<a href="javascript:parent.code.dispatch('text-sentence')">text-sentence</a> ((if (not ((make-phrase (the <a href="javascript:parent.code.dispatch('text-head')">text-head</a> of Self)) = ""))
                   then (make-phrase (:seq (the <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> of Self)
                                           (if (oneof ?lv-pair in (the <a href="javascript:parent.code.dispatch('value')">value</a> of Self)
                                                where ((the1 of ?lv-pair) isa Number))
                                            then "="
                                            else "is"
                                           )
                                           (the <a href="javascript:parent.code.dispatch('text-head')">text-head</a> of Self)))
                   else             ;; no <a href="javascript:parent.code.dispatch('text-phrase')">text-phrase</a> (which means no little-v <a href="javascript:parent.code.dispatch('value')">value</a>)
                        (the <a href="javascript:parent.code.dispatch('text-existential-there')">text-existential-there</a> of Self)
  )))

  (<a href="javascript:parent.code.dispatch('text-existential-there')">text-existential-there</a> ((make-sentence 
                              (:seq "there is"
                                    (the <a href="javascript:parent.code.dispatch('text-indef-head')">text-indef-head</a> of Self)
                                    (if (has-value (the called of Self))
                                     then (:seq "(called" (the called of Self) "nospace" ")")
                                    )
                              )
  )))

  (<a href="javascript:parent.code.dispatch('text-def-determiner')">text-def-determiner</a> ((:seq "the")))
  (<a href="javascript:parent.code.dispatch('text-indef-determiner')">text-indef-determiner</a> ((if ((:set "A" "E" "I" "O" "U" "a" "e" "i" "o" "u")
                               includes
                               (#'(LAMBDA () (STRING (CHAR (KM-UNIQUE0 '(|make-phrase| (|the| |first| |of| (|the| |text-slot| |of| |Self|)))) 0))))
                              )
                           then (:seq "an")
                           else (:seq "a")
  )))

  (<a href="javascript:parent.code.dispatch('text-description')">text-description</a> ((the <a href="javascript:parent.code.dispatch('text-sentence')">text-sentence</a> of Self)))
  (<a href="javascript:parent.code.dispatch('text-gen')">text-gen</a> ((make-phrase (the <a href="javascript:parent.code.dispatch('text-phrase')">text-phrase</a> of Self))))

  ;; the <a href="javascript:parent.code.dispatch('text-phrase')">text-phrase</a> does not include determiners, that's
  ;; up to the generator for the NP that this phrase premodifies
  (<a href="javascript:parent.code.dispatch('text-phrase')">text-phrase</a> ((:seq (the <a href="javascript:parent.code.dispatch('text-head')">text-head</a> of Self)
                      (the <a href="javascript:parent.code.dispatch('text-postmods')">text-postmods</a> of Self)
  )))

  ;; but we can define <a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> and <a href="javascript:parent.code.dispatch('text-indef-head')">text-indef-head</a> for when
  ;; we want to generate an NP of just this <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>
  ;; (e.g. "a <a href="javascript:parent.code.dispatch('length')">length</a> of 1 inch"; "a <a href="javascript:parent.code.dispatch('color')">color</a> of blue")
  (<a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> ((if (has-value (the <a href="javascript:parent.code.dispatch('text-head')">text-head</a> of Self))
                   then (:seq (the <a href="javascript:parent.code.dispatch('text-def-determiner')">text-def-determiner</a> of Self)
                              (the <a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> of Self)
                              "of"
                              (the <a href="javascript:parent.code.dispatch('text-head')">text-head</a> of Self)
                        )
                   else (:seq "the unknown" (the <a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> of Self))
  )))
  (<a href="javascript:parent.code.dispatch('text-indef-head')">text-indef-head</a> ((if (not ((make-phrase (the <a href="javascript:parent.code.dispatch('text-head')">text-head</a> of Self)) = ""))
                     then (:seq (the <a href="javascript:parent.code.dispatch('text-indef-determiner')">text-indef-determiner</a> of Self)
                                (the <a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> of Self)
                                "of"
                                (the <a href="javascript:parent.code.dispatch('text-head')">text-head</a> of Self)
                          )
                     else (:seq "an unknown" (the <a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> of Self))
  )))

  (<a href="javascript:parent.code.dispatch('text-head')">text-head</a> ((if (the <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> of (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of Self))
               then (oneof ?val in (the <a href="javascript:parent.code.dispatch('value')">value</a> of Self)
                     where (oneof ?valclass in (the classes of ?val)
                            where ((has-value ?valclass)
                                   and
                                   ((the <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> of (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of Self))
                                    includes ?valclass))
                           )
                    )
               else (
                 (?scalar-val == ((oneof ?val in (the <a href="javascript:parent.code.dispatch('value')">value</a> of Self)
                                   where (((the1 of ?val) and (the2 of ?val)
                                           and
                                           (forall ?ip in (the <a href="javascript:parent.code.dispatch('property-of-slot')">property-of-slot</a> of Self)     ;; at least one must be true
                                            ((the instance-of of (the ?ip of Self)) includes
                                             (the2 of ?val)))))
                                  )
                                  or
                                  (oneof ?val in (the <a href="javascript:parent.code.dispatch('value')">value</a> of Self)
                                   where t)                          ;; temp kludge to let Aura solubility vals through
;                                   where (((the1 of ?val)
;                                           and
;                                           (forall ?ip in (the <a href="javascript:parent.code.dispatch('property-of-slot')">property-of-slot</a> of Self)
;                                            (oneof ?supc in (the all-superclasses of (the instance-of of (the ?ip of Self)))
;                                             where (?supc = (the2 of ?val))
;                                            )
;                                           )
;                                  )))
                                 )
                 )
                 and
                 (?card-val == (oneof ?val in (the <a href="javascript:parent.code.dispatch('value')">value</a> of Self)
                                where (((the1 of ?val) and (the2 of ?val)
                                        and
                                        ((the1 of ?val) isa Number)
                                        and
                                        ((oneof ?prop in (the range-of of (the instance-of of Self))
                                          where ((the <a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> of ?prop)
                                                 and
                                                 ((the2 of ?val) isa (the <a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> of ?prop))
                                       ))))
                 )))
                 and
                 (?conv-card-val == (if ((has-value ?card-val) and (has-value (the <a href="javascript:parent.code.dispatch('preferred-unit')">preferred-unit</a> of Self)))
                                     then (the <a href="javascript:parent.code.dispatch('value')">value</a> of
                                               (the <a href="javascript:parent.code.dispatch('output')">output</a> of
                                                    (a <a href="javascript:parent.code.dispatch('Unit-Conversion')">Unit-Conversion</a> with
                                                       (<a href="javascript:parent.code.dispatch('input')">input</a> (Self))
                                                       (<a href="javascript:parent.code.dispatch('target-unit')">target-unit</a> ((the <a href="javascript:parent.code.dispatch('preferred-unit')">preferred-unit</a> of Self))))
                                          ))
                                     else ?card-val
                                    )
                 )
                 and
                 (?gt-val == (the <a href="javascript:parent.code.dispatch('greater-than')">greater-than</a> of Self))
                 and
                 (?gt-head-txt == (if (has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of ?gt-val))
                                   then (make-phrase (the <a href="javascript:parent.code.dispatch('text-head')">text-head</a> of ?gt-val))
                                   else (make-phrase (the <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> of ?gt-val))
                                  )
                 )
                 and
                 (?gt-pm-txt == (make-phrase (the <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> of ?gt-val)))
                 and
                 (?gte-val == (the <a href="javascript:parent.code.dispatch('greater-than-or-equal-to')">greater-than-or-equal-to</a> of Self))
                 and
                 (?gte-head-txt == (if (has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of ?gte-val))
                                   then (make-phrase (the <a href="javascript:parent.code.dispatch('text-head')">text-head</a> of ?gte-val))
                                   else (make-phrase (the <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> of ?gte-val))
                                  )
                 )
                 and
                 (?gte-pm-txt == (make-phrase (the <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> of ?gte-val)))
                 and
                 (?lt-val == (the <a href="javascript:parent.code.dispatch('less-than')">less-than</a> of Self))
                 and
                 (?lt-head-txt == (if (has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of ?lt-val))
                                   then (make-phrase (the <a href="javascript:parent.code.dispatch('text-head')">text-head</a> of ?lt-val))
                                   else (make-phrase (the <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> of ?lt-val))
                                  )
                 )
                 and
                 (?lt-pm-txt == (make-phrase (the <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> of ?lt-val)))
                 and
                 (?lte-val == (the <a href="javascript:parent.code.dispatch('less-than-or-equal-to')">less-than-or-equal-to</a> of Self))
                 and
                 (?lte-head-txt == (if (has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of ?lte-val))
                                   then (make-phrase (the <a href="javascript:parent.code.dispatch('text-head')">text-head</a> of ?lte-val))
                                   else (make-phrase (the <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> of ?lte-val))
                                  )
                 )
                 and
                 (?lte-pm-txt == (make-phrase (the <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> of ?lte-val)))
                 and
                 (?sa-val == (the <a href="javascript:parent.code.dispatch('same-as')">same-as</a> of Self))
                 and
                 (?sa-head-txt == (if (has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of ?sa-val))
                                   then (make-phrase (the <a href="javascript:parent.code.dispatch('text-head')">text-head</a> of ?sa-val))
                                   else (make-phrase (the <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> of ?sa-val))
                                  )
                 )
                 and
                 (?sa-pm-txt == (make-phrase (the <a href="javascript:parent.code.dispatch('text-premods')">text-premods</a> of ?sa-val)))
                 and
                 (if ?conv-card-val                                     ;; preference for cardinals
                  then (:seq (#'(LAMBDA () (MASSAGE-NUMBER (CAR (KM0 '|?conv-card-val|))))))
                  else (if ?scalar-val then 
                         (if (oneof ?ip in (the <a href="javascript:parent.code.dispatch('property-of-slot')">property-of-slot</a> of Self)
                              where ((the2 of ?scalar-val) = (the instance-of of (the ?ip of Self)))
                             )
                          then (the1 of ?scalar-val)
                          else (:seq (the1 of ?scalar-val)
;; show '(relative to ...)' only if ref class is more specific than domain
                                     (if ((not ((the2 of ?scalar-val) = 
                                                (the domain of (the first of (the <a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> of Self)))
                                               )
                                          )
                                          and
                                          ((the domain of (the first of (the <a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> of Self)))
                                           subsumes (the2 of ?scalar-val)
                                          )
                                         )
                                      then (:seq "(relative to"
                                                 (the2 of ?scalar-val)
                                                 "nospace" ")"
                                           )
                                     )
                               )
                         )
                        else       ;; no card-val or scalar-val (no little-v)
                         (if ((not (?gt-head-txt = ""))
                              or
                              (not (?gte-head-txt = ""))
                              or
                              (not (?lt-head-txt = ""))
                              or
                              (not (?lte-head-txt = ""))
                              or
                              (not (?sa-head-txt = ""))
                             )
                          then
                             (andify (:set (if (not (?gt-head-txt = "")) 
                                            then
                                               (:seq "greater than" 
                                                     ?gt-head-txt
                                               )
                                           )
                                           (if (not (?gte-head-txt = "")) 
                                            then
                                               (:seq "greater than or equal to" 
                                                     ?gte-head-txt
                                               )
                                           )
                                           (if (not (?lt-head-txt = "")) 
                                            then
                                               (:seq "less than" 
                                                     ?lt-head-txt
                                               )
                                           )
                                           (if (not (?lte-head-txt = "")) 
                                            then
                                               (:seq "less than or equal to" 
                                                     ?lte-head-txt
                                               )
                                           )
                                           (if (not (?sa-head-txt = "")) 
                                            then
                                               (:seq 
                                                     ?sa-head-txt
                                               )
                                           )
                                     )
                             )
                         )
                       )
                 )
               )
  )))

  ;; postmods for cardinals only and only for those properties
  ;; that have a primary constant (e.g., "old" in "5 year old")
;  (<a href="javascript:parent.code.dispatch('text-postmods')">text-postmods</a> ((if (has-<a href="javascript:parent.code.dispatch('value')">value</a> (oneof ?val in (the value of Self)
;                                  where ((the1 of ?val) isa Number))
;                      )
;                   then (oneof (the all-instances of (the <a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> of (the <a href="javascript:parent.code.dispatch('text-slot')">text-slot</a> of Self)))
;                         where (It isa <a href="javascript:parent.code.dispatch('Primary-Constant')">Primary-Constant</a>)
;                        )
;  )))

  (<a href="javascript:parent.code.dispatch('greater-than')">greater-than</a> (
    (constraint (if ((has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of Self))
                     and
                     (has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of TheValue))
		     and
		     (#'(LAMBDA () (VALUE-PAIR-SAME-TYPE-P '|Self| '|TheValue|))))
		    then (Self property-gt TheValue)
		    else t
		    ))
    ))
  (<a href="javascript:parent.code.dispatch('greater-than-or-equal-to')">greater-than-or-equal-to</a> (
    (constraint (if ((has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of Self))
                     and
                     (has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of TheValue))
		     and
		     (#'(LAMBDA () (VALUE-PAIR-SAME-TYPE-P '|Self| '|TheValue|))))
		    then (Self property-gte TheValue)
		    else t
		    ))
    ))
  (<a href="javascript:parent.code.dispatch('less-than')">less-than</a> (
    (constraint (if ((has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of Self))
                     and
                     (has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of TheValue))
		     and
		     (#'(LAMBDA () (VALUE-PAIR-SAME-TYPE-P '|Self| '|TheValue|))))
		    then (Self property-lt TheValue)
		    else t
		    ))
    ))
  (<a href="javascript:parent.code.dispatch('same-as')">same-as</a> (
    (constraint (if ((has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of Self))
                     and
                     (has-<a href="javascript:parent.code.dispatch('value')">value</a> (the value of TheValue))
		     and
		     (#'(LAMBDA () (VALUE-PAIR-SAME-TYPE-P '|Self| '|TheValue|))))
		    then (Self property-eq TheValue)
		    else t
		    ))
    ))

  (<a href="javascript:parent.code.dispatch('value')">value</a> (
    (constraint (sanity-check (
      (?allpslots == (the range-of of 
                          (oneof ?c in (the classes of Self) where (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a> subsumes ?c)))
      )
      and
      (?pslot == (the first of ?allpslots))
      and
      (if (has-value (the <a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> of ?pslot))                         ;; if this is a P-V for scalar/cardinal
       then (                                                                       ;; then
       (                                                                            ;;  |EITHER
         (((the1 of TheValue) isa Number)                                           ;;  | the first of the :pair is a Number
          and                                                                       ;;  |  AND
            (                                                                       ;;  |
             (if (has-value (the2 of TheValue))                                     ;;  | if the second of the :pair is not NIL
                 then                                                               ;;  | then
                   (if ((the2 of TheValue) isa <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>)                 ;;  |    if the second is a UoM instance
                       then                                                         ;;  |    then     (:pair 10 <a href="javascript:parent.code.dispatch('*inch')">*inch</a>)
                         (oneof (the <a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> of  ;; in terms of a UoM   ;;  |       some instance of a UoM for the prop
                                     ?pslot)                                        ;;  |       must cover the second of the :pair
                          where ((the2 of TheValue) isa It))                        ;;  |
                       else                                                         ;;  |    else     (:pair 10 Football-Field)
                         (oneof (the domain of ?pslot)                              ;;  |       the second of the :pair is a class
                          where (It subsumes (the2 of TheValue)))                   ;;  |       subsumed by the domain of the prop
                   )                                                                ;;  |
                 else                                                               ;;  | else
                   ((the <a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> of                                     ;;  |    cardinal <a href="javascript:parent.code.dispatch('value')">value</a>, NIL second of :pair
                         ?pslot) = <a href="javascript:parent.code.dispatch('UoM-Unitless')">UoM-Unitless</a>)                                    ;;  |    so must be <a href="javascript:parent.code.dispatch('UoM-Unitless')">UoM-Unitless</a>
             )                                                                      ;;  |
            )                                                                       ;;  |
         )                                                                          ;;  |
         or                                                                         ;;  |OR
          ((oneof (the <a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> of (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of Self))        ;;  | some scalar constant class for the prop
            where ((the1 of TheValue) isa It))                                      ;;  | must cover the first of the :pair
           and                                                                      ;;  |  AND
           (oneof (the domain of (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of Self))                       ;;  | the second of the :pair must be a class
            where (It subsumes (the2 of TheValue)))                                 ;;  | subsumed by the domain of the property
          )                                                                         ;;  |
         or                                                                         ;;  |OR
          ((oneof (the <a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> of ?allpslots)                         ;;  | some scalar constant class for any legal prop
            where ((the1 of TheValue) isa It))                                      ;;  | must cover the first of the :pair
           and                                                                      ;;  |  AND
           (oneof (the domain of ?allpslots)                                        ;;  | the second of the :pair must be a class
            where (It subsumes (the2 of TheValue)))                                 ;;  | subsumed by the domain of the property
          )                                                                         ;;  |
        )                                                                           ;;  |
        and                                                                         ;;  AND
             (#'(LAMBDA () (VALUECHECK (KM0 '|Self|) (KM0 '|TheValue|))))           ;;    do a <a href="javascript:parent.code.dispatch('value')">value</a> check on the scalars/cards
       )                                                                            ;;
       else (                                                                       ;; else
         (oneof (the <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> of ?allpslots)                      ;;    the single <a href="javascript:parent.code.dispatch('value')">value</a> is an instance of the
          where (TheValue isa It)))                                                 ;;    appropriate <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a>
      )
     ))
  )))

  ;; We need this set constraint to check whether all values are consistent.
  (<a href="javascript:parent.code.dispatch('value')">value</a> (
    (set-constraint (#'(LAMBDA () (VALUES-CONSISTENT (KM0 '|TheValues|)))))
  ))

;; constraints for <a href="javascript:parent.code.dispatch('max-value')">max-value</a> and <a href="javascript:parent.code.dispatch('min-value')">min-value</a> identical to <a href="javascript:parent.code.dispatch('value')">value</a>
  (<a href="javascript:parent.code.dispatch('max-value')">max-value</a> (
    (constraint (sanity-check (
      (?allpslots == (the range-of of 
                          (oneof ?c in (the classes of Self) where (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a> subsumes ?c)))
      )
      and
      (?pslot == (the first of ?allpslots))
      and
      (if (has-value (the <a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> of ?pslot))                         ;; if this is a P-V for scalar/cardinal
       then (                                                                       ;; then
       (                                                                            ;;  |EITHER
         (((the1 of TheValue) isa Number)                                           ;;  | the first of the :pair is a Number
          and                                                                       ;;  |  AND
            (                                                                       ;;  |
             (if (has-value (the2 of TheValue))                                     ;;  | if the second of the :pair is not NIL
                 then                                                               ;;  | then
                   (if ((the2 of TheValue) isa <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>)                 ;;  |    if the second is a UoM instance
                       then                                                         ;;  |    then     (:pair 10 <a href="javascript:parent.code.dispatch('*inch')">*inch</a>)
                         (oneof (the <a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> of  ;; in terms of a UoM   ;;  |       some instance of a UoM for the prop
                                     ?pslot)                                        ;;  |       must cover the second of the :pair
                          where ((the2 of TheValue) isa It))                        ;;  |
                       else                                                         ;;  |    else     (:pair 10 Football-Field)
                         (oneof (the domain of ?pslot)                              ;;  |       the second of the :pair is a class
                          where (It subsumes (the2 of TheValue)))                   ;;  |       subsumed by the domain of the prop
                   )                                                                ;;  |
                 else                                                               ;;  | else
                   ((the <a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> of                                     ;;  |    cardinal <a href="javascript:parent.code.dispatch('value')">value</a>, NIL second of :pair
                         ?pslot) = <a href="javascript:parent.code.dispatch('UoM-Unitless')">UoM-Unitless</a>)                                    ;;  |    so must be <a href="javascript:parent.code.dispatch('UoM-Unitless')">UoM-Unitless</a>
             )                                                                      ;;  |
            )                                                                       ;;  |
         )                                                                          ;;  |
         or                                                                         ;;  |OR
          ((oneof (the <a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> of (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of Self))        ;;  | some scalar constant class for the prop
            where ((the1 of TheValue) isa It))                                      ;;  | must cover the first of the :pair
           and                                                                      ;;  |  AND
           (oneof (the domain of (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of Self))                       ;;  | the second of the :pair must be a class
            where (It subsumes (the2 of TheValue)))                                 ;;  | subsumed by the domain of the property
          )                                                                         ;;  |
         or                                                                         ;;  |OR
          ((oneof (the <a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> of ?allpslots)                         ;;  | some scalar constant class for any legal prop
            where ((the1 of TheValue) isa It))                                      ;;  | must cover the first of the :pair
           and                                                                      ;;  |  AND
           (oneof (the domain of ?allpslots)                                        ;;  | the second of the :pair must be a class
            where (It subsumes (the2 of TheValue)))                                 ;;  | subsumed by the domain of the property
          )                                                                         ;;  |
        )                                                                           ;;  |
        and                                                                         ;;  AND
             (#'(LAMBDA () (VALUECHECK (KM0 '|Self|) (KM0 '|TheValue|))))           ;;    do a <a href="javascript:parent.code.dispatch('value')">value</a> check on the scalars/cards
       )                                                                            ;;
       else (                                                                       ;; else
         (oneof (the <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> of ?allpslots)                      ;;    the single <a href="javascript:parent.code.dispatch('value')">value</a> is an instance of the
          where (TheValue isa It)))                                                 ;;    appropriate <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a>
      )
     ))
  )))

  ;; We need this set constraint to check whether all values are consistent.
  (<a href="javascript:parent.code.dispatch('max-value')">max-value</a> (
    (set-constraint (#'(LAMBDA () (VALUES-CONSISTENT (KM0 '|TheValues|)))))
  ))

  (<a href="javascript:parent.code.dispatch('min-value')">min-value</a> (
    (constraint (sanity-check (
      (?allpslots == (the range-of of 
                          (oneof ?c in (the classes of Self) where (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a> subsumes ?c)))
      )
      and
      (?pslot == (the first of ?allpslots))
      and
      (if (has-value (the <a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> of ?pslot))                         ;; if this is a P-V for scalar/cardinal
       then (                                                                       ;; then
       (                                                                            ;;  |EITHER
         (((the1 of TheValue) isa Number)                                           ;;  | the first of the :pair is a Number
          and                                                                       ;;  |  AND
            (                                                                       ;;  |
             (if (has-value (the2 of TheValue))                                     ;;  | if the second of the :pair is not NIL
                 then                                                               ;;  | then
                   (if ((the2 of TheValue) isa <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>)                 ;;  |    if the second is a UoM instance
                       then                                                         ;;  |    then     (:pair 10 <a href="javascript:parent.code.dispatch('*inch')">*inch</a>)
                         (oneof (the <a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> of  ;; in terms of a UoM   ;;  |       some instance of a UoM for the prop
                                     ?pslot)                                        ;;  |       must cover the second of the :pair
                          where ((the2 of TheValue) isa It))                        ;;  |
                       else                                                         ;;  |    else     (:pair 10 Football-Field)
                         (oneof (the domain of ?pslot)                              ;;  |       the second of the :pair is a class
                          where (It subsumes (the2 of TheValue)))                   ;;  |       subsumed by the domain of the prop
                   )                                                                ;;  |
                 else                                                               ;;  | else
                   ((the <a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> of                                     ;;  |    cardinal <a href="javascript:parent.code.dispatch('value')">value</a>, NIL second of :pair
                         ?pslot) = <a href="javascript:parent.code.dispatch('UoM-Unitless')">UoM-Unitless</a>)                                    ;;  |    so must be <a href="javascript:parent.code.dispatch('UoM-Unitless')">UoM-Unitless</a>
             )                                                                      ;;  |
            )                                                                       ;;  |
         )                                                                          ;;  |
         or                                                                         ;;  |OR
          ((oneof (the <a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> of (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of Self))        ;;  | some scalar constant class for the prop
            where ((the1 of TheValue) isa It))                                      ;;  | must cover the first of the :pair
           and                                                                      ;;  |  AND
           (oneof (the domain of (the <a href="javascript:parent.code.dispatch('property-slot')">property-slot</a> of Self))                       ;;  | the second of the :pair must be a class
            where (It subsumes (the2 of TheValue)))                                 ;;  | subsumed by the domain of the property
          )                                                                         ;;  |
         or                                                                         ;;  |OR
          ((oneof (the <a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> of ?allpslots)                         ;;  | some scalar constant class for any legal prop
            where ((the1 of TheValue) isa It))                                      ;;  | must cover the first of the :pair
           and                                                                      ;;  |  AND
           (oneof (the domain of ?allpslots)                                        ;;  | the second of the :pair must be a class
            where (It subsumes (the2 of TheValue)))                                 ;;  | subsumed by the domain of the property
          )                                                                         ;;  |
        )                                                                           ;;  |
        and                                                                         ;;  AND
             (#'(LAMBDA () (VALUECHECK (KM0 '|Self|) (KM0 '|TheValue|))))           ;;    do a <a href="javascript:parent.code.dispatch('value')">value</a> check on the scalars/cards
       )                                                                            ;;
       else (                                                                       ;; else
         (oneof (the <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> of ?allpslots)                      ;;    the single <a href="javascript:parent.code.dispatch('value')">value</a> is an instance of the
          where (TheValue isa It)))                                                 ;;    appropriate <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a>
      )
     ))
  )))

  ;; We need this set constraint to check whether all values are consistent.
  (<a href="javascript:parent.code.dispatch('min-value')">min-value</a> (
    (set-constraint (#'(LAMBDA () (VALUES-CONSISTENT (KM0 '|TheValues|)))))
  ))


;; Here is the parallel representation that doesn't make use of the :pair
  (<a href="javascript:parent.code.dispatch('cardinal-value')">cardinal-value</a> ((must-be-a <a href="javascript:parent.code.dispatch('Cardinal')">Cardinal</a> with                                         ;; same as the constraints on <a href="javascript:parent.code.dispatch('value')">value</a> for cards
                            (<a href="javascript:parent.code.dispatch('numeric-value')">numeric-value</a> ((must-be-a Number)))
                            (<a href="javascript:parent.code.dispatch('unit')">unit</a> ((constraint ((oneof (the <a href="javascript:parent.code.dispatch('cardinal-unit-class')">cardinal-unit-class</a> of (the range-of of (the classes of Self)))
                                                 where (It covers TheValue))
                                                or
                                                (oneof (the domain of (the range-of of (the classes of Self)))
                                                 where (It subsumes TheValue)
                                                )))))
  )))
  (<a href="javascript:parent.code.dispatch('cardinal-value')">cardinal-value</a> ((forall TheValue where ((the1 of It) isa Number)      ;; copies cards off the <a href="javascript:parent.code.dispatch('value')">value</a> slot
                    (a <a href="javascript:parent.code.dispatch('Cardinal')">Cardinal</a> with (<a href="javascript:parent.code.dispatch('numeric-value')">numeric-value</a> ((the1 of It)))
                                     (<a href="javascript:parent.code.dispatch('unit')">unit</a> ((the2 of It))))
  )))
  (<a href="javascript:parent.code.dispatch('value')">value</a> ((forall (the <a href="javascript:parent.code.dispatch('cardinal-value')">cardinal-value</a> of Self)                                      ;; copies cardinal-values onto the <a href="javascript:parent.code.dispatch('value')">value</a> slot
           (:pair (the <a href="javascript:parent.code.dispatch('numeric-value')">numeric-value</a> of It) (the <a href="javascript:parent.code.dispatch('unit')">unit</a> of It))
  )))

  (<a href="javascript:parent.code.dispatch('scalar-value')">scalar-value</a> ((must-be-a <a href="javascript:parent.code.dispatch('Scalar')">Scalar</a> with                                             ;; same as the constraints on <a href="javascript:parent.code.dispatch('value')">value</a> for scalars
                              (<a href="javascript:parent.code.dispatch('scalar-constant')">scalar-constant</a> ((constraint (oneof (the <a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> of (the range-of of (the classes of Self)))
                                                             where (It covers TheValue)))))
  )))
  (<a href="javascript:parent.code.dispatch('scalar-value')">scalar-value</a> ((forall (the <a href="javascript:parent.code.dispatch('value')">value</a> of Self) where ((has-value (the1 of It))
						    and ((the1 of It) isa <a href="javascript:parent.code.dispatch('Constant')">Constant</a>)     ;; copies scalars off the <a href="javascript:parent.code.dispatch('value')">value</a> slot
                                                    and (has-value (the2 of It)))
                  (a <a href="javascript:parent.code.dispatch('Scalar')">Scalar</a> with (<a href="javascript:parent.code.dispatch('scalar-constant')">scalar-constant</a> ((the1 of It)))
                                 (<a href="javascript:parent.code.dispatch('reference-class')">reference-class</a> ((the2 of It))))
  )))
  (<a href="javascript:parent.code.dispatch('value')">value</a> ((forall (the <a href="javascript:parent.code.dispatch('scalar-value')">scalar-value</a> of Self)                                        ;; copies scalar-values onto the <a href="javascript:parent.code.dispatch('value')">value</a> slot
           (:pair (the <a href="javascript:parent.code.dispatch('scalar-constant')">scalar-constant</a> of It) (the <a href="javascript:parent.code.dispatch('reference-class')">reference-class</a> of It))
  )))

  (<a href="javascript:parent.code.dispatch('categorical-value')">categorical-value</a> ((must-be-a <a href="javascript:parent.code.dispatch('Categorical')">Categorical</a> with                                   ;; same as the constraints on <a href="javascript:parent.code.dispatch('value')">value</a> for categs
                              (<a href="javascript:parent.code.dispatch('categorical-constant')">categorical-constant</a> ((constraint (oneof (the <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> of 
                                                                             (the range-of of (the classes of Self)))
                                                             where (It covers TheValue)))))
  )))
  (<a href="javascript:parent.code.dispatch('categorical-value')">categorical-value</a> ((if (has-value
                            (the <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> of (the range-of of (the classes of Self))))
                       then
                        (forall (the <a href="javascript:parent.code.dispatch('value')">value</a> of Self)                                   ;; copies categs off the <a href="javascript:parent.code.dispatch('value')">value</a> slot
                         where (It isa (the <a href="javascript:parent.code.dispatch('categorical-constant-class')">categorical-constant-class</a> of (the range-of of (the classes of Self))))
                         (a <a href="javascript:parent.code.dispatch('Categorical')">Categorical</a> with (<a href="javascript:parent.code.dispatch('categorical-constant')">categorical-constant</a> (It))))
  )))
  (<a href="javascript:parent.code.dispatch('value')">value</a> ((forall (the <a href="javascript:parent.code.dispatch('categorical-value')">categorical-value</a> of Self)                                   ;; copies categorical-values onto the <a href="javascript:parent.code.dispatch('value')">value</a> slot
           (the <a href="javascript:parent.code.dispatch('categorical-constant')">categorical-constant</a> of It)
  )))
)

#|
;;Bad interactions! Not useful. Fix is for BPS to explicitly calls eq-solver if needed.
(every <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a> has
       (<a href="javascript:parent.code.dispatch('value')">value</a> ((#'(LAMBDA () (COND ((FBOUNDP 'EQUATION-SOLVE) (EQUATION-SOLVE '|Self|))))))))
|#




</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>