;; 
;;    $Id: <a href="javascript:parent.code.dispatch('purpose')">purpose</a>.km,v 1.15 2007/04/11 21:31:10 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('purpose')">purpose</a> has
	 (instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a> <a href="javascript:parent.code.dispatch('Agentive-Relation')">Agentive-Relation</a>))
	 (subslots ())
	 (domain (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
	 (range (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
	 (inverse (<a href="javascript:parent.code.dispatch('purpose-of')">purpose-of</a>))
	 (cardinality (N-to-N))
         (original-slot      (t))	
	 (fluent-status (*Inertial-Fluent)))


(<a href="javascript:parent.code.dispatch('purpose')">purpose</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			    (:triple "<a href="javascript:parent.code.dispatch('purpose')">purpose</a>" 2 "n")
			    (:triple "function" 0 "n")))))
(<a href="javascript:parent.code.dispatch('purpose')">purpose</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has the <a href="javascript:parent.code.dispatch('purpose')">purpose</a> of being")))
(<a href="javascript:parent.code.dispatch('purpose-of')">purpose-of</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is the <a href="javascript:parent.code.dispatch('purpose')">purpose</a> of")))

(<a href="javascript:parent.code.dispatch('purpose-of')">purpose-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a> <a href="javascript:parent.code.dispatch('Agentive-Relation')">Agentive-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('purpose')">purpose</a>.km,v 1.15 2007/04/11 21:31:10 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('purpose')">purpose</a> has
	 (instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a> <a href="javascript:parent.code.dispatch('Agentive-Relation')">Agentive-Relation</a>))
	 (subslots ())
	 (domain (<a href="javascript:parent.code.dispatch('Entity')">Entity</a>))
	 (range (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
	 (inverse (<a href="javascript:parent.code.dispatch('purpose-of')">purpose-of</a>))
	 (cardinality (N-to-N))
         (original-slot      (t))	
	 (fluent-status (*Inertial-Fluent)))


(<a href="javascript:parent.code.dispatch('purpose')">purpose</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			    (:triple "<a href="javascript:parent.code.dispatch('purpose')">purpose</a>" 2 "n")
			    (:triple "function" 0 "n")))))
(<a href="javascript:parent.code.dispatch('purpose')">purpose</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("has the <a href="javascript:parent.code.dispatch('purpose')">purpose</a> of being")))
(<a href="javascript:parent.code.dispatch('purpose-of')">purpose-of</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("is the <a href="javascript:parent.code.dispatch('purpose')">purpose</a> of")))

(<a href="javascript:parent.code.dispatch('purpose-of')">purpose-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Causal-Relation')">Causal-Relation</a> <a href="javascript:parent.code.dispatch('Agentive-Relation')">Agentive-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>