<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Rate-Constant')">Rate-Constant</a>.km,v 1.2 2003/09/10 16:38:48 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('Rate-Constant')">Rate-Constant</a> has
             (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

(<a href="javascript:parent.code.dispatch('*slow')">*slow</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Rate-Constant')">Rate-Constant</a>)))

(<a href="javascript:parent.code.dispatch('*fast')">*fast</a> has
       (instance-of (<a href="javascript:parent.code.dispatch('Rate-Constant')">Rate-Constant</a>)))


 

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>