<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Message')">Message</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; $Id: <a href="javascript:parent.code.dispatch('Recording')">Recording</a>.km,v 1.2 2005/01/13 23:04:16 porter Exp $
(<a href="javascript:parent.code.dispatch('Recording')">Recording</a> has
	(<a href="javascript:parent.code.dispatch('description')">description</a> ("A kind of <a href="javascript:parent.code.dispatch('Message')">Message</a> created by a Sensor as the <a href="javascript:parent.code.dispatch('result')">result</a> of a <a href="javascript:parent.code.dispatch('Record')">Record</a> event."))
	(superclasses (<a href="javascript:parent.code.dispatch('Message')">Message</a>)))

(every <a href="javascript:parent.code.dispatch('Recording')">Recording</a> has
	(<a href="javascript:parent.code.dispatch('result-of')">result-of</a> ((a <a href="javascript:parent.code.dispatch('Record')">Record</a>)))) 
	
(<a href="javascript:parent.code.dispatch('Recording')">Recording</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                           (:triple "recording" 1 "n")

))))


</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>