<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a>, 
<a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Acceleration-Magnitude-Scale')">Acceleration-Magnitude-Scale</a>, 
<a href="javascript:parent.code.dispatch('Age-Scale')">Age-Scale</a>, 
<a href="javascript:parent.code.dispatch('Area-Scale')">Area-Scale</a>, 
<a href="javascript:parent.code.dispatch('Breakability-Scale')">Breakability-Scale</a>, 
<a href="javascript:parent.code.dispatch('Brightness-Scale')">Brightness-Scale</a>, 
<a href="javascript:parent.code.dispatch('Capacity-Scale')">Capacity-Scale</a>, 
<a href="javascript:parent.code.dispatch('Circumference-Scale')">Circumference-Scale</a>, 
<a href="javascript:parent.code.dispatch('Coefficient-of-Friction-Scale')">Coefficient-of-Friction-Scale</a>, 
<a href="javascript:parent.code.dispatch('Density-Scale')">Density-Scale</a>, 
<a href="javascript:parent.code.dispatch('Depth-Scale')">Depth-Scale</a>, 
<a href="javascript:parent.code.dispatch('Diameter-Scale')">Diameter-Scale</a>, 
<a href="javascript:parent.code.dispatch('Direction-Scale')">Direction-Scale</a>, 
<a href="javascript:parent.code.dispatch('Distance-Scale')">Distance-Scale</a>, 
<a href="javascript:parent.code.dispatch('Duration-Scale')">Duration-Scale</a>, 
<a href="javascript:parent.code.dispatch('Electric-Current-Scale')">Electric-Current-Scale</a>, 
<a href="javascript:parent.code.dispatch('Force-Scale')">Force-Scale</a>, 
<a href="javascript:parent.code.dispatch('Frequency-Scale')">Frequency-Scale</a>, 
<a href="javascript:parent.code.dispatch('Height-Scale')">Height-Scale</a>, 
<a href="javascript:parent.code.dispatch('Importance-Scale')">Importance-Scale</a>, 
<a href="javascript:parent.code.dispatch('Integrity-Scale')">Integrity-Scale</a>, 
<a href="javascript:parent.code.dispatch('Intensity-Scale')">Intensity-Scale</a>, 
<a href="javascript:parent.code.dispatch('Length-Scale')">Length-Scale</a>, 
<a href="javascript:parent.code.dispatch('Mass-Scale')">Mass-Scale</a>, 
<a href="javascript:parent.code.dispatch('Perimeter-Scale')">Perimeter-Scale</a>, 
<a href="javascript:parent.code.dispatch('PH-Scale')">PH-Scale</a>, 
<a href="javascript:parent.code.dispatch('Pressure-Scale')">Pressure-Scale</a>, 
<a href="javascript:parent.code.dispatch('Priority-Scale')">Priority-Scale</a>, 
<a href="javascript:parent.code.dispatch('Radius-Scale')">Radius-Scale</a>, 
<a href="javascript:parent.code.dispatch('Rate-Scale')">Rate-Scale</a>, 
<a href="javascript:parent.code.dispatch('Size-Scale')">Size-Scale</a>, 
<a href="javascript:parent.code.dispatch('Slope-Scale')">Slope-Scale</a>, 
<a href="javascript:parent.code.dispatch('Temperature-Scale')">Temperature-Scale</a>, 
<a href="javascript:parent.code.dispatch('Thickness-Scale')">Thickness-Scale</a>, 
<a href="javascript:parent.code.dispatch('Velocity-Scale')">Velocity-Scale</a>, 
<a href="javascript:parent.code.dispatch('Volume-Scale')">Volume-Scale</a>, 
<a href="javascript:parent.code.dispatch('Wetness-Scale')">Wetness-Scale</a>, 
<a href="javascript:parent.code.dispatch('Width-Scale')">Width-Scale</a>, 
<a href="javascript:parent.code.dispatch('Worth-Scale')">Worth-Scale</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Scale')">Scale</a>.km,v 1.8 2004/08/23 14:30:58 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('Scale')">Scale</a> has
   (superclasses (<a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a> <a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>