;;
;; $Id: <a href="javascript:parent.code.dispatch('scalar-value')">scalar-value</a>.km,v 1.7 2007/04/11 21:42:43 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('scalar-value')">scalar-value</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (range (<a href="javascript:parent.code.dispatch('Scalar')">Scalar</a>))
  (inverse (<a href="javascript:parent.code.dispatch('scalar-value-of')">scalar-value-of</a>))
  (cardinality (N-to-N))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('scalar-value-of')">scalar-value-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;;
;; $Id: <a href="javascript:parent.code.dispatch('scalar-value')">scalar-value</a>.km,v 1.7 2007/04/11 21:42:43 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('scalar-value')">scalar-value</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>))
  (domain (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (range (<a href="javascript:parent.code.dispatch('Scalar')">Scalar</a>))
  (inverse (<a href="javascript:parent.code.dispatch('scalar-value-of')">scalar-value-of</a>))
  (cardinality (N-to-N))
  (fluent-status (*Inertial-Fluent))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('scalar-value-of')">scalar-value-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('CLIB-Slot-Group')">CLIB-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>