;; 
;; $Id: <a href="javascript:parent.code.dispatch('slot-gloss')">slot-gloss</a>.km,v 1.4 2007/04/11 21:42:43 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('slot-gloss')">slot-gloss</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Slot')">Slot</a>))
   (range (String))
   (fluent-status (*Non-Fluent))
   (original-slot      (t))	
   (cardinality (N-to-1))        ;; go ahead and allow slots to have same gloss
)

(<a href="javascript:parent.code.dispatch('slot-gloss-of')">slot-gloss-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('slot-gloss')">slot-gloss</a>.km,v 1.4 2007/04/11 21:42:43 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('slot-gloss')">slot-gloss</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Slot')">Slot</a>))
   (range (String))
   (fluent-status (*Non-Fluent))
   (original-slot      (t))	
   (cardinality (N-to-1))        ;; go ahead and allow slots to have same gloss
)

(<a href="javascript:parent.code.dispatch('slot-gloss-of')">slot-gloss-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>