<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Event')">Event</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Be-Accessible')">Be-Accessible</a>, 
<a href="javascript:parent.code.dispatch('Be-Available')">Be-Available</a>, 
<a href="javascript:parent.code.dispatch('Be-Contained')">Be-Contained</a>, 
<a href="javascript:parent.code.dispatch('Be-Controlled')">Be-Controlled</a>, 
<a href="javascript:parent.code.dispatch('Be-Damaged')">Be-Damaged</a>, 
<a href="javascript:parent.code.dispatch('Be-Defeated')">Be-Defeated</a>, 
<a href="javascript:parent.code.dispatch('Be-Different')">Be-Different</a>, 
<a href="javascript:parent.code.dispatch('Be-Inaccessible')">Be-Inaccessible</a>, 
<a href="javascript:parent.code.dispatch('Be-Known')">Be-Known</a>, 
<a href="javascript:parent.code.dispatch('Be-Related')">Be-Related</a>, 
<a href="javascript:parent.code.dispatch('Be-Similar')">Be-Similar</a>, 
<a href="javascript:parent.code.dispatch('Be-Sitting')">Be-Sitting</a>, 
<a href="javascript:parent.code.dispatch('Be-Stable')">Be-Stable</a>, 
<a href="javascript:parent.code.dispatch('Be-Standing')">Be-Standing</a>, 
<a href="javascript:parent.code.dispatch('Be-Stored')">Be-Stored</a>, 
<a href="javascript:parent.code.dispatch('Be-Touching')">Be-Touching</a>, 
<a href="javascript:parent.code.dispatch('Be-Unavailable')">Be-Unavailable</a>, 
<a href="javascript:parent.code.dispatch('Be-Victorious')">Be-Victorious</a>, 
<a href="javascript:parent.code.dispatch('Ecological-Relationship')">Ecological-Relationship</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('State')">State</a>.km,v 1.19 2010/06/11 18:31:41 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('State')">State</a> has
  (superclasses 	(<a href="javascript:parent.code.dispatch('Event')">Event</a>))
  (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> 	())
  (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> 	(<a href="javascript:parent.code.dispatch('object')">object</a> <a href="javascript:parent.code.dispatch('experiencer')">experiencer</a>))
  (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> 	())               
  (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a>  (
			 (:seq <a href="javascript:parent.code.dispatch('experiencer')">experiencer</a> "the thing experiencing the state")
			 (:seq <a href="javascript:parent.code.dispatch('object')">object</a> "the thing that in the state")
			)))

(every <a href="javascript:parent.code.dispatch('State')">State</a> has 
  ;; the time of existence of a state is 
  ;; right after the creation action
  ;; right before the defeating action
  (<a href="javascript:parent.code.dispatch('time-during')">time-during</a> ((must-be-a <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a> with
	   (<a href="javascript:parent.code.dispatch('time-int-started-by')">time-int-started-by</a> ((the <a href="javascript:parent.code.dispatch('time-during')">time-during</a> of (the <a href="javascript:parent.code.dispatch('resulting-state-of')">resulting-state-of</a> of Self))))
	   (<a href="javascript:parent.code.dispatch('time-int-finished-by')">time-int-finished-by</a> ((the <a href="javascript:parent.code.dispatch('time-during')">time-during</a> of (the <a href="javascript:parent.code.dispatch('defeated-by')">defeated-by</a> of Self)))))))
       
  ;; may be a little too strong to make the <a href="javascript:parent.code.dispatch('site')">site</a> of the state
  ;; the <a href="javascript:parent.code.dispatch('site')">site</a> of the action resulting in it, but probably safe
  (<a href="javascript:parent.code.dispatch('site')">site</a> ((the <a href="javascript:parent.code.dispatch('site')">site</a> of (the <a href="javascript:parent.code.dispatch('resulting-state-of')">resulting-state-of</a> of Self))))

  (<a href="javascript:parent.code.dispatch('experiencer')">experiencer</a> ((must-be-a <a href="javascript:parent.code.dispatch('Living-Entity')">Living-Entity</a> with
		  (<a href="javascript:parent.code.dispatch('time-of-existence')">time-of-existence</a> 
		    ((a <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a> with
			(<a href="javascript:parent.code.dispatch('time-int-overlaps')">time-int-overlaps</a>
			  ((the <a href="javascript:parent.code.dispatch('time-of-existence')">time-of-existence</a> of (the <a href="javascript:parent.code.dispatch('object')">object</a> of Self))
			   (if (has-value (the <a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a> of Self))
			       then
			       (the <a href="javascript:parent.code.dispatch('time-of-existence')">time-of-existence</a> of (the <a href="javascript:parent.code.dispatch('beneficiary')">beneficiary</a> of Self)))
			   (if (has-value (the <a href="javascript:parent.code.dispatch('agent')">agent</a> of Self))
			       then
			       (the <a href="javascript:parent.code.dispatch('time-of-existence')">time-of-existence</a> of (the <a href="javascript:parent.code.dispatch('agent')">agent</a> of Self)))
			   (if (has-value (the <a href="javascript:parent.code.dispatch('instrument')">instrument</a> of Self))
			       then
			       (the <a href="javascript:parent.code.dispatch('time-of-existence')">time-of-existence</a> of (the <a href="javascript:parent.code.dispatch('instrument')">instrument</a> of Self)))
			   (if (has-value (the <a href="javascript:parent.code.dispatch('recipient')">recipient</a> of Self))
			       then
			       (the <a href="javascript:parent.code.dispatch('time-of-existence')">time-of-existence</a> of (the <a href="javascript:parent.code.dispatch('recipient')">recipient</a> of Self))))))))))))

(every <a href="javascript:parent.code.dispatch('State')">State</a> has
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-sg')">text-active-verbseq-sg</a> ("keeps"))
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-pl')">text-active-verbseq-pl</a> ("keep"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-sg')">text-passive-verbseq-sg</a> ("is"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-pl')">text-passive-verbseq-pl</a> ("are"))

  (<a href="javascript:parent.code.dispatch('text-particle')">text-particle</a> ((make-phrase (:seq "in a state of" (the instance-of of Self)))))

  (<a href="javascript:parent.code.dispatch('text-argslots')">text-argslots</a> ((:seq <a href="javascript:parent.code.dispatch('text-particle')">text-particle</a> <a href="javascript:parent.code.dispatch('base')">base</a> <a href="javascript:parent.code.dispatch('instrument')">instrument</a>)))
)

(<a href="javascript:parent.code.dispatch('State')">State</a> has (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ()))



;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('State')">State</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                    (:triple "be" 1 "v")
))))

(<a href="javascript:parent.code.dispatch('State')">State</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                    (:triple "be" 1 "v")
))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>