<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Chemical')">Chemical</a>, 
<a href="javascript:parent.code.dispatch('Fluid-Substance')">Fluid-Substance</a>, 
<a href="javascript:parent.code.dispatch('Nutrient')">Nutrient</a>, 
<a href="javascript:parent.code.dispatch('Solid-Substance')">Solid-Substance</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Substance')">Substance</a>.km,v 1.13 2008/06/12 21:43:46 kbarker Exp $ 
;; 

;; KJB: Instances of our <a href="javascript:parent.code.dispatch('Substance')">Substance</a> class are amounts of the <a href="javascript:parent.code.dispatch('Substance')">Substance</a>.
;; KJB: The classes themselves refer to Substances independent of the
;; KJB: individual "amounts" they constitute.

(<a href="javascript:parent.code.dispatch('Substance')">Substance</a> has
	   (superclasses (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))
	   (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
	   (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
	   (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
	   (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ())
	   (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ()))


(every <a href="javascript:parent.code.dispatch('Substance')">Substance</a> has
;  (<a href="javascript:parent.code.dispatch('text-def-determiner')">text-def-determiner</a> ((if (anonymous-instancep Self) then
;                            (if (has-value (the <a href="javascript:parent.code.dispatch('is-possessed-by')">is-possessed-by</a> of Self)) then
;                                (:seq (the <a href="javascript:parent.code.dispatch('text-def-head')">text-def-head</a> of (the <a href="javascript:parent.code.dispatch('is-possessed-by')">is-possessed-by</a> of Self))
;                                      "'s")
;                             else NIL
;                            )
;                         else NIL)
;  ))

  (<a href="javascript:parent.code.dispatch('text-def-determiner')">text-def-determiner</a> (NIL))

  (<a href="javascript:parent.code.dispatch('text-indef-determiner')">text-indef-determiner</a> (NIL))
)



;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Substance')">Substance</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                        (:triple "substance" 1 "n")
                                        (:triple "matter" 3 "n")
))))

(<a href="javascript:parent.code.dispatch('Substance')">Substance</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                        (:triple "substance" 1 "n")
                                        (:triple "matter" 1 "n")
))))

;; stubby

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>