<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Absorb')">Absorb</a>, 
<a href="javascript:parent.code.dispatch('Eat')">Eat</a>, 

<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Take-In')">Take-In</a>.km,v 1.24 2008/08/04 22:33:47 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('Take-In')">Take-In</a> has
         (superclasses 	 (<a href="javascript:parent.code.dispatch('Move-Into')">Move-Into</a>))
         (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a>  (<a href="javascript:parent.code.dispatch('agent')">agent</a> <a href="javascript:parent.code.dispatch('object')">object</a> <a href="javascript:parent.code.dispatch('destination')">destination</a>))
         (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> 	 (<a href="javascript:parent.code.dispatch('agent')">agent</a> <a href="javascript:parent.code.dispatch('origin')">origin</a> <a href="javascript:parent.code.dispatch('path')">path</a>))
         (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
	 (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> (
			       (:seq <a href="javascript:parent.code.dispatch('agent')">agent</a> "the one causing the take-in")
			       (:seq <a href="javascript:parent.code.dispatch('object')">object</a> "the <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> taken-in")
			       (:seq <a href="javascript:parent.code.dispatch('destination')">destination</a> "final <a href="javascript:parent.code.dispatch('location')">location</a>")
			       (:seq <a href="javascript:parent.code.dispatch('origin')">origin</a> "original <a href="javascript:parent.code.dispatch('location')">location</a>")
			       (:seq <a href="javascript:parent.code.dispatch('path')">path</a> "the portal")
			       ))
       #|(sentence-type  (*punctual *conclusive))|#
)

; <a href="javascript:parent.code.dispatch('Take')">Take</a> something from the outside into oneself
(every <a href="javascript:parent.code.dispatch('Take-In')">Take-In</a> has 
	(<a href="javascript:parent.code.dispatch('object')">object</a> ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))

        (<a href="javascript:parent.code.dispatch('agent')">agent</a> ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>
                  with (<a href="javascript:parent.code.dispatch('plays')">plays</a> ((a <a href="javascript:parent.code.dispatch('Container')">Container</a>)))
        )))

        (<a href="javascript:parent.code.dispatch('base')">base</a> ((the <a href="javascript:parent.code.dispatch('agent')">agent</a> of Self)))
)

(every <a href="javascript:parent.code.dispatch('Take-In')">Take-In</a> has
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-sg')">text-active-verbseq-sg</a> ("takes in"))
  (<a href="javascript:parent.code.dispatch('text-active-verbseq-pl')">text-active-verbseq-pl</a> ("take in"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-sg')">text-passive-verbseq-sg</a> ("gets taken in"))
  (<a href="javascript:parent.code.dispatch('text-passive-verbseq-pl')">text-passive-verbseq-pl</a> ("get taken in"))
)


;; nothing extra to say about contextual info
;; inherited from <a href="javascript:parent.code.dispatch('Move')">Move</a> and <a href="javascript:parent.code.dispatch('Action')">Action</a>
                        
(<a href="javascript:parent.code.dispatch('Take-In')">Take-In</a> has 
       (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ('(
		     (*John has  
			(instance-of (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
			    
		     (*Nasal-Passage has  (instance-of (<a href="javascript:parent.code.dispatch('Spatial-Entity')">Spatial-Entity</a>)))

                     (*Air has 
                        (instance-of (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))
                        (<a href="javascript:parent.code.dispatch('is-outside')">is-outside</a> (*John)))

		     ; *John takes-in air
		     (a <a href="javascript:parent.code.dispatch('Take-In')">Take-In</a> with
		      (<a href="javascript:parent.code.dispatch('agent')">agent</a> (*John))
                      (<a href="javascript:parent.code.dispatch('object')">object</a> (*Air))
                      (<a href="javascript:parent.code.dispatch('path')">path</a> (*Nasal-Passage)))

		     (do-and-next (thelast <a href="javascript:parent.code.dispatch('Take-In')">Take-In</a>))
		     (the <a href="javascript:parent.code.dispatch('text-gen')">text-gen</a> of (thelast <a href="javascript:parent.code.dispatch('Take-In')">Take-In</a>))
		     ; Test1: the *Air went through the *Nasal-Passage
		     ((the <a href="javascript:parent.code.dispatch('path')">path</a> of (thelast <a href="javascript:parent.code.dispatch('Take-In')">Take-In</a>)) = *Nasal-Passage)

		     ; Test2: *Lungs now contain *Air
		     ((the <a href="javascript:parent.code.dispatch('content')">content</a> of (the <a href="javascript:parent.code.dispatch('Container')">Container</a> <a href="javascript:parent.code.dispatch('plays')">plays</a> of *John)) = *Air)
		     
		     ; Test3: *Air is now located inside *John
		     ((the <a href="javascript:parent.code.dispatch('is-inside')">is-inside</a> of (the <a href="javascript:parent.code.dispatch('location')">location</a> of *Air)) includes *John)

		     ; Test4: *Air is no longer located outside *John
		     ((the <a href="javascript:parent.code.dispatch('is-outside')">is-outside</a> of (the <a href="javascript:parent.code.dispatch('location')">location</a> of *Lungs)) /= *John)
))))



;; automatically added WN synsets
(<a href="javascript:parent.code.dispatch('Take-In')">Take-In</a> has (<a href="javascript:parent.code.dispatch('wn16-synset')">wn16-synset</a> ((:set  
                                      (:triple "sorb" 1 "v")
                                      (:triple "take_up" 8 "v")
))))

(<a href="javascript:parent.code.dispatch('Take-In')">Take-In</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                                      (:triple "sorb" 1 "v")
                                      (:triple "take_up" 8 "v")
                                      (:triple "consume" 2 "v")
                                      (:triple "ingest" 1 "v")
                                      (:triple "take in" 15 "v")
                                      (:triple "take" 18 "v")
                                      (:triple "have" 6 "v")
))))

(every <a href="javascript:parent.code.dispatch('Take-In')">Take-In</a> has (<a href="javascript:parent.code.dispatch('text-nominalization')">text-nominalization</a> ("taking in")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>