;; 
;;    $Id: <a href="javascript:parent.code.dispatch('text-existential-there')">text-existential-there</a>.km,v 1.2 2006/09/27 16:18:16 jchaw Exp $
;; 


(<a href="javascript:parent.code.dispatch('text-existential-there')">text-existential-there</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))                      ; <a href="javascript:parent.code.dispatch('Entity')">Entity</a> or <a href="javascript:parent.code.dispatch('Event')">Event</a>
   (range (String))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (dont-cache-values (t))
   (inherit-with-overrides (t))
)

(<a href="javascript:parent.code.dispatch('text-existential-there-of')">text-existential-there-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('text-existential-there')">text-existential-there</a>.km,v 1.2 2006/09/27 16:18:16 jchaw Exp $
;; 


(<a href="javascript:parent.code.dispatch('text-existential-there')">text-existential-there</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))                      ; <a href="javascript:parent.code.dispatch('Entity')">Entity</a> or <a href="javascript:parent.code.dispatch('Event')">Event</a>
   (range (String))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (dont-cache-values (t))
   (inherit-with-overrides (t))
)

(<a href="javascript:parent.code.dispatch('text-existential-there-of')">text-existential-there-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>