;; 
;;    $Id: <a href="javascript:parent.code.dispatch('text-arguments')">text-arguments</a>.km,v 1.6 2006/09/27 16:18:16 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('text-arguments')">text-arguments</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
   (dont-cache-values (t))
)

(<a href="javascript:parent.code.dispatch('text-arguments-of')">text-arguments-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('text-arguments')">text-arguments</a>.km,v 1.6 2006/09/27 16:18:16 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('text-arguments')">text-arguments</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Event')">Event</a>))
   #|(range (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))|#
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
   (dont-cache-values (t))
)

(<a href="javascript:parent.code.dispatch('text-arguments-of')">text-arguments-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>