<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: 
<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Class')">Class</a>, 
<a href="javascript:parent.code.dispatch('Entity')">Entity</a>, 
<a href="javascript:parent.code.dispatch('Event')">Event</a>, 
<a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a>, 
<a href="javascript:parent.code.dispatch('Number')">Number</a>, 
<a href="javascript:parent.code.dispatch('Partition')">Partition</a>, 
<a href="javascript:parent.code.dispatch('Property-Group')">Property-Group</a>, 
<a href="javascript:parent.code.dispatch('Role')">Role</a>, 
<a href="javascript:parent.code.dispatch('Situation')">Situation</a>, 
<a href="javascript:parent.code.dispatch('Slot')">Slot</a>, 
<a href="javascript:parent.code.dispatch('String')">String</a>, 
<a href="javascript:parent.code.dispatch('System')">System</a>, 
<a href="javascript:parent.code.dispatch('Temporal-Entity')">Temporal-Entity</a>, 

<HR>
<PRE>
