;; 
;;    $Id: <a href="javascript:parent.code.dispatch('time-before')">time-before</a>.km,v 1.10 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('time-before')">time-before</a> has
	     (<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-before')">time-before</a> FILLER means that FRAME is wholly before FILLER, i.e. the end of FRAME is earlier than the start of FILLER."))
	     (instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
	     (subslots ())
	     (domain (<a href="javascript:parent.code.dispatch('Temporal-Entity')">Temporal-Entity</a>))
	     (range (<a href="javascript:parent.code.dispatch('Temporal-Entity')">Temporal-Entity</a>))
	     (inverse (<a href="javascript:parent.code.dispatch('time-after')">time-after</a>))
	     (fluent-status (*Inertial-Fluent))
             (original-slot      (t))	
	     (cardinality (N-to-N))
	     )

;; [.1.]..[.2.]

(<a href="javascript:parent.code.dispatch('time-before')">time-before</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("occurs before")))

(<a href="javascript:parent.code.dispatch('time-after')">time-after</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('time-before')">time-before</a>.km,v 1.10 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('time-before')">time-before</a> has
	     (<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-before')">time-before</a> FILLER means that FRAME is wholly before FILLER, i.e. the end of FRAME is earlier than the start of FILLER."))
	     (instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
	     (subslots ())
	     (domain (<a href="javascript:parent.code.dispatch('Temporal-Entity')">Temporal-Entity</a>))
	     (range (<a href="javascript:parent.code.dispatch('Temporal-Entity')">Temporal-Entity</a>))
	     (inverse (<a href="javascript:parent.code.dispatch('time-after')">time-after</a>))
	     (fluent-status (*Inertial-Fluent))
             (original-slot      (t))	
	     (cardinality (N-to-N))
	     )

;; [.1.]..[.2.]

(<a href="javascript:parent.code.dispatch('time-before')">time-before</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("occurs before")))

(<a href="javascript:parent.code.dispatch('time-after')">time-after</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('time-before')">time-before</a>.km,v 1.10 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('time-before')">time-before</a> has
	     (<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-before')">time-before</a> FILLER means that FRAME is wholly before FILLER, i.e. the end of FRAME is earlier than the start of FILLER."))
	     (instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
	     (subslots ())
	     (domain (<a href="javascript:parent.code.dispatch('Temporal-Entity')">Temporal-Entity</a>))
	     (range (<a href="javascript:parent.code.dispatch('Temporal-Entity')">Temporal-Entity</a>))
	     (inverse (<a href="javascript:parent.code.dispatch('time-after')">time-after</a>))
	     (fluent-status (*Inertial-Fluent))
             (original-slot      (t))	
	     (cardinality (N-to-N))
	     )

;; [.1.]..[.2.]

(<a href="javascript:parent.code.dispatch('time-before')">time-before</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("occurs before")))

(<a href="javascript:parent.code.dispatch('time-after')">time-after</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>