<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Constant')">Constant</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>

;;
;; $Id: <a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>.km,v 1.3 2003/12/19 21:22:29 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a> has (superclasses (<a href="javascript:parent.code.dispatch('Constant')">Constant</a>)))

(<a href="javascript:parent.code.dispatch('*IDLW')">*IDLW</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("IDLW")))  ; -12
(<a href="javascript:parent.code.dispatch('*HST')">*HST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("HST")))    ; -10
(<a href="javascript:parent.code.dispatch('*AKST')">*AKST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("AKST")))  ; -9
(<a href="javascript:parent.code.dispatch('*AKDT')">*AKDT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("AKDT")))  ; -8
(<a href="javascript:parent.code.dispatch('*PST')">*PST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("PST")))    ; -8
(<a href="javascript:parent.code.dispatch('*PDT')">*PDT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("PDT")))    ; -7
(<a href="javascript:parent.code.dispatch('*MST')">*MST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("MST")))    ; -7
(<a href="javascript:parent.code.dispatch('*MDT')">*MDT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("MDT")))    ; -6
(<a href="javascript:parent.code.dispatch('*CST')">*CST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("CST")))    ; -6
(<a href="javascript:parent.code.dispatch('*CDT')">*CDT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("CDT")))    ; -5
(<a href="javascript:parent.code.dispatch('*EST')">*EST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("EST")))    ; -5
(<a href="javascript:parent.code.dispatch('*EDT')">*EDT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("EDT")))    ; -4
(<a href="javascript:parent.code.dispatch('*AST')">*AST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("AST")))    ; -4
(<a href="javascript:parent.code.dispatch('*ADT')">*ADT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("ADT")))    ; -3
(<a href="javascript:parent.code.dispatch('*NST')">*NST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("NST")))    ; -3.5
(<a href="javascript:parent.code.dispatch('*NDT')">*NDT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("NDT")))    ; -2.5
(<a href="javascript:parent.code.dispatch('*UTC')">*UTC</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("UTC")))    ; +0
(<a href="javascript:parent.code.dispatch('*GMT')">*GMT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("GMT")))    ; +0
(<a href="javascript:parent.code.dispatch('*WET')">*WET</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("WET")))    ; +0
(<a href="javascript:parent.code.dispatch('*IST')">*IST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("IST")))    ; +1
(<a href="javascript:parent.code.dispatch('*WEST')">*WEST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("WEST")))  ; +1
(<a href="javascript:parent.code.dispatch('*CET')">*CET</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("CET")))    ; +1
(<a href="javascript:parent.code.dispatch('*CEST')">*CEST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("CEST")))  ; +2
(<a href="javascript:parent.code.dispatch('*EET')">*EET</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("EET")))    ; +2
(<a href="javascript:parent.code.dispatch('*EEST')">*EEST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("EEST")))  ; +3
(<a href="javascript:parent.code.dispatch('*MSK')">*MSK</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("MSK")))    ; +3
(<a href="javascript:parent.code.dispatch('*MSD')">*MSD</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("MSD")))    ; +4
(<a href="javascript:parent.code.dispatch('*GET')">*GET</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("GET")))    ; +4
(<a href="javascript:parent.code.dispatch('*GEST')">*GEST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("GEST")))  ; +5
(<a href="javascript:parent.code.dispatch('*KGT')">*KGT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("KGT")))    ; +5
(<a href="javascript:parent.code.dispatch('*KGST')">*KGST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("KGST")))  ; +6
(<a href="javascript:parent.code.dispatch('*CXT')">*CXT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("CXT")))    ; +7
(<a href="javascript:parent.code.dispatch('*AWST')">*AWST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("AWST")))  ; +8
(<a href="javascript:parent.code.dispatch('*JST')">*JST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("JST")))    ; +9
(<a href="javascript:parent.code.dispatch('*KST')">*KST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("KST")))    ; +9
(<a href="javascript:parent.code.dispatch('*KDT')">*KDT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("KDT")))    ; +10
(<a href="javascript:parent.code.dispatch('*ACST')">*ACST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("ACST")))  ; +9.5
(<a href="javascript:parent.code.dispatch('*ACDT')">*ACDT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("ACDT")))  ; +10.5
(<a href="javascript:parent.code.dispatch('*AEST')">*AEST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("AEST")))  ; +10
(<a href="javascript:parent.code.dispatch('*AEDT')">*AEDT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("AEDT")))  ; +11
(<a href="javascript:parent.code.dispatch('*IDLE')">*IDLE</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("IDLE")))  ; +12
(<a href="javascript:parent.code.dispatch('*NZST')">*NZST</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("NZST")))  ; +12
(<a href="javascript:parent.code.dispatch('*NZDT')">*NZDT</a> has (instance-of (<a href="javascript:parent.code.dispatch('Time-Zone-Constant')">Time-Zone-Constant</a>)) (name ("NZDT")))  ; +13

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>