;; $Id: <a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a>.km,v 1.2 2005/04/19 19:00:19 billj Exp $ 

(<a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a> has  
	(<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a> FILLER means that FRAME, a Time-Point, is temporally within FILLER, a <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>.  Specifically, FRAME is (a), later than or simultaneous with the start of FILLER, and (b), earlier than or simultaneous with the end of FILLER.")))

;; <a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a> is the inverse of <a href="javascript:parent.code.dispatch('time-inside')">time-inside</a>.  <a href="javascript:parent.code.dispatch('See')">See</a> <a href="javascript:parent.code.dispatch('time-inside')">time-inside</a>.km
;; which has more complete definitional information.

 </PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; $Id: <a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a>.km,v 1.2 2005/04/19 19:00:19 billj Exp $ 

(<a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a> has  
	(<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a> FILLER means that FRAME, a Time-Point, is temporally within FILLER, a <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>.  Specifically, FRAME is (a), later than or simultaneous with the start of FILLER, and (b), earlier than or simultaneous with the end of FILLER.")))

;; <a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a> is the inverse of <a href="javascript:parent.code.dispatch('time-inside')">time-inside</a>.  <a href="javascript:parent.code.dispatch('See')">See</a> <a href="javascript:parent.code.dispatch('time-inside')">time-inside</a>.km
;; which has more complete definitional information.

 </PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; $Id: <a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a>.km,v 1.2 2005/04/19 19:00:19 billj Exp $ 

(<a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a> has  
	(<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a> FILLER means that FRAME, a Time-Point, is temporally within FILLER, a <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>.  Specifically, FRAME is (a), later than or simultaneous with the start of FILLER, and (b), earlier than or simultaneous with the end of FILLER.")))

;; <a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a> is the inverse of <a href="javascript:parent.code.dispatch('time-inside')">time-inside</a>.  <a href="javascript:parent.code.dispatch('See')">See</a> <a href="javascript:parent.code.dispatch('time-inside')">time-inside</a>.km
;; which has more complete definitional information.

 </PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>