;; 
;;    $Id: <a href="javascript:parent.code.dispatch('time-int-finishes')">time-int-finishes</a>.km,v 1.6 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('time-int-finishes')">time-int-finishes</a> has
   	(instance-of 	(<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
	(subslots 	())
	(domain 	(<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
	(range 		(<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
	(inverse 	(<a href="javascript:parent.code.dispatch('time-int-finished-by')">time-int-finished-by</a>))
	(fluent-status 	(*Inertial-Fluent))
	(cardinality 	(N-to-N))
        (original-slot      (t))	
)

;; [..[...]]

(<a href="javascript:parent.code.dispatch('time-int-finished-by')">time-int-finished-by</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('time-int-finishes')">time-int-finishes</a>.km,v 1.6 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('time-int-finishes')">time-int-finishes</a> has
   	(instance-of 	(<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
	(subslots 	())
	(domain 	(<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
	(range 		(<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
	(inverse 	(<a href="javascript:parent.code.dispatch('time-int-finished-by')">time-int-finished-by</a>))
	(fluent-status 	(*Inertial-Fluent))
	(cardinality 	(N-to-N))
        (original-slot      (t))	
)

;; [..[...]]

(<a href="javascript:parent.code.dispatch('time-int-finished-by')">time-int-finished-by</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('time-int-finishes')">time-int-finishes</a>.km,v 1.6 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('time-int-finishes')">time-int-finishes</a> has
   	(instance-of 	(<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
	(subslots 	())
	(domain 	(<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
	(range 		(<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
	(inverse 	(<a href="javascript:parent.code.dispatch('time-int-finished-by')">time-int-finished-by</a>))
	(fluent-status 	(*Inertial-Fluent))
	(cardinality 	(N-to-N))
        (original-slot      (t))	
)

;; [..[...]]

(<a href="javascript:parent.code.dispatch('time-int-finished-by')">time-int-finished-by</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>