;; 
;;    $Id: <a href="javascript:parent.code.dispatch('time-inside')">time-inside</a>.km,v 1.8 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('time-inside')">time-inside</a> has
	(<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-inside')">time-inside</a> FILLER means that FRAME, a <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>, temporally includes FILLER, a Time-Point.  Specifically, FILLER is (a) later than or simultaneous with the start of FRAME, and (b), earlier than or simultaneous with the end of FRAME."))
       (instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
       (range (<a href="javascript:parent.code.dispatch('Time-Instant')">Time-Instant</a>))
       (inverse (<a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a>))
       (fluent-status (*Inertial-Fluent))
       (original-slot      (t))	
       (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('time-inside')">time-inside</a>.km,v 1.8 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('time-inside')">time-inside</a> has
	(<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-inside')">time-inside</a> FILLER means that FRAME, a <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>, temporally includes FILLER, a Time-Point.  Specifically, FILLER is (a) later than or simultaneous with the start of FRAME, and (b), earlier than or simultaneous with the end of FRAME."))
       (instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
       (range (<a href="javascript:parent.code.dispatch('Time-Instant')">Time-Instant</a>))
       (inverse (<a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a>))
       (fluent-status (*Inertial-Fluent))
       (original-slot      (t))	
       (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('time-inside')">time-inside</a>.km,v 1.8 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('time-inside')">time-inside</a> has
	(<a href="javascript:parent.code.dispatch('description')">description</a> ("FRAME <a href="javascript:parent.code.dispatch('time-inside')">time-inside</a> FILLER means that FRAME, a <a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>, temporally includes FILLER, a Time-Point.  Specifically, FILLER is (a) later than or simultaneous with the start of FRAME, and (b), earlier than or simultaneous with the end of FRAME."))
       (instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
       (superslots ())
       (subslots ())
       (domain (<a href="javascript:parent.code.dispatch('Time-Interval')">Time-Interval</a>))
       (range (<a href="javascript:parent.code.dispatch('Time-Instant')">Time-Instant</a>))
       (inverse (<a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a>))
       (fluent-status (*Inertial-Fluent))
       (original-slot      (t))	
       (cardinality (N-to-N)))

(<a href="javascript:parent.code.dispatch('time-is-inside')">time-is-inside</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>