;; 
;; $Id: <a href="javascript:parent.code.dispatch('time-begins')">time-begins</a>.km,v 1.6 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('time-begins')">time-begins</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
  (domain (<a href="javascript:parent.code.dispatch('Temporal-Entity')">Temporal-Entity</a>))
  (range (<a href="javascript:parent.code.dispatch('Time-Instant')">Time-Instant</a>))
  (inverse (<a href="javascript:parent.code.dispatch('time-beginning-of')">time-beginning-of</a>))
  (fluent-status (*Inertial-Fluent))
  (cardinality (N-to-1))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('time-begins')">time-begins</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("begins at")))

(<a href="javascript:parent.code.dispatch('time-beginning-of')">time-beginning-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('time-begins')">time-begins</a>.km,v 1.6 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('time-begins')">time-begins</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
  (domain (<a href="javascript:parent.code.dispatch('Temporal-Entity')">Temporal-Entity</a>))
  (range (<a href="javascript:parent.code.dispatch('Time-Instant')">Time-Instant</a>))
  (inverse (<a href="javascript:parent.code.dispatch('time-beginning-of')">time-beginning-of</a>))
  (fluent-status (*Inertial-Fluent))
  (cardinality (N-to-1))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('time-begins')">time-begins</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("begins at")))

(<a href="javascript:parent.code.dispatch('time-beginning-of')">time-beginning-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('time-begins')">time-begins</a>.km,v 1.6 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('time-begins')">time-begins</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>))
  (domain (<a href="javascript:parent.code.dispatch('Temporal-Entity')">Temporal-Entity</a>))
  (range (<a href="javascript:parent.code.dispatch('Time-Instant')">Time-Instant</a>))
  (inverse (<a href="javascript:parent.code.dispatch('time-beginning-of')">time-beginning-of</a>))
  (fluent-status (*Inertial-Fluent))
  (cardinality (N-to-1))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('time-begins')">time-begins</a> has (<a href="javascript:parent.code.dispatch('text-gloss')">text-gloss</a> ("begins at")))

(<a href="javascript:parent.code.dispatch('time-beginning-of')">time-beginning-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Temporal-Relation')">Temporal-Relation</a>)))</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>