<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Solid-Substance')">Solid-Substance</a>, 
<a href="javascript:parent.code.dispatch('Suborganismal-Entity')">Suborganismal-Entity</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('Tissue')">Tissue</a>.km,v 1.3 2004/09/09 19:32:47 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Tissue')">Tissue</a> has (superclasses (<a href="javascript:parent.code.dispatch('Solid-Substance')">Solid-Substance</a>)))

(<a href="javascript:parent.code.dispatch('Tissue')">Tissue</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			   (:triple "tissue" 2 "n")
			   (:triple "tissue_paper" 1 "n")
))))

;; stubby

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>