
;;
;;  $Id: <a href="javascript:parent.code.dispatch('to-value')">to-value</a>.km,v 1.10 2008/02/13 20:19:21 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('to-value')">to-value</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>))
  (domain (<a href="javascript:parent.code.dispatch('Increase')">Increase</a> <a href="javascript:parent.code.dispatch('Decrease')">Decrease</a>))
  (range (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (inverse (<a href="javascript:parent.code.dispatch('to-value-of')">to-value-of</a>))
  (cardinality (N-to-1))
  (fluent-status (*Inertial-Fluent))
  (inherit-with-overrides (t))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('to-value-of')">to-value-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>))
)
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>
;;
;;  $Id: <a href="javascript:parent.code.dispatch('to-value')">to-value</a>.km,v 1.10 2008/02/13 20:19:21 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('to-value')">to-value</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>))
  (domain (<a href="javascript:parent.code.dispatch('Increase')">Increase</a> <a href="javascript:parent.code.dispatch('Decrease')">Decrease</a>))
  (range (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (inverse (<a href="javascript:parent.code.dispatch('to-value-of')">to-value-of</a>))
  (cardinality (N-to-1))
  (fluent-status (*Inertial-Fluent))
  (inherit-with-overrides (t))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('to-value-of')">to-value-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>))
)
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>
;;
;;  $Id: <a href="javascript:parent.code.dispatch('to-value')">to-value</a>.km,v 1.10 2008/02/13 20:19:21 kbarker Exp $
;;

(<a href="javascript:parent.code.dispatch('to-value')">to-value</a> has
  (instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>))
  (domain (<a href="javascript:parent.code.dispatch('Increase')">Increase</a> <a href="javascript:parent.code.dispatch('Decrease')">Decrease</a>))
  (range (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>))
  (inverse (<a href="javascript:parent.code.dispatch('to-value-of')">to-value-of</a>))
  (cardinality (N-to-1))
  (fluent-status (*Inertial-Fluent))
  (inherit-with-overrides (t))
  (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('to-value-of')">to-value-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('Property-Relation')">Property-Relation</a>))
)
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>