<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('UoM-Energy')">UoM-Energy</a>.km,v 1.1 2010/01/29 16:47:39 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('UoM-Energy')">UoM-Energy</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
  (<a href="javascript:parent.code.dispatch('base-unit')">base-unit</a> (<a href="javascript:parent.code.dispatch('*joule')">*joule</a>))
  (instances (<a href="javascript:parent.code.dispatch('*joule')">*joule</a>))
)

(<a href="javascript:parent.code.dispatch('*joule')">*joule</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Energy')">UoM-Energy</a>))
       (name ("J"))
       (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set  
		      (:triple "joule" 1 "n")
		      (:triple "J" 1 "n")
		      (:triple "watt_second" 1 "n")
		      ))))


(<a href="javascript:parent.code.dispatch('*joule')">*joule</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (1.0)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>