<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('UoM-Intensity')">UoM-Intensity</a>.km,v 1.4 2010/01/27 16:04:48 kbarker Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('UoM-Intensity')">UoM-Intensity</a> has
 (superclasses (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
  (<a href="javascript:parent.code.dispatch('base-unit')">base-unit</a> ())
 (instances ()))


</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>