<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('UoM-Luminous-Intensity')">UoM-Luminous-Intensity</a>.km,v 1.6 2010/01/27 16:06:06 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('UoM-Luminous-Intensity')">UoM-Luminous-Intensity</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
  (<a href="javascript:parent.code.dispatch('base-unit')">base-unit</a> (<a href="javascript:parent.code.dispatch('*candela')">*candela</a>))
  (instances (<a href="javascript:parent.code.dispatch('*candela')">*candela</a>))
)

(<a href="javascript:parent.code.dispatch('*candela')">*candela</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Luminous-Intensity')">UoM-Luminous-Intensity</a>))
          (name ("cd"))
	  (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "candela" 0 "n")
			      (:triple "candelas" 0 "n")
			      ))))

(<a href="javascript:parent.code.dispatch('*candela')">*candela</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (1.0)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>