<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;; $Id: <a href="javascript:parent.code.dispatch('UoM-Coordinate')">UoM-Coordinate</a>.km,v 1.5 2010/01/27 16:06:06 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('UoM-Coordinate')">UoM-Coordinate</a> has
  (superclasses (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
  (<a href="javascript:parent.code.dispatch('base-unit')">base-unit</a> (<a href="javascript:parent.code.dispatch('*degree')">*degree</a>))
  (instances (<a href="javascript:parent.code.dispatch('*degree')">*degree</a> <a href="javascript:parent.code.dispatch('*arcminute')">*arcminute</a> <a href="javascript:parent.code.dispatch('*arcsecond')">*arcsecond</a>))
)

(<a href="javascript:parent.code.dispatch('UoM-Coordinate')">UoM-Coordinate</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
			      (:triple "degree" 0 "n")
			      (:triple "arcminute" 0 "n")
			      (:triple "arcsecond" 0 "n")

			      (:triple "degrees" 0 "n")
			      (:triple "arcminutes" 0 "n")
			      (:triple "arcseconds" 0 "n")
))))
(<a href="javascript:parent.code.dispatch('*degree')">*degree</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (1.0)))
(<a href="javascript:parent.code.dispatch('*arcminute')">*arcminute</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (0.016666668)))
(<a href="javascript:parent.code.dispatch('*arcsecond')">*arcsecond</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (2.7777778e-4)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>