<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;    $Id: <a href="javascript:parent.code.dispatch('UoM-Acceleration-Magnitude')">UoM-Acceleration-Magnitude</a>.km,v 1.3 2010/01/27 16:06:06 kbarker Exp $

(<a href="javascript:parent.code.dispatch('UoM-Acceleration-Magnitude')">UoM-Acceleration-Magnitude</a> has
                  (superclasses (<a href="javascript:parent.code.dispatch('Unit-of-Measurement')">Unit-of-Measurement</a>))
  (<a href="javascript:parent.code.dispatch('base-unit')">base-unit</a> (<a href="javascript:parent.code.dispatch('*meter-per-second-squared')">*meter-per-second-squared</a>))
                  (instances (<a href="javascript:parent.code.dispatch('*centimeter-per-second-squared')">*centimeter-per-second-squared</a> 
                              <a href="javascript:parent.code.dispatch('*foot-per-second-squared')">*foot-per-second-squared</a>
                              <a href="javascript:parent.code.dispatch('*meter-per-second-squared')">*meter-per-second-squared</a>
                              <a href="javascript:parent.code.dispatch('*kilometer-per-second-squared')">*kilometer-per-second-squared</a>
                              <a href="javascript:parent.code.dispatch('*mile-per-second-squared')">*mile-per-second-squared</a>
                              <a href="javascript:parent.code.dispatch('*kilometer-per-hour-minute')">*kilometer-per-hour-minute</a>
                              <a href="javascript:parent.code.dispatch('*G')">*G</a>)))

(<a href="javascript:parent.code.dispatch('*centimeter-per-second-squared')">*centimeter-per-second-squared</a> has 
                                (instance-of (<a href="javascript:parent.code.dispatch('UoM-Acceleration-Magnitude')">UoM-Acceleration-Magnitude</a>))
                                (name ("cm/s^2"))
                                (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "centimeter per second squared" 0 "n")
                                                    (:triple "centimeters per second squared" 0 "n")
                                                    (:triple "cm/s^2" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*foot-per-second-squared')">*foot-per-second-squared</a> has 
                          (instance-of (<a href="javascript:parent.code.dispatch('UoM-Acceleration-Magnitude')">UoM-Acceleration-Magnitude</a>))
                          (name ("ft/s^2"))
                          (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "foot per second squared" 0 "n")
                                              (:triple "feet per second squared" 0 "n")
                                              (:triple "ft/s^2" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*meter-per-second-squared')">*meter-per-second-squared</a> has 
                           (instance-of (<a href="javascript:parent.code.dispatch('UoM-Acceleration-Magnitude')">UoM-Acceleration-Magnitude</a>))
                           (name ("m/s^2"))
                           (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "meter per second squared" 0 "n")
                                               (:triple "meters per second squared" 0 "n")
                                               (:triple "m/s^2" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*kilometer-per-second-squared')">*kilometer-per-second-squared</a> has 
                               (instance-of (<a href="javascript:parent.code.dispatch('UoM-Acceleration-Magnitude')">UoM-Acceleration-Magnitude</a>))
                               (name ("km/s^2"))
                               (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "kilometer per second squared" 0 "n")
                                                   (:triple "kilometers per second squared" 0 "n")
                                                   (:triple "km/s^2" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*mile-per-second-squared')">*mile-per-second-squared</a> has 
                          (instance-of (<a href="javascript:parent.code.dispatch('UoM-Acceleration-Magnitude')">UoM-Acceleration-Magnitude</a>))
                          (name ("mi/s^2"))
                          (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "mile per second squared" 0 "n")
                                              (:triple "miles per second squared" 0 "n")
                                              (:triple "mi/s^2" 0 "n")))))

(<a href="javascript:parent.code.dispatch('*kilometer-per-hour-minute')">*kilometer-per-hour-minute</a> has 
                            (instance-of (<a href="javascript:parent.code.dispatch('UoM-Acceleration-Magnitude')">UoM-Acceleration-Magnitude</a>))
                            (name ("km/h*min"))
                            (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "kilometer per hour minute" 0 "n")
                                                (:triple "kilometers per hour minute" 0 "n")
                                                ;;(:triple "km/h*min" 0 "n")
                                                ))))

(<a href="javascript:parent.code.dispatch('*G')">*G</a> has (instance-of (<a href="javascript:parent.code.dispatch('UoM-Acceleration-Magnitude')">UoM-Acceleration-Magnitude</a>))
        (name ("G"))
    (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set (:triple "G" 0 "n")
                        ))))
(<a href="javascript:parent.code.dispatch('*centimeter-per-second-squared')">*centimeter-per-second-squared</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (0.01)))
(<a href="javascript:parent.code.dispatch('*foot-per-second-squared')">*foot-per-second-squared</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (0.3048)))
(<a href="javascript:parent.code.dispatch('*meter-per-second-squared')">*meter-per-second-squared</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (1.0)))
(<a href="javascript:parent.code.dispatch('*kilometer-per-second-squared')">*kilometer-per-second-squared</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (1000.0)))
(<a href="javascript:parent.code.dispatch('*mile-per-second-squared')">*mile-per-second-squared</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (1609.344)))
(<a href="javascript:parent.code.dispatch('*kilometer-per-hour-minute')">*kilometer-per-hour-minute</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (16.6666667)))
(<a href="javascript:parent.code.dispatch('*G')">*G</a> has (<a href="javascript:parent.code.dispatch('conversion-multiplier')">conversion-multiplier</a> (9.8)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>