;; 
;; $Id: <a href="javascript:parent.code.dispatch('user-description')">user-description</a>.km,v 1.3 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('user-description')">user-description</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
   (range (String))
   (cardinality (N-to-1))
   (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('user-description-of')">user-description-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('user-description')">user-description</a>.km,v 1.3 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('user-description')">user-description</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
   (range (String))
   (cardinality (N-to-1))
   (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('user-description-of')">user-description-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;; $Id: <a href="javascript:parent.code.dispatch('user-description')">user-description</a>.km,v 1.3 2007/04/11 21:42:44 jchaw Exp $
;; 

(<a href="javascript:parent.code.dispatch('user-description')">user-description</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>))
   (domain (<a href="javascript:parent.code.dispatch('Thing')">Thing</a>))
   (range (String))
   (cardinality (N-to-1))
   (original-slot      (t))	
)

(<a href="javascript:parent.code.dispatch('user-description-of')">user-description-of</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('KM-Slot-Group')">KM-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>