<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Role')">Role</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;; 
;;    $Id: <a href="javascript:parent.code.dispatch('Vehicle')">Vehicle</a>.km,v 1.4 2009/12/16 17:04:47 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('Vehicle')">Vehicle</a> has
        (superclasses (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
        (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
        (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
        (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
        (<a href="javascript:parent.code.dispatch('description')">description</a> ("The <a href="javascript:parent.code.dispatch('object')">object</a> or medium which transports the <a href="javascript:parent.code.dispatch('object')">object</a> moved during a move event."))
        (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ()))  

(every <a href="javascript:parent.code.dispatch('Vehicle')">Vehicle</a> has
       	(<a href="javascript:parent.code.dispatch('in-event')">in-event</a> ((a <a href="javascript:parent.code.dispatch('Carry')">Carry</a>)))
       	(<a href="javascript:parent.code.dispatch('played-by')">played-by</a> ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> with
                      (<a href="javascript:parent.code.dispatch('instrument-of')">instrument-of</a> ((the <a href="javascript:parent.code.dispatch('in-event')">in-event</a> of Self)))))))

(<a href="javascript:parent.code.dispatch('Vehicle')">Vehicle</a> has 
       (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> 
	((:set (:triple "vehicle" 1 "n"))
	 (:set (:triple "vehicle" 3 "n"))
	 (:set (:triple "fomite" 1 "n")))))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>