;; 
;;    $Id: <a href="javascript:parent.code.dispatch('viewpoint-detail-title')">viewpoint-detail-title</a>.km,v 1.1 2007/04/10 21:11:38 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('viewpoint-detail-title')">viewpoint-detail-title</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Viewpoint')">Viewpoint</a>))
   (range (String))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
   (dont-cache-values (t))
)

(<a href="javascript:parent.code.dispatch('viewpoint-detail-title-of')">viewpoint-detail-title-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('viewpoint-detail-title')">viewpoint-detail-title</a>.km,v 1.1 2007/04/10 21:11:38 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('viewpoint-detail-title')">viewpoint-detail-title</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Viewpoint')">Viewpoint</a>))
   (range (String))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
   (dont-cache-values (t))
)

(<a href="javascript:parent.code.dispatch('viewpoint-detail-title-of')">viewpoint-detail-title-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('viewpoint-detail-title')">viewpoint-detail-title</a>.km,v 1.1 2007/04/10 21:11:38 kbarker Exp $
;; 

(<a href="javascript:parent.code.dispatch('viewpoint-detail-title')">viewpoint-detail-title</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>))
   (superslots ())
   (subslots ())
   (domain (<a href="javascript:parent.code.dispatch('Viewpoint')">Viewpoint</a>))
   (range (String))
   (fluent-status (*Inertial-Fluent))
   (cardinality (N-to-1))
   (inherit-with-overrides (t))
   (dont-cache-values (t))
)

(<a href="javascript:parent.code.dispatch('viewpoint-detail-title-of')">viewpoint-detail-title-of</a> has (instance-of (<a href="javascript:parent.code.dispatch('NL-Slot-Group')">NL-Slot-Group</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>