<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Viewpoint-Query-Type')">Viewpoint-Query-Type</a>.km,v 1.4 2006/07/10 19:28:43 jchaw Exp $
;;

(<a href="javascript:parent.code.dispatch('Viewpoint-Query-Type')">Viewpoint-Query-Type</a> has (superclasses (<a href="javascript:parent.code.dispatch('KM-Class')">KM-Class</a>)))

(*match-result      has (instance-of (<a href="javascript:parent.code.dispatch('Viewpoint-Query-Type')">Viewpoint-Query-Type</a>)))
(*slot-value        has (instance-of (<a href="javascript:parent.code.dispatch('Viewpoint-Query-Type')">Viewpoint-Query-Type</a>)))
(*slot-query        has (instance-of (<a href="javascript:parent.code.dispatch('Viewpoint-Query-Type')">Viewpoint-Query-Type</a>)))
(<a href="javascript:parent.code.dispatch('*class-description')">*class-description</a> has (instance-of (<a href="javascript:parent.code.dispatch('Viewpoint-Query-Type')">Viewpoint-Query-Type</a>)))
(*yes-no-question   has (instance-of (<a href="javascript:parent.code.dispatch('Viewpoint-Query-Type')">Viewpoint-Query-Type</a>)))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>