<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Voltage-Value')">Voltage-Value</a>.km,v 1.4 2007/05/15 21:30:46 mrglass Exp $
;;


(<a href="javascript:parent.code.dispatch('Voltage-Value')">Voltage-Value</a> has (superclasses (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>)))


(<a href="javascript:parent.code.dispatch('Voltage-Value')">Voltage-Value</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("the <a href="javascript:parent.code.dispatch('rate')">rate</a> at which <a href="javascript:parent.code.dispatch('energy')">energy</a> is drawn from a source that produces a flow of electricity in a circuit")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>