<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Role')">Role</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Waste')">Waste</a>.km,v 1.4 2007/06/06 15:16:28 porter Exp $
;; 

(<a href="javascript:parent.code.dispatch('Waste')">Waste</a> has
       (superclasses (<a href="javascript:parent.code.dispatch('Role')">Role</a>))
       (<a href="javascript:parent.code.dispatch('required-slot')">required-slot</a> ())
       (<a href="javascript:parent.code.dispatch('primary-slot')">primary-slot</a> ())
       (<a href="javascript:parent.code.dispatch('secondary-slot')">secondary-slot</a> ())
       (<a href="javascript:parent.code.dispatch('description')">description</a> ("A waste product of a <a href="javascript:parent.code.dispatch('Consume')">Consume</a> action."))
       (<a href="javascript:parent.code.dispatch('cmap-correspondence')">cmap-correspondence</a> ()))

(every <a href="javascript:parent.code.dispatch('Waste')">Waste</a> has
       	(<a href="javascript:parent.code.dispatch('in-event')">in-event</a> ((a <a href="javascript:parent.code.dispatch('Consume')">Consume</a>)))
       	(<a href="javascript:parent.code.dispatch('played-by')">played-by</a> ((a <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a> with
                      (<a href="javascript:parent.code.dispatch('result-of')">result-of</a> ((the <a href="javascript:parent.code.dispatch('in-event')">in-event</a> of Self)))))))

(<a href="javascript:parent.code.dispatch('Waste')">Waste</a> has 
       (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> 
	((:set (:triple "waste" 1 "n")))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>