;; 
;;    $Id: <a href="javascript:parent.code.dispatch('wetness')">wetness</a>.km,v 1.12 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('wetness')">wetness</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Wetness-Value')">Wetness-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Wetness-Scale')">Wetness-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Wetness-Constant')">Wetness-Constant</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('wetness-of')">wetness-of</a>))
   (fluent-status (*Inertial-Fluent))
   (original-slot      (t))	
   ; (inherit-with-overrides (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('wetness-of')">wetness-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

(<a href="javascript:parent.code.dispatch('wetness')">wetness</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('wetness')">wetness</a>" 1 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('wetness')">wetness</a>.km,v 1.12 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('wetness')">wetness</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Wetness-Value')">Wetness-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Wetness-Scale')">Wetness-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Wetness-Constant')">Wetness-Constant</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('wetness-of')">wetness-of</a>))
   (fluent-status (*Inertial-Fluent))
   (original-slot      (t))	
   ; (inherit-with-overrides (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('wetness-of')">wetness-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

(<a href="javascript:parent.code.dispatch('wetness')">wetness</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('wetness')">wetness</a>" 1 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>;; 
;;    $Id: <a href="javascript:parent.code.dispatch('wetness')">wetness</a>.km,v 1.12 2007/04/11 21:42:44 jchaw Exp $ 
;; 

(<a href="javascript:parent.code.dispatch('wetness')">wetness</a> has
   (instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>))
   (superslots 	())
   (subslots 	())
   (domain      (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>))    
   (range       (<a href="javascript:parent.code.dispatch('Wetness-Value')">Wetness-Value</a>))
   (<a href="javascript:parent.code.dispatch('scale-class')">scale-class</a> (<a href="javascript:parent.code.dispatch('Wetness-Scale')">Wetness-Scale</a>))
   (<a href="javascript:parent.code.dispatch('scalar-constant-class')">scalar-constant-class</a> (<a href="javascript:parent.code.dispatch('Wetness-Constant')">Wetness-Constant</a>))
   (inverse 	(<a href="javascript:parent.code.dispatch('wetness-of')">wetness-of</a>))
   (fluent-status (*Inertial-Fluent))
   (original-slot      (t))	
   ; (inherit-with-overrides (t))
   (cardinality (N-to-1)))

(<a href="javascript:parent.code.dispatch('wetness-of')">wetness-of</a> has
	(instance-of (<a href="javascript:parent.code.dispatch('EntityProperty')">EntityProperty</a>)))

(<a href="javascript:parent.code.dispatch('wetness')">wetness</a> has (<a href="javascript:parent.code.dispatch('wn20-synset')">wn20-synset</a> ((:set
                               (:triple "<a href="javascript:parent.code.dispatch('wetness')">wetness</a>" 1 "n")
))))

</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>