<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Team')">Team</a>, 

<br>
<b>SubClasses</b>: <a href="javascript:parent.code.dispatch('Committee')">Committee</a>, 

<HR>
<PRE>
;;
;;    $Id: <a href="javascript:parent.code.dispatch('Workgroup')">Workgroup</a>.km,v 1.1 2004/09/10 00:20:44 gking Exp $
;;

(<a href="javascript:parent.code.dispatch('Workgroup')">Workgroup</a> has (superclasses (<a href="javascript:parent.code.dispatch('Team')">Team</a>)))

;; stubby
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>