<HTML>
<HEAD><TITLE> </TITLE></HEAD>
<BODY>
<HR>
<b>SuperClasses</b>: <a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>, 

<br>
<b>SubClasses</b>: 
<HR>
<PRE>
;;
;; $Id: <a href="javascript:parent.code.dispatch('Worth-Value')">Worth-Value</a>.km,v 1.5 2007/05/15 21:30:46 mrglass Exp $
;;

(<a href="javascript:parent.code.dispatch('Worth-Value')">Worth-Value</a> has 
       (superclasses (<a href="javascript:parent.code.dispatch('Property-Value')">Property-Value</a>)))

(<a href="javascript:parent.code.dispatch('Worth-Value')">Worth-Value</a> has
   (<a href="javascript:parent.code.dispatch('test-case')">test-case</a> ('(
                 (new-situation)
                 (*BomberOfStoneIPA has (instance-of (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
                 (*Bubba has (instance-of (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
                 (*GrapevineMarket has (instance-of (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
                 (a <a href="javascript:parent.code.dispatch('Buy')">Buy</a> with
                    (<a href="javascript:parent.code.dispatch('agent')">agent</a> (*Bubba))
                    (<a href="javascript:parent.code.dispatch('donor')">donor</a> (*GrapevineMarket))
                    (<a href="javascript:parent.code.dispatch('object')">object</a> (*BomberOfStoneIPA))
                    (<a href="javascript:parent.code.dispatch('instrument')">instrument</a> ((a <a href="javascript:parent.code.dispatch('Money')">Money</a> with
                                    (<a href="javascript:parent.code.dispatch('worth')">worth</a> ((a <a href="javascript:parent.code.dispatch('Worth-Value')">Worth-Value</a> with
                                               (<a href="javascript:parent.code.dispatch('value')">value</a> ((:pair 3.99 <a href="javascript:parent.code.dispatch('*usdollar')">*usdollar</a>)
                                                       (:pair <a href="javascript:parent.code.dispatch('*cheap')">*cheap</a> <a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
                 )))))))
                 (do-and-next (thelast <a href="javascript:parent.code.dispatch('Buy')">Buy</a>))
                 ((the <a href="javascript:parent.code.dispatch('possesses')">possesses</a> of *Bubba) includes (*BomberOfStoneIPA))

                 (*MyCar has (instance-of (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))
                 (Camel has (superclasses (<a href="javascript:parent.code.dispatch('Tangible-Entity')">Tangible-Entity</a>)))

                 (*MyCar has (<a href="javascript:parent.code.dispatch('worth')">worth</a> ((the <a href="javascript:parent.code.dispatch('worth')">worth</a> of
                                        (a <a href="javascript:parent.code.dispatch('Aggregate')">Aggregate</a> with
                                           (<a href="javascript:parent.code.dispatch('element')">element</a> ((exactly 10 Camel)))
                 )))))
))))
(<a href="javascript:parent.code.dispatch('Worth-Value')">Worth-Value</a> has (<a href="javascript:parent.code.dispatch('description')">description</a> ("an indefinite <a href="javascript:parent.code.dispatch('quantity')">quantity</a> of something having a specified <a href="javascript:parent.code.dispatch('value')">value</a>")))
</PRE>
</BODY>
<hr>
Last modified <script>
                    var modifieddate=document.lastModified
                    document.write(modifieddate)
                    </script>
</hr>
</HTML>